{{#if hasCurrentUser}}

  {{#if isBloggerAlready}}

    <div class="BloggerIntro-Step-title">
      You're already a blogger!
    </div>
    {{#if managedOrganizations}}
      <div class="BloggerIntro-Step-subtitle">
        If you'd like to blog, click on your blog below to head on over.
      </div>
      {{#each managedOrganizations as |managedOrganization|}}
        {{#link-to "profile" managedOrganization.id}}
          <div class="BloggerIntro-Step-managed-orgs">
            {{#x-button color="primary"}}
              {{managedOrganization.name}}
            {{/x-button}}
          </div>
        {{/link-to}}
      {{/each}}
    {{/if}}

  {{else}}

    <div class="BloggerIntro-Step-title">
      Great, you're logged in!
      {{#unless hasCreatedNewUser}}<br>Is this the account you want to use?{{/unless}}
    </div>

    {{input
      value=currentUser.name
      disabled=hasCurrentUser
      class="BloggerIntro-Step-input"
    }}
    {{input
      value=currentUser.email
      disabled=hasCurrentUser
      class="BloggerIntro-Step-input"
    }}

    <div class="BloggerIntro-Step-logout">
      {{#x-button onClick=(action "ditchCurrentUser") color="secondary" size="x-small"}}
        Use different account
      {{/x-button}}
    </div>

  {{/if}}

{{else}}

  {{#if alreadyHasAccount}}
    <div class="BloggerIntro-Step-title">
      Great you have an account. Now we just need your password.
    </div>
    <div class="BloggerIntro-Step-input-wrap">
      {{input
        id="email"
        class="BloggerIntro-Step-input"
        value=email
        disabled=true
      }}
      {{blogger-intro/status-button
        isOk=true
      }}
    </div>

    <div class="BloggerIntro-Step-input-wrap">
      {{input
        value=password
        placeholder="Password..."
        type="password"
        required=true
        class="BloggerIntro-Step-input"
      }}
      {{#if hasAttemptedLogin}}
        {{blogger-intro/status-button
          isOk=passwordIsValid
          isNotOk=(not passwordIsValid)
          isLoading=isLoggingIn
        }}
      {{/if}}
    </div>
    <div class="BloggerIntro-Step-inner-button-bar">
      {{#link-to "forgot-password"}}
        {{#x-button color="secondary" disabled=isLoggingIn}}
          Forgot Password
        {{/x-button}}
      {{/link-to}}
      {{#x-button onClick=(action "logIn") color="primary" disabled=isLoggingIn}}
        Log In
      {{/x-button}}
    </div>
  {{else if needsNewAccount}}
    <div class="BloggerIntro-Step-title">
      We need some more info to get your account going
    </div>

    <div class="BloggerIntro-Step-input-wrap">
      {{input
        id="email"
        class="BloggerIntro-Step-input"
        value=email
        disabled=true
      }}
      {{blogger-intro/status-button
        isOk=true
      }}
    </div>
    <div class="BloggerIntro-Step-input-wrap">
      {{input
        id="blogger-name"
        placeholder="Your Name..."
        class="BloggerIntro-Step-input"
        value=name
        disabled=isCreatingUser
      }}
      {{#if isCreatingUser}}
        {{blogger-intro/status-button
          isLoading=isCreatingUser
        }}
      {{/if}}
    </div>
    <div class="BloggerIntro-Step-input-wrap">
      {{input
        value=password
        placeholder="Password: 8 character minimum"
        type="password"
        disabled=isCreatingUser
        class="BloggerIntro-Step-input"
        focusOut=(action "passwordFocusOut")
      }}
      {{#if (or isCreatingUser passwordIsLongEnough hasAttemptedPassword)}}
        {{blogger-intro/status-button
          isOk=passwordIsLongEnough
          isNotOk=(not passwordIsLongEnough)
          isLoading=isCreatingUser
        }}
      {{/if}}
    </div>
    <div class="BloggerIntro-Step-input-wrap">
      {{input
        value=passwordConfirmation
        placeholder="Password Again..."
        type="password"
        disabled=(or isCreatingUser (not passwordIsLongEnough))
        class="BloggerIntro-Step-input"
      }}
      {{#if (or passwordIsConfirmed isCreatingUser)}}
        {{blogger-intro/status-button
          isOk=passwordIsConfirmed
          isLoading=isCreatingUser
        }}
      {{/if}}
    </div>
    <div class="BloggerIntro-Step-inner-button-bar">
      {{#x-button onClick=(action "signUp") color="primary" disabled=(or (not passwordIsConfirmed) (not passwordIsLongEnough) isCreatingUser)}}
        Create New Account
      {{/x-button}}
    </div>
  {{else}}
    <div class="BloggerIntro-Step-title">
      You need a DailyUV account to blog.
    </div>
    <div class="BloggerIntro-Step-subtitle">
      Let's see if you have one. If not, we'll sign you up.
    </div>

    <div class="BloggerIntro-Step-input-wrap">
      {{input
        id="email"
        placeholder="Email..."
        class="BloggerIntro-Step-input"
        value=email
        disabled=checkingEmail
      }}
      {{#if emailHasBeenValid}}
        {{blogger-intro/status-button
          isLoading=checkingEmail
          isOk=emailIsValid
          isNotOk=(not emailIsValid)
        }}
      {{/if}}
    </div>
    <div class="BloggerIntro-Step-inner-button-bar">
      {{#x-button onClick=(action "checkEmail") color="primary" disabled=(not emailIsValid)}}
        Check Email
      {{/x-button}}
    </div>

  {{/if}}

{{/if}}
