{{#modal-wrapper close=(action 'close')}}
  <h1 class='h3 text-center' data-test-name>Categories</h1>
  <hr>

  <div class='ModalMarketCategories'>
    <div class='row'>
      <div class='col-xs-6'>
        {{#each categoryColumns.col1 as |category|}}
          {{#link-to 'market.category-landing' category.id class='u-link u-bold'}}
            <span {{action (action 'trackCategoryClick' category)}}>
              {{category.name}} ({{category.count}})<br>
            </span>
          {{/link-to}}
        {{/each}}
      </div>

      <div class='col-xs-6'>
        {{#each categoryColumns.col2 as |category|}}
          {{#link-to 'market.category-landing' category.id class='u-link u-bold'}}
            <span {{action (action 'trackCategoryClick' category)}}>
              {{category.name}} ({{category.count}})<br>
            </span>
          {{/link-to}}
        {{/each}}
      </div>
    </div>
  </div>
{{/modal-wrapper}}
