{{#if minimal}}
  <h2 class='Card-title' {{action 'onTitleClick'}}>
    {{#if talk.hasParentContent}}
      {{#link-to talk.parentContentRoute parentContentId (query-params scrollTo=talk.commentAnchor) data-test-link='show'}}
        <span {{action 'trackSuggestedContentClick'}}>
          {{title}}
        </span>
      {{/link-to}}
    {{else}}
      {{#link-to 'talk.show' talk.id data-test-link='show'}}
        <span {{action 'trackSuggestedContentClick'}}>
          {{title}}
        </span>
      {{/link-to}}
    {{/if}}
  </h2>

  {{#if hasComments}}
    <span title="Comments">{{fa-icon 'comment-o'}}{{talk.commentCount}} {{commentPluralFriendly}}</span>
  {{/if}}

  <span>{{formatted-day talk.publishedAt}}</span>

  {{#if talk.authorName}}
    by <span>{{talk.authorName}}</span>
  {{/if}}
{{else}}
  <div class="media">
    <div class="media-left">
      {{avatar-image
        imageUrl=correctAuthorImageUrl
        userName=correctAuthorName
      }}
    </div>

    <div class="media-body Card-content">
      <h2 class='Card-title' {{action 'onTitleClick'}}>
        {{#if talk.hasParentContent}}
          {{#link-to (if routeName routeName 'talk.show') parentContentId (query-params ctype=talk.normalizedParentContentType scrollTo=talk.commentAnchor) classNameBindings="isSimilarContent:SimilarContentLink" data-test-link='show'}}
            <span {{action 'trackSuggestedContentClick'}}>
              {{title}}
            </span>
          {{/link-to}}
        {{else}}
          {{#link-to (if routeName routeName 'talk.show') talk.id classNameBindings="isSimilarContent:SimilarContentLink" data-test-link='show'}}
            <span {{action 'trackSuggestedContentClick'}}>
              {{title}}
            </span>
          {{/link-to}}
        {{/if}}
      </h2>

      {{base-location-display model=talk.baseLocationNames}}

      <div class='Card-commentInfo'>
        {{#if hasComments}}
          <span title="Comments">{{fa-icon 'comment-o'}}{{talk.commentCount}} {{commentPluralFriendly}} | Discussion started </span>
        {{/if}}

        <span class='Card-date'>{{relativeDate}}</span>

        {{#if hasComments}}
          by: <span class='Card-authorName'>{{talk.initialCommentAuthor}}</span>
        {{else if talk.authorName}}
          by: <span class='Card-authorName'>{{talk.authorName}}</span>
        {{/if}}
      </div>

      <div class="Card-statBox">
        {{#if hasViews}}
          <span class="Card-statBox-views" title="Views">{{talk.viewCount}}{{fa-icon 'eye'}}</span>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
