{{#if minimal}}
  <h2 class='Card-title' {{action 'onTitleClick'}}>
    {{#if talk.hasParentContent}}
      {{#link-to talk.parentContentRoute parentContentId (query-params scrollTo=talk.commentAnchor)}}
        <span {{action 'trackSuggestedContentClick'}}>
          {{title}}
        </span>
      {{/link-to}}
    {{else}}
      {{#link-to 'talk.all.show' talk.id}}
        <span {{action 'trackSuggestedContentClick'}}>
          {{title}}
        </span>
      {{/link-to}}
    {{/if}}
  </h2>

  {{#if hasComments}}
    <span title="Comments">{{fa-icon 'comment-o'}}{{talk.commentCount}} comments</span>
  {{/if}}

  <span>{{formatted-day talk.publishedAt}}</span>

  {{#if talk.authorName}}
    by <span>{{talk.authorName}}</span>
  {{/if}}
{{else}}
  <div class="media">
    <div class="media-left">
      {{#if talk.authorImageUrl}}
        <img class='Card-authorImage' src="{{talk.authorImageUrl}}">
      {{else}}
        <div class='Card-authorImage'>&nbsp;</div>
      {{/if}}
    </div>

    <div class="media-body Card-content">
      <h2 class='Card-title' {{action 'onTitleClick'}}>
        {{#if talk.hasParentContent}}
          {{#link-to (if routeName routeName 'talk.all.show') parentContentId (query-params ctype=talk.normalizedParentContentType scrollTo=talk.commentAnchor) classNameBindings="isSimilarContent:SimilarContentLink"}}
            <span {{action 'trackSuggestedContentClick'}}>
              {{title}}
            </span>
          {{/link-to}}
        {{else}}
          {{#link-to (if routeName routeName 'talk.all.show') talk.id (query-params ctype='talk') classNameBindings="isSimilarContent:SimilarContentLink"}}
            <span {{action 'trackSuggestedContentClick'}}>
              {{title}}
            </span>
          {{/link-to}}
        {{/if}}
      </h2>

      <div class='Card-commentInfo'>
        {{#if hasComments}}
          <span title="Comments">{{fa-icon 'comment-o'}}{{talk.commentCount}} comments</span>
        {{/if}}

        <span class='Card-date'>{{formatted-day talk.publishedAt}}</span>

        {{#if talk.authorName}}
          by: <span class='Card-authorName'>{{talk.authorName}}</span>
        {{/if}}
      </div>

      <div class="Card-statBox">
        {{#if hasViews}}
          <span class="Card-statBox-views" title="Views">{{talk.viewCount}}{{fa-icon 'eye'}}</span>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
