{{#image-load-placeholder
  placeholderBlockWidth=386
  placeholderBlockHeight=320
  placeholderBlockFixedSize=placeholderBlockFixedSize
  imageUrl=(optimized-image-url promotion.image_url 772 640 false)
  placeholderUrl=(optimized-image-url promotion.image_url 39 32 false)
  placeholderClass=placeholderClass
  placeholderImageClass='img-responsive AdBanner'
  onImageLoaded=(action 'imageFinishedLoading')
}}

  {{#if promotion.redirect_url}}
    <a href='{{promotion.redirect_url}}' target='_blank'>
      <img class='img-responsive AdBanner' src='{{optimized-image-url promotion.image_url 772 640 false}}'>
    </a>
  {{else}}
    <img class='img-responsive AdBanner' src='{{optimized-image-url promotion.image_url 772 640 false}}'>
  {{/if}}

  {{outreach-cta
    isTextOnly=true
    placement='under-ad-banner'
  }}

{{/image-load-placeholder}}
