{{#image-load-placeholder
  placeholderBlockWidth=386
  placeholderBlockHeight=320
  placeholderBlockFixedSize=placeholderBlockFixedSize
  imageUrl=(optimized-image-url promotion.image_url 772 640 false)
  placeholderUrl=(optimized-image-url promotion.image_url 39 32 false)
  placeholderClass=placeholderClass
  placeholderImageClass="img-responsive AdBanner"
  onImageLoaded=(action "imageFinishedLoading")
}}

  {{#if promotion.redirect_url}}
    <a href={{promotion.redirect_url}} target="_blank" rel="noopener noreferrer">
      <img class="img-responsive AdBanner" src={{optimized-image-url promotion.image_url 772 640 false}} alt="Image">
    </a>
  {{else}}
    <img class="img-responsive AdBanner" src={{optimized-image-url promotion.image_url 772 640 false}} alt="Image">
  {{/if}}

{{/image-load-placeholder}}

{{outreach-cta
  isTextOnly=true
  placement="under-ad-banner"
}}
