{{#content-form-image
  image=currentUser.image
  imageUrl=currentUser.imageUrl
  originalImageFile=currentUser.originalImageFile
  error=errors.image
  displayCropper=isEditingImage
}}
  {{#if isEditingImage}}
    <a href='#' {{action 'savePhoto'}} class='h2 u-textUnderline'>
      Save Photo
    </a>
  {{else}}
    {{#if currentUser.imageUrl}}
      <img src='{{currentUser.imageUrl}}' class='Dashboard-avatar'>
    {{else}}
      <img src='/images/user-default-avatar.svg' class='Dashboard-avatar'>
    {{/if}}
    <a href='#' {{action 'changePhoto'}} class='h2 u-textUnderline'>
      Change Photo
    </a>
  {{/if}}
{{/content-form-image}}