<div {{action (action selectChannel name)}}>
  <div class='ChannelSelector-header'>
    <div class='ChannelSelector-inner'>
      <h1 class='h3 ChannelSelector-name u-bold u-layoutPadT0 u-layoutPadB0'>
        <span class='ChannelSelector-checkbox'>
          {{#if isActive}}
            {{fa-icon 'check-square-o'}}
          {{else}}
            {{fa-icon 'square-o'}}
          {{/if}}
        </span> {{name}}
      </h1>
      </div>
  </div>

  <div class='ChannelSelector-inner'>
    <div class='ChannelSelector-text'>
      {{#if hasBlock}}
        {{yield text}}
      {{else}}
        {{{text}}}
      {{/if}}
    </div>
  </div>
</div>
