{{#if isNews}}
  <img class='CommentBubble-image' src='/images/comment-bubble-news.svg'>
{{else if isTalk}}
  <img class='CommentBubble-image' src='/images/comment-bubble-talk.svg'>
{{else if isEvent}}
  <img class='CommentBubble-image' src='/images/comment-bubble-event.svg'>
{{/if}}

<div class='CommentBubble-content {{if showCount 'CommentBubble-content--hasCount'}}'>
  <a href='#' {{action 'scrollToComments'}}>
    {{#if showCount}}
      <div class='CommentBubble-contentCount' data-test-comment-count>
        {{count}}
      </div>

      <div class='CommentBubble-contentLabel'>
        {{commentLabel}}
      </div>
    {{else}}
      <div class='CommentBubble-contentLabel'>
        Start a discussion
      </div>
    {{/if}}
  </a>
</div>
