{{#if comment.userImageUrl}}
  <img src="{{comment.userImageUrl}}" class='Comment-userAvatar'>
{{else}}
  <img src="/images/user-default-avatar.svg" class='Comment-userAvatar'>
{{/if}}

<div class='Comment-body'>
  <div class='Comment-userName'>
    {{comment.userName}}
  </div>

  <div class='Comment-date'>
    {{comment.formattedPostedAt}}
  </div>

  <div class='Comment-content'>
    {{{comment.content}}}



    {{report-abuse
      modelId=comment.id
      type='comments'
      tagName='span'
    }}

    {{#if showReplyBox}}
      {{comment-new
        contentId=contentId
        contentTitle=contentTitle
        comments=comments
        afterPost='afterPost'
      }}
    {{/if}}

  </div>
</div>