<div class='CommentSection-wrapper'>
  <div class='CommentSection'>
    <ol class='CommentSection-commentList'>
      {{#if comments.isPending}}
        {{x-modal}}
      {{else}}
        {{#each comments as |comment|}}
          {{content-comment
            comment=comment
            activeCommentId=activeCommentId
            contentId=contentId
            contentTitle=contentTitle
            afterRender='triggerScrollToComment'
          }}
        {{/each}}
      {{/if}}
    </ol>

  {{#if displayPromotion}}
    {{ad-banner
      contentModel=content
    }}
  {{/if}}

    {{#if session.isAuthenticated}}
      {{comment-new
        parentContentId=contentId
        contentTitle=contentTitle
        comments=comments
        disabled=commentingDisabled
        afterComment='incrementCommentCount'
      }}
    {{else}}
      <p class='CommentSection-helpText'>
        You need to log in to join this conversation. After
        {{link-to 'signing up' 'register' class='u-textUnderline'}} or
        {{link-to 'signing in' 'login' class='u-textUnderline'}}, you can return to
        this listing and share your thoughts.
      </p>
    {{/if}}
  </div>
</div>
