<div class='CommentSection'>
  <ol class='CommentSection-commentList {{unless showComments 'hidden-xs'}}'>
    {{#each comments as |comment|}}
      {{content-comment
        comment=comment
        activeCommentId=activeCommentId
        comments=comments
        contentId=contentId
        contentTitle=contentTitle
      }}
    {{/each}}
  </ol>

  <button class='btn btn-link CommentSection-toggleButton visible-xs' href='#' {{action 'toggleComments'}}>
    {{#if showComments}}
      Hide comments {{fa-icon 'caret-up'}}
    {{else}}
      Expand to view {{fa-icon 'caret-down'}}
    {{/if}}
  </button>

  {{#if session.currentUser}}
    {{comment-new
      parentContentId=contentId
      contentTitle=contentTitle
      comments=comments
      disabled=commentingDisabled
    }}
  {{else}}
    <p>
      You need to log in to join this conversation. After
      {{link-to 'signing up' 'register'}} or
      {{link-to 'signing in' 'login'}}, you can return to
      this listing and share your thoughts.
    </p>
  {{/if}}
</div>
