
{{avatar-image
  imageUrl=comment.userImageUrl
  userName=comment.userName
}}
<div class='Comment-body'>
  <div class='Comment-userName'>
    {{comment.userName}}
  </div>

  <div class='Comment-date'>
    {{comment.formattedPostedAt}}
  </div>

  <div class='Comment-content'>
    {{{comment.content}}}

    {{report-abuse
      contentId=comment.contentId
      tagName='span'
    }}
  </div>
</div>
