{{!-- TODO upper content will need to decide what the userImageUrl should be --}}
{{avatar-image
  imageUrl=comment.userImageUrl
  userName=comment.userName
  customSize=40
}}

<div class='Comment-body'>
  <div class='Comment-meta'>
    {{comment.userName}}&nbsp;&#183;
    {{if comment.formattedPostedAt comment.formattedPostedAt 'just now'}}
    {{#unless hideReportAbuse}}
      &nbsp;&#183;
      {{report-abuse contentId=comment.contentId tagName='span'}}
    {{/unless}}
  </div>
  <div class='Comment-content'>
    {{{comment.content}}}
  </div>
</div>
