{{#link-to "caster" comment.casterPageLinkId}}
  {{avatar-image
    imageUrl=comment.casterAvatarImageUrl
    userName=comment.casterAttributionName
    customSize=40
  }}
{{/link-to}}

<div class="Comment-body">
  <div class="Comment-meta">
    {{#link-to "caster" comment.casterPageLinkId}}
      {{comment.casterAttributionName}}&nbsp;&#183;
    {{/link-to}}
    {{if comment.formattedPostedAt comment.formattedPostedAt "just now"}}
    {{#unless hideReportAbuse}}
      &nbsp;&#183;
      {{report-abuse contentId=comment.contentId tagName="span"}}
    {{/unless}}
  </div>
  <div class="Comment-content">
    {{commentContent}}
  </div>
</div>
