{{#if comment.userImageUrl}}
  <img src="{{comment.userImageUrl}}" class='Comment-userAvatar'>
{{else}}
  <img src="/images/user-default-avatar.svg" class='Comment-userAvatar'>
{{/if}}

<div class='Comment-body'>
  <div class='Comment-userName'>
    {{comment.userName}}
  </div>

  <div class='Comment-date'>
    {{comment.formattedPostedAt}}
  </div>

  <div class='Comment-content'>
    {{#if comment.parentComment.userName}}
      <span class='Comment-context'>
        Re: {{comment.parentComment.userName}}
      </span>
    {{/if}}

    {{{comment.content}}}

    {{#if session.currentUser}}
      <a class='btn btn-link btn-default ResponseButton h4' {{action 'reply'}}>
        {{fa-icon 'reply ResponseButton-icon'}}
        Reply
      </a>
    {{/if}}

    {{report-abuse
      modelId=comment.id
      type='comments'
      tagName='span'
    }}

    {{#if showReplyBox}}
      {{comment-new
        contentId=contentId
        eventTitle=eventTitle
        parentComment=comment
        comments=comments
        afterPost='afterPost'
      }}
    {{/if}}

  </div>
</div>