<span class="SectionHeader-text SectionHeader-text--secondaryBg">
  {{#if title}}
    {{title}}
  {{else}}
    {{#if isNew}}
      Create your {{formattedType}}
    {{else}}
      Update your {{formattedType}}
    {{/if}}
  {{/if}}
</span>
