<td>
    {{#if isTalk}}
      {{#link-to content.parentContentRoute parentContentId (query-params scrollTo=content.commentAnchor)}}
        {{x-truncate text=content.title maxLength=50}}
      {{/link-to}}
    {{else}}
      {{#link-to viewRoute content.id}}
        {{x-truncate text=content.title maxLength=50}}
      {{/link-to}}
    {{/if}}
</td>
<td class='hidden-xs hidden-sm'>{{contentType}}</td>
<td class='{{if media.isMobile 'u-textPullRight'}}'>{{publishedAt}}</td>
<td class='hidden-xs'>{{content.views}}</td>
<td class='hidden-xs'>{{content.comments}}</td>
<td class='hidden-xs' colspan='2'>
  {{#if isTalk}}
    {{#link-to content.parentContentRoute parentContentId (query-params scrollTo=content.commentAnchor) class='btn btn-link h4'}}
      View
    {{/link-to}}
  {{else}}
    {{#link-to viewRoute content.id class='btn btn-link h4'}}
      View
    {{/link-to}}
  {{/if}}

  {{#if isEditable}}
    {{link-to 'Edit' editRoute editId class='btn btn-link h4'}}
  {{/if}}
</td>
