<td data-test-content-row>
    {{#if isTalkOrComment}}
      {{#link-to viewRoute viewId (query-params scrollTo=contentAnchor)}}
        {{truncate-text text=content.title maxLength=50}}
      {{/link-to}}
    {{else if isPromotion}}
      {{truncate-text text=content.title maxLength=50}}
    {{else if (eq type 'news')}}
      {{#if hasTitle}}
        {{truncate-text text=content.title maxLength=50}}
      {{else}}
        Untitled Draft
      {{/if}}
    {{else}}
      {{#link-to viewRoute content.id}}
        {{truncate-text text=content.title maxLength=50 tagName='span'}}

        {{#if (eq contentType 'Market')}}
          {{#if content.sold}}
            <span>&nbsp;(SOLD)</span>
          {{/if}}
        {{/if}}
      {{/link-to}}
    {{/if}}
</td>
{{#if showTypeColumn}}
  <td class='hidden-xs hidden-sm'>{{contentType}}</td>
{{/if}}

<td class='Dashboard-content-row-status' data-test-news-date>
  {{#if (eq content.contentType 'news')}}
    {{newsDateStatus}}
  {{else}}
    {{relative-date content.publishedAt}}
  {{/if}}
</td>

<td class='hidden-xs'>{{content.views}}</td>
<td class='hidden-xs'>{{content.comments}}</td>
<td colspan='2'>
  <span class='hidden-xs'>
    {{#link-to 'content-metrics.show' content.contentId class='btn btn-link h4'}}
      Metrics
    {{/link-to}}
  </span>

  {{#if isEditable}}
    {{#link-to editRoute editId class='btn btn-link h4'}}
      <span data-test-dashboard-content-edit-button>
        Edit
      </span>
    {{/link-to}}
  {{/if}}

  {{#if isDeletable}}
    <a href='#' class='btn btn-link h4' {{action (action deleteContent content)}} data-test-action-delete>
      Delete
    </a>
  {{/if}}
</td>
