<td>
    {{#if isTalk}}
      {{#link-to viewRoute viewId (query-params scrollTo=content.commentAnchor)}}
        {{x-truncate text=content.title maxLength=50}}
      {{/link-to}}
    {{else if isPromotion}}
      {{x-truncate text=content.title maxLength=50}}
    {{else}}
      {{#link-to viewRoute content.id}}
        {{x-truncate text=content.title maxLength=50}}
      {{/link-to}}
    {{/if}}
</td>
{{#if showTypeColumn}}
  <td class='hidden-xs hidden-sm'>{{contentType}}</td>
{{/if}}
<td class='{{if media.isMobile 'u-textPullRight'}}'>{{publishedAt}}</td>
<td class='hidden-xs'>{{content.views}}</td>
<td class='hidden-xs'>{{content.comments}}</td>
<td class='hidden-xs' colspan='2'>
  {{#if isTalk}}
    {{#link-to viewRoute viewId (query-params scrollTo=content.commentAnchor) class='btn btn-link h4'}}
      <span {{action 'trackEvent' 'selectNavControl' 'View Button'}}>
        View
      </span>
    {{/link-to}}
  {{else if isPromotion}}
    <!-- Remove this condition and replace with link to metrics when available -->
  {{else}}
    {{#link-to viewRoute viewId class='btn btn-link h4'}}
      <span {{action 'trackEvent' 'selectNavControl' 'View Button'}}>
        View
      </span>
    {{/link-to}}
  {{/if}}

  {{#if isEditable}}
    {{#link-to editRoute editId class='btn btn-link h4'}}
      <span {{action 'trackEvent' 'selectNavControl' 'Edit Button'}}>
        Edit
      </span>
    {{/link-to}}
  {{/if}}
</td>
