<div class='TabNavigation TabNavigation-dashboard u-layoutPadB0  {{if mobileTabsVisible '' 'is-collapsed'}}'>
  <div class='TabNavigation-summary'>
    <span class='TabNavgation-summaryLabel'>Showing:</span>
    <span class='TabNavigation-toggle  TabNavigation-toggle{{capitalize (if type type 'everything')}}' {{action 'toggleMobileTabs'}}>
      {{#if (eq '' type)}}
        Everything
      {{else if (eq 'news' type)}}
        News
      {{else if (eq 'events' type)}}
        Events
      {{else if (eq 'talk' type)}}
        Talk
      {{else if (eq 'market' type)}}
        Market
      {{else if (eq 'promotion-banner' type)}}
        Ads
      {{/if}}
      <i class='TabNavigation-toggleIndicator fa {{if mobileTabsVisible "fa-chevron-up" "fa-chevron-down"}}'></i>
    </span>
  </div>

  <ul class='TabNavigation-list'>
    <li class='TabNavigation-listItem' {{action 'toggleMobileTabs'}}>
      {{link-to 'Everything' 'dashboard'
        (query-params page=1 type='' sort=dateParam)
        class='TabNavigation-link TabNavigation-everythingLink'
        classNameBindings="typeIsEverything:active"
        data-test-link='everything'
      }}
    </li>
    <li class='TabNavigation-listItem' {{action 'toggleMobileTabs'}}>
      {{link-to 'My News' 'dashboard'
        (query-params page=1 type='news' sort=dateParam)
        class='TabNavigation-link TabNavigation-newsLink'
        classNameBindings="typeIsNews:active"
        data-test-link='news'
      }}
    </li>
    <li class='TabNavigation-listItem' {{action 'toggleMobileTabs'}}>
      {{link-to 'My Events' 'dashboard'
        (query-params page=1 type='events' sort=dateParam)
        class='TabNavigation-link TabNavigation-eventLink'
        classNameBindings="typeIsEvents:active"
        data-test-link='events'
      }}
    </li>
    <li class='TabNavigation-listItem' {{action 'toggleMobileTabs'}}>
      {{link-to 'My Talk' 'dashboard'
        (query-params page=1 type='talk' sort=dateParam)
        class='TabNavigation-link TabNavigation-talkLink'
        classNameBindings="typeIsTalk:active"
        data-test-link='talk'
      }}
    </li>
    <li class='TabNavigation-listItem' {{action 'toggleMobileTabs'}}>
      {{link-to 'My Market' 'dashboard'
        (query-params page=1 type='market' sort=dateParam)
        class='TabNavigation-link TabNavigation-marketLink'
        classNameBindings="typeIsMarket:active"
        data-test-link='market'
      }}
    </li>
    <li class='TabNavigation-listItem' {{action 'toggleMobileTabs'}}>
      {{link-to 'My Ads' 'dashboard'
        (query-params page=1 type='promotion-banner' sort=dateParam)
        class='TabNavigation-link TabNavigation-promotionLink'
        classNameBindings="typeIsAds:active"
        data-test-link='ad'
      }}
    </li>
  </ul>
</div>
{{#if displayDashboardTip}}
<div class='alert alert-info u-layoutPadB0'>
  <button class='close' {{action 'closeDashboardTip'}}>
    <small>GOT IT</small> &times;
  </button>
  <strong class='h3'>This is your dashboard. You can create and manage all of your content here.</strong>
</div>
{{/if}}
<div class='Dashboard-content'>
  {{#if isLoading}}
    {{x-loader}}
  {{else}}
    {{#if (eq type 'promotion-banner')}}
      <!-- Promotion Banner Records -->
      <table class='ContentTable ContentTable--ads'>
        <thead>
          <tr class='h4'>
            <th class='ContentTable-name'>
              <button class='ContentTable-sortButton' {{action 'sortBy' nameParam}}>
                Name

                {{#if sortedByName}}
                  {{#if (eq sortDirection 'ASC')}}
                    {{fa-icon 'caret-up'}}
                  {{else}}
                    {{fa-icon 'caret-down'}}
                  {{/if}}
                {{/if}}
              </button>
            </th>
            <th class='ContentTable-name'>
              <button class='ContentTable-sortButton' {{action 'sortBy' descriptionParam}}>
                Description

                {{#if sortedByName}}
                  {{#if (eq sortDirection 'ASC')}}
                    {{fa-icon 'caret-up'}}
                  {{else}}
                    {{fa-icon 'caret-down'}}
                  {{/if}}
                {{/if}}
              </button>
            </th>
            <th class='ContentTable-rightOnMobile'>
              <button class='ContentTable-sortButton' {{action 'sortBy' dateParam}}>
                Start Date

                {{#if sortedByDate}}
                  {{#if (eq sortDirection 'ASC')}}
                    {{fa-icon 'caret-up'}}
                  {{else}}
                    {{fa-icon 'caret-down'}}
                  {{/if}}
                {{/if}}
              </button>
            </th>
            <th class='hidden-xs'>
              <button class='ContentTable-sortButton' {{action 'sortBy' impressionsParam}}>
                Views

                {{#if sortedByImpressions}}
                  {{#if (eq sortDirection 'ASC')}}
                    {{fa-icon 'caret-up'}}
                  {{else}}
                    {{fa-icon 'caret-down'}}
                  {{/if}}
                {{/if}}
              </button>
            </th>
            <th class='hidden-xs'>
              <button class='ContentTable-sortButton' {{action 'sortBy' clicksParam}}>
                Clicks

                {{#if sortedByClicks}}
                  {{#if (eq sortDirection 'ASC')}}
                    {{fa-icon 'caret-up'}}
                  {{else}}
                    {{fa-icon 'caret-down'}}
                  {{/if}}
                {{/if}}
              </button>
            </th>
            <th class='hidden-xs' colspan='2'>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each ads as |ad|}}
            <tr>
              <td>{{truncate-text text=ad.title maxLength=50}}</td>
              <td>{{truncate-text text=ad.description maxLength=50}}</td>
              <td class='ContentTable-rightOnMobile'>
                {{#if ad.campaign_start}}
                  {{moment-format ad.campaign_start 'L'}}
                {{/if}}
              </td>
              <td class='hidden-xs'>{{ad.impressionCount}}</td>
              <td class='hidden-xs'>{{ad.clickCount}}</td>
              <td class='hidden-xs' colspan='2'>
                {{#link-to 'ad-metrics.show' ad.id class='btn btn-link h4'}}
                  Metrics
                {{/link-to}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    {{else}}
      <!-- Normal Content Records -->
      <table class='ContentTable'>
        <thead>
          <tr class='h4'>
            <th class='ContentTable-name'>
              <button class='ContentTable-sortButton' {{action 'sortBy' nameParam}}>
                Name

                {{#if sortedByName}}
                  {{#if (eq sortDirection 'ASC')}}
                    {{fa-icon 'caret-up'}}
                  {{else}}
                    {{fa-icon 'caret-down'}}
                  {{/if}}
                {{/if}}
              </button>
            </th>
            {{#if showTypeColumn}}
              <th class='hidden-sm hidden-xs'>
                <button class='ContentTable-sortButton' {{action 'sortBy' typeParam}}>
                  Type

                  {{#if sortedByType}}
                    {{#if (eq sortDirection 'ASC')}}
                      {{fa-icon 'caret-up'}}
                    {{else}}
                      {{fa-icon 'caret-down'}}
                    {{/if}}
                  {{/if}}
                </button>
              </th>
            {{/if}}
            <th class='ContentTable-rightOnMobile'>
              <button class='ContentTable-sortButton' {{action 'sortBy' dateParam}}>
                Date

                {{#if sortedByDate}}
                  {{#if (eq sortDirection 'ASC')}}
                    {{fa-icon 'caret-up'}}
                  {{else}}
                    {{fa-icon 'caret-down'}}
                  {{/if}}
                {{/if}}
              </button>
            </th>
            <th class='hidden-xs'>
              <button class='ContentTable-sortButton' {{action 'sortBy' viewsParam}}>
                Views

                {{#if sortedByViews}}
                  {{#if (eq sortDirection 'ASC')}}
                    {{fa-icon 'caret-up'}}
                  {{else}}
                    {{fa-icon 'caret-down'}}
                  {{/if}}
                {{/if}}
              </button>
            </th>
            <th class='hidden-xs'>
              <button class='ContentTable-sortButton' {{action 'sortBy' commentsParam}}>
                Comments

                {{#if sortedByComments}}
                  {{#if (eq sortDirection 'ASC')}}
                    {{fa-icon 'caret-up'}}
                  {{else}}
                    {{fa-icon 'caret-down'}}
                  {{/if}}
                {{/if}}
              </button>
            </th>
            <th colspan='2'>&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#if (not-eq type 'promotion-banner')}}
            {{#each postings as |content|}}
              {{dashboard-content-row
                highlightContent=highlightContent
                content=content
                type=content.contentType
                showTypeColumn=showTypeColumn
                deleteContent=(action 'deleteContent')
              }}
            {{/each}}
          {{/if}}
        </tbody>
      </table>
    {{/if}}
  {{/if}}
  <div class='u-layoutPadT10'>
  {{partial 'partials/pagination-nav'}}
</div>
</div>

