<td data-test-content-row>
    {{#if isTalkOrComment}}
      {{#link-to viewRoute viewId (query-params scrollTo=contentAnchor)}}
        {{truncate-text text=content.title maxLength=50}}
      {{/link-to}}
    {{else if isPromotion}}
      {{truncate-text text=content.title maxLength=50}}
    {{else if (eq type 'news')}}
      {{#if hasTitle}}
        {{truncate-text text=content.title maxLength=50}}
      {{else}}
        Untitled Draft
      {{/if}}
    {{else}}
      {{#link-to viewRoute content.id}}
        {{truncate-text text=content.title maxLength=50}}
      {{/link-to}}
    {{/if}}
</td>
{{#if showTypeColumn}}
  <td class='hidden-xs hidden-sm'>{{contentType}}</td>
{{/if}}

<td class='{{if media.isMobile 'u-textPullRight'}}' data-test-news-date>
  {{#if (eq content.contentType 'news')}}
    {{newsDateStatus}}
  {{else}}
    {{content.publishedAt}}
  {{/if}}
</td>

<td class='hidden-xs'>{{content.views}}</td>
<td class='hidden-xs'>{{content.comments}}</td>
<td colspan='2'>
  <span class='hidden-xs'>
    {{#link-to 'content-metrics.show' content.contentId class='btn btn-link h4'}}
      <span {{action 'trackEvent' 'selectNavControl' 'Metrics Button'}}>
      Metrics
    </span>
    {{/link-to}}

    {{#if isEditable}}
      {{#link-to editRoute editId class='btn btn-link h4'}}
        <span {{action 'trackEvent' 'selectNavControl' 'Edit Button'}} data-test-dashboard-content-edit-button>
        Edit
      </span>
      {{/link-to}}
    {{/if}}
  </span>
  {{#if isDeletable}}
    <a href='#' class='btn btn-link h4' {{action (action deleteContent content)}} data-test-action-delete>
      <span {{action 'trackEvent' 'selectNavControl' 'Delete Button'}}>
        Delete
      </span>
    </a>
  {{/if}}
</td>
