{{input
  id='venue-name'
  placeholder='Type the name of your venue to find it in our database...'
  class='form-control'
  value=venueName
  data-test-field="venue-search"
}}

<ul class='dropdown-menu' role='menu'>
  <li>
    <a href='#' {{action 'addNewVenue'}} tabindex='-1'>
      <i>Create a new location</i>
    </a>
  </li>
  {{#if hasPerformedSearch}}
    <li role="presentation" class="divider"></li>
    {{#if isSearching}}
      <li class='disabled'>
        <a tabindex='-1'>{{fa-icon 'spinner fa-spin'}} Searching&hellip;</a>
      </li>
    {{else}}
      {{#each venues as |venue|}}
        <li><a href='#' {{action 'setVenue' venue}} data-test-venue-result>{{venue.name}}</a></li>
      {{else}}
        <li class='disabled'><a tabindex='-1'>No Search Results</a></li>
      {{/each}}
    {{/if}}
  {{/if}}
</ul>
