<label class='control-label ContentForm-label--required'>Location</label>
{{#if venueId}}
  <div>
    <div>{{venueName}}</div>
    <div>{{venueAddress}}</div>
    <div>{{venueCity}}, {{venueState}} {{venueZip}}</div>
    <button class='btn btn-default btn-xs' {{action 'changeVenue'}}>
      Change
    </button>
  </div>
{{else}}
  {{event-form-venue-name
    venueName=venueName
    venues=venues
    setVenue='setVenue'
    class='form-group'
  }}
  <div class='form-group'>
    {{input
      placeholder='Address'
      class='form-control'
      value=venueAddress
    }}
  </div>
  <div class='form-group'>
    {{input
      placeholder='City'
      class='form-control'
      value=venueCity
    }}
  </div>
  <div class='row'>
    <div class='form-group col-xs-6'>
    {{input
      placeholder='State'
      class='form-control'
      value=venueState
    }}
    </div>
    <div class='form-group col-xs-6'>
      {{input
        placeholder='ZIP Code'
        class='form-control'
        value=venueZip
      }}
    </div>
  </div>
  <div class='form-group'>
    {{input
      placeholder='Venue Website URL'
      class='form-control'
      value=venueUrl
    }}
  </div>
{{/if}}
