<div role="tabpanel">
  <ul class="nav nav-tabs NavTabs" role="tablist">
    <li role="presentation" {{bind-attr class='isFree:active'}}>
      <a href="#" role="tab" {{action 'setCostType' 'free'}}>Free</a>
    </li>
    <li role="presentation" {{bind-attr class='isPaid:active'}}>
      <a href="#" role="tab" {{action 'setCostType' 'paid'}}>Paid</a>
    </li>
    <li role="presentation" {{bind-attr class='isDonation:active'}}>
      <a href="#" role="tab" {{action 'setCostType' 'donation'}}>Donation</a>
    </li>
    <li role="presentation" {{bind-attr class='isNotApplicable:active'}}>
      <a href="#" role="tab" {{action 'setCostType' ''}}>Not Applicable</a>
    </li>
  </ul>

  <div class="NavTabs-content">
    <div role="tabpanel" class="tab-pane active">
      {{#if isNotApplicable}}
        <p>{{costPlaceholder}}</p>
      {{else}}
        {{input
          placeholder=costPlaceholder
          value=cost
          class='form-control'
        }}
      {{/if}}
    </div>
  </div>
</div>
