{{#if similarContent}}
  <div class='EventShowAside-similar'>
    <h5 class='EventShowAside-header'>Suggested for You</h5>
    <ul>
      {{#each contentToDisplay as |content|}}
        <li class='EventShowAside-item'>
          <h4 class='EventShowAside-itemHeader'>
            {{#if content.eventInstanceId}}
              {{#link-to 'events.show' content.eventInstanceId class='EventShowAside-itemHeaderLink SimilarContent-headerLink'}}
                 {{x-truncate text=content.title maxLength=60}}
              {{/link-to}}
            {{else}}
              <a href='{{content.contentUrl}}' class='EventShowAside-itemHeaderLink SimilarContent-headerLink'>
                {{x-truncate text=content.title maxLength=60}}
              </a>
            {{/if}}
          </h4>
          <h5 class='SimilarContent-author'>{{content.author}}</h5> 
          <div class='SimilarContent-date'>{{content.formattedPubdate}}</div>
          {{x-truncate text=content.content maxLength=90}}
        </li>
      {{/each}}
    </ul>

    <button class='btn btn-link' href='#' {{action 'toggleMore'}}>
      {{#if showAll}}
        View less {{fa-icon 'caret-up'}}
      {{else}}
        View more {{fa-icon 'caret-down'}}
      {{/if}}
    </button>
  </div>
{{/if}}
