{{#if eventInstances}}
  <h1 class='SectionHeader'>
    <span class='SectionHeader-text'>
      Future Event Dates
    </span>
  </h1>
  <div class='row FutureEvent-list'>
    {{#each instancesToDisplay as |instance|}}
      <div class='FutureEvent col-md-3 col-sm-4'>
        {{#link-to 'events.show' instance.id }}
          <h2 class='FutureEvent-header'>{{moment-format instance.startsAt 'MMMM D, YYYY'}}</h2>
          <p class='FutureEvent-header u-textTruncate'>{{instance.subtitle}}</p>
          <div class='FutureEvent-time'>{{fa-icon 'clock-o FutureEvent-icon hidden-xs'}} {{instance.formattedHours}}</div>
        {{/link-to}}
      </div>

    {{/each}}
  </div>

  {{#if hasMore}}
    <div class='u-textCentered'>
      <button class='Button btn h4' {{action 'toggleMore'}}>
        {{#if showAll}}
          View less {{fa-icon 'caret-up'}}
        {{else}}
          View more {{fa-icon 'caret-down'}}
        {{/if}}
      </button>
    </div>
  {{/if}}
{{/if}}


