<div class='form-group'>
  <div class='row'>
    <div class='col-xs-12 col-sm-4'>
      <label>Start Date</label>
      {{pikaday-input
        value=date
        placeholder='Date'
        class='form-control'
        format="MM/DD/YYYY"
        yearRange="currentYear,2010"
      }}
    </div>
    <div class='col-xs-12 col-sm-4'>
      <label>Start Time</label>
      {{view "select"
        content=timeOptions
        value=startTime
        class='form-control'
      }}
    </div>
    <div class='col-xs-12 col-sm-4'>
      <label>End Time</label>
      {{view "select"
        content=timeOptions
        prompt="N/A"
        value=endTime
        class='form-control'
      }}
    </div>
  </div>
</div>

<div class='form-group'>
  <div class='row'>
    <div class='col-xs-12'>
      <label>Subtitle <small>(for {{subtitleDate}})</small></label>
      {{input
        placeholder="Highlight what's special. Ex: Tenth annual, or Grand opening."
        class='form-control'
        value=subtitle
      }}
    </div>
    <div class='col-xs-12 col-sm-4'>
      {{#if isRemovable}}
        <button {{action 'removeDate' instance}} class='EventForm-buttonLink EventForm-removeInstanceLink btn btn-link'>
          {{fa-icon 'minus-circle u-iconLeft'}}
          Remove date
        </button>
      {{/if}}
    </div>
  </div>
</div>
