{{#if event.image}}
  <img src='{{event.image}}' class='img-responsive Card-image'>
{{else}}
  <img src='http://placehold.it/75x75' class='img-responsive Card-image'>
{{/if}}
<div class='Card-time'>{{event.timeRange}}</div>
{{#link-to 
  'events.show' 
  event.id
  (query-params category=category query=query startDate=startDate stopDate=stopDate location=location)
  class='Card-title' 
}}
  {{event.title}}
{{/link-to}}
<div class='Card-content'>
  {{truncatedContent}}
</div>
{{#link-to 
  'events.show' 
  event.id
  (query-params category=category query=query startDate=startDate stopDate=stopDate location=location)
  class='Card-details' 
}}
  Details
{{/link-to}}
<div class='Card-location'>
  <span class='Card-locationWhere'>Where?</span>
  {{event.venueName}}
</div>

