<div class='container'>
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class='FilterBar-collapse'>
    <form class='FilterBar-form navbar-form navbar-left' role='search'>
      <div class='form-group'>
        <span class='FilterBar-text'>Show me</span>
        {{event-category-filter category=category query=query tagName='span'}}
      </div>
      <div class='form-group'>
        <span class='FilterBar-text'>in</span>
        {{event-location-filter location=location tagName='span'}}
      </div>
      <div class='form-group'>
        {{event-date-filter startDate=startDate stopDate=stopDate}}
      </div>
    </form>

    <div class='navbar-right navbar-btn'>
      <button type='submit' class='Button Button--primary FilterBar-button btn btn-primary' {{action 'submit'}}>
        Find events
      </button>

      <span class='hidden-xs'>
        {{#if session.currentUser}}
          {{#link-to 'events.new' class='Button FilterBar-button btn btn-default'}}
            Create an event
          {{/link-to}}
        {{else}}
          {{#sign-in-link class='Button FilterBar-button btn btn-default' redirectTo='/events/new'}}
            Create an event
          {{/sign-in-link}}
        {{/if}}
      </span>
    </div>
  </div>
</div><!-- /.container-fluid -->
