{{#if eventInstances}}
  {{#each instancesToDisplay as |instance|}}
    <div class='FutureEvent '>
      <div class="FutureEvent-calendar text-center">
        <span>{{moment-format instance.startsAt 'MMMM'}}</span>
        <div class="FutureEvent-date">{{moment-format instance.startsAt 'D'}}</div>
      </div>

      <div class='FutureEvent-body'>
        {{#link-to 'events.show' instance.id }}
          <h4 class='FutureEvent-header'>{{moment-format instance.startsAt 'MMMM D, YYYY'}}</h4>
          <p class='FutureEvent-header'>{{instance.subtitle}}</p>
          <div class='FutureEvent-time'>{{fa-icon 'clock-o FutureEvent-icon hidden-xs'}} {{instance.formattedHours}}</div>
        {{/link-to}}
      </div>
    </div>
  {{/each}}

  {{#if hasMore}}
    <div class='u-textCentered'>
      <button class='Button btn h4 FutureEvent-viewMoreBtn' {{action 'toggleMore'}}>
        {{#if showAll}}
          View less {{fa-icon 'caret-up'}}
        {{else}}
          View more {{fa-icon 'caret-down'}}
        {{/if}}
      </button>
    </div>
  {{/if}}
{{/if}}
