<div class='EventCard-topContent'>
  {{#if event.imageUrl}}
    <img src='{{event.imageUrl}}' class='img-responsive EventCard-image'>
  {{/if}}

  <div class='EventCard-time'>{{timeRange}}</div>

  {{#if isPreview}}
    <a class='EventCard-title'>{{x-truncate text=title maxLength=45}}</a>
  {{else}}
    {{#link-to 'events.show' event.id class='EventCard-title'}}
      {{x-truncate text=title maxLength=45}}
    {{/link-to}}
  {{/if}}

  <h5 class='hidden-xs'>{{x-truncate text=subtitle maxLength=45}}</h5>
</div>

{{gradient-truncation stripHtml=true text=content classNames='EventCard-content'}}

{{#if isPreview}}
  <a class='EventCard-learnMore EventCard-link'>
    Learn more
    {{fa-icon 'arrow-right'}}
  </a>
{{else}}
  {{#link-to 'events.show' event.id class='EventCard-learnMore EventCard-link hidden-xs'}}
    Learn more
    {{fa-icon 'arrow-right'}}
  {{/link-to}}
{{/if}}

{{#if hasVenue}}
  <div class='EventCard-locationWhere hidden-xs'>Where?</div>
  <div class='EventCard-locationName hidden-xs'>{{venueName}}</div>
  <div class='EventCard-locationAddress hidden-xs'>{{venueAddress}}</div>
  <div class='EventCard-locationRegion'>
    {{venueCity}}, {{venueState}}
    <span class='EventCard-locationZipCode hidden-xs'>{{venueZip}}</span>
  </div>
{{/if}}

<div class='EventCard-bottomRow row'>
  <div class='EventCard-directions col-sm-4'>
    <a href='{{event.directionsUrl}}' target='_blank' class='EventCard-getThere EventCard-link hidden-xs'>
      {{fa-icon 'map-marker'}}
      Directions
    </a>
  </div>

  {{#if costType}}
    <div class='EventCard-cost col-sm-8 hidden-xs'>
      <span class='EventCard-costLabel'>Cost</span>
      <span class='EventCard-costType'>{{costType}}</span>
      {{x-truncate
        text=event.cost
        maxLength=25
        class='EventCard-costValue Truncate--singleLine'
      }}
    </div>
  {{/if}}
</div>
