<div class='row'>
  <div class='ContentPreview-navigation'>
    <div class='col-sm-3 editLink'>
      {{#link-to editLink class='Button btn btn-default pull-left'}}
        {{fa-icon 'arrow-left u-iconLeft'}}
        Edit Event
      {{/link-to}}
    </div>
    <div class='col-sm-3 publishLink'>
      {{#async-button
        data-test-component='preview-publish'
        action='save'
        class='Button Button--talk btn btn-primary pull-right save-and-publish'
      }}
        {{#if isSaving}}
          Please Wait&hellip;
        {{else}}
          <span class="visible-sm-inline">
            Publish
          </span>
          <span class="hidden-sm">
            {{callToAction}}
          </span>
          {{fa-icon 'check u-iconRight'}}
        {{/if}}
      {{/async-button}}
    </div>
  </div>
  <div class='ContentPreview-summary col-sm-6'>
    <p>
      Preview your event page below. If everything looks good to go, click the
      “{{callToAction}}” button to submit your event.
    </p>

    {{#unless isListservPreview}}
      <p>
        Here’s how you’ve chosen to promote your event:
      </p>
      <ul class='ContentPreview-propertyList'>
        {{#disabled-checkbox
          checked=model.extendedReachEnabled
          tagName='li'
          class='ContentPreview-summaryProperty'
        }}
          Extend Your Reach
        {{/disabled-checkbox}}
        {{#disabled-checkbox
          checked=model.categoryEnabled
          tagName='li'
          class='ContentPreview-summaryProperty'
        }}
          Be Special
        {{/disabled-checkbox}}
        {{#disabled-checkbox
          checked=model.listsEnabled
          tagName='li'
          class='ContentPreview-summaryProperty'
        }}
          Alert the List
        {{/disabled-checkbox}}
      </ul>
    {{/unless}}
    <div class='ContentPreview-helpText ContentPreview--bottom'>
      Everything below dotted line is your preview
      {{fa-icon 'arrow-down'}}
    </div>
  </div>
</div>
