{{#if event.image}}
  <img src='{{event.image}}' class='img-responsive Card-image'>
{{else}}
  <img src='http://placehold.it/75x75' class='img-responsive Card-image'>
{{/if}}
<div class='Card-time'>{{event.timeRange}}</div>
{{#link-to 
  'events.show' 
  event.id
  (query-params category=category query=query startDate=startDate stopDate=stopDate location=location)
  class='Card-title' 
}}
  {{x-truncate text=event.title maxLength=35}}
{{/link-to}}
<div class='Card-content'>
  {{x-truncate text=event.content maxLength=90}}
</div>
{{#link-to 
  'events.show' 
  event.id
  (query-params category=category query=query startDate=startDate stopDate=stopDate location=location)
  class='Card-learnMore Card-link' 
}}
  Learn more
{{/link-to}}

<p class='Card-locationWhere Card-locationItem'>Where?</p>
<p class='Card-locationName Card-locationItem'>{{event.venueName}}</p>
<p class='Card-locationAddress Card-locationItem'>{{event.venueAddress}}</p>
<p class='Card-locationAddress Card-locationItem'>{{event.venueCity}}, {{event.venueState}} {{event.venueZipcode}}</p>
  
{{#link-to 
  'events.show' 
  event.id
  (query-params category=category query=query startDate=startDate stopDate=stopDate location=location)
  class='Card-getThere Card-link' 
}}
  Get there
{{/link-to}}

<div class='Card-cost'>
  <span class='Card-costLabel'>Cost</span>
  <span class='Card-costValue'>{{event.cost}}</span>
</div>