<div class='Card-topContent'>
  {{#if event.imageUrl}}
  <img src='{{event.imageUrl}}' class='img-responsive Card-image'>
  {{/if}}

  <div class='Card-time'>{{timeRange}}</div>

  {{#if isPreview}}
    <a class='Card-title'>{{x-truncate text=title maxLength=45}}</a>
  {{else}}
    {{#link-to
      'events.show'
      event.id
      (query-params category=category query=query date_start=startDate date_end=stopDate location=location)
      class='Card-title'
    }}
      {{x-truncate text=title maxLength=45}}
    {{/link-to}}
  {{/if}}
</div>

{{gradient-truncation stripHtml=true text=content classNames='Card-content hidden-xs'}}

{{#if isPreview}}
  <a class='Card-learnMore Card-link'>
    Learn more
    {{fa-icon 'arrow-right'}}
  </a>
{{else}}
  {{#link-to
    'events.show'
    event.id
    (query-params category=category query=query date_start=startDate date_end=stopDate location=location)
    class='Card-learnMore Card-link hidden-xs'
  }}
    Learn more
    {{fa-icon 'arrow-right'}}
  {{/link-to}}
{{/if}}

{{#if hasVenue}}
  <div class='Card-locationWhere hidden-xs'>Where?</div>
  <div class='Card-locationName hidden-xs'>{{venueName}}</div>
  <div class='Card-locationAddress hidden-xs'>{{venueAddress}}</div>
  <div class='Card-locationRegion'>
    {{venueCity}}, {{venueState}}
    <span class='Card-locationZipCode hidden-xs'>{{venueZipcode}}</span>
  </div>
{{/if}}

<div class='Card-bottomRow row'>
  <div class='Card-directions col-sm-4'>
    <a href='{{event.directionsUrl}}' target='_blank' class='Card-getThere Card-link hidden-xs'>
      {{fa-icon 'map-marker'}}
      Directions
    </a>
  </div>
  <div class='Card-cost col-sm-8 hidden-xs'>
    <span class='Card-costLabel'>Cost</span>
    <span class='Card-costType'>{{costType}}</span>
    {{x-truncate
      text=event.cost
      maxLength=25
      class='Card-costValue Truncate--singleLine'
    }}
  </div>
</div>
