{{input
  id='date-input'
  class='Dropdown-input FilterBar-input dropdown-toggle'
  data-toggle='dropdown'
  aria-expanded='false'
  value=dateSummary
  readonly=true
}}

<ul class='dropdown-menu' role='menu'>
  <li>
    <a href='#' {{action 'chooseDates'}}>
      Custom <i class='glyphicon glyphicon-calendar pull-right'></i>
    </a>
  </li>
  <li><a href='#' {{action 'setDate' 'today' }}>Today</a></li>
  <li><a href='#' {{action 'setDate' 'week' }}>This Week</a></li>
  <li><a href='#' {{action 'setDate' 'weekend' }}>This Weekend</a></li>
  <li><a href='#' {{action 'setDate' 'month' }}>This Month</a></li>
</ul>

{{#if showCustomCalendar}}
  {{event-date-filter-custom
    customStartDate=customStartDate
    customEndDate=customEndDate
    afterSelect='afterCustomSelect'
    closeCalendar='closeCalendar'
  }}
{{/if}}
