{{#if minimal}}
  <h2 class='Card-title' {{action 'onTitleClick'}}>
    {{#link-to 'events.show' eventId classNameBindings="isSimilarContent:SimilarContentLink" data-test-link='show'}}
      <span {{action 'trackSuggestedContentClick'}} data-test-event-card-title>
        {{title}}
      </span>
    {{/link-to}}
  </h2>

  {{#if timeRange}}
    <span>{{fa-icon 'clock-o'}} {{timeRange}}</span>
  {{/if}}

  {{#if hasVenue}}
    <span>{{fa-icon 'map-marker'}} {{truncate-text text=venue maxLength=40 tagName='span'}}</span>
  {{/if}}

  <span>Fee: {{event.formattedCostType}}</span>
{{else}}
  <div class="Media {{if flipImagePosition 'Media--invertedOnDesktop'}}">
    <div class="Media-body">
      {{#if isPreview}}
        <h2 class="media-heading Card-title" data-test-event-card-title>{{title}}</h2>
      {{else}}
        <h2 class='media-heading Card-title' {{action 'onTitleClick'}}>
          {{#link-to (if routeName routeName 'events.show') eventId
                     data-test-link='show'
                     classNameBindings="isSimilarContent:SimilarContentLink"}}
            <span {{action 'trackSuggestedContentClick'}} data-test-event-card-title>
              {{title}}
            </span>
          {{/link-to}}
        </h2>
      {{/if}}

      {{#if hasVenue}}
        <div class="hidden-xs">
          {{fa-icon 'map-marker'}} <span>{{venue}}</span>
        </div>
        <p class='h5 visible-xs'>
          {{fa-icon 'map-marker'}} {{truncate-text text=venue maxLength=22 tagName='span'}}
        </p>
      {{/if}}

      <p class='h5'>{{event.formattedCostType}}</p>

      {{#if event.registrationDeadline}}
        <p class='Card-infoBanner'>
          Register by {{event.formattedRegistrationDeadline}}
        </p>
      {{/if}}

    </div>

    <div>
      {{#if event.imageUrl}}
        {{#link-to (if routeName routeName 'events.show') eventId
                   data-test-link='show'
                   classNameBindings="isSimilarContent:SimilarContentLink"}}
          <span {{action 'trackSuggestedContentClick'}}>
            <div class='Card-image-tile Card-image-tile--preserveAspectRatio'>
              <img class='img-responsive' src='{{optimized-image-url event.imageUrl 100 100 false}}'>
            </div>
          </span>
        {{/link-to}}
      {{else}}
        <div class='media-object Card-image-tile'></div>
      {{/if}}
    </div>
  </div>
{{/if}}
