{{#if event.registrationDeadline}}
  <h4 class='EventCard-registrationBanner u-textCentered'>
    Registration Deadline - {{event.formattedRegistrationDeadline}}
  </h4>
{{/if}}

{{#if media.isNotMobile}}
  {{#if event.imageUrl}}
    {{#link-to 'events.show' eventId}}
      <div class='EventCard-imageContainer u-flexColumn'>
        {{background-image imageUrl=event.imageUrl class='EventCard-image center-block'}}
      </div>
    {{/link-to}}
  {{/if}}

  <div class='EventCard-content u-flexColumn-2'>
    {{#if isPreview}}
      <a href='#'>
        <h2 class='EventCard-title Card-title'>{{title}}</h2>
      </a>
    {{else}}
      {{#link-to 'events.show' eventId}}
        <div {{action 'trackClick' event}}>
          {{#if isSimilarContent}}
            <h2 {{action 'trackSimilarContentClick'}} class='EventCard-title Card-title'>{{title}}</h2>
          {{else}}
            <h2 class='EventCard-title Card-title'>{{title}}</h2>
          {{/if}}
        </div>
      {{/link-to}}
    {{/if}}

    {{#if timeRange}}
      <span class='EventCard-meta EventCard-time'>{{fa-icon 'clock-o'}} {{timeRange}}</span>
    {{/if}}

    {{#if hasVenue}}
      <span class='EventCard-meta EventCard-venue'>
        {{fa-icon 'map-marker'}} {{x-truncate text=venue maxLength=22 tagName='span'}}
      </span>
    {{/if}}
  </div>
{{/if}}

{{#if media.isMobile}}
  <div class="media">

    <div class="media-left">
      {{#if event.imageUrl}}
        {{#link-to 'events.show' eventId}}
          <img src='{{event.imageUrl}}' class='EventCard-image-tile media-object'>
        {{/link-to}}
      {{else}}
        <div class="EventCard-image-placeholder">
          {{fa-icon 'camera'}}
        </div>
      {{/if}}
    </div>

    <div class="media-body EventCard-body">

      {{#if isPreview}}
        <h2 class="media-heading EventCard-title">{{title}}</h2>
      {{else}}
        {{#link-to 'events.show' eventId}}
          <h2 class='media-heading EventCard-title' {{action 'trackClick' event}}>{{title}}</h2>
        {{/link-to}}
      {{/if}}

      {{#if timeRange}}
        <h5 class='EventCard-time'>{{fa-icon 'clock-o'}} {{timeRange}}</h5>
      {{/if}}

      {{#if hasVenue}}
        <h5 class='EventCard-venue'>
          {{fa-icon 'map-marker'}} {{x-truncate text=venue maxLength=22 tagName='span'}}
        </h5>
      {{/if}}

    </div>

  </div>
{{/if}}
