{{input
  placeholder='Search term'
  class='Dropdown-input FilterBar-input dropdown-toggle u-textTruncate'
  data-toggle='dropdown'
  aria-expanded='false'
  value=categoryOrQuery
}}

<ul class='dropdown-menu' role='menu'>
  <li>
    <a href='#' {{action 'customSearch'}} tabindex='-1'>
      {{fa-icon 'search'}} <i>Custom Search</i>
    </a>
  </li>
  <li role="presentation" class="divider"></li>
  {{#each category in categoryOptions}}
    <li>
      <a href='#' {{action 'setCategory' category.value}} tabindex='-1'>
        {{category.label}}
      </a>
    </li>
  {{/each}}
</ul>
