{{#form-group error=errors.title}}
  <label class='control-label ContentForm-label--required' for="title">Event Title</label>
  {{input
    id='title'
    placeholder='A short and informative name'
    class='form-control'
    value=event.title
  }}
{{/form-group}}

{{#form-group error=errors.venue}}
  {{event-form-venue
    event=event
    error=errors.venue
    class='form-group'
  }}
{{/form-group}}

{{event-form-dates
  eventInstances=event.eventInstances
  class='form-group'
  afterValidation='afterDateValidation'
}}

{{content-form-image
  image=event.image
  imageUrl=event.imageUrl
  originalImageFile=event.originalImageFile
  error=errors.image
}}

<div class='form-group'>
  <label class='ContentForm-label--required'>Event Price</label>
  <div>
    {{event-form-cost
      cost=event.cost
      costType=event.costType
    }}
  </div>
</div>

{{#form-group error=errors.content}}
  <label class='control-label ContentForm-label--required' for="description">Event Description</label>
  {{#summer-note content=event.content class='ContentForm-textArea'}}
    {{textarea
      id='description'
      placeholder='An inspiring description that will motivate people to attend'
      class='form-control'
    }}
  {{/summer-note}}
{{/form-group}}

<div class='form-group'>
  <label>Event Info</label>
  {{#form-group error=errors.contactEmail}}
    <div class="input-group">
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'envelope'}}
      </span>
      {{input
        placeholder='Contact Email'
        class='form-control'
        value=event.contactEmail
      }}
    </div>
  {{/form-group}}

  {{#form-group error=errors.contactPhone}}
    <div class="input-group">
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'phone'}}
      </span>
      {{input
        placeholder='Contact Phone, ex: 555-555-5555'
        class='form-control'
        value=event.contactPhone
      }}
    </div>
  {{/form-group}}

  {{#form-group error=errors.eventUrl}}
    <div class="input-group">
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'link'}}
      </span>
      {{input
        placeholder='Web Link, ex: event URL or registration page'
        class='form-control'
        value=event.eventUrl
      }}
    </div>
  {{/form-group}}
</div>

<div class='form-group ContentForm-helpText'>
  <span class='ContentForm-requiredIndicator'>*</span> = required fields
</div>

{{partial 'partials/content-form-buttons'}}
