{{#if event.registrationDeadline}}
  <h4 class='EventCard-registrationBanner u-textCentered'>
    Registration Deadline - {{event.formattedRegistrationDeadline}}
  </h4>
{{/if}}

{{#if media.isNotMobile}}
  {{#if event.imageUrl}}
    <div class='EventCard-imageContainer u-flexColumn'>
      {{background-image imageUrl=event.imageUrl class='EventCard-image center-block'}}
    </div>
  {{/if}}

  <div class='EventCard-content u-flexColumn-2'>
    {{#if isPreview}}
      <a href='#'>
        <h2 class='EventCard-title Card-title u-twoLineH2'>{{title}}</h2>
      </a>
    {{else}}
      {{#link-to 'events.show' eventId}}
        {{#if isSimilarContent}}
          <h2 {{action 'trackSimilarContentClick'}} class='EventCard-title Card-title u-twoLineH2'>{{title}}</h2>
        {{else}}
          <h2 class='EventCard-title Card-title u-twoLineH2'>{{title}}</h2>
        {{/if}}
      {{/link-to}}
    {{/if}}

    {{#if timeRange}}
      <h5 class='EventCard-time'>{{fa-icon 'clock-o'}} {{timeRange}}</h5>
    {{/if}}

    {{#if hasVenue}}
      <h5 class='EventCard-venue'>
        {{fa-icon 'map-marker'}} {{x-truncate text=venue maxLength=22 tagName='span'}}
      </h5>
    {{/if}}
  </div>
{{/if}}

{{#if media.isMobile}}
  <div class='clearfix u-layoutPadB20'>
    {{#if event.imageUrl}}
      <img src='{{event.imageUrl}}' class='EventCard-image'>
    {{/if}}

    {{#if isPreview}}
      <a href='#'>
        <h2 class='EventCard-title'>{{title}}</h2>
      </a>
    {{else}}
      {{#link-to 'events.show' event.id}}
        <h2 class='EventCard-title u-twoLineH2'>{{title}}</h2>
      {{/link-to}}
    {{/if}}
  </div>

  <div class='row'>
    {{#if hasVenue}}
      <h5 class='EventCard-venue col-xs-7'>
        {{x-truncate text=venue maxLength=22 tagName='span'}}
      </h5>
    {{/if}}

    <h5 class='EventCard-time col-xs-5'>{{event.timeRangeNoDates}}</h5>
  </div>
{{/if}}
