<div class='col-xs-12 col-sm-3'>
  <label>Start Date</label>
  {{pikaday-input
    value=date
    placeholder='Date'
    class='form-control'
    format="MM/DD/YYYY"
    yearRange="currentYear,2010"
  }}
</div>
<div class='col-xs-12 col-sm-2'>
  <label>Start Time</label>
  {{input-mask
    mask='h:s t'
    placeholder='12:00 am'
    class='form-control'
    value=startTime
  }}
</div>
<div class='col-xs-12 col-sm-2'>
  <label>End Time</label>
  {{input-mask
    mask='h:s t'
    placeholder='12:00 am'
    class='form-control'
    value=endTime
  }}
</div>
<div class='col-xs-12 col-sm-4'>
  <label>Subtitle (opt)</label>
  {{input
    placeholder='Subtitle'
    class='form-control'
    value=subtitle
  }}
</div>
<div class='col-xs-12 col-sm-1'>
  <button {{action 'removeDate' instance}} class='btn btn-link'>
    <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
  </button>
</div>
