{{#if hasLabel}}
<label class='FormGroup-label control-label {{if required "ContentForm-label--required"}}' for={{uniqueID}}>
  {{label}}
</label>
{{/if}}

{{#if helpText}}
  <div class='help-block FormGroup-help'>
    {{helpText}}
  </div>
{{/if}}

{{#if hasBlock}}
  {{yield this}}
{{else}}
  {{component field id=uniqueID}}
{{/if}}

{{#if displayError}}
  <div class="help-block FormGroup-error">{{error}}</div>
{{/if}}

{{!--
  For compatibity with ember-data and changeset, mutiple errors
--}}
{{#each errors as |error|}}
  <div class="help-block FormGroup-error">{{error}}</div>
{{/each}}
