{{#each groupedEvents as |eventGroup|}}
  <div class='container'>
    {{#if isFilteredByOneDay}}
      <h1 class='SectionHeader'>
        <span class='SectionHeader-text SectionHeader-text--secondaryBg'>{{eventGroup.displayValue}}</span>
      </h1>
    {{else}}
      <h1 class='SectionHeader'>
        {{link-to
          eventGroup.displayValue
          'events.all'
          (query-params date_start=eventGroup.paramValue date_end=eventGroup.paramValue r=refreshParam.time)
          tagName='span'
          class='SectionHeader-text SectionHeader-text--secondaryBg SectionHeader-link'
        }}
      </h1>
    {{/if}}

    <div class='row Section'>
      {{#each eventGroup.headItems as |event|}}
        <div class='col-sm-6 col-md-4 col-lg-3'>
          {{event-card
            event=event
            class='Card EventCard u-flexColumn'
          }}
        </div>
      {{/each}}

      {{#unless eventGroup.tailHidden}}
        {{#each eventGroup.tailItems as |event|}}
          <div class='col-sm-6 col-md-4 col-lg-3'>
            {{event-card
              event=event
              class='Card EventCard u-flexColumn'
            }}
          </div>
        {{/each}}
      {{/unless}}
    </div>

    {{#if eventGroup.hasHiddenTailItems}}
      <div class='center-block EventGroup-more'>
        <a href='#' class='EventGroup-moreLink' {{action 'showTail' eventGroup}}>
          Expand to view more {{fa-icon 'chevron-down'}}
        </a>
      </div>
    {{/if}}
  </div>
{{/each}}
