<div class='row'>
  <div class='col-sm-3'>
    {{news-card item=item1}}
    {{news-card item=item2}}
  </div>
  <div class='NewsCard-verticalDivide col-sm-1'>
  </div>
  <div class='col-sm-8'>
    {{news-card-wide item=item3}}
  </div>
</div>

{{#if item4}}
  <h1 class='SectionHeader'></h1>

  <div class='row'>
    <div class='col-sm-3'>
      {{news-card item=item4}}
    </div>
    <div class='col-sm-3'>
      {{news-card item=item5}}
    </div>
    <div class='col-sm-3'>
      {{news-card item=item6}}
    </div>
    <div class='col-sm-3'>
      {{news-card item=item7}}
    </div>
  </div>
{{/if}}

{{#if item9}}
  <h1 class='SectionHeader'></h1>

  <div class='row'>
    <div class='col-sm-8'>
      {{news-card-wide item=item10}}
    </div>
    <div class='NewsCard-verticalDivide col-sm-1'>
    </div>
    <div class='col-sm-3'>
      {{news-card item=item8}}
      {{news-card item=item9}}
    </div>
  </div>
{{/if}}

{{#if item11}}
  <h1 class='SectionHeader'></h1>

  <div class='row'>
    <div class='col-sm-3'>
      {{news-card item=item11}}
    </div>
    <div class='col-sm-3'>
      {{news-card item=item12}}
    </div>
    <div class='col-sm-3'>
      {{news-card item=item13}}
    </div>
    <div class='col-sm-3'>
      {{news-card item=item14}}
    </div>
  </div>
{{/if}}

<h1 class='SectionHeader'></h1>
