{{#each groupedPosts as |group|}}
  <div class='container'>
    <h1 class='SectionHeader'>
      <span class='SectionHeader-text'>
        {{group.displayValue}}
      </span>
    </h1>

    <div class='row'>
      {{#each group.headItems as |post|}}
        <div class='col-sm-6 col-md-4 col-lg-3'>
          {{market-card post=post}}
        </div>
      {{/each}}

      {{#unless group.tailHidden}}
        {{#each group.tailItems as |post|}}
          <div class='col-sm-6 col-md-4 col-lg-3'>
            {{market-card post=post}}
          </div>
        {{/each}}
      {{/unless}}
    </div>

    {{#if group.hasHiddenTailItems}}
      <div class='center-block EventGroup-more'>
        <a href='#' class='EventGroup-moreLink' {{action 'showTail' group}}>
          Expand to view more {{fa-icon 'chevron-down'}}
        </a>
      </div>
    {{/if}}
  </div>
{{/each}}
