{{#each eventGroup in groupedEvents}}
  <div class='container'>
    {{#if isFilteredByOneDay}}
      <h1 class='EventGroup-header'>{{eventGroup.displayValue}}</h1>
    {{else}}
      {{link-to
        eventGroup.displayValue
        'events.index'
        (query-params date_start=eventGroup.paramValue date_end=eventGroup.paramValue r=true)
        tagName='h1'
        class='EventGroup-header EventGroup-headerLink'
      }}
    {{/if}}

    <div class='row'>
      {{#each event in eventGroup.headItems}}
        <div class='col-sm-4 col-md-3'>
          {{event-card
            event=event
            category=category
            query=query
            startDate=startDate
            stopDate=stopDate
            location=location
          }}
        </div>
      {{/each}}
      {{#each event in eventGroup.tailItems}}
        <div class='col-sm-4 col-md-3 {{if eventGroup.tailHidden 'hidden'}}'>
          {{event-card
            event=event
            category=category
            query=query
            startDate=startDate
            stopDate=stopDate
            location=location
          }}
        </div>
      {{/each}}
    </div>

    {{#if eventGroup.hasHiddenTailItems}}
      <div class='center-block EventGroup-more'>
        <a href='#' class='EventGroup-moreLink' {{action 'showTail' eventGroup}}>
          Expand to view more {{fa-icon 'chevron-down'}}
        </a>
      </div>
    {{/if}}
  </div>
{{/each}}
