<div class='row'>
  <div class='col-sm-3'>
    {{content-card item=item1}}
    {{content-card item=item2}}
  </div>
  <div class='NewsCard-verticalDivide col-sm-1'>
  </div>
  <div class='col-sm-8'>
    {{news-card-wide item=newsItem1}}
  </div>
</div>

<h1 class='SectionHeader'></h1>

<div class='row'>
  <div class='col-sm-3'>
    {{content-card item=item3}}
  </div>
  <div class='col-sm-3'>
    {{content-card item=item4}}
  </div>
  <div class='col-sm-3'>
    {{content-card item=item5}}
  </div>
  <div class='col-sm-3'>
    {{content-card item=item6}}
  </div>
</div>

<h1 class='SectionHeader'></h1>

<div class='row'>
  <div class='col-sm-8'>
    {{news-card-wide item=newsItem2}}
  </div>
  <div class='NewsCard-verticalDivide col-sm-1'>
  </div>
  <div class='col-sm-3'>
    {{content-card item=item7}}
    {{content-card item=item8}}
  </div>
</div>

<h1 class='SectionHeader'></h1>

<div class='row'>
  <div class='col-sm-3'>
    {{content-card item=item9}}
  </div>
  <div class='col-sm-3'>
    {{content-card item=item10}}
  </div>
  <div class='col-sm-3'>
    {{content-card item=item11}}
  </div>
  <div class='col-sm-3'>
    {{content-card item=item12}}
  </div>
</div>

<h1 class='SectionHeader'></h1>
