{{#if isEditing}}
  {{#x-select value=(readonly selectedLocationId) action=(action 'updateSelected') class='form-control' data-test-field='location-dropdown'}}
    {{#x-option value=null}}Select a location:{{/x-option}}
    {{#each formattedLocations as |location|}}
      {{#x-option value=location.id}}{{location.formattedLocation}}{{/x-option}}
    {{/each}}
  {{/x-select}}
{{else}}
  <span>{{formattedLocationName}}</span>
{{/if}}

{{#if onUpdate}}
  <span {{action 'toggleEditing' isEditing}}>
    {{#if isEditing}}
      {{fa-icon 'save InlineEdit-icon'}}
    {{else}}
      {{fa-icon 'pencil InlineEdit-icon'}}
    {{/if}}
  </span>
{{/if}}
