<h2 class='SectionHeader'>
  <div class='SectionHeader-buttonContainer'>
    {{#if infoLoaded}}
      <button  class={{buttonClass}}>
          Reply
      </button>
    {{else}}
      <span {{action 'trackEvent' 'selectNavControl'}}>
        <button  class={{buttonClass}} {{action 'toggleInfo'}}>
            Reply
        </button>
      </span>
    {{/if}}
  </div>
</h2>

<div class='MarketPost-contactInfo row'>
  {{#if isLoading}}
    {{x-loader}}
  {{else if infoLoaded}}
    {{#if email}}
      <div class='col-sm-7'>
        <a href={{mailToHref}}>
          {{fa-icon 'envelope'}} {{email}}
        </a>
      </div>
    {{/if}}

    {{#if phone}}
      <div class='col-sm-5'>
        {{fa-icon 'phone'}} {{phone}}
      </div>
    {{/if}}
  {{/if}}
</div>
