{{#form-group error=errors.title}}
  <label class='control-label ContentForm-label--required' for="title">Title</label>
  {{input
    id='title'
    placeholder='Keep it short and informative'
    class='form-control'
    value=post.title
  }}
{{/form-group}}

{{#form-group error=errors.content}}
  <label class='control-label ContentForm-label--required' for="description">Description</label>
  {{#summer-note content=post.content}}
    {{textarea
      id='description'
      placeholder='An informative description that will encourage people to respond.'
      class='form-control'
    }}
  {{/summer-note}}
{{/form-group}}

{{content-form-image
  image=post.image
  imageUrl=post.imageUrl
  originalImageFile=post.originalImageFile
  error=errors.image
}}

<div class="form-group">
  <label for='price'>Price</label>
  {{input
    id='price'
    placeholder='A dollar figure or text'
    class='form-control'
    value=post.price
  }}
</div>

{{#form-group error=errors.contact}}
  <label class='control-label ContentForm-label--required'>Contact</label>
  <p>At least one is required. Choose either or both.</p>

  <div class="form-group">
    <label for='email'>Email</label>
    <div class='input-group'>
      <span class="input-group-addon">{{fa-icon 'envelope'}}</span>
      {{input
        id='email'
        placeholder='Contact Email'
        class='form-control'
        value=post.contactEmail
      }}
    </div>
  </div>
  <div class="form-group">
    <label for='phone'>Phone</label>
    <div class='input-group'>
      <span class="input-group-addon">{{fa-icon 'phone'}}</span>
      {{input
        id='phone'
        placeholder='Contact Phone'
        class='form-control'
        value=post.contactPhone
      }}
    </div>
  </div>
{{/form-group}}

<div class='form-group'>
  <span class='ContentForm-requiredIndicator'>*</span> required fields
</div>


{{partial 'partials/content-form-buttons'}}
