{{#if (and session.isAuthenticated showOrganizationMenu)}}
  {{#if organizations}}
    {{#form-group hideError=true}}
      <label class='control-label ContentForm-label--required'>Content Owner</label>
      {{#if post.isNew}}
        {{organization-dropdown selection=post.organization class="with-border"}}
      {{else}}
        <div class='form-control-static'>
        {{#if post.organization}}
          {{post.organization.name}}
        {{else}}
          {{session.currentUser.name}}
        {{/if}}
        </div>
      {{/if}}
    {{/form-group}}
  {{/if}}
{{/if}}

{{#form-group error=errors.title hideError=true}}
  <label class='control-label ContentForm-label--required' for="title">Listing Title</label>
  {{form-error errors.title}}

  {{input
    id='title'
    placeholder='Keep it short and informative'
    class='form-control'
    value=post.title
    input=(action 'validateForm')
  }}
{{/form-group}}

{{#form-group error=errors.content class='u-layoutPadT50' hideError=true}}
  <label class='control-label ContentForm-label--required' for="description">Listing Description</label>
  {{form-error errors.content}}

  {{#summer-note content=(readonly post.content) class='ContentForm-textArea' notifyChange=(action 'updateContent')}}
    {{textarea
      id='description'
      placeholder='An informative description that will encourage people to respond.'
      class='form-control'
    }}
  {{/summer-note}}
{{/form-group}}

<div class="form-group u-layoutPadT50">
  <label for='price'>Cost</label>
  {{input
    id='price'
    placeholder='A dollar figure or text'
    class='form-control'
    value=post.price
  }}
</div>

{{image-upload-list
  model=post
}}

{{#form-group error=errors.contact hideError=true class='u-layoutPadT50'}}
  <label class='control-label u-layoutPadB0 ContentForm-label--required'>Contact Me</label>
  {{form-error errors.contact}}

  <div class='ContentForm-helpText u-layoutPadB20'>
    Choose either, or both. What you enter will be public on the site.
  </div>
  <div class="form-group">
    <label for='email'>Email</label>
    <div class='input-group'>
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'envelope'}}
      </span>
      {{input
        id='email'
        placeholder='Contact Email'
        class='form-control'
        value=post.contactEmail
        input=(action 'validateForm')
      }}
    </div>
  </div>
  <div class="form-group">
    <label for='phone'>Phone</label>
    <div class='input-group'>
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'phone'}}
      </span>
      {{input
        id='phone'
        placeholder='Contact Phone'
        class='form-control'
        value=post.contactPhone
        input=(action 'validateForm')
      }}
    </div>
  </div>
{{/form-group}}

<div class='form-group'>
  <span class='ContentForm-requiredIndicator'>*</span> required fields
</div>

{{#if hasBlock}}
  {{yield (action 'next')}}
{{else}}
  {{partial 'partials/content-form-buttons'}}
{{/if}}
