<h2 class='SectionHeader'>
  <div class='SectionHeader-buttonContainer'>
    {{#if infoLoaded}}
      <button  class={{buttonClass}}>
          Reply
      </button>
    {{else}}
      <button  class={{buttonClass}} {{action 'toggleInfo'}} data-test-market-reply-button>
        Reply
      </button>
    {{/if}}
  </div>
</h2>

<div class='MarketPost-contactInfo row'>
  {{#if isLoading}}
    {{x-loader}}
  {{else if infoLoaded}}
    {{#if email}}
      <div class='col-sm-7'>
        <a href="{{mailToHref}}" data-test-market-contact-email>
          {{fa-icon 'envelope'}} {{email}}
        </a>
      </div>
    {{/if}}

    {{#if phone}}
      <div class='col-sm-5' data-test-market-contact-phone>
        {{fa-icon 'phone'}} {{phone}}
      </div>
    {{/if}}
  {{/if}}
</div>
