{{#if isMinimal}}
  <h2 class='Card-title' {{action 'onTitleClick'}}>
    {{#link-to 'market.all.show' post.id classNameBindings="isSimilarContent:SimilarContentLink"}}
      <span {{action 'trackSuggestedContentClick'}}>
        {{title}}
      </span>
    {{/link-to}}
  </h2>
  <span class='Card-subtitle'>{{post.price}}</span><span class='Card-subtitle'>{{subtitle}}</span>
{{else}}
  <div class="media">
    {{#unless (eq imagePosition 'right')}}
      <div class="media-left" >
        {{#if hasImage}}
          <div {{action 'onTitleClick'}}>
            {{#link-to (if routeName routeName 'market.all.show') post.id (query-params ctype='market') classNameBindings="isSimilarContent:SimilarContentLink"}}
              <span {{action 'trackSuggestedContentClick'}}>
                <img class='Card-image-tile media-object' src={{post.coverImageUrl}} />
              </span>
            {{/link-to}}
          </div>
        {{/if}}
      </div>
    {{/unless}}

    <div class="media-body Card-content">
      <h2 class='Card-title'>
        {{#link-to (if routeName routeName 'market.all.show') post.id
          (query-params ctype='market')
          classNameBindings="isSimilarContent:SimilarContentLink"
          }}
          <span {{action 'onTitleClick'}}>
            <span {{action 'trackSuggestedContentClick'}}>
              {{title}}
            </span>
          </span>
        {{/link-to}}
      </h2>

      <span class='Card-subtitle'>{{post.price}}</span><br>
      <span class='Card-subtitle'>{{relativeDate}}</span><br>

      {{#if post.myTownOnly}}
        <span class='Card-subtitle'>{{userLocation}} Only</span>
      {{/if}}
    </div>


    {{#if (eq imagePosition 'right')}}
      <div class="media-right" >
        {{#if hasImage}}
          {{#link-to (if routeName routeName 'market.all.show') post.id
            (query-params ctype='market')
            classNameBindings="isSimilarContent:SimilarContentLink"
            }}
            <span {{action 'onTitleClick'}}>
              <span {{action 'trackSuggestedContentClick'}}>
                <img class='Card-image-tile media-object' src={{post.coverImageUrl}} />
              </span>
            </span>
          {{/link-to}}
        {{/if}}
      </div>
    {{/if}}
  </div>
{{/if}}
