{{#form-group error=errors.title}}
  <label class='control-label ContentForm-label--required' for="title">Listing Title</label>
  {{input
    id='title'
    placeholder='Keep it short and informative'
    class='form-control'
    value=post.title
  }}
{{/form-group}}

{{#form-group error=errors.content class='u-layoutPadT50'}}
  <label class='control-label ContentForm-label--required' for="description">Listing Description</label>
  {{#summer-note content=post.content class='ContentForm-textArea'}}
    {{textarea
      id='description'
      placeholder='An informative description that will encourage people to respond.'
      class='form-control'
    }}
  {{/summer-note}}
{{/form-group}}

<div class="form-group u-layoutPadT50">
  <label for='price'>Cost</label>
  {{input
    id='price'
    placeholder='A dollar figure or text'
    class='form-control'
    value=post.price
  }}
</div>

{{content-form-image
  image=post.image
  imageUrl=post.imageUrl
  originalImageFile=post.originalImageFile
  error=errors.image
  class='u-layoutPadT50'
}}

{{#form-group error=errors.contact class='u-layoutPadT50'}}
  <label class='control-label u-layoutPadB0 ContentForm-label--required'>Contact Me</label>
  <div class='ContentForm-helpText u-layoutPadB20'>
    Choose either option, or both.
  </div>
  <div class="form-group">
    <label for='email'>Email</label>
    <div class='input-group'>
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'envelope'}}
      </span>
      {{input
        id='email'
        placeholder='Contact Email'
        class='form-control'
        value=post.contactEmail
      }}
    </div>
    <div class='ContentForm-helpText'>
      Your email will be masked (ex: 4582943@reply.dailyuv.com)
    </div>
  </div>
  <div class="form-group">
    <label for='phone'>Phone</label>
    <div class='input-group'>
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'phone'}}
      </span>
      {{input
        id='phone'
        placeholder='Contact Phone'
        class='form-control'
        value=post.contactPhone
      }}
    </div>
    <div class='ContentForm-helpText'>
      Your phone number will be public
    </div>
  </div>
{{/form-group}}

<div class='form-group'>
  <span class='ContentForm-requiredIndicator'>*</span> required fields
</div>


{{partial 'partials/content-form-buttons'}}
