{{#if row}}
  <div>
    {{fa-icon 'fa-comment-o'}}
    <span class='Comments-userName'>
      {{row.user_name}}
    </span>

    <span class='Comments-date'>
      {{postedAt}}
    </span>
  </div>

  <div class='Comments-content'>
    {{{row.content}}}

    {{#if session.currentUser}}
      <a class='btn btn-link btn-default' {{action 'reply'}}>
        Reply
      </a>
    {{/if}}

    {{#if showReplyBox}}
      {{event-comments-new
        eventInstanceId=eventInstanceId
        eventTitle=eventTitle
        parentCommentId=row.id
        comments=comments
        afterPost='afterPost'
      }}
    {{/if}}

    {{report-abuse
      modelId=row.id
      type='comments'
      tagName='span'
    }}
  </div>
{{/if}}

<ol class='Comments-list'>
  {{#each comment in sortedComments}}
    {{nested-comments
      row=comment
      eventInstanceId=eventInstanceId
      eventTitle=eventTitle
      comments=comment.comments
      tagName='li'
      class='is-nested'
    }}
  {{/each}}
</ol>
