{{#if hasImage}}
  <div class='NewsCard-imageContainer u-flexColumn' style={{backgroundImage}}>
  </div>
{{/if}}

<div class='NewsCard-content u-flexColumn-2'>
  <h1 class='NewsCard-title u-twoLineH1'>
    {{item.title}}
  </h1>

  <div class='NewsCard-subtitle'>
    <h3 class='NewsCard-pubAuthor'>{{item.publicationName}} : {{item.authorName}}</h3>
    <h5>{{date}}</h5>
  </div>

  <div class='NewsCard-snippet u-textThreeLineTruncate'>
    {{item.contentSnippet}}
  </div>
</div>
