{{#if displayImage}}
  <div class='NewsCard-imageContainer u-flexColumn' style={{backgroundImage}}>
  </div>
{{/if}}

<div class='NewsCard-content u-flexColumn-2'>

  {{#link-to 'news.show' item.id}}
    <h2 class='NewsCard-title u-twoLineH2'>
      {{item.title}}
    </h2>
  {{/link-to}}

  <div class='NewsCard-subtitle'>
    <h5 class='NewsCard-date'>{{date}}</h5>

    {{#link-to 'news' (query-params query='Everything' publication=item.publicationName r=refreshParam.time)}}
      <h3 class='u-textTruncate NewsCard-publication'>{{item.publicationName}}</h3>
    {{/link-to}}
  </div>

  <div class='NewsCard-snippet u-textThreeLineTruncate'>
    {{content}}
  </div>
</div>
