{{#if hasImage}}
  <div class='NewsCard-imageContainer u-flexColumn' style={{backgroundImage}}>
  </div>
{{/if}}

<div class='NewsCard-content u-flexColumn-2'>
  <h2 class='NewsCard-title u-textTwoLineTruncate'>
    {{item.title}}
  </h2>

  <div class='NewsCard-subtitle'>
    <h5>{{date}}</h5>
    <h3 class='u-textTruncate'>{{item.publicationName}} : {{item.authorName}}</h3>
  </div>

  <div class='NewsCard-snippet u-textThreeLineTruncate'>
    {{item.contentSnippet}}
  </div>
</div>
