{{#if showConfirmation}}
  <div>Your password has been reset!  Go ahead and {{link-to 'Sign in' 'login' class='u-textUnderline'}}.</div>
{{else}}
  <div class='form-group'>
    {{input
      type='password'
      value=password
      placeholder='New Password'
      class='form-control'
    }}
  </div>
  <div class='form-group'>
    {{input
      type='password'
      value=passwordConfirmation
      placeholder='Password Confirmation'
      class='form-control'
    }}
  </div>

  {{#if showError}}
    {{#unless passwordsMatch}}
      <div class='help-block u-layoutPadB20'>Passwords must match.</div>
    {{/unless}}
  {{/if}}
  <button {{action 'submit'}}>Submit</button>
{{/if}}