{{#if showConfirmation}}
  <div data-test-password-reset-form-confirmation>Your password has been reset!  Go ahead and {{link-to "Sign in" "login" class="u-textUnderline"}}.</div>
{{else}}
  <div class="form-group">
    {{input
      type="password"
      value=password
      placeholder="New Password"
      class="form-control"
      data-test-field="password-reset-form-password"
    }}
  </div>
  <div class="form-group">
    {{input
      type="password"
      value=passwordConfirmation
      placeholder="Password Confirmation"
      class="form-control"
      data-test-field="password-reset-form-confirm-password"
    }}
  </div>

  {{#if showErrors}}
    {{#unless passwordsMatch}}
      <div class="help-block u-layoutPadB20">Passwords must match.</div>
    {{/unless}}
    {{#each serverErrors as |serverError|}}
      <div class="alert alert-danger help-block FormGroup-error">{{capitalize serverError.title}}</div>
    {{/each}}
    <p>You can try resetting you password again <strong>{{#link-to
        "forgot-password"}}here{{/link-to}}</strong></p>
  {{/if}}
  <button {{action "submit"}} data-test-password-reset-form-submit>
    Update Password
  </button>
{{/if}}
