{{#if showSuccess}}
  <div class="alert alert-success" role="alert">
    Thank you for reporting this content. We will review it shortly.
  </div>
{{else}}
  {{#if session.currentUser}}
    <button class='ResponseButton h4 btn btn-default btn-link' {{action 'reportAbuse'}}>
      {{fa-icon 'flag ResponseButton-icon'}}
      Report Abuse
    </button>
  {{else}}
    {{#link-to 'login' class='ResponseButton h4 btn btn-default btn-link'}}
      {{fa-icon 'flag ResponseButton-icon'}}
      Report Abuse
    {{/link-to}}
  {{/if}}

  {{#if showAbuseReportMenu}}
    <div class='popover bottom in ReportAbuse-popover'>
      <div class="popover-content">
        {{#if invalid}}
          <div class="alert alert-danger" role="alert">
            Please select a type
          </div>
        {{/if}}
        <ul class='ReportAbuse-flags'>
          {{#each flagTypes as |flag|}}
            <li class='ReportAbuse-flag'>
              {{#radio-button name='flag-type' value=flag groupValue=flagType}}
                {{flag}}
              {{/radio-button}}
            </li>
          {{/each}}
        </ul>

        <button class='btn Button--default' {{action 'close'}}>Close</button>
        <button class='btn Button--primary' {{action 'submit'}}>Flag</button>
      </div>
    </div>
  {{/if}}
{{/if}}
