{{#if content}}
  <h1 class='SectionHeader'>
    <span class='SectionHeader-text'>
      Suggested
    </span>
  </h1>

  <div class='Section'>
    <div class='row'>
      {{#each contentToDisplay as |content|}}
        <div class='col-md-3 col-sm-6'>
          {{content-card
            item=content
            showLink=false
            isSimilarContent=true
            sourceContentId=sourceContentId
          }}
        </div>
      {{/each}}
    </div>

    <div class='u-textCentered'>
      <button class='Button btn h4' {{action 'toggleMore'}}>
        {{#if showAll}}
          View less {{fa-icon 'caret-up'}}
        {{else}}
          View more {{fa-icon 'caret-down'}}
        {{/if}}
      </button>
    </div>
  </div>
{{/if}}
