{{#if talk.hasParentContent}}
  {{#link-to talk.parentContentRoute parentContentId (query-params scrollTo=talk.commentAnchor)}}
    <h2 class='TalkCard-title Card-title u-twoLineH2'>
      {{title}}
    </h2>
  {{/link-to}}
{{else}}
  {{#link-to 'talk.show' talk.id}}
    <h2 class='TalkCard-title Card-title u-twoLineH2'>
      {{title}}
    </h2>
  {{/link-to}}
{{/if}}

<div class='u-flexColumn-2 u-layoutPadT10'>
  <div class='row'>
    <div class='col-xs-2 u-layoutPadR0'>
      {{#if talk.authorImageUrl}}
        <img class='TalkCard-authorImage' src={{talk.authorImageUrl}}>
      {{else}}
        <img class='TalkCard-authorImage' src="/images/user-default-avatar.svg">

      {{/if}}
    </div>
    <div class='col-xs-10 TalkCard-commentInfo'>
      Comment by
      <span class='TalkCard-authorName'>{{talk.authorName}}</span>
    </div>
  </div>
</div>

<div class='TalkCard-stats'>
  <div class='row'>
    <div class='{{if isNarrow 'col-sm-6 u-layoutPadding0' 'col-xs-offset-1 col-xs-5 col-md-offset-0 col-md-6'}}'>
      <div class='StatCircle StatCircle--left {{if isNarrow 'StatCircle--small'}}'>
        <div class='StatCircle-number'>
          {{talk.commentCount}}
        </div>
        <div class='StatCircle-text'>
          {{talk.commentCountText}}
        </div>
      </div>
    </div>
    <div class='{{if isNarrow 'col-sm-6 u-layoutPadding0' 'col-md-6 col-xs-5'}}'>
      <div class='StatCircle StatCircle--right {{if isNarrow 'StatCircle--small'}}'>
        <div class='StatCircle-number'>
          {{talk.viewCount}}
        </div>
        <div class='StatCircle-text'>
          {{talk.viewCountText}}
        </div>
      </div>
    </div>
  </div>
</div>
