<div class='row'>
  <div class='ContentPreview-navigation'>
    <div class='col-sm-3 editLink'>
      {{#if model.isNew}}
        {{#link-to 'talk.new.promotion' class='Button btn btn-default pull-left'}}
          {{fa-icon 'arrow-left u-iconLeft'}}
          Edit Talk
        {{/link-to}}
      {{else}}
        {{#link-to 'talk.edit.promotion' model class='Button btn btn-default pull-left'}}
          {{fa-icon 'arrow-left u-iconLeft'}}
          Edit Talk
        {{/link-to}}
      {{/if}}
    </div>
    <div class='col-sm-3 publishLink'>
      {{#async-button
        data-test-component='preview-publish'
        data-test-action='save-and-publish'
        action='save'
        disabled=isSaving
        class='Button Button--talk btn btn-primary pull-right save-and-publish'
      }}
        {{#if isSaving}}
          Please Wait&hellip;
        {{else}}
          <span class="visible-sm-inline">
            Publish
          </span>
          <span class="hidden-sm">
            {{callToAction}}
          </span>
          {{fa-icon 'check u-iconRight'}}
        {{/if}}
      {{/async-button}}
    </div>
  </div>
  <div class='ContentPreview-summary col-sm-6'>
    <p>
      Preview your talk page below. If everything looks good to go, click the
      “{{callToAction}}” button to submit your talk.
    </p>

    {{#unless isListservPreview}}
      <p>
        Here’s how you’ve chosen to promote your talk:
      </p>
      <ul class='ContentPreview-propertyList'>
       {{#disabled-checkbox
          checked=model.location
          tagName='li'
          class='ContentPreview-summaryProperty'
        }}
          {{#locations-nearby
            tagName='span'
            location=(readonly model.location)
            radius=(readonly model.promoteRadius)
            as |nearby|
          }}
          Promoted to
            {{#if nearby.radius}}
              {{#if nearby.nearbyLocations}}
              {{nearby.location.name}} + {{nearby.radius}} Miles
                {{#x-button style='link' strong=true onClick=nearby.showActiveLocations}}
                  ({{nearby.nearbyLocations.length}} towns)
                {{/x-button}}.
              {{/if}}
            {{else}}
              {{nearby.location.name}} only.
            {{/if}}

          {{/locations-nearby}}
        {{/disabled-checkbox}}
        {{#disabled-checkbox
          checked=model.listEnabled
          tagName='li'
          class='ContentPreview-summaryProperty'
        }}
          Alert the List
        {{/disabled-checkbox}}
      </ul>
    {{/unless}}

    <div class='ContentPreview-helpText ContentPreview--bottom'>
      Everything below dotted line is your preview
      {{fa-icon 'arrow-down'}}
    </div>
  </div>
</div>
