{{#form-group error=errors.title hideError=true}}
  <label class='control-label ContentForm-label--required' for="title">Title</label>
  {{form-error errors.title}}

  {{input
    id='title'
    placeholder='Keep it short and informative'
    class='form-control'
    value=talk.title
    input=(action 'validateForm')
    data-test-field='talk-title'
  }}
{{/form-group}}

{{#form-group}}
  <label class='control-label ContentForm-label--required' for="title">Content Location</label>
  <div class='h5'>What is the most relevant location for this post?</div>
  {{user-location/ugc-button model=talk}}
{{/form-group}}

{{#form-group error=errors.content class='u-layoutPadT50' hideError=true}}
  <label class='control-label ContentForm-label--required' for="description">Text</label>
  {{form-error errors.content}}

  {{#summer-note content=(readonly talk.content) class='ContentForm-textArea' notifyChange=(action 'updateContent') data-test-component='talk-content'}}
    {{textarea
      id='description'
      placeholder='An informative, civil comment that will encourage people to respond'
      class='form-control'
    }}
  {{/summer-note}}
{{/form-group}}

{{image-upload-list
    data-test-talk-image=true
    model=talk
    imageLimit=1}}

<div class='form-group ContentForm-helpText'>
  <span class='ContentForm-requiredIndicator'>*</span> = required fields
</div>

{{partial 'partials/content-form-buttons'}}
