{{#link-to 'talk.show' talk.id}}
  <h2 class='TalkCard-title u-twoLineH2'>
    {{talk.title}}
  </h2>
{{/link-to}}

<div class='u-flexColumn-2'>
  <div class='row'>
    <div class='col-xs-2'>
      {{#if talk.authorImageUrl}}
        <img class='TalkCard-authorImage' src={{talk.authorImageUrl}}>
      {{else}}
        <img class='TalkCard-authorImage' src="/images/user-default-avatar.svg">

      {{/if}}
    </div>
    <div class='col-xs-10'>
      Comment by
      <span class='TalkCard-authorName'>{{talk.authorName}}</span>
    </div>
  </div>
</div>

<div class='TalkCard-stats'>
  <div class='row'>
    <div class='col-xs-6'>
      <div class='StatCircle StatCircle--left'>
        <div class='StatCircle-number'>
          {{talk.userCount}}
        </div>
        <div class='StatCircle-text'>
          {{numberText}}
        </div>
      </div>
    </div>
    <div class='col-xs-6'>
      <div class='StatCircle StatCircle--right'>
        <div class='StatCircle-number'>
          {{talk.pageviewsCount}}
        </div>
        <div class='StatCircle-text'>
          {{viewText}}
        </div>
      </div>
    </div>
  </div>
</div>
