<div class='PromotionSection'>
  <label class='PromotionSection-label' for="lists-enabled">Alert the List <span class='PromotionSection-cost'>Free!</span></label>
  <p class='PromotionSection-description'>
    Are you subscribed to the {{userLocation}} listserv?
    Send the list a text-only version of your post with a link back to dailyUV!
  </p>
  <div class='row'>
    <div class='col-sm-2 col-sm-offset-2'>
      <div {{action 'toggleListserv'}} class='PromotionSection-toggle'>
        {{#if listEnabled}}
          {{fa-icon 'toggle-on PromotionSection-toggleIcon is-on'}} On
        {{else}}
          {{fa-icon 'toggle-off PromotionSection-toggleIcon'}} Off
        {{/if}}
      </div>
    </div>
    <div class='col-sm-8'>
      {{#if listEnabled}}
        <strong>{{listservName}}</strong>
      {{/if}}
    </div>
  </div>
</div>

<div class='ContentForm-buttonGroup form-group'>
  <button class='Button btn btn-default pull-left' {{action 'back'}}>
    {{fa-icon 'arrow-left u-iconLeft'}}
    Back
  </button>

  <button class='Button Button--primary btn btn-primary pull-right' {{action 'preview'}}>
    Next Step
    {{fa-icon 'arrow-right u-iconRight'}}
  </button>

  {{#if post.isNew}}
    <button class='ContentForm-buttonLink ContentForm-discardButton h2 btn btn-link pull-right' {{action 'discard'}}>
      {{fa-icon 'trash u-iconLeft'}}
      Discard Talk
    </button>
  {{/if}}
</div>