{{#link-to 'talk.show' linkId (query-params scrollTo=anchor)}}
  <h2 class='TalkCard-title u-twoLineH2'>
    {{title}}
  </h2>
{{/link-to}}

<div class='u-flexColumn-2 u-layoutPadT10'>
  <div class='row'>
    <div class='col-xs-2 u-layoutPadR0'>
      {{#if talk.authorImageUrl}}
        <img class='TalkCard-authorImage' src={{talk.authorImageUrl}}>
      {{else}}
        <img class='TalkCard-authorImage' src="/images/user-default-avatar.svg">

      {{/if}}
    </div>
    <div class='col-xs-10 TalkCard-commentInfo'>
      Comment by
      <span class='TalkCard-authorName'>{{talk.authorName}}</span>
    </div>
  </div>
</div>

<div class='TalkCard-stats'>
  <div class='row'>
    <div class='col-xs-offset-1 col-xs-5 col-md-offset-0 col-md-6'>
      <div class='StatCircle StatCircle--left'>
        <div class='StatCircle-number'>
          {{talk.commenterCount}}
        </div>
        <div class='StatCircle-text'>
          {{numberText}}
        </div>
      </div>
    </div>
    <div class='col-md-6 col-xs-5'>
      <div class='StatCircle StatCircle--right'>
        <div class='StatCircle-number'>
          {{talk.viewCount}}
        </div>
        <div class='StatCircle-text'>
          {{viewText}}
        </div>
      </div>
    </div>
  </div>
</div>
