{{#if hasBlock}}

{{yield (hash
  errors=errors
  validateForm=(action 'validateForm')
  submit=(action 'next')

  orgainzations-input=(component "organization-dropdown"
    selection=(mut model.organization)
    class="with-border"
  )
  title-input=(component "atoms/form-input"
    placeholder='Keep it short and informative'
    value=(mut model.title)
    class="form-control"
    oninput=(action 'validateForm')
    data-test-field="talk-title"
  )
  content-input=(component 'summer-note'
    content=(readonly model.content)
    hideError=true
    notifyChange=(action 'updateContent')
    data-test-field="talk-content"
  )

  talk-image=(component "content-form-image"
    image=(mut model.image)
    imageUrl=(mut model.imageUrl)
    originalImageFile=(mut model.originalImageFile)
    error=errors.image
  )
)}}

{{else}}
{{#form-group error=errors.title hideError=true}}
  <label class='control-label ContentForm-label--required' for="title">Title</label>
  {{form-error errors.title}}

  {{input
    id='title'
    placeholder='Keep it short and informative'
    class='form-control'
    value=talk.title
    input=(action 'validateForm')
    data-test-field='talk-title'
  }}
{{/form-group}}

{{#form-group error=errors.content class='u-layoutPadT50' hideError=true}}
  <label class='control-label ContentForm-label--required' for="description">Text</label>
  {{form-error errors.content}}

  {{#summer-note content=(readonly talk.content) class='ContentForm-textArea' notifyChange=(action 'updateContent') data-test-component='talk-content'}}
    {{textarea
      id='description'
      placeholder='An informative, civil comment that will encourage people to respond'
      class='form-control'
    }}
  {{/summer-note}}
{{/form-group}}

{{content-form-image
  image=talk.image
  imageUrl=talk.imageUrl
  originalImageFile=talk.originalImageFile
  error=errors.image
  class='u-layoutPadT50'
}}

<div class='form-group ContentForm-helpText'>
  <span class='ContentForm-requiredIndicator'>*</span> = required fields
</div>

{{partial 'partials/content-form-buttons'}}
{{/if}}
