{{#if talk.hasParentContent}}
  {{#link-to talk.parentContentRoute parentContentId (query-params scrollTo=talk.commentAnchor) classNameBindings="isSimilarContent:SimilarContentLink"}}
    <div {{action 'trackClick' talk}}>
      {{#if isSimilarContent}}
        <h2 {{ action 'trackSimilarContentClick' }} class='TalkCard-title Card-title u-twoLineH2'>
          {{title}}
        </h2>
      {{else}}
        <h2 class='TalkCard-title Card-title u-twoLineH2'>
          {{title}}
        </h2>
      {{/if}}
      <div class='col-xs-12'>
        <div class='TalkCard-date'>{{formatted-day talk.publishedAt}}</div>
      </div>
    </div>
  {{/link-to}}
{{else}}
  {{#link-to 'talk.show' talk.id classNameBindings="isSimilarContent:SimilarContentLink"}}
    <div {{action 'trackClick' talk}}>
      {{#if isSimilarContent}}
        <h2 {{ action 'trackSimilarContentClick' }} class='TalkCard-title Card-title u-twoLineH2'>
          {{title}}
        </h2>
      {{else}}
        <h2 class='TalkCard-title Card-title u-twoLineH2'>
          {{title}}
        </h2>
      {{/if}}
      <div class='col-xs-12'>
        <div class='TalkCard-date'>{{formatted-day talk.publishedAt}}</div>
      </div>
    </div>
  {{/link-to}}
{{/if}}

<div class='u-layoutPadT10'>
  <div class='row'>
    <div class='col-xs-2 u-layoutPadR0'>
      {{#if talk.authorImageUrl}}
        <img class='TalkCard-authorImage' src={{talk.authorImageUrl}}>
      {{else}}
        <img class='TalkCard-authorImage' src="/images/user-default-avatar.svg">
      {{/if}}
    </div>
    <div class='col-xs-10 TalkCard-commentInfo'>
      Comment by
      <span class='TalkCard-authorName'>{{talk.authorName}}</span>
    </div>
  </div>
</div>

<div class='row'>
  <div class="StatBox">
    {{#if hasComments}}
      <div class="StatBox-comments" title="Comments">
        {{talk.commentCount}}{{fa-icon 'comment-o'}}
      </div>
    {{/if}}
    {{#if hasViews}}
      <div class="StatBox-views" title="Views">
        {{talk.viewCount}}{{fa-icon 'eye'}}
      </div>
    {{/if}}
  </div>


</div>
