<span class='SocialShare-title hidden-xs'>Share&nbsp;</span>

{{#unless isTalkChannel}}
  <a href='#' {{action 'shareFacebook'}} class='SocialShare-icon'>
    {{fa-icon 'facebook'}}
  </a>
  <a href='{{twitterLink}}' class='SocialShare-icon'>
    {{fa-icon 'twitter'}}
  </a>
{{/unless}}

<a href='#' {{action 'shareEmail'}} class='SocialShare-icon'>
  {{fa-icon 'envelope'}}
</a>
