{{#x-button onClick=(action "shareFacebook") size="small" color="facebook" style="outline-gray" rounded="circle"}}
  {{fa-icon "facebook"}}
{{/x-button}}
{{#x-link-url href=twitterLink size="small" color="twitter" style="outline-gray" rounded="circle"}}
  {{fa-icon "twitter"}}
{{/x-link-url}}
{{#x-link-url href=mailtoLink size="small" style="outline-gray" rounded="circle"}}
  {{fa-icon "envelope"}}
{{/x-link-url}}
{{#x-button onClick=(action "copyToClipboard") size="small" style="outline-gray" rounded="circle"}}
  {{#if isCopyingLink}}
    {{fa-icon "cog" spin=true}}
  {{else}}
    {{fa-icon "link"}}
  {{/if}}
{{/x-button}}

<div class="SocialShare--hidden-link {{if isCopyingLink "copying-link"}}">
  <textarea id="hidden-link">{{hiddenLink}}</textarea>
</div>
