{{#if isMobile}}
  <div class="BloggerIntro-Landing--logo">
    {{brand-logo}}
  </div>
{{/if}}

<div class="BloggerIntro-Landing--title">
  What's happening around you?
</div>

<div class="BloggerIntro-Landing--value-grid">

  <div class="BloggerIntro-Landing--value-grid-row">
    <div class="BloggerIntro-Landing--value-grid-cell left">
      <div class="BloggerIntro-Landing--icon orange-button">
        {{#x-button
          rounded="circle"
          color="attention"
          style="flatten"
          shadow=true
          size="large"
          class="FloatingActionButton-toggleButton"
        }}
          {{fa-icon "plus" class="FloatingActionButton-icon"}}
        {{/x-button}}
      </div>
    </div>
    <div class="BloggerIntro-Landing--value-grid-cell right">
      <div class="BloggerIntro-Landing--subtitle">
        Share local info
      </div>
      <div class="BloggerIntro-Landing--text">
        Post your local updates to help others in the area learn and connect.
      </div>
    </div>
  </div>

  <div class="BloggerIntro-Landing--value-grid-row">
    <div class="BloggerIntro-Landing--value-grid-cell left">
      <div class="BloggerIntro-Landing--icon money-bag">
        💰
      </div>
    </div>
    <div class="BloggerIntro-Landing--value-grid-cell right">
      <div class="BloggerIntro-Landing--subtitle">
        Earn money
      </div>
      <div class="BloggerIntro-Landing--text">
        We share ad revenue with contributors like you.
        Some make coffee money, others earn hundreds monthly.
      </div>
    </div>
  </div>

  <div class="BloggerIntro-Landing--value-grid-row">
    <div class="BloggerIntro-Landing--value-grid-cell left">
      <div class="BloggerIntro-Landing--icon party-popper">
        🎉
      </div>
    </div>
    <div class="BloggerIntro-Landing--value-grid-cell right">
      <div class="BloggerIntro-Landing--subtitle">
        Have fun
      </div>
      <div class="BloggerIntro-Landing--text">
        Get creative and try new things.
        Post what you want, when you want.
        There's no pressure!
      </div>
    </div>
  </div>
</div>

{{#if isMobile}}
  <div class="BloggerIntro-Landing--capture">
    {{#if hasSubmittedEmail}}
      <div class="BloggerIntro-Landing--capture-text">
        Thanks! We'll be sending you the link and more information soon.
      </div>
      <div class="BloggerIntro-Landing--capture-text">
        Can't wait to see your stories on DailyUV.com!
      </div>
      <div class="BloggerIntro-Landing--capture-button-wrap">
        {{#x-button
          onClick=(action "goToHome")
          style="regular"
          color="primary"
          size="x-small"
          noMargin=true
        }}
          Back to Home
        {{/x-button}}
      </div>
    {{else if isSubmittingEmail}}
      <div class="BloggerIntro-Landing--capture-loading">
        {{fa-icon "cog" spin=true}} Sending...
      </div>
    {{else}}
      <div class="BloggerIntro-Landing--capture-text">
        Creating your page and posting is simple!
        But it's easier when you're not on a mobile device.
      </div>
      <div class="BloggerIntro-Landing--capture-text">
        Let us email you a link so you can finish up later!
      </div>
      {{input
        value=email
        placeholder="Email Address"
        class="BloggerIntro-Step-input"
      }}
      {{#if showEmailError}}
        <div class="BloggerIntro-Landing--capture-error">
          Please provide a valid email address
        </div>
      {{/if}}
      <div class="BloggerIntro-Landing--capture-button-wrap">
        {{#x-button
          onClick=(action "submitEmail")
          style="regular"
          color="primary"
          size="x-small"
          noMargin=true
          disabled=showEmailError
        }}
         Send Link
        {{/x-button}}
      </div>
    {{/if}}
  </div>
{{/if}}
