<div class="text-center">
  {{#if imageUrl}}
    <div class="ThumbnailImageModal-thumbnail-container" {{action 'openImageModal'}}>
      <img src="{{imageUrl}}" alt="Selected Image" class="ThumbnailImageModal-thumbnail" />
      {{#if (and enableCaption caption)}}
        <div class="ThumbnailImageModal-caption">{{caption}}</div>
      {{/if}}
    </div>
    <button class="btn btn-lg" {{action 'openImageModal'}}>Edit</button>
  {{else}}
    <button class="ThumbnailImageModal-choose-image-button" {{action 'openImageModal'}}>
      <h1>{{fa-icon 'camera'}}</h1>
      Choose Image
    </button>
  {{/if}}
</div>

{{#if _showImageModal}}
  {{#x-modal}}
    <h1 class="text-center">{{title}}</h1>
    {{#if displayImageForm}}
      {{content-form-image
      image=_selectedImage
      imageUrl=(readonly imageUrl)
      originalImageUrl=(readonly _originalImageUrl)
      error=errors.image
      aspectRatio=aspectRatio
      zoomable=false
      minWidth=200
      minHeight=200
      }}
    {{else}}
      <label class='control-label ContentForm-label'>Selected Image</label>
      <img src="{{imageUrl}}" alt="Selected Image" class="ThumbnailImageModal-preview" {{action 'showImageForm'}} />
      <div class="text-center">
        <button class="btn btn-lg" {{action 'showImageForm'}}>Edit</button>
      </div>
    {{/if}}

    {{#if enableCaption}}
      {{#form-group hideError=true}}
        <label class='control-label ContentForm-label' for="caption">Caption</label>
        {{input
        id='caption'
        placeholder='Optional image caption'
        class='form-control'
        value=caption
        }}
      {{/form-group}}
    {{/if}}

    <div class="ThumbnailImageModal-buttons">
      <button class="btn btn-lg Button--news" {{action 'save'}} disabled={{saveDisabled}}>Submit</button>
      <button class="btn btn-lg" {{action 'cancelImageModal'}}>Cancel</button>
    </div>
  {{/x-modal}}
{{/if}}
