<div class="text-center">
  {{#if imageUrl}}
    <div class="ThumbnailImageModal-thumbnail-container" {{action 'openImageModal'}}>
      <img src="{{imageUrl}}" alt="Selected Image" class="ThumbnailImageModal-thumbnail {{if isCircle 'img-circle'}}" />
      {{#if (and enableCaption caption)}}
        <div class="ThumbnailImageModal-caption">{{caption}}</div>
      {{/if}}
    </div>
    <button class="btn btn-lg" {{action 'openImageModal'}}>Edit</button>
  {{else}}
    <button class="ThumbnailImageModal-choose-image-button" {{action 'openImageModal'}}>
      <h1>{{fa-icon 'camera'}}</h1>
      Choose Image
    </button>
  {{/if}}
</div>

{{#if _showImageModal}}
  {{#modal-wrapper close=(action 'cancel')}}
    {{image-editor
    imageUrl=imageUrl
    caption=caption
    title=title
    aspectRatio=aspectRatio
    enableCaption=enableCaption
    save=(action 'save')
    cancel=(action 'cancel')
    }}
  {{/modal-wrapper}}
{{/if}}
