<div class="text-center">
  {{#if imageUrl}}
    <img src="{{imageUrl}}" alt="Selected Image" class="ThumbnailImageModal-thumbnail" {{action 'openImageModal'}} />
    <em>{{caption}}</em>
  {{else}}
    <button class="ThumbnailImageModal-choose-image-button" {{action 'openImageModal'}}>
      <h1>{{fa-icon 'camera'}}</h1>
      Choose Image
    </button>
  {{/if}}
</div>

{{#if _showImageModal}}
  {{#x-modal}}
    <h1 class="text-center">{{title}}</h1>
    {{#if displayImageForm}}
      {{content-form-image
      image=_selectedImage
      imageUrl=imageUrl
      originalImageUrl=_originalImageUrl
      error=errors.image
      aspectRatio=aspectRatio
      zoomable=false
      }}
    {{else}}
      <label class='control-label ContentForm-label'>Selected Image</label>
      <img src="{{imageUrl}}" alt="Selected Image" class="ThumbnailImageModal-preview" {{action 'showImageForm'}} />
      <div class="text-center">
        <button class="btn btn-lg" {{action 'showImageForm'}}>Edit</button>
      </div>
    {{/if}}
    {{#form-group hideError=true}}
      <label class='control-label ContentForm-label' for="caption">Caption</label>
      {{input
      id='caption'
      placeholder='Optional image caption'
      class='form-control'
      value=caption
      }}
    {{/form-group}}
    <div class="ThumbnailImageModal-buttons">
      <button class="btn btn-lg Button--news" {{action 'save'}} disabled={{not imageUrl}}>Save Image</button>
      <button class="btn btn-lg" {{action 'cancelImageModal'}}>Cancel</button>
    </div>
  {{/x-modal}}
{{/if}}
