{{#if isFastBoot}}
  <div class="Startablog--loading">
    {{fa-icon "cog" spin=true}}
    <div class="Startablog--loading-text">
      Loading...
    </div>
  </div>
{{else}}
  <div class="Startablog--intro">
    {{#blogger-intro class="BloggerIntro-main-wrap" start-if=startIntro as |blogger-intro|}}

      {{#blogger-intro.step step=1
        modal=true
        nextButton="Get Started"
        avatarUrl=avatarUrls.smiling
        title="Hi, I'm Jennifer."
        subtitle="I'll help you create your page"
        yieldBeforeAvatar=true
        showLanscapePicture=true
        hideHelpButton=true
      }}
        {{blogger-intro/landing
          leadCaptured=(action "leadCaptured")
        }}
      {{/blogger-intro.step}}

      {{#blogger-intro.step step=2
        modal=true
        onStepStartAction=(action "stepStartAccount")
        nextButton=(if currentUserIsBlogger null "Continue")
        nextButtonDisabled=(or hasNoCurrentUser currentUserIsBlogger)
        avatarUrl=avatarUrls.smiling
      }}
        {{blogger-intro/login}}
      {{/blogger-intro.step}}


      {{#x-card noShadow=noShadow class="OrganizationProfileHeaderCard-card-wrap"}}
        <div class="OrganizationProfileHeaderCard-header-image-wrap">
          {{header-image
            imageUrl=organization.backgroundImageUrl
            profileHeader=true
            class="OrganizationProfileHeaderCard-header-image"
          }}

          {{#blogger-intro.step step=3
            modal=true
            onStepStartAction=(action "stepStartProfilePic")
            replaceTooltip=(not isMobile)
            actionButton="Upload Image"
            actionButtonAction=(action "uploadProfileImage")
            confirmButton="Continue"
            confirmButtonAction=(action "setProfileImage")
            avatarUrl=(if hasNewOrganizationProfileImage avatarUrls.thumbsup avatarUrls.smiling)
            title="Add a profile picture to personalize your page."
            highlightedIdentifier=(if isMobiile null ".OrganizationProfileHeaderCard-profile-image")
            class="OrganizationProfileHeaderCard-profile-image"
          }}
            {{file-input allowedExtensions=".jpg,.jpeg,.png" action=(action "profileImageSelected") inputClass=profileImageInputClass}}
            <div class="OrganizationProfileHeaderCard-profile-image">
              <img src={{optimized-image-url organization.profileImageUrl 150 150 true}}
                   class="OrganizationProfileHeaderCard-profile-image-avatar" alt="Header Image">
            </div>
          {{/blogger-intro.step}}
        </div>

        {{#blogger-intro.step step=4
          modal=true
          replaceTooltip=(not isMobile)
          onStepStartAction=(action "nameStepStart")
          confirmButton=(if organizationNameIsGood "Continue" "Please Enter a Name")
          confirmButtonDisabled=(not organizationNameIsGood)
          confirmButtonIsLoading=isCheckingOrganizationName
          avatarUrl=(if organizationNameIsGood avatarUrls.thumbsup avatarUrls.thinking)
          title="What would you like to name your page?"
          highlightedIdentifier=(if isMobile null ".OrganizationProfileHeaderCard-name")
          as |isCurrentStep|
        }}
          {{#content-body verticalPadding=true background=true class=(if isCurrentStep "on-top-of-modal")}}
            {{#title-text noMargin=true center=true strong=true}}
              <div class="OrganizationProfileHeaderCard-name">
                {{#if isCurrentStep}}
                  <div class="BloggerIntro-Step-blog-name-wrap" style={{nameInputWidthStyle}}>
                    {{input
                      id="blog-name"
                      placeholder="Page Name..."
                      maxlength=maxNameLength
                      class="BloggerIntro-Step-input BloggerIntro-Step-blog-name"
                      value=organization.name
                      keyUp=(action "nameIsChanging")
                    }}
                  </div>
                  <div class="BloggerIntro-Step-name-length">
                    {{nameLengthText}}
                  </div>
                {{else}}
                  {{organization.name}}
                {{/if}}
              </div>
            {{/title-text}}
          {{/content-body}}
        {{/blogger-intro.step}}
      {{/x-card}}

      <div class="Startablog--container">
        {{#blogger-intro.step step=5
          modal=true
          replaceTooltip=(not isMobile)
          onStepStartAction=(action "descriptionStepStart")
          confirmButton="Continue"
          avatarUrl=(if hasValidDescription avatarUrls.thumbsup avatarUrls.thinking)
          title="Give your page a short description."
          subtitle="Not sure? You can update this later."
          highlightedIdentifier=(if isMobile null ".OrganizationContactCard-description")
          class="OrganizationContactCard-description"
          as |isCurrentStep|
        }}
          {{#x-card class="OrganizationContactCard-description"}}
            {{#card-body shortPadding=true class=(if isCurrentStep "on-top-of-on-top-of-modal")}}

              {{#content-label}}
                About {{organization.name}}
              {{/content-label}}

              {{#text-block}}
                {{#if isCurrentStep}}
                  {{textarea value=organization.description class="BloggerIntro-Step-description-textarea"}}
                {{else}}
                  {{organization.description}}
                {{/if}}
              {{/text-block}}

            {{/card-body}}
          {{/x-card}}
        {{/blogger-intro.step}}
      </div>

      {{#blogger-intro.step step=6
        modal=true
        onStepStartAction=(action "stepStartLegal")
        confirmButton="I agree!"
        confirmButtonAction=(action "createBlog")
        avatarUrl=(if isCreatingOrganization avatarUrls.delighted avatarUrls.smiling)
        title=(if isCreatingOrganization "Creating your homepage..." "Last step!")
        subtitle=(if isCreatingOrganization null "Before you can post, please review and accept our Publisher Agreement. Here it is in a nutshell:")
        hideNavigation=isCreatingOrganization
      }}
        {{#if isCreatingOrganization}}
          <div class="BloggerIntro-Step-loading">
            <div class="BloggerIntro-Step-loading-icon">
              {{fa-icon "cog" spin=true}}
            </div>
          </div>
        {{else}}
          {{blogger-intro/legal}}
        {{/if}}

      {{/blogger-intro.step}}

    {{/blogger-intro}}
  </div>

  <div class="Startablog--bottom-padding"></div>

  {{outlet}}
{{/if}}
