<div class="EventsResults-results-box">
  {{#if eventsByDay}}
    {{#each eventsByDay as |dayOfEvents|}}
      {{inviewport-reporter
        reportEnterViewport=true
        reportExitViewport=true
        callback=(action "viewportDateScroll" dayOfEvents.paramValue)
      }}

      {{events-by-day
        id=dayOfEvents.paramValue
        day=dayOfEvents.displayValue
        events=dayOfEvents.items
        dayValue=dayOfEvents.paramValue
        selectDay=updateStartDate
        openCalendar=(action "openCalendarWidget" "date-header")
        updateEnabledEventDays=updateEnabledEventDays
        enabledEventDays=enabledEventDays
      }}
    {{/each}}
  {{/if}}

  {{inviewport-reporter
    reportScrollInto=true
    callback=(action "reachedEnd")
  }}
</div>

<div class="EventsResults-floatingActions">
  <button {{action "openCalendarWidget" "floating-calendar-button"}}
      data-test-action="open-calendar"
      class="EventsResults-floatingAction EventsResults-floatingAction--iconOnly">
    {{fa-icon "calendar"}}
  </button>
  <button {{action "jumpToPrevDay"}}
      data-test-action="previous-day"
      class="EventsResults-floatingAction">
    {{fa-icon "arrow-up"}}<br>
    PREV<br>DAY
  </button>
  <button {{action "jumpToNextDay"}}
      data-test-action="next-day"
      class="EventsResults-floatingAction">
    NEXT<br>DAY<br>
    {{fa-icon "arrow-down"}}
  </button>
  </div>
