  <div class='EventSchedule-content'>
    {{#if schedules}}
      <p>Your event will occur on the dates and times listed below.</p>
    {{else}}
      <p>You must add at least one date to your event.</p>
    {{/if}}

    {{component 'event-schedules-editor/schedule-list'
        schedules=schedules
        editSchedule=(action 'editSchedule')
        removeSchedule=(action 'removeSchedule')
        excludeEvent=(action 'excludeEvent')
        includeEvent=(action 'includeEvent')
    }}

    <button class='ContentForm-buttonLink EventForm-dateButton btn btn-link' {{action 'newSchedule' 'single'}} data-test-event-input-add-single-date>
      {{#if hasSingleDate}}
        {{fa-icon 'plus-circle u-iconLeft'}} Add more single date(s)
      {{else}}
        {{fa-icon 'plus-circle u-iconLeft'}} Add single date(s)
      {{/if}}
    </button>
    <br>
    <button class='ContentForm-buttonLink EventForm-dateButton btn btn-link' {{action 'newSchedule' 'recurring'}} daa-test-event-input-add-repeating-dates>
      {{#if hasRecurringSchedule}}
        {{fa-icon 'plus-circle u-iconLeft'}} Add more repeating dates
      {{else}}
        {{fa-icon 'plus-circle u-iconLeft'}} Add repeating dates
      {{/if}}
    </button>
  </div>
