<thead>
  <tr class='EventList-headerRow'>
    <th class='h4' class='EventList-column-time'>Time</th>
    <th class='h4'>Event Title</th>
    <th class='h4'>Location</th>
    <th class='h4 hidden-xs'>Presenter</th>
    <th class='h4 hidden-xs'>Registration Deadline</th>
  </tr>
</thead>
<tbody>
  {{#each events as |event|}}
    <tr>
      {{#if media.isMobile}}
        <td class='EventList-column-time'>
          {{#if event.endsAtHour}}
            {{event.startsAtHour}}-<br />{{event.endsAtHour}}
          {{else}}
            {{event.startsAtHour}}
          {{/if}}
        </td>
      {{else}}
        <td class='EventList-column-time u-textNoWrap'>{{event.timeRangeNoDates}}</td>
      {{/if}}
      <td class='EventList-title'>
        {{#link-to 'events.show' event.id}}
          {{event.title}}

          {{#if event.subtitle}}
            <div class='EventList-subtitle'>
              {{event.subtitle}}
            </div>
          {{/if}}
        {{/link-to}}
      </td>
      <td class='EventList-venue'>
        {{#if event.venueName}}
          {{event.venueName}}
        {{else}}
          {{event.venueAddress}}
        {{/if}}

        {{#if event.venueCity}}
          <div class='EventList-subtitle'>
            {{event.venueCity}}, {{event.venueState}}
          </div>
        {{/if}}
      </td>
      <td class='u-textCentered hidden-xs'>
        {{#if event.presenterName}}
          {{event.presenterName}}
        {{else}}
          &mdash;
        {{/if}}
      </td>
      <td class='u-textCentered hidden-xs'>
        {{#if event.registrationDeadline}}
          {{event.formattedRegistrationDeadline}}
        {{else}}
          &mdash;
        {{/if}}
      </td>
    </tr>
  {{/each}}
</tbody>
