{{#unless isFastBoot}}
  <div class="FloatingActionButton-container {{if isExpanded "in-view" "out-of-view"}}">
    {{#unless showUGC}}
      <header
        class="FloatingActionButton-header {{if isExpanded "up-high" "down-low"}}"
        {{action "toggleIsExpanded"}}
        role="button"
        data-test-button="open-job-tray"
      >
        {{#if isExpanded}}
          <div class="FloatingActionButton-message">
            What would you like to do?
          </div>
        {{else}}
          <div class="FloatingActionButton-message-cta">
            Create your own post
          </div>
        {{/if}}

        {{#x-button
          color=(if isExpanded "medium-gray" "secondary")
          style="transparent"
          size="small"
          class="FloatingActionButton-toggleButton"
        }}
          {{#if isExpanded}}
            {{fa-icon "plus" class="FloatingActionButton-icon"}}
          {{else}}
            {{fa-icon "pencil-square-o" class="FloatingActionButton-icon"}}
          {{/if}}
        {{/x-button}}
      </header>
    {{/unless}}

    <div class="FloatingActionButton-content">
      {{#if showJobsTray}}
        {{jobs-navigation
          showBehindModals=showBehindModals
          onChooseJob=(action "showForm")
        }}
      {{else if showUGC}}
        {{jobs-forms
          editingModel=editingModel
          activeForm=activeForm
          onClose=(action "toggleIsExpanded")
        }}
      {{/if}}
    </div>

  </div>
{{/unless}}
