{{#unless isFastBoot}}
  <div class="FloatingActionButton-container {{if isExpanded "in-view" "out-of-view"}}">
    {{#unless showUGC}}
      <header class="FloatingActionButton-header {{if isExpanded "up-high" "down-low"}}">
        {{#if isExpanded}}
          <div class="FloatingActionButton-message">
            What would you like to do?
          </div>
        {{/if}}

        {{#x-button
          rounded="circle"
          color=(if isExpanded "medium-gray" "attention")
          style=(if isExpanded "transparent" "flatten")
          shadow=(not isExpanded)
          size="large"
          onClick=(action "toggleIsExpanded")
          class="FloatingActionButton-toggleButton"
          data-test-button="open-job-tray"
        }}
          {{fa-icon "plus" class="FloatingActionButton-icon"}}
        {{/x-button}}
      </header>
    {{/unless}}

    <div class="FloatingActionButton-content">
      {{#if showJobsTray}}
        {{jobs-navigation
          showBehindModals=showBehindModals
          onChooseJob=(action "showForm")
        }}
      {{else if showUGC}}
        {{jobs-forms
          editingModel=editingModel
          activeForm=activeForm
          onClose=(action "toggleIsExpanded")
        }}
      {{/if}}
    </div>

  </div>
{{/unless}}
