{{#if showPreview}}
  {{news-editor-preview
  isOpen=showPreview
  news=news
  hasCaptionOrCredit=hasCaptionOrCredit
  closePreview=(action "togglePreview")
  }}
{{/if}}

{{#if isDeletingRecord}}
  <div class="NewsEditor-deleting-record-overlay">
    {{fa-icon "gear" spin=true}}
  </div>
{{/if}}

<div class="Container--noGutter">
  <div class="row">
    <div class="col-md-9">
      <div class="NewsEditor-titleWrapper">
        <h1 class="SectionHeader NewsEditor-title">
          <span class="Section-text SectionHeader-text--secondaryBg">{{title}}</span>
        </h1>
      </div>
    </div>
    <div class="col-md-3">
      <div class="NewsEditor-autoSaveIndicator">
        {{#if news.isDraft}}
          {{#unless hideAutoSave}}
            <div>
              {{#auto-save-indicator model=news as |saveStatus|}}
                {{saveStatus}}
              {{/auto-save-indicator}}
            </div>
          {{/unless}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9">
      <div class="NewsEditor-postBody u-dropShadow">

        <div class="visible-xs visible-sm">
          {{#form-group error=errors.image}}
            <label class="control-label">Featured Image</label>
            {{thumbnail-image-modal
              imageUrl=(mut news.primaryImageUrl)
              caption=(mut news.primaryImageCaption)
              title="Featured Image"
              saveImage=(action "saveFeaturedImage")
              saveCaption=(action "saveFeaturedImageCaption")
            }}
          {{/form-group}}
        </div>

        {{#form-group
          error=errors.title
          hideError=true
        }}
          <label class="control-label ContentForm-label--required" for="title">Title</label>
          {{form-error errors.title}}

          {{input
            id="title"
            placeholder="A short and informative title"
            class="form-control"
            value=news.title
            maxlength=titleMaxlength
            data-test-field="title"
            input=(action "notifyChange")
          }}
        {{/form-group}}

        {{#form-group
          error=errors.subtitle
          hideError=true
        }}
          <label class="control-label" for="title">Subtitle</label>
          {{form-error errors.subtitle}}

          {{input
            id="subtitle"
            placeholder="A short and informative subtitle"
            class="form-control"
            value=news.subtitle
            maxlength=subtitleMaxlength
            data-test-field="subtitle"
            input=(action "notifyChange")
          }}
        {{/form-group}}

        {{#form-group}}
          <div>
              <label class="control-label">Content Location</label>
          </div>
          <label class="h5 control-label">What is the most relevant location for this post?</label>
          {{user-location/ugc-button
            model=news
            onChangeContentLocation=(action "locationChanged")
          }}
        {{/form-group}}

        {{#form-group
          error=errors.content
          hideError=true
        }}
          <label class="control-label ContentForm-label--required" for="description">Content</label>
          {{form-error errors.content}}
          {{#summer-note
            content=(readonly news.content)
            editorHeight=editorHeight
            toolbar=(mut editorConfig)
            buttons=editorButtons
            modules=editorModules
            popover=editorPopover
            uploadImage=(action "saveImage")
            notifyChange=(action "saveContent")
            class="ContentForm-textArea"
          }}
            <div class="ContentText">
              {{textarea
                id="content"
                placeholder="Enter your content here..."
                class="form-control"
                data-test-textarea="content"
              }}
            </div>
          {{/summer-note}}
        {{/form-group}}

        {{#form-group
          hideError=true
        }}

          <div class="NewsEditor-content-owner">
            <div>
              <label class="control-label ContentForm-label--required" for="description">Content Owner</label>
            </div>

              {{#if (or news.isPublished (not managesMultipleOrganizations))}}
                <div>
                  <p>This content {{#if news.isPublished}}is{{else}}will be{{/if}} owned by <i>{{chosenOrganization.name}}</i>.</p>
                </div>
              {{/if}}

              {{#unless news.isPublished}}
                {{#if managesMultipleOrganizations}}
                  <div class="NewsEditor-content-owner-left">
                    {{#if hasChosenOrganization}}
                      <div>Click to change content owner</div>
                    {{else}}
                      <div>Please select content owner</div>
                    {{/if}}
                    {{#form-group error=errors.organization}}
                      {{organization-dropdown
                        defaultName="Please choose an org"
                        selection=(readonly chosenOrganization)
                        organizations=filteredOrganizations
                        class="with-border"
                        updated=(action "changeOrganization")
                      }}
                    {{/form-group}}
                  </div>
                {{/if}}
              {{/unless}}

            <div class="NewsEditor-content-owner-right">
              {{#if news.organization.name}}
                {{feed-card/attribution
                  avatarUrl=news.organization.profileImageUrl
                  author=news.organization.name
                  postedTime=news.publishedAtRelative
                  hideActivity=true
                  hidePostedTime=true
                  hideBookmark=true
                  linkToDetailIsActive=false
                  classNames="u-padding8"
                }}
              {{/if}}
            </div>
          </div>
        {{/form-group}}

      </div>
    </div>
    <div class="col-md-3">
      <div class="NewsEditor-sidebar Sidebar">

        <div class="hidden-xs hidden-sm">
          <div class="NewsEditor-sidebarWidget NewsEditor-sidebarWidget--featuredImage SidebarWidget">
            {{#form-group error=errors.image}}
              <div class="SidebarWidget-body">
                <label class="control-label">Featured Image</label>
                {{thumbnail-image-modal
                  imageUrl=(mut news.primaryImageUrl)
                  caption=(mut news.primaryImageCaption)
                  title="Featured Image"
                  saveImage=(action "saveFeaturedImage")
                  saveCaption=(action "saveFeaturedImageCaption")
                }}
              </div>
            {{/form-group}}
          </div>
        </div>



        <div class="NewsEditor-sidebarWidget NewsEditor-sidebarWidget--publishSettings SidebarWidget">
          <div class="PublishSettings">
            <div class="SidebarWidget-body" data-test-publish-status>
              <label class="control-label">Publish Settings</label>
              <div class="PublishSettings-statusIndicator">
                <p><b>Status: {{status}}</b></p>
              </div>

              {{#if news.isDraft}}
                {{#if isPickingScheduleDate}}
                  {{#form-group error=errors.publishedAt}}
                    <label class="control-label ContentForm-label--required" for="scheduled_date">
                      Publish Date
                    </label>
                    {{pick-a-date
                      date=(readonly selectedPubDate)
                      on-selected=(action (mut selectedPubDate))
                      placeholder="Pick a date"
                      class="form-control"
                      id="scheduled_date"
                      data-test-schedule-publish="date"
                    }}
                  {{/form-group}}
                  {{#form-group error=errors.publishedAt hideError=true}}
                    <label class="control-label ContentForm-label--required" for="scheduled_time">
                      Publish Time
                    </label>
                    {{pick-a-time
                      date=(readonly selectedPubDate)
                      on-selected=(action (mut selectedPubDate))
                      placeholder="Pick a time"
                      class="form-control"
                      id="scheduled_time"
                      data-test-schedule-publish="time"
                    }}
                  {{/form-group}}
                  <button {{action "schedulePublish"}} class="btn btn-primary" data-test-schedule-publish="confirm">Confirm</button>
                  <button {{action "cancelSchedulePublish"}} class="btn">Cancel</button>
                {{else}}
                  <div class="NewsEditor-helper-message">
                    Your saved drafts can be found on your {{#link-to "profile" organizationId}}profile page{{/link-to}}
                  </div>
                  <button {{action "publish"}} class="btn btn-primary">Publish Now</button>
                  <br>
                  <button {{action "choosePubDate"}} class="btn" data-test-schedule-publish="button">Schedule Publish</button>
                  <br>
                  <button {{action "togglePreview"}} class="btn">Preview Post</button>
                  <div>
                    {{#if wantsToDeleteDraft}}
                      <div class="NewsEditor-delete-message">
                        <div>
                          Deletion is permanent.<br>
                          Are you sure?
                        </div>
                        <div>
                          <button {{action "deleteDraft"}} class="btn btn-primary">Yes</button>
                          <button {{action "toggleDeleteDraft"}} class="btn">No</button>
                        </div>
                      </div>
                    {{else}}
                      <button {{action "toggleDeleteDraft"}} class="btn">Delete Draft</button>
                    {{/if}}
                  </div>

                {{/if}}
              {{/if}}

              {{#if news.isScheduled}}
                {{#if (or news.hasUnpublishedChanges hasUnpublishedChanges)}}
                  <p>This post is set to go live on {{formatted-date news.publishedAt}}</p>
                  <div class="alert alert-warning" role="alert"><p>Your post has changes that will not be included when
                    your post goes live unless you save them.</p></div>
                  <button {{action "publishChanges"}} class="btn btn-primary">Save Changes</button>
                  <br>
                  <button {{action "togglePreview"}}
                      class="btn">{{if news.hasUnpublishedChanges "Preview Changes" "Preview Post"}}</button>
                  <button {{action "discardChanges"}} class="btn">Discard changes</button>
                {{else}}
                  <p>This post is set to go live on {{formatted-date news.publishedAt}}
                    <a href="#" {{action "unpublish"}} class="text-danger"><br>Cancel Scheduled Publish</a>
                  </p>
                  <button class="btn btn-primary" {{action "publish"}} data-test-publish-now>Publish Now</button>
                  <button {{action "togglePreview"}}
                      class="btn">{{if hasUnpublishedChanges "Preview Changes" "Preview Post"}}</button>
                {{/if}}
              {{/if}}

              {{#if news.isPublished}}
                <div class="NewsEditor-helper-message">
                  Your published post can be found on your {{#link-to "profile" organizationId}}profile page{{/link-to}} and in the feed.
                </div>

                Published {{formatted-date news.publishedAt}}.<br>
                {{#unless hidePublishedLinks}}
                  {{#if hasOrganization}}
                    {{link-to "View it now in profile" "profile.all.show" organizationId news.id}}<br>
                  {{/if}}
                  {{link-to "View it now in feed" "feed.show" news.id  (query-params type="posts")}}
                {{/unless}}

                {{#if (or news.hasUnpublishedChanges hasUnpublishedChanges)}}
                  <div class="alert alert-warning" role="alert"><p>Your post has changes that are not published.</p>
                  </div>
                  <button {{action "publish"}} class="btn btn-primary">Publish Changes</button>
                  <br>
                  <button {{action "discardChanges"}} class="btn">Discard changes</button>

                  <button {{action "togglePreview"}} class="btn">Preview Changes</button>
                {{/if}}
              {{/if}}

              {{#if (and hasChosenOrganization (or news.isPublished news.isScheduled))}}
                {{horizontal-rule class="u-paddingTop16"}}

                <div class="u-paddingTop8">
                  {{#x-button onClick=(action "startNewPost") color="primary" size="thin"}}
                    Start New Post
                  {{/x-button}}
                </div>

                <div class="u-paddingTop8">
                  {{#x-button onClick=(action "goToProfilePage") color="primary" size="thin"}}
                    Go to {{chosenOrganization.name}} Page
                  {{/x-button}}
                </div>
              {{/if}}
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
