<div class='Container--noGutter'>
  <div class='row'>
    <div class='col-md-9'>
      <h1 class='text-center'>Create Your News Post</h1>
    </div>
    <div class='col-md-3'>
      <div class='pull-right'>
        {{#if isDraft}}
          {{#auto-save-indicator model=news as |saveStatus|}}
            {{saveStatus}}
          {{/auto-save-indicator}}
        {{/if}}
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-3 col-md-push-9'>
      <div class='Sidebar'>
        <div class='SidebarWidget'>
          <div class='PublishSettings'>
            <h2 class='SidebarWidget-title'>Publish Settings</h2>
            <div data-test-publish-status>
              <div class='PublishSettings-statusIndicator'>
                <p><b>Status: {{status}}</b></p>
              </div>

              {{#if isDraft}}
                {{#if isPickingScheduleDate}}
                  {{#form-group error=errors.publishedAt}}
                    <label class='control-label ContentForm-label--required' for="scheduled_date">
                      Publish Date
                    </label>
                    {{pick-a-date
                      date=(readonly selectedPubDate)
                      on-selected=(action (mut selectedPubDate))
                      placeholder="Pick a date"
                      class='form-control'
                      id="scheduled_date"
                    }}
                  {{/form-group}}
                  {{#form-group error=errors.publishedAt hideError=true}}
                    <label class='control-label ContentForm-label--required' for="scheduled_time">
                      Publish Time
                    </label>
                    {{pick-a-time
                      date=(readonly selectedPubDate)
                      on-selected=(action (mut selectedPubDate))
                      placeholder="Pick a time"
                      class='form-control'
                      id="scheduled_time"
                    }}
                  {{/form-group}}
                  <button {{action 'schedulePublish'}} class='btn btn-primary btn-lg'>Confirm</button>
                  <button {{action 'cancelSchedulePublish'}} class='btn btn-lg'>Cancel</button>
                {{else}}
                  <button {{action 'publish'}} class='btn btn-primary btn-lg'>Publish Now</button><br />
                  <button {{action 'choosePubDate'}} class='btn btn-lg'>Schedule Publish</button>
                {{/if}}
              {{/if}}

              {{#if isScheduled}}
                <p><span class='h4'>This post is set to go live on</span> {{formatted-date news.publishedAt}}
                   <a href='#' {{action 'unpublish'}}>Cancel Publish</a>
                </p>
                <button class='btn btn-primary btn-lg' {{action 'publish'}}>Publish Now</button>
              {{/if}}

              {{#if isPublished}}
                Published {{formatted-date news.publishedAt}}.
                {{#if hasUnpublishedChanges}}
                  <p>Your post has changes that are not published.</p>
                  <button {{action 'publish'}} class='btn btn-primary btn-lg'>Publish Changes</button><br />
                  <button {{action 'discardChanges'}} class='btn'>Discard changes</button>
                {{/if}}
              {{/if}}
            </div>
          </div>
        </div>
        <div>
         {{#form-group error=errors.organization}}
           <label class='control-label ContentForm-label--required'>Content Owner</label>
           {{organization-dropdown
             defaultName='Please choose an org'
             selection=(readonly news.organization)
             organizations=filteredOrganizations
             class="with-border"
             updated=(action 'changeOrganization')
           }}
         {{/form-group}}
        </div>
        <div class='dev-flags'>
            <hr>
            <hr>
            isDirty: {{news.hasDirtyAttributes}}<br />
            canAutoSave: {{canAutosave}}<br />
            <hr>
            isDraft: {{isDraft}}<br />
            isScheduled: {{isScheduled}}<br />
            isPublished: {{isPublished}}<br />
            hasUnpublishedChanges: {{hasUnpublishedChanges}}<br />
            didOrgChange: {{didOrgChange}}<br />
          </div>
      </div>
    </div>

    <div class='col-md-9 col-md-pull-3'>
      {{#form-group
        error=errors.title
        hideError=true
        news=news as |news|
      }}
        <label class='control-label ContentForm-label--required' for="title">Title</label>
        {{form-error errors.title}}

        {{input
          id='title'
          placeholder='A short and informative title'
          class='form-control'
          value=news.title
          data-test-field='title'
          input=(action 'notifyChange')
        }}
      {{/form-group}}

      {{#form-group
        error=errors.subtitle
        hideError=true
        news=news as |news|
      }}
        <label class='control-label ContentForm-label--required' for="title">Subtitle</label>
        {{form-error errors.subtitle}}

        {{input
          id='subtitle'
          placeholder='A short and informative subtitle'
          class='form-control'
          value=news.subtitle
          data-test-field='subtitle'
          input=(action 'notifyChange')
        }}
      {{/form-group}}

      {{#form-group
        error=errors.content
        hideError=true
        news=news as |news|
      }}
        <label class='control-label ContentForm-label--required' for="description">Content</label>
        {{form-error errors.content}}
        {{#summer-note
          content=news.content
          validateForm=(action 'notifyChange')
          class='ContentForm-textArea'
        }}
          {{textarea
            id='content'
            placeholder='Enter your content here...'
            class='form-control'
            data-test-textarea='content'
          }}
        {{/summer-note}}
      {{/form-group}}
    </div>
  </div>
</div>
