{{#if showPrevPage}}
  <button data-test-prev-page class='PaginationButtons-prev btn Button--primary' {{action 'prevPage'}}>
    {{fa-icon 'arrow-left'}} Prev
  </button>
  <button data-test-first-page class='PaginationButtons-first btn Button--primary' {{action 'firstPage'}}>
    First
  </button>
{{/if}}

{{#if showNextPage}}
  <button data-test-next-page class='PaginationButtons-next btn Button--primary' {{action 'nextPage'}}>
    Next {{fa-icon 'arrow-right'}}
  </button>
{{/if}}


