<div class="Caster-SettingsBar--tab {{if casterPageIsActive "active"}}" {{action "changeTab" "casterPage"}} role="button" data-test-settings-tab="caster-page">
  Caster Page
</div>
<div class="Caster-SettingsBar--tab {{if feedSettingsIsActive "active"}}" {{action "changeTab" "feedSettings"}} role="button" data-test-settings-tab="feed-settings">
  Feed Settings
</div>
<div class="Caster-SettingsBar--tab {{if accountIsActive "active"}}" {{action "changeTab" "account"}} role="button" data-test-settings-tab="account">
  Account
</div>
<div class="Caster-SettingsBar--tab {{if paymentsIsActive "active"}}" {{action "changeTab" "payments"}} role="button" data-test-settings-tab="payments">
  Payments
</div>
