{{#if showEmailMenu}}
  {{jobs-forms/promote-by-email
    mailToParts=mailToParts
    onClose=(action "hideEmailMenu")
  }}
{{else}}
  <div class="JobsForms-PromotionMenu-close-overlay" {{action "close"}} role="button">
    Close {{fa-icon "times"}}
  </div>

  <div class="JobsForms-PromotionMenu-manage">

    {{#if justCreated}}
      <div class="JobsForms-PromotionMenu-manage-button">
        {{fa-icon "check"}}  {{postType}} Published
      </div>
      <div class="JobsForms-PromotionMenu-manage-textbox">
        {{#if isMarket}}
          Your market listing will now appear in the {{#link-to "feed" (query-params type="market")}}Market{{/link-to}}
        {{else if isEvent}}
          Your event will now appear in the {{#link-to "feed" (query-params type="calendar")}}calendar{{/link-to}} and in the feed 24 hours before the event starting date.
        {{else}}
          Your post will now appear in the feed and on your page.
        {{/if}}
      </div>
    {{else if justEdited}}
      <div class="JobsForms-PromotionMenu-manage-button">
        {{fa-icon "check"}}  Changes Published*
      </div>
      <div class="JobsForms-PromotionMenu-manage-textbox">
        * Please note: your changes might take a few minutes to appear.
      </div>
    {{/if}}

    <div class="JobsForms-PromotionMenu-manage-button">
      {{fa-icon "paper-plane-o"}}  Promote Your {{postType}}
    </div>

    <div>
      <div
        class="JobsForms-PromotionMenu-promotion-option JobsForms-PromotionMenu-facebook"
        onclick={{action "shareFacebook"}}
        role="button"
        >
        {{fa-icon "facebook"}}Facebook
      </div>
      <a
        href={{twitterLink}}
        target="_blank"
        rel="noopener noreferrer"
        role="button"
        class="white-link"
        onclick={{action "shareTwitter" preventDefault=false}}
      >
        <div class="JobsForms-PromotionMenu-promotion-option JobsForms-PromotionMenu-twitter">
          {{fa-icon "twitter"}}Twitter
        </div>
      </a>
      <div
        class="JobsForms-PromotionMenu-promotion-option JobsForms-PromotionMenu-copy"
        {{action "copyLink"}}
        role="button"
        >
        {{#if isCopyingLink}}
          {{fa-icon "cog" spin=true}}Copying...
        {{else}}
          {{fa-icon "link"}}Copy URL
        {{/if}}
      </div>
      <div
        class="JobsForms-PromotionMenu-promotion-option JobsForms-PromotionMenu-email"
        {{action "startShareByEmail"}}
        role="button"
        >
          {{fa-icon "envelope"}}Email
      </div>
    </div>

    <div>
      <div class="JobsForms-PromotionMenu-title">
        Content's web address (URL)
      </div>
      <textarea id="copy-url-textarea" class="JobsForms-PromotionMenu-copy-url-textarea">{{urlForShare}}</textarea>
    </div>

  </div>
{{/if}}
