<div class="Mystuff-NavBar-nav">
  {{#each routes as |route|}}
    <div class="Mystuff-NavBar-button {{if (eq activeRoute.routeName route.routeName) 'active'}}" {{action 'changeActiveRoute' route}} data-test-button={{route.title}}>
      {{#if (eq activeRoute.routeName route.routeName)}}
        {{fa-icon route.iconActive}}
      {{else}}
        {{fa-icon route.iconInactive}}
      {{/if}}
      <span>{{route.title}}</span>
    </div>
  {{/each}}
</div>
<div class="Mystuff-NavBar-breadcrumb">
  {{#text-block small=true lighten=true center=true}}
    {{breadcrumbMessage}}
  {{/text-block}}
</div>
