<div class='PromotionSection'>
  <label class='PromotionSection-label' for="extended-reach">Pick Your Audience <span class='PromotionSection-cost'>Coming Soon!</span></label>
  <p class='PromotionSection-description'>
    Your event will display to users all across the Upper Valley.
    Soon we'll add the ability to limit your audience -- for example,
    to users in your community only.
  </p>
  <div class='row'>
    <div class='col-sm-6'>
      <div class='PromotionSection-toggle PromotionSection-toggleMap is-disabled'>
        {{fa-icon 'toggle-off PromotionSection-toggleIcon'}} Off
      </div>
    </div>
    <div class='col-sm-6'>
      <img class='img-responsive' src="/images/extended-reach-map.png">
    </div>
  </div>
</div>

<div class='PromotionSection'>
  <label class='PromotionSection-label' for="category-enabled">Be Special <span class='PromotionSection-cost'>Free!</span></label>
  <p class='PromotionSection-description'>
    Maybe your event fits one of our pre-defined special searches:
    Arts, Movies, Wellness, or Live Music. If it does, choose one!
  </p>

  <div class='row'>
    <div class='col-sm-6'>
      <div {{action 'toggleProperty' 'categoryEnabled'}} class='PromotionSection-toggle'>
        {{#if categoryEnabled}}
          {{fa-icon 'toggle-on PromotionSection-toggleIcon is-on'}} On
        {{else}}
          {{fa-icon 'toggle-off PromotionSection-toggleIcon'}} Off
        {{/if}}
      </div>
    </div>
    <div class='col-sm-6'>
      {{#if categoryEnabled}}
        {{#x-select value=event.category class='form-control'}}
          {{#x-option value=null}}Select a category:{{/x-option}}
          {{#each categories as |category|}}
            {{#x-option value=category}}{{category.label}}{{/x-option}}
          {{/each}}
        {{/x-select}}
      {{/if}}
    </div>
  </div>
</div>

<div class='PromotionSection'>
  <label class='PromotionSection-label' for="lists-enabled">Alert the List <span class='PromotionSection-cost'>Free!</span></label>
    <p class='PromotionSection-description PromotionSection-description--emphasized'>
      Send a text-only version of your event to one or more Upper Valley listservs with a link to the full listing.
      <b>You need to be subscribed to each list ahead of time in order to do this</b>.
      Click <a href='https://dailyuv.com/news/812457' target="_blank"><b>here</b></a> for instructions on how to subscribe.
    </p>
  <div class='row'>
    <div class='col-sm-2 col-sm-offset-2'>
      <div {{action 'toggleProperty' 'listsEnabled'}} class='PromotionSection-toggle'>
        {{#if listsEnabled}}
          {{fa-icon 'toggle-on PromotionSection-toggleIcon is-on'}} On
        {{else}}
          {{fa-icon 'toggle-off PromotionSection-toggleIcon'}} Off
        {{/if}}
      </div>
    </div>
    <div class='col-sm-8'>
      {{#if listsEnabled}}
        {{content-form-listservs
          model=event
          listservs=listservs
        }}
      {{/if}}
    </div>
  </div>
</div>

{{partial 'partials/promotion-disclaimer'}}

<div class='ContentForm-buttonGroup form-group'>
  <button class='Button btn btn-default pull-left' {{action 'back'}}>
    {{fa-icon 'arrow-left u-iconLeft'}}
    Edit Event
  </button>

  <button class='Button Button--primary btn btn-primary pull-right' {{action 'preview'}}>
    Next Step
    {{fa-icon 'arrow-right u-iconRight'}}
  </button>

  {{#if event.isNew}}
    <button class='ContentForm-buttonLink ContentForm-discardButton h2 btn btn-link pull-right' {{action 'discard'}}>
      {{fa-icon 'trash u-iconLeft'}}
      Discard Event
    </button>
  {{/if}}
</div>
