{{#if hasBlock}}
  {{yield (hash
      title-input=(component "atoms/form-input"
        placeholder='Keep it short and informative'
        value=(mut changeset.title)
        class="form-control"
        data-test-field="talk-title"
      )

      content-input=(component 'summer-note'
        content=(readonly changeset.content)
        hideError=true
        notifyChange=(action 'updateContent')
        data-test-field="talk-content"
      )

      venue-input=(component "event-venue-input"
        event=(mut changeset)
      )

      schedules-input=(component "event-schedules-editor"
        schedules=(copy changeset.schedules)
        update=(action (mut changeset.schedules))
      )

      registration-input=(component 'event-registration-input'
        value=changeset.registrationDeadline
        registrationEnabled=(readonly changeset.registrationDeadline)
      )

      cost-input=(component 'event-form-cost'
        event=changeset
        cost=(mut changeset.cost)
        costType=(mut changeset.costType)
      )

      phone-input=(component 'atoms/form-input'
        placeholder='Contact Phone, ex: 555-555-5555'
        class='form-control'
        value=(mut changeset.contactPhone)
      )

      email-input=(component 'atoms/form-input'
        placeholder='Contact Email'
        class='form-control'
        value=(mut changeset.contactEmail)
      )

      url-input=(component 'atoms/form-input'
        placeholder='Web Link, ex: event URL or registration page'
        class='form-control'
        value=changeset.eventUrl
        onfocusout=(action 'normalizeUrl' changeset)
      )

      image-input=(component 'image-upload-tile'
        model=changeset
      )

    )
  }}

{{else}}

  {{form-group
    errors=changeset.error.title.validation
    required=true
    label="Title"
    field=(component "atoms/form-input"
      placeholder="Keep it short and informative"
      value=(mut changeset.title)
      class='form-control'
      data-test-field='event-title'
    )
  }}

  {{form-group
    errors=changeset.error.content.validation
    required=true
    label="Description"
    field=(component 'summer-note'
      content=(readonly changeset.content)
      hideError=true
      notifyChange=(action 'updateContent')
      data-test-field="event-content"
    )
  }}

  <h3 class='ListservContentForm-fieldDivider h3'>The information you enter below will appear on dailyUV only.</h3>

  <fieldset class='ListservForm-enhancementFields'>
    <legend>Post Enhancements</legend>

    {{#form-group
        label="Location"
        errors=changeset.error.venueId.validation
    }}
      {{#inline-edit
          focusChangesState=false
          isEditing=(readonly (not changeset.venueId))
        as |ie|
      }}
        {{#if ie.isEditing}}
          {{event-venue-input event=changeset update=ie.exitEditMode}}
        {{else}}
          <div>
            <div>{{changeset.venueName}}</div>
            <div>{{changeset.venueAddress}}</div>
            <div>{{changeset.venueCity}}, {{changeset.venueState}} {{changeset.venueZip}}</div>
          </div>
          {{ie.editButton}}
        {{/if}}
      {{/inline-edit}}
    {{/form-group}}

    {{form-group
      errors=changeset.error.schedules.validation
      label="Dates & Times"
      field=(component "event-schedules-editor"
        schedules=(copy changeset.schedules)
        update=(action (mut changeset.schedules))
      )
    }}

    {{form-group
        label='Registration Deadline'
        errors=changeset.error.registrationDeadline.validation
        field=(component 'event-registration-input'
          value=changeset.registrationDeadline
          registrationEnabled=(readonly changeset.registrationDeadline)
        )
    }}

    {{form-group
        label="Event Price"
        field=(component "event-form-cost"
          event=changeset
          cost=(mut changeset.cost)
          costType=(mut changeset.costType)
        )
    }}

    {{form-group
      label="Image"
      field=(component 'image-upload-tile'
        model=changeset
      )
    }}

    {{#form-group
      label="Event Info"
    }}

      {{#form-group
          errors=changeset.error.contactEmail.validation
          label="Email"}}

        {{#field-with-icon icon='envelope'}}
          {{atoms/form-input
              placeholder='Contact Email'
              class='form-control'
              value=(mut changeset.contactEmail)
              data-test-field='event-contactEmail'
          }}
        {{/field-with-icon}}

      {{/form-group}}

      {{#form-group
          errors=changeset.error.contactPhone.validation
          label="Phone"}}

        {{#field-with-icon icon='phone'}}
          {{atoms/form-input
              placeholder='Contact Phone, ex: 555-555-5555'
              class='form-control'
              value=(mut changeset.contactPhone)
              data-test-field='event-contactPhone'
          }}
        {{/field-with-icon}}

      {{/form-group}}

      {{#form-group
          errors=changeset.error.eventUrl.validation
          label="Event Url"}}

        {{#field-with-icon icon='link'}}
          {{atoms/form-input
              placeholder='Web Link, ex: event URL or registration page'
              class='form-control'
              value=(mut changeset.eventUrl)
              data-test-field='event-eventUrl'
              onfocusout=(action 'normalizeUrl' changeset)
          }}
        {{/field-with-icon}}

      {{/form-group}}
    {{/form-group}}
  </fieldset>
{{/if}}
