{{#if result.feedback_num}}
  {{#if detailView}}
    Recommended by <span class="BusinessFeedbackBadge-recommended-badge">{{round (times result.feedback.recommend 100)}}%</span>
    of {{result.feedback_num}} reviewer{{if isPlural 's'}}
  {{else}}
    <span class="BusinessFeedbackBadge-recommended-badge">{{round (times result.feedback.recommend 100)}}%</span>
    <small>of {{result.feedback_num}} reviewer{{if isPlural 's'}} recommend this business</small>
  {{/if}}

{{else}}
  <small>Not yet rated</small>
{{/if}}
