<div class="row">
  <div class='col-md-4 col-sm-5 col-xs-12 FeaturedContent-featuredImage'>
    {{#link-to contentRoute model.id}}
      <img src="{{imageUrl}}" class="img-responsive center-block"/>
    {{/link-to}}
  </div>
  <div class="col-md-8 col-sm-7 col-xs-12">
    <div class='FeaturedContent-main'>
      <h1 class='FeaturedContent-title'>
        {{#link-to contentRoute model.id}}
          {{title}}
        {{/link-to}}
      </h1>
      <span class='FeaturedContent-content'>
        {{content}}
      </span>
      <a href={{contentUrl}} class='FeaturedContent-more FeaturedContent-link'>more</a>
    </div>
    <footer class='FeaturedContent-meta'>
      {{#link-to 'organization-profile' model.organization.slug data-test-link="organization-link"}}
        {{avatar-image
          imageUrl=organizationImage
          userName=organizationName
          customSize=50
        }}
      {{/link-to}}
      <p class="FeaturedContent-whenPublished">{{publishedAt}}</p>
      {{#link-to 'organization-profile' model.organization.slug data-test-link="organization-link" class="FeaturedContent-publisher" rel='author'}}
        {{organizationName}}
      {{/link-to}}
    </footer>
  </div>
</div>
