<div class="row">
  <div class='col-md-2 col-sm-3 col-xs-12 FeaturedContent-featuredImage'>
    {{#link-to contentRoute model}}
      <img src="{{imageUrl}}" class="img-responsive"/>
    {{/link-to}}
  </div>
  <div class="col-md-10 col-sm-9 col-xs-12">
    <div class='FeaturedContent-main'>
      <h1 class='FeaturedContent-title'>
        {{#link-to contentRoute model}}
          {{title}}
        {{/link-to}}
      </h1>
      <span class='FeaturedContent-content'>
        {{content}}
      </span>
      <a href={{contentUrl}} class='FeaturedContent-more FeaturedContent-link'>more</a>
    </div>
    <footer class='FeaturedContent-meta'>
      {{#link-to 'organization-profile' model.organization.slug data-test-component="organization-link"}}
        <img class='FeaturedContent-publisherAvatar' src={{organizationImage}}>
      {{/link-to}}
      <p class="FeaturedContent-whenPublished">{{publishedAt}}</p>
      {{#link-to 'organization-profile' model.organization.slug data-test-component="organization-link" class="FeaturedContent-publisher" rel='author'}}
        {{organizationName}}
      {{/link-to}}
    </footer>
  </div>
</div>
