<div class="Feed {{if isFastBoot "isFastBoot"}}">
  <div data-test-page="feed">
    {{#if type}}
      {{to-elsewhere
        named="filters"
        send=(component "search-type-tag"
               type=type
               remove=(action "filterType" null))
      }}
    {{/if}}

    {{#feed/feed-container noMargin=true}}
      {{outlet}}

      {{feed/location-card
        showSearch=true
        showChooser=true
        streamlined=showPioneeringFeed
      }}

      {{#if (or isFastBoot showLoadingAnimation)}}
        {{feed/fake-feed}}
      {{else if showPioneeringFeed}}
        {{feed/pioneer-feed
          feedItems=model.feedItems
        }}
      {{else if hasResults}}
        {{#if eventFilterAndNotMyStuff}}
          {{events-results
            feedItems=model.eventInstances
            adPath="feed.index"
            enableImpressionTracking=(eq currentRouteName "feed.index")
            startDate=startDate
            updateEnabledEventDays=(action "updateEnabledEventDays")
            enabledEventDays=enabledEventDays
            updateStartDate=(action "jumpToDay")
          }}

          {{#infinity-loader
            infinityModel=model.eventInstances
          }}
            {{#if model.eventInstances.reachedInfinity}}
              {{no-results-card hadResults=true}}
            {{else}}
              {{fa-icon "spinner" class="fa-pulse"}}
            {{/if}}
          {{/infinity-loader}}
          {{feed-pagination page=page totalPages=model.eventInstances.meta.total_pages}}
        {{else}}
          {{feed/index-feed
            feedItems=model.feedItems
            isSearchActive=isSearchActive
            enableImpressionTracking=(eq currentRouteName "feed.index")
          }}

          {{#infinity-loader
            infinityModel=model.feedItems
          }}
            {{#if model.eventInstances.reachedInfinity}}
              {{no-results-card hadResults=true}}
            {{else}}
              {{fa-icon "spinner" class="fa-pulse"}}
            {{/if}}
          {{/infinity-loader}}
          {{feed-pagination page=page totalPages=model.feedItems.meta.total_pages}}
        {{/if}}
      {{else}}
        {{no-results-card}}
      {{/if}}
    {{/feed/feed-container}}

    {{#unless showPioneeringFeed}}
      {{floating-action-button}}
    {{/unless}}
  </div>
</div>
