<div class="Feed">
  <div data-test-page='feed'>
    {{#unless session.isFastBoot}}
      {{to-elsewhere named="page-toolbar"
        send=(component "channel-filters"
          channel="index"
          radius=(readonly radius)
          onChooseMyStuffOnly=(action "chooseMyStuffOnly")
          filterComponent=(component "header-location-control"
            location=(readonly userLocation.location)
            radius=(readonly radius)
            onChooseRadius=(action "changeRadius")
            onChooseLocation=(action "chooseLocation")
          )
        )
      }}
    {{/unless}}

    {{#if type}}
      {{to-elsewhere named='filters'
                     send=(component "search-type-tag"
                       type=type
                       remove=(action "filterType" "")
                     )
      }}
    {{/if}}

    {{#unless session.isFastBoot}}
      {{locations-nearby
        location=(readonly userLocation.location)
        radius=(readonly radius)
        class='text-center'
      }}
    {{/unless}}


      {{#feed/feed-container}}
        {{outlet}}

        {{#if currentlyLoading}}
          {{x-loader}}
        {{else}}
          {{#if model}}
            {{#if eventFilterAndNotMyStuff}}
              {{outlet}}
              {{events-results
                events=model
                adPath='feed.index'
                jumpToDay=(action 'jumpToDay')
                updateEnabledEventDays=(action 'updateEnabledEventDays')
                enabledEventDays=enabledEventDays
              }}
            {{else}}
              {{feed/index-feed
                feedContents=model
                showingDetailInFeed=showingDetailInFeed
              }}
            {{/if}}

            {{#infinity-loader
              infinityModel=model
            }}
              {{#unless model.reachedInfinity}}
                {{fa-icon 'spinner' class="fa-pulse"}}
              {{/unless}}
            {{/infinity-loader}}
          {{else}}
            {{feed/no-results
              isMyStuffOnly=isMyStuffOnly
              currentlyLoading=currentlyLoading
              isSearchActive=isSearchActive
            }}
          {{/if}}
        {{/if}}
      {{/feed/feed-container}}

    {{#floating-action-button}}
      {{jobs-navigation}}
    {{/floating-action-button}}


  </div>
</div>
