{{#if isMinimal}}
  <h2 class='Card-title' {{action 'onTitleClick'}}>
    {{#link-to 'market.show' post.id classNameBindings="isSimilarContent:SimilarContentLink"}}
      <span {{action 'trackSuggestedContentClick'}}>
        {{title}}
      </span>
    {{/link-to}}
  </h2>
  <span class='Card-subtitle'>{{post.price}} {{relativeDate}}</span>
{{else}}
  <div class="Media {{if alignImageRightOnMobile 'Media--invertedOnMobile'}} {{if alignImageRight 'Media--inverted'}}">
    <div>
      {{#if hasImage}}
        {{#market-post-link
          closeRoute=closeRoute
          category=category
          post=post
          onTitleClick=(action 'onTitleClick')
          trackSuggestedContentClick=(action 'trackSuggestedContentClick')
        }}
          <div class='Card-image-tile Card-image-tile--preserveAspectRatio'>
            <img class='img-responsive' src={{optimized-image-url post.coverImageUrl 133 113 false}} />
          </div>
        {{/market-post-link}}
      {{/if}}
    </div>

    <div class="Media-body Card-content">
      <h2 class='Card-title'>
        {{#market-post-link
          closeRoute=closeRoute
          category=category
          post=post
          onTitleClick=(action 'onTitleClick')
          trackSuggestedContentClick=(action 'trackSuggestedContentClick')
        }}
          {{title}} {{#if post.sold}}<span class='u-tag'>SOLD!</span>{{/if}}
        {{/market-post-link}}
      </h2>

      <span class='Card-subtitle'>{{post.price}}</span><br>
      <span class='Card-subtitle'>{{relativeDate}}</span><br>
      {{base-location-display model=post.baseLocationNames}}

      {{#if post.myTownOnly}}
        <span class='Card-subtitle'>{{userLocation}} Only</span>
      {{/if}}
    </div>
  </div>
{{/if}}
