<article class='OrganizationProfile Container--noGutter'>
  <header class='OrganizationProfile-header'>
    <div class='row'>
      <div class='col-sm-9'>
        <h1 class='OrganizationProfile-headerTitle h1' data-test-organization-name>
          <span>{{model.name}}</span>
        </h1>
      </div>

      <div class='col-sm-3'>
        <div class='OrganizationProfile-connect hidden-xs'>
          {{#if model.subscribeUrl}}
            <a target="_blank" data-test-component='organization-subscribe-link' class='OrganizationProfile-subscribe btn btn-lg' href={{model.subscribeUrl}}>
              {{fa-icon 'heart'}}
              Subscribe
            </a>
          {{/if}}
        </div>
      </div>
    </div>
  </header>

  <div class='row'>
    <div class='OrganizationProfile-main col-sm-9'>
      {{#if featuredNews}}
      <section class='OrganizationProfile-featured'>
        {{#each featuredNews as |newsItem|}}
          {{featured-content model=newsItem horizontal=true}}
        {{/each}}
        {{#if (and media.isMobile model.subscribeUrl)}}
          <div class='OrganizationProfile-connect-mobile'>
            <a target="_blank" data-test-component='organization-subscribe-link' class='OrganizationProfile-subscribe btn btn-lg' href={{model.subscribeUrl}}>
              {{fa-icon 'heart'}}
              Subscribe
            </a>
          </div>
        {{/if}}
      </section>
      {{/if}}
      {{#if showMoreContent}}
      <section class='OrganizationProfile-moreContent' data-test-organization-profile-more-content>
        <h1 class='OrganizationProfile-moreContentTitle'>More Content From {{model.name}}</h1>
        <div class='OrganizationProfile-contentControls'>
          {{search-input value=query update=(action "updateQuery") data-test-component='news-search' debouncWait=900}}
        </div>
        {{content-grid model=moreContent}}
        <footer>
          {{pagination-buttons resultCount=totalCount page=page on-update-page=(action (mut page)) perPage=perPage}}
        </footer>
      </section>
      {{/if}}
    </div>

    <aside class='OrganizationProfile-publisher col-sm-3'>
      {{#if model.canEdit}}
        <div>
          <button class='btn btn-secondary' {{action 'editProfile'}}>Edit Profile</button>
        </div>
      {{/if}}
      {{#if showAboutSection}}
        {{organization-about model=model tagName='section' class='OrganizationProfile-about' data-test-component='about-section'}}
      {{/if}}
      <section class='OrganizationProfile-contribute'>
        <!-- CONTRIBUTE SECTION -->
      </section>
    </aside>
  </div>
</article>
{{#if editMode}}
  {{#modal-wrapper close=(action 'cancelEdit')}}
    <h4 class='h2'>Edit Profile</h4>
    {{organization-profile-form model=model didSave=(action "closeModal")}}
  {{/modal-wrapper}}
{{/if}}
