<article class='OrganizationProfile'>

  <header class='OrganizationProfile-header {{if hasBackgroundImage 'hasBackgroundImage'}}' style={{headerStyle}}>
    <div class="OrganizationProfile-header-container">
      <div class="OrganizationProfile-header-content">
        {{#if model.logoUrl}}
          <img src={{optimized-image-url model.logoUrl 150 150 true}} data-test-organization-image class='OrganizationProfile-header-logo'>
        {{else}}
          {{#if model.profileImageUrl}}
            <img src={{optimized-image-url model.profileImageUrl 150 150 true}} data-test-organization-image
                 class='OrganizationProfile-header-profileImage'>
          {{else}}
            {{fa-icon 'user' size=3 class='OrganizationProfile-header-genericUserIcon hidden-sm hidden-md hidden-lg hidden-xl'}}
            {{fa-icon 'user' size=5 class='OrganizationProfile-header-genericUserIcon hidden-xs'}}
          {{/if}}
          <p class="OrganizationProfile-header-name">
            {{model.name}}
          </p>
        {{/if}}
      </div>
    </div>
  </header>

  <div class="Container--noGutter">

    <div class="row">
      <div class="col-sm-7 col-sm-offset-1">

        <div class="row">
          <div class="col-xs-6">
            {{search-input
            value=query
            class="OrganizationProfile-search"
            update=(action "updateQuery")
            data-test-component='news-search'
            }}
          </div>

          {{#if model.subscribeUrl}}
            <div class="col-xs-6 text-right">
              {{subscribe-button subscribeUrl=model.subscribeUrl large=true}}
            </div>
          {{/if}}
        </div>

        {{#if showLargeCard}}
          <div class="row">
            <div class="col-sm-12" data-test-featured-content="{{news.firstObject.id}}">
              {{news-card-wide
              item=news.firstObject
              class='Card--solo OrganizationProfile-newsCard'
              variant='full'
              routeName='organization-profile.news-item'
              }}
            </div>
          </div>
        {{/if}}

        {{#if model.profileAdOverride}}
          <div class="row">
            <div class="col-sm-6">
              {{news-card
              item=newsList.firstObject
              variant='vertical'
              class="OrganizationProfile-newsCard"
              routeName='organization-profile.news-item'
              }}
            </div>
            <div class="col-sm-6">
              {{ad-banner promotion=model.profileAdOverride impressionPath='organization-profile.index' class="OrganizationProfile-adBanner"}}
            </div>
          </div>
        {{/if}}

        <div class="row">
          {{#each newsListRemainingItems as |item|}}
            <div class="col-sm-6">
              {{news-card
              item=item
              variant='vertical'
              class="OrganizationProfile-newsCard"
              routeName='organization-profile.news-item'
              }}
            </div>
          {{/each}}
        </div>

        <div class='row'>
          <div class='col-xs-12'>
            <div class='OrganizationProfile-pagination PaginationNav-wrapper'>
              <div class='PaginationNav PaginationNav--bottom'>
                {{partial 'partials/pagination-nav'}}
              </div>
            </div>
          </div>
        </div>

      </div>

      <div class="col-sm-3">

        {{#if model.description}}
          <div class='OrganizationProfile-title' data-test-about-header>
            {{#if model.displayImageUrl}}
              <div class="OrganizationProfile-title-item">
                <img src="{{optimized-image-url model.displayImageUrl 40 40 true}}" alt="{{model.name}}" class="OrganizationProfile-avatar"/>
              </div>
            {{/if}}
            <div class='OrganizationProfile-title-item'>
              About <span data-test-organization-name>{{model.name}}</span>
            </div>
          </div>
        {{/if}}

        {{#if model.canEdit}}
          <div class="OrganizationProfile-editButtons">
            <div class="OrganizationProfile-editButtons-item">
              <button class='OrganizationProfile-adminButton' {{action 'editProfile'}}>
                Edit Profile
              </button>
            </div>
            {{!--
            <div class="OrganizationProfile-editButtons-item">
              {{#link-to 'dashboard' (query-params organization_id=model.id type="news") class='OrganizationProfile-adminButton OrganizationProfile-manageContentButton'}}
                Manage Content
              {{/link-to}}
            </div>
            --}}
          </div>
        {{/if}}
        <div class='OrganizationProfile-description ContentText' data-test-organization-description>{{{ model.description }}}</div>

        {{#if model.publisher}}
          <h2 class="h2">{{model.name}} is published by:</h2>
          <div>
            <img src="{{model.publisher.displayImageUrl}}" alt="{{model.publisher.name}}"
                 class="OrganizationProfile-avatar"/>
            {{model.publisher.name}}
          </div>
        {{else if model.publications}}
          <h2 class="h2">{{model.name}} publishes:</h2>
          {{#each model.publications as |publication|}}
            <div>
              <img src="{{publication.displayImageUrl}}" alt="{{publication.name}}" class="OrganizationProfile-avatar"/>
              {{publication.name}}
            </div>
          {{/each}}
        {{/if}}
      </div>
    </div>

  </div>

</article>
{{#if editMode}}
  {{#modal-wrapper close=(action 'cancelEdit')}}
    <h4 class='h2'>Edit Profile</h4>
    {{organization-profile-form model=(readonly model) didSave=(action "closeModal")}}
  {{/modal-wrapper}}
{{/if}}

{{outlet}}
