<div class="FeedCard--card-front">
  {{feed-card/title
    title=model.title
    model=model
    isLoggedIn=isLoggedIn
  }}

  {{#if activeImageUrl}}
    {{feed-card/image
      imageUrl=activeImageUrl
      caption=model.primaryImageCaption
      model=model
    }}
  {{else}}
    {{feed-card/text-snippet
      showTextSnippet=isLoggedIn
      model=model
    }}
  {{/if}}

  {{#if isLoggedIn}}
    {{feed-card/attribution
      avatarUrl=model.attributionImageUrl
      author=model.attributionName
      linkRouteName=attributionLinkRouteName
      linkId=attributionLinkId
      postedTime=model.publishedAtRelative
      isListserv=model.isListserv
      contentId=model.contentId
    }}
  {{/if}}

  {{feed-card/footer
    locationTagName=sourceTag
  }}

  {{feed-card/comments
    parentContentId=(readonly model.contentId)
    comments=model.comments
    commentCount=model.commentCount
    contentTitle=(readonly model.title)
    disabled=(readonly commentingDisabled)
    afterComment=(action 'reloadComments')
  }}
</div>
