<div class="FeedCard--card-front">
  {{feed-card/title
    title=model.title
    model=model
    linkToDetailIsActive=context.linkToDetailIsActive
    condensedView=(readonly context.condensedView)
    onContentClick=(action 'onContentClick')
  }}

  {{#unless context.condensedView}}
    {{#if activeImageUrl}}
      {{feed-card/image
        imageUrl=activeImageUrl
        caption=model.primaryImageCaption
        model=model
        onContentClick=(action 'onContentClick')
      }}
    {{else}}
      {{feed-card/text-snippet
        showTextSnippet=true
        model=model
      }}
    {{/if}}
  {{/unless}}

  {{#unless context.condensedView}}
    {{feed-card/attribution
      avatarUrl=model.attributionImageUrl
      author=model.attributionName
      linkRouteName=model.attributionLinkRouteName
      linkId=model.attributionLinkId
      postedTime=model.publishedAtRelative
      contentId=model.contentId
      classNames="u-padding8"
    }}
  {{/unless}}

  {{feed-card/footer
    canManage=(readonly context.canManage)
    canEditIfAllowed=(readonly context.canEditIfAllowed)
    displayAsPublic=(readonly context.displayAsPublic)
    openPromotionMenu=(action 'openPromotionMenu')
    locationTagName=sourceTag
    editPath='talk.edit'
    editPathId=model.id
    model=model
  }}

  {{#unless (or context.condensedView context.hideComments)}}
    {{feed-card/comments
      contentModel=(readonly model)
      disabled=(readonly commentingDisabled)
      promotionMenuOpen=(readonly context.promotionMenuOpen)
      afterComment=(action 'reloadComments')
      onContentClick=(action 'onContentClick')
    }}
  {{/unless}}
</div>
