{{sticky-position name="profile/contact"}}

{{organization-profile-desktop-image imageUrl=organization.desktopImageUrl}}

{{#sticky-container position="profile/contact" enabled=stickyContainerEnabled as |sticky|}}

  {{#feed/feed-container noMargin=true}}
    {{outlet}}
  {{/feed/feed-container}}

  {{#if isAdmin}}
    {{cards/organization-toggle-admin-view
      displayAsAdminIfAllowed=(readonly displayAsAdminIfAllowed)
      onUpdate=(action "updateAdminView")
    }}
  {{/if}}



  {{#feed/feed-container}}

    {{#cards/admin-card
      isAdmin=allowToEditHeader
      enableToggleButton=false
      organization=(readonly organization)
      editForm="form-partials/organization-profile-header"
      hideTitleBar=true
    }}
      {{cards/organization-profile-header
        organization=organization
        isProfileHeader=true
        noBottomMargin=true
        isInAdminView=showAdminCards
      }}
    {{/cards/admin-card}}

    {{cards/organization-subscribe-stats
      organization=organization
      isInAdminView=showAdminCards
      noTopMargin=true
    }}

    {{#if showContactCard}}
      {{#cards/admin-card
        isAdmin=showAdminCards
        organization=(readonly organization)
        isActive=(readonly organization.contactCardActive)
        editForm="form-partials/organization-contact"
        updateCardStatus=(action "toggleContactCard")
        title="Contact Details"
      }}
        {{#sticky.item maintainStickyItemSpace=false as |stickyContact| }}
          {{cards/organization-contact organization=organization flattenCard=stickyContact.isSticky}}
        {{/sticky.item}}
      {{/cards/admin-card}}
    {{/if}}

    {{#if showDescriptionHoursTabsCard}}
      {{cards/organization-about-hours-tabs organization=organization}}
    {{else}}
      {{#if showDescriptionCard}}
        {{#cards/admin-card
          isAdmin=showAdminCards
          organization=(readonly organization)
          isActive=(readonly organization.descriptionCardActive)
          editForm="form-partials/organization-description"
          updateCardStatus=(action "toggleDescriptionCard")
          title="About"
        }}
          {{cards/organization-description organization=organization}}
        {{/cards/admin-card}}
      {{/if}}
      {{#unless isBlog}}
        {{#if showHoursCard}}
          {{#cards/admin-card
            isAdmin=showAdminCards
            organization=(readonly organization)
            isActive=(readonly organization.hoursCardActive)
            editForm="form-partials/organization-hours"
            updateCardStatus=(action "toggleHoursCard")
            title="Hours"
          }}
            {{cards/hours-card organization=organization}}
          {{/cards/admin-card}}
        {{/if}}
      {{/unless}}
    {{/if}}

    {{#if showCalendarCard}}
      {{#cards/admin-card
        isAdmin=showAdminCards
        organization=(readonly organization)
        isActive=(readonly organization.calendarCardActive)
        editForm="form-partials/organization-calendar"
        updateCardStatus=(action "toggleCalendarCard")
        title="Calendar View"
      }}
        {{#if showAdminCards}}Switching views only works when viewed by public{{/if}}
        {{cards/calendar-card
          organization=organization
          onTabChange=(action "toggleFeedItemsView")
        }}
      {{/cards/admin-card}}
    {{/if}}

    {{#if showCreateContentCards}}

      {{cards/metrics-and-payments model=organization hidePayments=true}}

      {{cards/organization-your-content-tabs activeTab=show}}

      {{#x-card class="Feed-ProfileFeed-search-bar"}}
        {{search-input
          noBorder=true
          size="large"
          color="black"
          value=(readonly query)
          update=(action "updateQuery")
          data-test-component="organization-content-query"
          isLoading=isLoading
          class="Feed-ProfileFeed-search-input"
        }}
        <div class="Feed-ProfileFeed-controls">
          {{feed/card-size-chooser}}
        </div>
      {{/x-card}}

    {{else}}
        {{feed/card-size-chooser}}
    {{/if}}

    {{#if hasResults}}
      {{feed/profile-feed
        feedItems=visibleFeedItems
        show=(readonly show)
        organization=(readonly organization)
        allowManageOnTile=(and isAdmin showAdminCards)
        displayAsPublic=(not showAdminCards)
        showAnyViewCount=(readonly showAdminCards)
      }}

      {{#infinity-loader
        infinityModel=model
      }}
        {{#unless model.reachedInfinity}}
          {{fa-icon "spinner" class="fa-pulse"}}
        {{/unless}}
      {{/infinity-loader}}
    {{else}}

      {{#x-card}}
        {{#card-body shortPadding=true}}
          {{#text-block}}
            {{#if (or hasPaidProfile isBlog)}}
              {{#if (and isAdmin showAdminCards)}}
                <p>You don't currently have any {{nothingShowingText}} posts.</p>
                <p>Press the big Orange Button to get started.</p>
              {{else}}
                <p>{{organization.name}} hasn't posted any content yet.</p>
              {{/if}}
            {{else}}
              {{#if (and isAdmin showAdminCards)}}
                <p>This is a basic DailyUV business page.</p>
                <p>You can edit hours and contact information.</p>
                <p>
                  If you’d like to learn about enhancing your presence on DailyUV, please <a style="text-decoration:underline;" href={{mailtoHref}}>get in touch.</a>
                </p>
              {{else}}
                <p>
                  If you own or manage this business and want to edit your information or learn about enhancing this page, please <a style="text-decoration:underline;" href={{mailtoHref}}>get in touch.</a>
                </p>
              {{/if}}
            {{/if}}
          {{/text-block}}
        {{/card-body}}
      {{/x-card}}

    {{/if}}

  {{/feed/feed-container}}

{{/sticky-container}}


{{#floating-action-button}}
  {{jobs-navigation organization=organization}}
{{/floating-action-button}}
