{{#unless isRegistered}}
  <h1 class='ListservForm-sectionHeader'>
    Confirm your name, email and where you live to complete your subscription.
  </h1>
  <div class="ListservForm-sectionSubHeader">
    <p class='h3'>
      By Joining, you can browser and post to the {{listserv.name}} and dailyUV for free!
    </p>
  </div>

  {{#form-group error=errors.name}}
  <label data-test-name-input class='control-label ListservForm-label--required' for="name">Name</label>
    {{input
      id='name'
      type='text'
      placeholder='Your full name'
      class='form-control'
      value=model.name
    }}
  {{/form-group}}

  {{#form-group}}
    <label class='control-label'>Email address:&nbsp;&nbsp;</label>
    {{model.email}}
  {{/form-group}}

  {{#form-group error=errors.password}}
  <div data-test-password-input>
    <label class='control-label ListservForm-label--required' for="password">Password</label>
    {{input
      id='password'
      value=model.password
      placeholder='Password'
      type='password'
      class='form-control'
    }}
    <span class='help-text'>(at least 8 characters)</span>
  </div>
  {{/form-group}}

  {{#form-group error=errors.location}}
    <label data-test-location-dropdown class='control-label ListservForm-label--required' for="location">Where do you live?</label>
    {{#x-select value=model.location class='form-control' id='location'}}
      {{#x-option value=null}}Select a location:{{/x-option}}
      {{#each formattedLocations as |location|}}
        {{#x-option value=location.id}}{{location.formattedLocation}}{{/x-option}}
      {{/each}}
    {{/x-select}}
  {{/form-group}}

  {{#form-group error=errors.subscriptions}}
    <div class="checkbox-group">
      {{input
        id='subscription-basic'
        type='checkbox'
        checked=true
        disabled=true
      }}
      <label class='control-label ListservForm-label--required' for="subscriptions">{{listserv.name}} Daily Digest</label>
      <div>
        A comprehensive, easy-to-scan list of all posts to the {{listserv.name}}. Delivered daily at {{listserv.formattedDailyDigestSendTime}}.
      </div>
    </div>
  {{/form-group}}

{{else}}

  <div class="ListservForm-sectionSubHeader center">
    <h1 class='ListservForm-sectionHeader'>
      {{listserv.name}} Subscription
    </h1>
    <p class="h3">
      Your Subscription to {{listserv.name}} is now managed through your account on dailyUV.com
    </p>
  </div>

  <div class="center">
    <h3>
      Enter your password to confirm your subscription.
    </h3>
  </div>

  {{#form-group}}
    <label class='control-label ListservForm-label'>Email:</label>
    <h4>{{model.email}}</h4>
  {{/form-group}}

  {{#unless isSignedIn}}
    {{#form-group error=errors.password}}
      <label class='control-label ListservForm-label--required' for="password">Password</label>
        <div data-test-password-input>
          {{input
            id='password'
            value=model.password
            placeholder='Password'
            type='password'
            class='form-control'
          }}
        </div>
        {{#link-to 'forgot-password.index' (query-params returnUrl=forgotPasswordReturnUrl) class='u-textUnderline center'}}
          <span>Forgot your password? No worries &gt;</span>
        {{/link-to}}
    {{/form-group}}
  {{/unless}}
{{/unless}}

{{#unless isSignedIn}}
  <div class='form-group'>
    <span class='ContentForm-requiredIndicator'>*</span> required fields
  </div>
{{/unless}}

<div class='action-bar'>
  <div class="note">
    By submitting this form you are cool with our <a href="https://dailyuv.com/terms" class='u-textUnderline' target="_blank">Terms of Service</a>
  </div>
    <div data-test-subscribe-button>
      {{async-button
        action=(action 'subscribe')
        default='Sign in'
        pending='Signing in...'
        fulfilled='Signed in'
        class='ListservForm-callToAction subscribe-button subscribe-only'
      }}
    </div>
</div>
