<div class="EventsByDay-header">
  {{#if selectDay}}
    <span class="EventsByDay-calendar-button u-bold" {{action openCalendar}}>
      {{day}} {{fa-icon 'calendar'}} {{fa-icon 'fa-sort-desc'}}
    </span>
  {{/if}}
</div>

{{#each events as |eventInstance|}}
  {{feed-card/event-card
      model=eventInstance
  }}

  {{#if (show-events-ad eventInstance.indexInFullSetOfRecords)}}
    <div class='AdBanner-wrapper AdBanner-wrapper--events'>
      {{ad-banner
        adContextName=adPath
        impressionPath=adPath
        lastRefreshDate=lastRefreshDate
        pagePositionForAnalytics=event.indexInFullSetOfRecords
        placeholderBlockFixedSize=true
      }}
    </div>
  {{/if}}
{{/each}}
