<div class="OrganizationStats-column">
  {{#text-block hasMargin=false}}
    {{#subtitle-text inline=true strong=true noMargin=true}}
      {{profileViews}}
    {{/subtitle-text}}
    Profile Views
  {{/text-block}}

  {{#text-block hasMargin=false}}
    {{#subtitle-text inline=true strong=true noMargin=true}}
      {{profileShares}}
    {{/subtitle-text}}
    Profile Shares
  {{/text-block}}
</div>
<div class="OrganizationStats-column">
  {{#text-block hasMargin=false}}
    {{#subtitle-text inline=true strong=true noMargin=true}}
      {{profileViews}}
    {{/subtitle-text}}
    Post Views
  {{/text-block}}

  {{#text-block hasMargin=false}}
    {{#subtitle-text inline=true strong=true noMargin=true}}
      {{feedViews}}
    {{/subtitle-text}}
    Feed Views
  {{/text-block}}
</div>
<div class="OrganizationStats-column">
  {{#text-block hasMargin=false}}
    {{#subtitle-text inline=true strong=true noMargin=true}}
      {{comments}}
    {{/subtitle-text}}
    Comments
  {{/text-block}}

  {{#text-block hasMargin=false}}
    {{#subtitle-text inline=true strong=true noMargin=true}}
      {{postShares}}
    {{/subtitle-text}}
    Post Shares
  {{/text-block}}
</div>