<div data-test-page='location.market'>
  {{#channel-filters channel='market'}}
    {{location-radius-control
      location=(readonly userLocation.location)
      radius=(readonly radius)
      onChooseRadius=(action "changeRadius")
      onChooseLocation=(action 'chooseLocation')
    }}
  {{/channel-filters}}

  <div class='Container--noGutter'>

    <div class='row'>
      <div class='col-xs-12 col-md-8 col-md-push-2'>
        <div class='ChannelTopper clearfix'>
          <h1 class='GroupHeader GroupHeader--market' style='display: inline-block; margin-bottom: 0'>
            <span class='GroupHeader-channelLink GroupHeader-channelLink--market h3 ChannelTopper-title'>
              Local Market
            </span>
          </h1>
        </div>

        {{#if model}}
          {{sorted-market-posts
            marketPosts=model
            trackCardClick=(action 'trackCardClick')
            adPath='location.market'
          }}

          <div class='Container--noGutter'>
            <div class='row'>
              <div class='col-xs-12 col-md-8 col-md-push-2'>
                <div class='PaginationNav-wrapper'>
                  <div class='PaginationNav PaginationNav--bottom'>
                    {{partial 'partials/pagination-nav'}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        {{else}}
          <h4 class="NothingFound u-textCentered">
            Nothing here! Add distance to see more posts.
          </h4>
        {{/if}}
      </div>
    </div>
  </div>

  {{outreach-cta
    isButton=true
    placement='bottom-of-page'
    limitMessagesTo=2
    class="sit-center"
  }}
</div>
