<div class="XButton XButton--light-gray XButton--regular XButton--x-small XButton--rounded">
  <div class="Mystuff-OrganizationManage--box">
    <div class="Mystuff-OrganizationManage--attribution">
      {{avatar-image
        imageUrl=organizationProfileImageUrl
        userName=organizationName
        hasCaret=false
        customSize=40
      }}

      <div class="Mystuff-OrganizationManage--attribution-name">
        {{organizationName}}
      </div>
    </div>

    <div class="Mystuff-OrganizationManage--link">
      {{#link-to "profile.all" organizationId}}
        <div
          role="button"
          class="XButton XButton--primary XButton--regular XButton--thin XButton--rounded XButton-nowrap"
        >
          Go to Page
        </div>
      {{/link-to}}
    </div>

    <div>
      {{#if showSubscribeOptions}}
        <div class="Mystuff-OrganizationManage--subscribe">
          {{subscribe-button
            organizationId=organizationId
            updateOrganization=false
          }}
        </div>
      {{/if}}

      {{#if showHideOptions}}
        {{#if wantsToUnhide}}
        <div class="Mystuff-OrganizationManage--message">
          Are you sure?
        </div>
        <div
          role="button"
          class="Mystuff-OrganizationManage--sure-button XButton XButton--medium-gray XButton--transparent  XButton--thin XButton--rounded XButton-nowrap"
          {{action "cancelUnhide"}}
        >
          No
        </div>
        <div
          role="button"
          class="Mystuff-OrganizationManage--sure-button XButton XButton--primary XButton--regular XButton--thin XButton--rounded XButton-nowrap"
          {{action "unhide"}}
        >
          Yes
        </div>
        {{else}}
          <div class="Mystuff-OrganizationManage--hide" role="button" {{action "clickedUnhideButton"}}>
            {{fa-icon "low-vision"}} Unhide
          </div>
        {{/if}}
      {{/if}}
    </div>
  </div>

  {{#if (and showHideOptions flagType)}}
    <div class="Mystuff-OrganizationManage--hide-reason">
     Reason for hiding: {{flagType}}
    </div>
  {{/if}}
</div>
