<div class='ContentMetrics'>
  <div class='ContentMetrics-titleBar'>
    {{#if hasViewData}}
      <div class='ContentMetrics-dateRange form-inline'>
        {{pikaday-input class='form-control' value=startDate onSelection=(action (mut startDate)) format='MM/DD/YYYY'}}
        through
        {{pikaday-input class='form-control' value=endDate onSelection=(action (mut endDate)) format='MM/DD/YYYY'}}
      </div>
    {{/if}}

    <ul class="nav nav-pills">
      <li role="presentation" class={{if (eq 'views' metricType) 'active'}}>
        <a href="#" {{action 'setMetric' 'views'}}>Views</a>
      </li>
      <li role="presentation" class={{if (eq 'clicks' metricType) 'active'}}>
        <a href="#" {{action 'setMetric' 'clicks'}}>Clicks</a>
      </li>
    </ul>
  </div>

  {{#if (eq 'views' metricType)}}
    {{#if hasViewData}}
      {{#if cumulative}}
        {{line-chart
          labels=viewLabels
          data=cumulativeViewData
          chartClass='ContentMetrics-chart'
        }}
      {{else}}
        {{line-chart
          labels=viewLabels
          data=viewData
          chartClass='ContentMetrics-chart'
        }}
      {{/if}}
    {{else}}
      <p>No data available yet!</p>
    {{/if}}
  {{else}}
    {{#if hasClickData}}
      {{#if cumulative}}
        {{line-chart
          labels=clickLabels
          data=cumulativeClickData
          chartClass='ContentMetrics-chart'
        }}
      {{else}}
        {{line-chart
          labels=clickLabels
          data=clickData
          chartClass='ContentMetrics-chart'
        }}
      {{/if}}
    {{else}}
      <p>No data available yet!</p>
    {{/if}}
  {{/if}}

  <ul class="nav nav-tabs nav-tabs--bottom">
    <li role="presentation" class={{if (eq cumulative false) 'active'}}>
      <a href="#" {{action 'toggleCumulative'}}>Daily</a>
    </li>
    <li role="presentation" class={{if cumulative 'active'}}>
      <a href="#" {{action 'toggleCumulative'}}>Cumulative</a>
    </li>
  </ul>
  <div class="chartNote"><b>NOTE:</b> Data shown in the chart is collected and reported at the end of each day.</div>
</div>
