{{#each digestsWithSubscriptions as |digest|}}
  <div class="AccountForm-subscription">
    <div class="row">
      <div class="col-sm-7">
        <h3>{{digest.name}}</h3>
        <p class="h5 text-muted">
          {{digest.digestDescription}}
        </p>
      </div>
      <div class="col-sm-5">
        <div class="text-center">
          <h3 class="h3">
            Delivered {{if digest.digestSendDay digest.digestSendDay 'daily'}}
            at {{digest.digestSendTime}}
          </h3>
          {{#if digest.subscription.isPending}}
            {{x-loader}}
          {{else}}
            {{async-button
            action=(action 'toggleSubscription' digest)
            default=(if digest.hasSubscription 'Unsubscribe' 'Subscribe')
            pending='Saving...'
            class=(if digest.hasSubscription 'AccountForm-editButton' 'AccountForm-editButton active')
            data-test-component='digest-subscription-toggle'
            }}
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/each}}
