<h3 class="ListservContentDigestPreview-title">{{model.subject}}</h3>
<p class='ListservContentDigestPreview-body'>{{{truncate bodySanitized length=200}}}</p>

<div>
<span class='ListservContentDigestPreview-author'>
  Posted by
  {{model.senderName}}
</span>
{{#if model.isEvent}}
<span class="ListservContentDigestPreview-venue">
  {{venueName}}<br>
  {{venueCity}}, {{venueState}}
</span>
{{/if}}
{{#if price}}
<span class="ListservContentDigestPreview-price">
  Price: {{price}}
</span>
{{/if}}
</div>
{{#if imageUrl}}
<img src="{{imageUrl}}" class='ListservContentDigestPreview-image'>
{{/if}}
