<div class='col-xs-12 DirectoryNoResults'>
  <div class="well DirectoryNoResults-well">
    {{#if category}}
      <p class='DirectoryNoResults-text'>We didn't find any business listings in '{{category.name}}' in {{location}}.</p>
    {{else}}
      <p class='DirectoryNoResults-text'>We didn't find any business listings matching '{{searchTerms}}' in {{location}}.</p>
    {{/if}}
    <div>
      <p class='DirectoryNoResults-text'>Please {{#link-to 'directory'}}try your search again.{{/link-to}}</p>
    </div>
  </div>
  <div class='DirectoryNoResults-secondaryCTA'>
    <p class='DirectoryNoResults-text'><b>Are we missing your business?</b></p>
    <p class='DirectoryNoResults-text'>Business owners, please <a href='#' {{action "toggleBusinessProfileForm"}}> get in touch</a></p>
  </div>
</div>

{{#if showBusinessProfileForm}}
  {{business-profile-form
    closeAction=(action 'toggleBusinessProfileForm')
  }}
{{/if}}
