<div class='Container--noGutter'>
  <div class='DirectorySearch-wrapper'>
    <div class='row'>
      <div class='col-xs-12'>
        Find a business or service
      </div>

      <div class='col-xs-12'>
        <div class='clearfix u-layoutPadT10 u-layoutPadB10'>
          <div class='DirectorySearch-inputWrapper'>
            <span class='DirectorySearch-pseudoInputText'><b>Find</b></span>
            <input type='text' class='form-control DirectorySearch-input' placeholder='What are you looking for?'>
          </div>

          <div class='DirectorySearch-inputWrapper'>
            <span class='DirectorySearch-pseudoInputText'><b>Near</b></span>
            <input type='text' class='form-control DirectorySearch-input' placeholder='Where?'>
          </div>
        </div>
      </div>

      <div class='col-xs-12'>
        <ul class='CategoryTag-list list-inline'>
          <li class='CategoryTag u-layoutPadB5 u-layoutPadT5'>{{fa-icon 'fa-heart'}} Home Services <span class='CategoryTag-close'>{{fa-icon 'fa-close'}}</span></li>
          <li class='CategoryTag u-layoutPadB5 u-layoutPadT5'>{{fa-icon 'fa-heart'}} Wellness <span class='CategoryTag-close'>{{fa-icon 'fa-close'}}</span></li>
          <li class='CategoryTag u-layoutPadB5 u-layoutPadT5'>{{fa-icon 'fa-heart'}} Restaurants <span class='CategoryTag-close'>{{fa-icon 'fa-close'}}</span></li>
          <li class='CategoryTag u-layoutPadB5 u-layoutPadT5'>{{fa-icon 'fa-heart'}} Drinks <span class='CategoryTag-close'>{{fa-icon 'fa-close'}}</span></li>
          <li class='CategoryTag u-layoutPadB5 u-layoutPadT5'>{{fa-icon 'fa-heart'}} Coffee <span class='CategoryTag-close'>{{fa-icon 'fa-close'}}</span></li>
          <li class='CategoryTag u-layoutPadB5 u-layoutPadT5'>{{fa-icon 'fa-heart'}} Automotive <span class='CategoryTag-close'>{{fa-icon 'fa-close'}}</span></li>
          <li class='CategoryTag u-layoutPadB5 u-layoutPadT5'>{{fa-icon 'fa-heart'}} Transportation <span class='CategoryTag-close'>{{fa-icon 'fa-close'}}</span></li>
          <li class='CategoryTag u-layoutPadB5 u-layoutPadT5'>{{fa-icon 'fa-heart'}} Shopping <span class='CategoryTag-close'>{{fa-icon 'fa-close'}}</span></li>
          <li class='CategoryTag u-layoutPadB5 u-layoutPadT5'><b>{{#link-to 'directory.search.results'}}{{fa-icon 'fa-heart'}} search results{{/link-to}}</b> <span class='CategoryTag-close'>{{fa-icon 'fa-close'}}</span></li>
        </ul>
      </div>
    </div>
  </div>

  {{outlet}}
</div>

