<div class="CommentList-wrapper" id="CommentList" data-test-comments-section>
  {{#if showSectionTitle}}
    {{#title-text strong=true small=true class="u-paddingLeft10"}}
      Comments
      {{#if commentCount}}
        <span class="DetailPage-comments-count">{{commentCount}}</span>
      {{/if}}
    {{/title-text}}
  {{/if}}

  <div class="CommentList-replyForm">
    {{comment-new
      parentContentId=parentContentId
      contentTitle=contentTitle
      comments=comments
      disabled=commentingDisabled
      afterComment=(action afterComment)
    }}
  </div>

  {{#if sortedComments}}
    <div class="CommentList">
      {{#each sortedComments as |comment|}}
        {{content-comment comment=comment}}
      {{/each}}

      {{yield}}
    </div>
  {{else if comments.isPending}}
    {{x-loader}}
  {{/if}}
</div>
