{{#listserv-market-form changeset=changeset as |form|}}
  <fieldset>
    <legend>Post Details.</legend>

    {{#form-group label="Title"
      errors=changeset.error.title.validation
      required=true
    }}

    {{#inline-edit-with-rollback
          value=changeset.title
          display=changeset.title
          data-test-component="market-title"
          hasError=changeset.error.title
          rollback=(action (mut changeset.title))
          as |ie|
      }}

        {{form.title-input}}
        <div class='InlineEdit-editActions'>
          {{ie.okButton}}
          {{ie.cancelButton}}
        </div>
      {{/inline-edit-with-rollback}}

    {{/form-group}}

    {{#form-group label="Description"
      errors=changeset.error.content.validation
      required=true
    }}

    {{#inline-edit-with-rollback
        value=changeset.content
        display=changeset.content
        data-test-component='market-content'
        hasError=changeset.error.content.validation
        rollback=(action (mut changeset.content))
        as |ie|}}

        {{form.content-input}}
        <div class='InlineEdit-editActions'>
          {{ie.okButton}}
          {{ie.cancelButton}}
        </div>
      {{/inline-edit-with-rollback}}

    {{/form-group}}

    <fieldset class='ListservForm-enhancementFields'>
      <legend>
        Enhancements
        <small>(These will appear only on DailyUV.)</small>
      </legend>

      {{#form-group label="Cost"
        errors=changeset.error.price.validation
      }}

      {{#inline-edit-with-rollback
          value=changeset.price
          display=changeset.price
          rollback=(action (mut changeset.price))
          hasError=changeset.error.price
          data-test-component='market-price'
        as |ie|}}
          {{form.price-input}}
          <div class='InlineEdit-editActions'>
            {{ie.okButton}}
            {{ie.cancelButton}}
          </div>
        {{/inline-edit-with-rollback}}

      {{/form-group}}

      {{#form-group label="Email"}}

        {{#inline-edit-with-rollback
            value=changeset.contactEmail
            display=changeset.contactEmail
            data-test-component='market-contact-email'
            rollback=(action (mut changeset.contactEmail))
            hasError=changeset.error.contactEmail
          as |ie|}}
            {{#field-with-icon icon='envelope'}}
              {{form.email-input}}
            {{/field-with-icon}}
          <div class='InlineEdit-editActions'>
            {{ie.okButton}}
            {{ie.cancelButton}}
          </div>
        {{/inline-edit-with-rollback}}

      {{/form-group}}

      {{#form-group
          errors=changeset.error.contactPhone.validation
          label="Phone"}}

        {{#inline-edit-with-rollback
            value=changeset.contactPhone
            display=changeset.contactPhone
            data-test-component='market-contact-phone'
            rollback=(action (mut changeset.contactPhone))
            hasError=changeset.error.contactPhone
          as |ie|}}
          {{#field-with-icon icon='phone'}}
            {{form.phone-input}}
          {{/field-with-icon}}
          <div class='InlineEdit-editActions'>
            {{ie.okButton}}
            {{ie.cancelButton}}
          </div>
        {{/inline-edit-with-rollback}}

      {{/form-group}}


      {{#form-group label="Images"}}
        {{image-upload-tiles
          images=changeset.images
        }}
      {{/form-group}}
    </fieldset>

  </fieldset>
{{/listserv-market-form}}
