{{#listserv-market-form changeset=changeset as |form model|}}
  <fieldset>
    <legend>Post Details.</legend>

    {{#form-group label="Title"
      errors=model.error.title.validation
      required=true
    }}

    {{#inline-edit-with-rollback
          value=model.title
          display=model.title
          data-test-component="market-title"
          hasError=model.error.title
          rollback=(action (mut model.title))
          as |ie|
      }}
        {{form.title-input}}
        <button class='InlineEdit-button'
          {{action (action ie.exitEditMode)}}
        >
          Ok
        </button>
        <button class='InlineEdit-button'
          {{action (action ie.rollback)}}
        >
          Cancel
        </button>
      {{/inline-edit-with-rollback}}

    {{/form-group}}

    {{#form-group label="Description"
      errors=model.error.content.validation
      required=true
    }}

    {{#inline-edit-with-rollback
        value=model.content
        display=model.content
        data-test-component='market-content'
        hasError=model.error.content.validation
        rollback=(action (mut model.content))
        as |ie|}}
        {{form.content-input}}
        <button class='InlineEdit-button'
          {{action (action ie.exitEditMode)}}
        >
          Ok
        </button>
        <button class='InlineEdit-button'
          {{action (action ie.rollback)}}
        >
          Cancel
        </button>
      {{/inline-edit-with-rollback}}

    {{/form-group}}

    <fieldset class='ListservForm-enhancementFields'>
      <legend>
        Enhancements
        <small>(These will appear only on DailyUV.)</small>
      </legend>

      {{#form-group label="Cost"
        error=form.errors.price
      }}

      {{#inline-edit value=model.price
          data-test-component='market-price'
          didExitEditMode=form.validateForm}}
          {{form.price-input}}
        {{/inline-edit}}

      {{/form-group}}

      {{#form-group label="Email"}}

      {{#inline-edit value=model.contactEmail
          data-test-component='market-contact-email'
          didExitEditMode=form.validateForm}}
          {{#field-with-icon icon='envelope'}}
            {{form.email-input}}
          {{/field-with-icon}}
        {{/inline-edit}}

      {{/form-group}}

      {{#form-group label="Phone"}}

      {{#inline-edit value=model.contactPhone
          data-test-component='market-contact-phone'
          didExitEditMode=form.validateForm}}
          {{#field-with-icon icon='phone'}}
            {{form.phone-input}}
          {{/field-with-icon}}
        {{/inline-edit}}

      {{/form-group}}


      {{#form-group label="Images"}}
        {{image-upload-tiles
          images=model.images
        }}
      {{/form-group}}
    </fieldset>

  </fieldset>
{{/listserv-market-form}}
