<div class='ContentPreview-summary'>
  <p>
    Preview your dailyUV post below. To make changes, hit the "Edit" button. Otherwise hit the “Save & Publish” button.
  </p>
</div>
<div class='row'>
  <div class='ContentPreview-navigation'>
    <div class='col-sm-3 editLink'>
      {{#link-to 'lists.posts.index' class='Button btn btn-default pull-left'}}
        {{fa-icon 'arrow-left u-iconLeft'}}
        Edit Talk
      {{/link-to}}
    </div>
    <div class='col-sm-3 publishLink'>
      {{#async-button
        data-test-component='preview-publish'
        action='save'
        class='Button Button--talk btn btn-primary pull-right save-and-publish'
      }}
        <span {{action 'trackEvent' 'submitContent'}}>
          {{#if isSaving}}
            Please Wait&hellip;
          {{else}}
            Save &amp; Publish
            {{fa-icon 'check u-iconRight'}}
          {{/if}}
        </span>
      {{/async-button}}
    </div>
  </div>
</div>

<div class='text-center'>
  Everything below dotted line is your preview
  {{fa-icon 'arrow-down'}}
</div>
{{#content-preview}}
  {{component previewComponentName model=enhancedPost isPreview=true}}
{{/content-preview}}
