<div class="text-center">
  <button class="Button Button--primary {{if (eq channelType 'event') 'Button--event active'}}"
    {{action 'changeChannel' 'event'}} data-test-select-channel-type-event>
    Events
  </button>
  <button class="Button Button--primary {{if (eq channelType 'market') 'Button--market active'}}"
    {{action  'changeChannel' 'market'}} data-test-select-channel-type-market>
    Market
  </button>
  <button class="Button Button--primary {{if (eq channelType 'talk') 'Button--talk active'}}"
    {{action  'changeChannel' 'talk'}} data-test-select-channel-type-talk>
    Talk
  </button>
</div>
