{{#form-group error=error}}
  <div class='row'>
    <div class='col-xs-12 col-sm-4'>
      <label class='ContentForm-label--required'>Start Date</label>
      {{pikaday-input
        firstDay=0
        value=date
        placeholder='Date'
        class='form-control'
        format="MM/DD/YYYY"
        yearRange="currentYear,2010"
      }}
    </div>
    <div class='col-xs-12 col-sm-4'>
      <label class='ContentForm-label--required'>Start Time</label>
      {{input-mask
        mask='h:s t'
        placeholder='12:00 am'
        value=startTime
        class='form-control'
      }}
    </div>
    <div class='col-xs-12 col-sm-4'>
      <label>End Time</label>
      {{input-mask
        mask='h:s t'
        placeholder='12:00 am'
        value=endTime
        class='form-control'
      }}
    </div>
  </div>
{{/form-group}}

<div class='form-group'>
  <div class='row'>
    <div class='col-xs-6'>
      {{input
        placeholder="Subtitle ex: 10th Annual"
        class='form-control'
        value=subtitle
      }}
    </div>
    <div class='col-xs-6'>
      {{input
        placeholder="Presenter / Instructor"
        class='form-control'
        value=instance.presenterName
      }}
    </div>
  </div>
  <div>
    {{#if isRemovable}}
      <button {{action 'removeDate' instance}} class='ContentForm-buttonLink EventForm-removeInstanceLink btn btn-link'>
        {{fa-icon 'minus-circle u-iconLeft'}}
        Remove date
      </button>
    {{/if}}
  </div>
</div>
