<div class="FeedCard-Bookmark-button" {{action "clickBookmark"}} role="button" data-test-button="bookmark-icon">
  {{#if isBookmarked}}
    {{fa-icon "heart" class=(concat "FeedCard-Bookmark-button-icon" (if justBookmarked " just-bookmarked"))}}
  {{else}}
    {{fa-icon "heart-o" class="FeedCard-Bookmark-button-icon"}}
  {{/if}}
</div>

{{#if showLikeCount}}
  <div class="FeedCard-Bookmark-count">
    {{formatted-count likeCount}}
    <div class="FeedCard-Bookmark-count-text">
      {{likeCountMessage}}
    </div>
  </div>
{{/if}}
