{{#unless showManageOverlay}}
  <div class="BizFeed-CardManage-cta" {{action 'toggleManageOverlay'}}>
    Manage  {{fa-icon 'chevron-down'}}
  </div>

{{else}}

  {{#if showPromotionOptions}}
    {{biz-feed/promotion-options
      content=content
      organization=organization
      done=(action 'togglePromotionOptions')
    }}

  {{else if showPromotionHistory}}
    {{biz-feed/promotion-history
      content=content
      done=(action 'togglePromotionHistory')
    }}

  {{else if showAddToMenu}}
    {{biz-feed/add-to-menu
      content=content
      organization=organization
      inputValue=(if contentIsHotlink currentHotlinkTitle null)
      contentIsHotlink=contentIsHotlink
      done=(action 'toggleAddToMenu')
    }}

  {{else}}
    <div>
      {{#unless isBannerAd}}
        {{content.viewCount}} Views    {{content.commentCount}} Comments
      {{else}}
        {{content.viewCount}} Impressions    {{content.clickCount}} Clicks
      {{/unless}}
      <div class="BizFeed-CardManage-close-overlay" {{action 'toggleManageOverlay'}}>
        Close {{fa-icon 'times'}}
      </div>
    </div>

    <div class="BizFeed-CardManage-manage">

      <div class="BizFeed-CardManage-manage-button" {{action 'togglePromotionOptions'}}>
        {{fa-icon 'paper-plane-o'}}  Promote
      </div>

      <div class="BizFeed-CardManage-manage-button" {{action 'togglePromotionHistory'}}>
        {{fa-icon 'history'}}  Promotion History
      </div>
      {{#if canEdit}}
        {{#link-to editRoute editId (query-params organization_id=organization.id)}}
          <div class="BizFeed-CardManage-manage-button">
            {{fa-icon 'pencil'}}  Edit
          </div>
        {{/link-to}}
      {{/if}}

      <div class="BizFeed-CardManage-manage-button" {{action 'toggleAddToMenu'}}>
        {{#if contentIsHotlink}}
          {{fa-icon 'level-up'}}  Change Menu Button
        {{else}}
          {{fa-icon 'level-up'}}  Add to Menu
        {{/if}}
      </div>


        <div class="BizFeed-CardManage-manage-button" {{action 'openCalendarWidget'}}>
          {{fa-icon 'calendar'}} {{#unless hasSunsetDate}}Set {{/unless}}Expiration Date
        </div>
      {{#if hasSunsetDate}}
        <div class="BizFeed-CardManage-sunset-options">
          Will expire from public view on {{sunsetDate}}
          <div>
            <span class="BizFeed-CardManage-action-button" {{action 'openCalendarWidget'}}>{{fa-icon 'pencil'}} Change</span>
            <span class="BizFeed-CardManage-action-button" {{action 'removeSunsetDate'}}>{{fa-icon 'times'}} Remove</span>
          </div>
        </div>
      {{/if}}

    </div>

    {{biz-feed/content-visibility
      content=content
      organization=organization
      bizIsOwner=bizIsOwner
    }}

  {{/if}}

{{/unless}}
