<div class="FeedCard-Attribution-box-left">
  <div class="FeedCard-Attribution-author-wrap" data-test-card-attribution>
    <div class="FeedCard-Attribution-author-left">
      {{#if hasLinkRouteName}}
        {{#link-to linkRouteName linkId}}
          {{avatar-image
            imageUrl=avatarUrl
            userName=author
            customSize=customSize
          }}
        {{/link-to}}
      {{else}}
        {{avatar-image
          imageUrl=avatarUrl
          userName=author
          customSize=customSize
        }}
      {{/if}}
    </div>
    <div class="FeedCard-Attribution-author-right">
      <div class="FeedCard-Attribution-author" data-test-detail-page-attribution>
        {{#if (and hasLinkRouteName linkToDetailIsActive)}}
          {{#link-to
            linkRouteName
            linkId
            data-test-link="organization-link"
          }}
            {{authorNameFormatted}}
          {{/link-to}}
        {{else}}
          {{authorNameFormatted}}
        {{/if}}
      </div>
    </div>
  </div>
</div>

{{#if (and showCenter (has-block))}}
  <div class="FeedCard-Attribution-box-center">
    {{yield}}
  </div>
{{/if}}


<div class="FeedCard-Attribution-box-right">
  {{#feed-card/conditional-link-to
    useLink=linkToDetailIsActive
    model=model
  }}
    {{#if (not hidePostedTime)}}
      <div class="FeedCard-Attribution-posted-time">
        {{#if postedTime}}
          Posted {{postedTime}}
        {{else if (not hidePostedTime)}}
          Not yet published
        {{/if}}
      </div>
    {{/if}}
    
    {{#if (not hideActivity)}}
      {{#if showViewCount}}
        {{fa-icon "eye" class="FeedCard-Attribution--indicator-icon views"}}
        <span class="FeedCard-Attribution--indicator-text margin-right">
          {{viewCountFormatted}}
        </span>
      {{/if}}

      {{#if showCommentCount}}
        {{fa-icon "comment-o" class="FeedCard-Attribution--indicator-icon comments"}}
        <span class="FeedCard-Attribution--indicator-text">
          {{commentCountFormatted}}
        </span>
      {{/if}}
    {{/if}}
  {{/feed-card/conditional-link-to}}

</div>
