<div class="FeedCard-Attribution-author-wrap">
  <div class="FeedCard-Attribution-author-left">
    {{#if hasLinkRouteName}}
      {{#link-to linkRouteName linkId}}
        {{avatar-image
          imageUrl=avatarUrl
          userName=author
          customSize=40
        }}
      {{/link-to}}
    {{else}}
      {{avatar-image
        imageUrl=avatarUrl
        userName=author
        customSize=40
      }}
    {{/if}}
  </div>
  <div class="FeedCard-Attribution-author-right">
    <div class="FeedCard-Attribution-author">
      {{#if hasLinkRouteName}}
        {{#link-to
          linkRouteName
          linkId
          data-test-link='organization-link'
        }}
          {{authorNameFormatted}}
        {{/link-to}}
      {{else}}
        {{authorNameFormatted}}
      {{/if}}
    </div>
    <div class="FeedCard-Attribution-posted-time">
      {{#if postedTime}}
        {{#unless isListserv}}
          Posted {{postedTime}}
        {{else}}
          Submitted {{postedTime}}
        {{/unless}}
      {{else}}
        Not yet published
      {{/if}}
    </div>
  </div>
</div>
