{{#modal-wrapper class="Modal--no-padding" close=(action "closeBSDDetailPage") showHeader=false}}
  <div class="DirectoryBusiness-backButton">
    {{#link-to "directory"}}
      {{fa-icon "arrow-left"}} Back To Search Results
    {{/link-to}}
  </div>

  {{#if model.featuredImage.url}}
    {{header-image imageUrl=model.featuredImage.url}}
  {{/if}}

  {{directory-business-info myCoords=myCoords model=model}}

  <div class="DetailPage-sectionWrapper">
    <div class="DetailPage-section DirectoryBusiness-buttonWrap">
      <h2 class="h2">Is this your business?</h2>
      <p class="text-center">
        {{#if model.canEdit}}
          <button class="DirectoryBusiness-directoryButton" {{action "toggleEditForm"}}>Edit Business</button>
        {{else}}
          <a href={{claimEmail}} class="DirectoryBusiness-directoryButton" data-test-claim-email>Claim it now</a>
        {{/if}}

        or

        <a href={{reportIncorrectInfoEmail}} class="DirectoryBusiness-reportButton">
          Report Info
        </a>
      </p>
    </div>
  </div>

  {{outreach-cta
    isButton=true
    placement="bottom-of-directory-detail"
    limitMessagesTo=2
    class="sit-center"
  }}
{{/modal-wrapper}}

{{#if editFormIsVisible}}
  {{business-profile-form
    model=model
    closeAction=(action "toggleEditForm")
  }}
{{/if}}
