<div class="DirectionsLink-mapMarker">
  {{fa-icon 'map-marker'}}
</div>
<div class="DirectionsLink-address">
  {{#if venueName}}
    <div>
      {{venueName}}
    </div>
  {{/if}}
  <div>
    {{addressLine1}},
  </div>
  <div>
    {{city}}, {{state}}
  </div>
</div>
