<div class="DirectionsLink-mapMarker">
  {{fa-icon 'map-marker'}}
</div>
<div class="DirectionsLink-address">
  {{#if venueName}}
    <div>
      {{venueName}}
    </div>
  {{/if}}
  <div>
    <span data-test-directions-address>{{addressLine1}}</span>,
  </div>
  <div data-test-directions-city-state>
    {{city}}, {{state}}
  </div>
</div>
