{{!-- NOTE: the component.js wraps this markup with div.mobileHeader --}}
<div class='MobileHeader-user'>
  {{#if session.isAuthenticated}}
    <div class='UserMenu'>
      <a href='#' class='UserMenu-avatar' role='button' {{action 'openUserMenu'}}>
        {{avatar-image
          imageUrl=session.currentUser.userImageUrl
          userName=session.currentUser.name
          customSize=26
          hasCaret=true
        }}
      </a>
    </div>
  {{else}}
    <button {{action 'signInModal'}} class='MobileHeader-signinAction'>
      Sign in/Join
    </button>
  {{/if}}
</div>

<div class='MobileHeader-brand'>
  <h1 class='h4 text-center'>
    {{#link-to 'index' (query-params page=1) data-test-link='header-link'}}
      <b>DailyUV</b> <span>
        {{#if (and session.isAuthenticated (or (eq currentChannel 'talk') (eq currentChannel 'index')))}}
          {{session.userLocation}}
        {{/if}}
      </span>
    {{/link-to}}
  </h1>
</div>

<div class='MobileHeader-search'>
  <div class='text-right'>
    <button {{action 'openSearch'}}  class='MobileHeader-search-button'>
      {{fa-icon 'search'}}
    </button>
  </div>
</div>
