<div class='MobileHeader-brand'>
  <h1 class='h4' data-test-brand>
    {{#link-to 'index' (query-params page=1) data-test-link='header-link'}}
      <img src='https://s3.amazonaws.com/subtext-misc/sierra-nevada/dailyuv-logo-sm.svg' title='DailyUV'>
    {{/link-to}}
  </h1>
</div>

<div class='MobileHeader-user'>
  {{#if showUserMenu}}
    <div class='UserMenu'>
      <a href='#' class='UserMenu-avatar' role='button' {{action 'openUserMenu'}}>
        {{avatar-image
          imageUrl=session.currentUser.userImageUrl
          userName=session.currentUser.name
          customSize=26
          hasCaret=true
        }}
      </a>
    </div>
  {{else}}
    <button {{action 'signInModal'}} class='MobileHeader-signinAction'>
      {{fa-icon 'user'}}
    </button>
  {{/if}}
</div>

<div class='MobileHeader-search'>
  <div class='text-right'>
    <button {{action 'openSearch'}}  class='MobileHeader-search-button'>
      {{fa-icon 'search'}}
    </button>
  </div>
</div>
