<header class="LocationMenu-header">
  <h2 class="LocationMenu-title">Choose your town</h2>
  {{#unless autoLocationNotAvailable}}
    {{#async-button
      action=(action 'locateMe')
      class='LocationMenu-locateButton'
      data-test-component='locate-me'
    as |component state|}}
      {{#if state.isPending}}
        {{fa-icon "spinner" spin=true}} Locating you...
      {{else}}
        {{fa-icon 'location-arrow'}} Locate me
      {{/if}}
    {{/async-button}}
  {{else}}
    Auto Location Not Available<br />
    Please choose from list below.
  {{/unless}}

</header>
{{#unless showAllLocations}}
  <ul class="LocationMenu-navigation">
    {{#each states as |stateName|}}
      <li class="{{if (eq selectedState stateName) 'active'}}">
        <a href="#" {{action 'chooseStateTab' stateName}}>
          {{state-acronym-to-name stateName}}
        </a>
      </li>
    {{/each}}
  </ul>
{{/unless}}

{{#responsive-list items=sortedLocations as |location|}}
  {{#link-to 'feed' (query-params location=location.name)
      data-test-link="choose-location"
      data-test-location=location.id
      class=(if (eq location.id currentLocation.id) 'LocationMenu-link active' 'LocationMenu-link')}}
    <span {{action 'chooseLocation' location bubbles=false}}
      data-test-click-target
      class="LocationMenu-link-location">
            {{location.name}}
      {{fa-icon 'location-arrow' class="LocationMenu-link-icon"}}
          </span>
  {{/link-to}}
{{/responsive-list}}
