{{#unless isDirectLink}}

  {{render-in-modal
      (component 'event-detail'
        model=model
        closeRoute='feed'
        closeLabel='Back'
        isPreview=false
        instanceRoute='feed.show-instance'
        enableStickyHeader=true
      )
      onClose=(action 'closeDetailPage')
      modalWrapper='modals/headless-wrapper'
  }}

{{else}}
  {{inviewport-reporter
    reportEnterViewport=true
    reportOnce=true
    callback=(action 'integratedDetailLoaded' model.id)
  }}

  <div class="Location-Index-Show-wrapper">
    {{component 'event-detail'
      model=model
      closeRoute='feed'
      closeLabel='Back'
      isPreview=false
      instanceRoute='feed.show-instance'
    }}
  </div>

  {{inviewport-reporter
    reportEnterViewport=true
    reportOnce=true
    callback=(action 'scrolledPastDetail' model.id)
  }}

{{/unless}}
