<div class='u-layoutPadB20 clearfix'>
  <h2>Repeat</h2>

  {{#form-group error=errors.dateError class='row'}}
    {{#form-group error=errors.startDateError class='col-xs-12 col-sm-6'}}
      <label class='ContentForm-label--required'>Starts on</label>
      {{modify-ember-pickaday
        firstDay=0
        value=startDate
        placeholder='Date'
        class='form-control'
        format="MM/DD/YYYY"
        yearRange="currentYear,2010"
      }}
    {{/form-group}}

    {{#form-group error=errors.stopDateError class='col-xs-12 col-sm-6'}}
      <label class='ContentForm-label--required'>Ends</label>
      {{modify-ember-pickaday
        firstDay=0
        value=stopDate
        placeholder='Date'
        class='form-control'
        format="MM/DD/YYYY"
        yearRange="currentYear,2010"
      }}
    {{/form-group}}
  {{/form-group}}

  <div class='form-group'>
    <label class='ContentForm-label--required'>Repeats</label>

    <div class='form-group'>
      <select onchange={{action 'selectRepeatType' value="target.value"}} class='form-control'>
        {{#each repeatTypes as |repeatChoice|}}
          <option value={{repeatChoice.value}} selected={{eq repeats repeatChoice.value}}>{{repeatChoice.key}}</option>
        {{/each}}
      </select>
    </div>

    {{#if weeklyOrBiWeekly}}
      {{#form-group error=errors.daysError}}
        <label class='ContentForm-label--required'>On</label><br />
        {{#each days as |day|}}
          <label class="checkbox-inline">
            {{input
              type='checkbox'
              checked=day.isChecked
              change=(action 'updateAndNotifyCheckedDaysDidChange' day)
            }}
            {{day.key}}
          </label>
        {{/each}}
      {{/form-group}}

    {{else if (eq repeats 'daily')}}
      <p>Repeats every day.</p>

    {{else if (eq repeats 'monthly')}}
      {{textSummary}}
    {{/if}}
  </div>

  {{#form-group error=errors.timeError class='row'}}
    {{#form-group error=errors.startTimeError class='col-xs-12 col-sm-6'}}
      <label class='ContentForm-label--required'>Start Time</label>
      {{input-mask
        mask='h:s t'
        placeholder='12:00 am'
        value=startTime
        class='form-control'
      }}
    {{/form-group}}

    {{#form-group error=errors.stopTimeError class='col-xs-12 col-sm-6'}}
      <label>End Time</label>
      {{input-mask
        mask='h:s t'
        placeholder='12:00 am'
        value=stopTime
        class='form-control'
      }}
    {{/form-group}}
  {{/form-group}}

  <div class='form-group'>
    <div class='row'>
      <div class='col-xs-6'>
        <label>Subtitle</label>
        {{input
          placeholder="Subtitle ex: 10th Annual"
          class='form-control'
          value=subtitle
        }}
      </div>
      <div class='col-xs-6'>
        <label>Presenter/Instructor</label>
        {{input
          placeholder="Presenter / Instructor"
          class='form-control'
          value=presenterName
        }}
      </div>
    </div>
  </div>

  {{!-- TODO optional information --}}
  <button class="Button Button--primary pull-right" {{action 'save'}}>Done</button>
  <button class="Button ContentForm-discardButton Button--default pull-right" {{action 'cancel'}}>Cancel</button>
</div>
