
{{#if model.imageUrl}}
  <div class='Container--noGutter'>
    <div class='row'>
      <div class='col-md-4 hidden-xs'>
        {{background-image imageUrl=model.imageUrl class='PhotoBanner-thumbnail'}}
      </div>
    </div>
  </div>
{{/if}}

<div class='PhotoBanner {{if model.imageUrl 'PhotoBanner--padded'}}'>
  {{background-image imageUrl=model.imageUrl class='PhotoBanner-curtainImage'}}
  <div class='PhotoBanner-curtain'></div>
  <div class='PhotoBanner-content container'>
    <div class='row'>
      <div class='col-sm-8 {{if model.imageUrl 'col-sm-offset-4' 'col-sm-offset-2'}}'>
        <h1 class='PhotoBanner-title'>{{model.title}}</h1>
        <div class='row PhotoBanner-info'>
          <div class='col-sm-6'>
            {{talk-info talk=model}}
          </div>

          <div class='col-sm-4'>
            <div class="StatCircle">
              <div class="StatCircle-number">
                {{model.userCount}}
              </div>
              <div class="StatCircle-text">
                people
              </div>
            </div>
            <div class="StatCircle">
              <div class="StatCircle-number">
                {{model.pageviewsCount}}
              </div>
              <div class="StatCircle-text">
                views
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='Container--noGutter'>
  <div class='row'>
    <div class='col-sm-2'>
      {{back-button routeName='talk'}}
    </div>

    <div class='col-sm-8'>
      <div>{{model.content}}</div>

      {{partial 'partials/related-promotion'}}
    </div>

    <div class='col-sm-2'>
      {{social-share}}
    </div>
  </div>

  <h1 class='SectionHeader SectionHeader--paddedTop'>
    <span class='SectionHeader-text'>
      The Conversation
    </span>
  </h1>
  <div class='row'>
    {{content-comments
        contentTitle=model.title
        contentId=model.contentId
        commentingDisabled=model.isNew
      }}
  </div>
</div>
