
{{#if model.imageUrl}}
  <div class='Container--noGutter'>
    <div class='row'>
      <div class='col-md-4 hidden-xs hidden-sm'>
        {{background-image imageUrl=model.imageUrl class='PhotoBanner-thumbnail'}}
      </div>
    </div>
  </div>
{{/if}}

<div class='PhotoBanner {{if model.imageUrl 'PhotoBanner--padded'}}'>
  {{background-image imageUrl=model.imageUrl class='PhotoBanner-curtainImage'}}
  <div class='PhotoBanner-curtain'></div>
  <div class='PhotoBanner-content container'>
    <div class='row hidden-sm hidden-xs'>
      <div class='col-sm-8 {{if model.imageUrl 'col-sm-offset-4' 'col-sm-offset-2'}}'>
        <h1 class='PhotoBanner-title'>{{model.title}}</h1>
        <div class='row PhotoBanner-info'>
          <div class='col-sm-6'>
            {{talk-info talk=model}}
          </div>

          <div class='col-sm-4'>
            <div class="StatCircle">
              <div class="StatCircle-number">
                {{model.commenterCount}}
              </div>
              <div class="StatCircle-text">
                people
              </div>
            </div>
            <div class="StatCircle">
              <div class="StatCircle-number">
                {{model.viewCount}}
              </div>
              <div class="StatCircle-text">
                views
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class='visible-xs visible-sm'>
      <h1 class='PhotoBanner-title'>{{model.title}}</h1>
      <div class='PhotoBanner-info'>
        <div class="StatCircle">
          <div class="StatCircle-number">
            {{model.commenterCount}}
          </div>
          <div class="StatCircle-text">
            people
          </div>
        </div>
        <div class="StatCircle">
          <div class="StatCircle-number">
            {{model.viewCount}}
          </div>
          <div class="StatCircle-text">
            views
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div class='Container--noGutter ContentBody'>
  <div class='row'>
    <div class='col-md-2 hidden-sm hidden-xs'>
      {{#unless isPreview}}
        {{back-button routeName='talk'}}
      {{/unless}}
    </div>

    <div class='col-sm-9 col-md-8'>

      <div class='visible-xs visible-sm'>
        {{talk-info talk=model}}
      </div>
      <div class='ContentText'>{{{model.content}}}</div>

      {{#unless isPreview}}
        {{partial 'partials/related-promotion'}}
      {{/unless}}
    </div>

    <div class='col-sm-3 col-md-2 u-layoutMobilePadding0'>
      {{social-share}}

      {{report-content-details contentId=model.contentId}}
    </div>
  </div>

  <h1 class='SectionHeader SectionHeader--paddedTop'>
    <span class='SectionHeader-text'>
      Talk
    </span>
  </h1>
  <div class='row'>
    {{content-comments
      comments=comments
      scrollTo=scrollTo
      contentTitle=model.title
      contentId=model.contentId
      commentingDisabled=model.isNew
    }}
  </div>

  {{#unless isPreview}}
    {{similar-content
      contentId=model.contentId
      limit=4
    }}
  {{/unless}}
</div>
