{{#content-body classNames="u-padding8"}}
  <div class="DetailPage-OrgFooter">
    <div class="DetailPage-OrgFooter-left">
      {{#link-to "profile" organization.id}}
        {{avatar-image
          imageUrl=organization.profileImageUrl
          userName=organization.name
          customSize=70
          class="DetailPage-OrgFooter-avatar"
        }}
      {{/link-to}}

      {{subscribe-button organization=organization}}
    </div>
    <div class="DetailPage-OrgFooter-right">
      <div class="DetailPage-OrgFooter-copy-name">
        {{#link-to "profile" organization.id}}
          {{organization.name}}
        {{/link-to}}
      </div>
      <div class="DetailPage-OrgFooter-location-bar">
      {{#if showLocation}}
        {{organization.city}}, {{organization.state}} {{if showSubscribers " - "}}
      {{/if}}
      {{#if showSubscribers}}
        {{formatted-count subscriberCount}} Subscribers
      {{/if}}
    </div>
      <div class="DetailPage-OrgFooter-copy-description">
        {{organizationDescription}}
      </div>
    </div>
  </div>
{{/content-body}}
