{{business-feedback-badge result=model}}

<button class="DirectoryBusiness-feedback-button" {{action 'toggleDisplay'}}>
  {{if hasRated 'Rerate' 'Rate'}} Business
</button>

{{#liquid-if isOpen class='disclose'}}
  <div class="DirectoryFeedback-wrapper">
    <div {{action 'toggleDisplay'}}>
      {{fa-icon 'times DirectoryFeedback-close'}}
    </div>

    {{#unless isSignedIn}}
      <h2 class="DirectoryFeedback-title h2">You must be a registered dailyUV.com user to rate a business in the Directory</h2>

      <div class="DirectoryFeedback-questionsTitle">
        <p class='h3'>In order to keep the ratings fair, you must be signed in.</p>
        <p class='h3'>{{#link-to "login" target="_blank"}}Please click here to sign in.{{/link-to}}</p>
      </div>
    {{else}}
      {{#if hasRated}}
        <div class="DirectoryFeedback-questionsTitle">
          <p class='h3'>You've already rated {{model.name}}</p>
          <p>You may only rate a business once. If you’d like to change your rating, please click below:</p>
        </div>
      {{/if}}

      <div class="DirectoryFeedback-box">
        <h2 class="DirectoryFeedback-title">Would you recommend {{model.name}} to a friend?</h2>
        <div class="DirectoryFeedback-questionButton no {{buttonProperties.no}}" {{action 'checkAnswer' false}}>
          <span>No</span>
        </div>

        <div class="DirectoryFeedback-questionButton yes {{buttonProperties.yes}}" {{action 'checkAnswer' true}}>
          <span>Yes</span>
        </div>

        <p>Your rating is important to the community.</p>

        {{#liquid-if hasChosen class='disclose'}}
          <div class='DirectoryFeedback-box--secondPart'>
            <div class="DirectoryFeedback-questionsTitle">
              <p class='h3'>You are signed in as <b>{{user.name}}</b></p>
              <p class='h3'>Just click below to submit your rating.</p>
            </div>

            <button {{action 'submitFeedback'}} class="DirectoryFeedback-submitButton btn btn-default">Leave Verified Rating</button>

            <div class="DirectoryFeedback-questionsFooter">
              <p class='text-center'>Ratings are always anonymous.<br />
                 We promise not to share your rating information with anyone else.<br />
                 Your verified rating will be recorded and will be reflected shortly after submittal.
              </p>
            </div>
          </div>
        {{/liquid-if}}
      </div>
    {{/unless}}
  </div>
{{/liquid-if}}
