<div class="FeedCard-OptionsMenu--button" data-toggle="dropdown" role="button" {{action "onClickOpenMenu"}}>
  {{fa-icon "ellipsis-v" class="FeedCard-OptionsMenu--button-icon"}}
</div>
<div class="FeedCard-OptionsMenu--dropdown dropdown-menu dropdown-menu-right">
  {{#if organizationOwnsContent}}
    <choice class="FeedCard-OptionsMenu--dropdown-option" role="button" {{action "onClickHideOrg"}}>
      {{#hide-organization-button
        contentId=model.contentId
        organization=model.organization
        additionToMessage="this Contributor"
        afterHide=(action "afterHideOrg")
        class="FeedCard-OptionsMenu--flag"
      }}
        <div class="FeedCard-OptionsMenu--flag-text">
          Hide all posts from {{model.organizationName}}
        </div>
      {{/hide-organization-button}}
    </choice>
  {{/if}}

  <choice class="FeedCard-OptionsMenu--dropdown-option" role="button" {{action "onClickHideLocation"}}>
    {{#hide-location-button
      contentId=model.contentId
      location=model.location
      afterHide=(action "afterHideLocation")
      class="FeedCard-OptionsMenu--flag hide-location"
    }}
      <div class="FeedCard-OptionsMenu--flag-text">
        Hide all posts located in {{model.location.name}} by any contributor
      </div>
    {{/hide-location-button}}
  </choice>

  <choice class="FeedCard-OptionsMenu--dropdown-option" role="button" {{action "onClickReportAbuse"}}>
    {{report-content-details
      contentId=model.contentId
      message="Report this Post"
      class="FeedCard-OptionsMenu--flag"
    }}
    <div class="FeedCard-OptionsMenu--flag-text">
      Report this post for being offensive, a personal attack, or spam.
    </div>
  </choice>
</div>
