{{#sticky-container position="biz-feed/header" as |sticky|}}

  <header class='BizFeed-Header-header {{if hasBackgroundImage 'hasBackgroundImage'}}' style={{headerStyle}}>
    <div class="BizFeed-Header-header-container">
      <div class="BizFeed-Header-header-content">

        {{#if isOrganizationManager}}
          <div data-test-biz-feed-header-edit-button class="BizFeed-Header-edit-button" {{action 'toggleBackgroundEditor'}}>
            {{fa-icon 'pencil'}} Edit Background
          </div>

          {{#if editBackgroundIsVisible}}
            {{#modal-wrapper close=(action 'toggleBackgroundEditor')}}
              {{content-form-image
                image=organization.backgroundImage
                originalImageUrl=(readonly organization.backgroundImageUrl)
              }}
              <div class="BizFeed-Header-image-editor-buttons">
                <div class="BizFeed-Header-save-button" {{action 'saveBackgroundImage'}}>
                  Save
                </div>
                <div class="BizFeed-Header-cancel-button" {{action 'resetOrganizationProfile''toggleBackgroundEditor'}}>
                  Cancel
                </div>
              </div>
            {{/modal-wrapper}}

          {{/if}}
        {{/if}}

        <div class="BizFeed-Header-logo-wrap">
          {{#if avatarUrl}}
            <img src={{optimized-image-url avatarUrl 150 150 true}}>
          {{/if}}

          {{#if isOrganizationManager}}
            <div data-test-biz-feed-header-edit-button class="BizFeed-Header-edit-button" {{action 'toggleLogoEditor'}}>
              {{fa-icon 'pencil'}} Edit Logo
            </div>

            {{#if editLogoIsVisible}}
              {{#modal-wrapper close=(action 'toggleLogoEditor')}}
                {{content-form-image
                  image=organization.logo
                  originalImageUrl=(readonly organization.logoUrl)
                }}

                <div class="BizFeed-Header-image-editor-buttons">
                  <div class="BizFeed-Header-save-button" {{action 'saveLogo'}}>
                    Save
                  </div>
                  <div class="BizFeed-Header-cancel-button" {{action 'resetOrganizationProfile' 'toggleLogoEditor'}}>
                    Cancel
                  </div>
                </div>
              {{/modal-wrapper}}

            {{/if}}
          {{/if}}
        </div>

        <div class="BizFeed-Header-info-wrap">
          <div class="BizFeed-Header-organization-info BizFeed-Header-name">
            {{organization.name}}
          </div>
          <div class="BizFeed-Header-organization-info BizFeed-Header-address">
            {{#if business.hasAddress}}
              {{business.fullAddress}}
            {{/if}}
          </div>
        </div>
      </div>
    </div>

    {{#sticky.item}}
      <div class="BizFeed-Header-icon-bar">
        <div class="BizFeed-Header-icon-bar-item BizFeed-Header-organization-name">
          {{avatar-image
            imageUrl=avatarUrl
            userName=organization.name
            customSize=30
          }}
          {{organization.name}}
        </div>

        <div class="BizFeed-Header-icon-bar-item">
          {{#if business.phone}}
            {{render-phone phone=business.phone}}
          {{/if}}
        </div>

        <div class="BizFeed-Header-icon-bar-item">
          {{#if business.email}}
            <div><a href="{{business.emailLink}}" target="_blank">{{fa-icon 'fa-envelope'}} Email</a></div>
          {{/if}}
        </div>

        <div class="BizFeed-Header-icon-bar-item">
          {{#if business.hasAddress}}
            <a href="{{business.directionsLink}}" target="_blank">{{fa-icon 'fa-map-marker'}} Directions</a>
          {{/if}}
        </div>

        {{#if hasCustomLinks}}
          {{#each organization.customLinks as |customLink|}}
            <div class="BizFeed-Header-icon-bar-item">
              {{#if customLink.eventInstanceId}}
                {{#link-to 'biz.show.detail' customLink.eventInstanceId (query-params ctype=customLink.contentType)}}
                  {{fa-icon 'link'}} {{customLink.title}}
                {{/link-to}}
              {{else}}
                {{#link-to 'biz.show.detail' customLink.contentId (query-params ctype=customLink.contentType)}}
                  {{fa-icon 'link'}} {{customLink.title}}
                {{/link-to}}
              {{/if}}
            </div>
          {{/each}}
        {{/if}}

      </div>
    {{/sticky.item}}
  </header>
{{/sticky-container}}

<div class="BizFeed-Header-about-wrap {{if hasCustomLinks 'has-custom-links'}}">

  {{#if isOrganizationManager}}
    <div class="BizFeed-Header-edit-button" {{action 'toggleEditForm'}}>
      {{fa-icon 'pencil'}} Edit Details
    </div>

    {{#if editFormIsVisible}}
      {{biz-feed/about-form
        business=business
        close=(action 'toggleEditForm')
        save=(action 'saveBusinessProfile' 'toggleEditForm')
        cancel=(action 'resetBusinessProfile' 'toggleEditForm')
      }}

    {{/if}}
  {{/if}}

  {{#if (or hasDetails isOrganizationManager)}}
    <div class="BizFeed-Header-details BizFeed-Header-item BizFeed-Header-left">
      <div class="BizFeed-Headerdetails-title BizFeed-Header-header-title">
        About {{organization.name}}
      </div>
      {{businessDetails}}
    </div>
  {{/if}}

  {{#if hasHours}}
    <div class="BizFeed-Header-hours BizFeed-Header-item">
      <div class='BizFeed-Header-hours-title BizFeed-Header-header-title'>
        Open hours
      </div>

      <div class="BizFeed-Header-hours-list">
        {{#each (business-hours business.hours) as |hour|}}
          <div class="BizFeed-Header-hours-line">
            <strong>{{hour.days}}:</strong><br />
            {{hour.open}} - {{hour.close}}
          </div>
        {{/each}}
      </div>
    </div>
  {{/if}}

</div>
