<div class="DirectoryFeedbackGauge-wrap" style={{boxStyle}}>

    <div class="DirectoryFeedbackGauge-center">
      <h2 style={{scoreStyle}}>{{percent}}<span>%</span></h2>
    </div>
    <div class="DirectoryFeedbackGauge-cover-atop {{coverAtopClass}}" style={{coverStyleAtop}}></div>
    <div class="DirectoryFeedbackGauge-fill-top" style={{gaugeStyleTop}}></div>
    <div class="DirectoryFeedbackGauge-fill-bottom" style={{gaugeStyleBottom}}></div>
    <div class="DirectoryFeedbackGauge-cover-under"></div>

</div>
