{{#if (and (not session.isAuthenticated) showSignInPrompt)}}
  <div class="CommentList-signInPrompt">
    <p class="text-center">
      Please <a href="#" {{action "postComment"}} class="u-textUnderline">Log in</a> to post your comment.
    </p>
  </div>
{{/if}}

{{#if session.isAuthenticated}}
  {{avatar-image
    imageUrl=(if session.currentUser.avatarImageUrl session.currentUser.avatarImageUrl)
    userName=(if session.currentUser.name session.currentUser.name)
    customSize=40
    class="CommentSection-avatar pull-left"
  }}
{{else}}
  <button
  {{action "showSignInMenu" bubbles=false}}
  class="CommentSection-anonymousAvatar btn-link pull-left"
  data-test-link=""
  >
    {{fa-icon "user" size=2}}
  </button>
{{/if}}

<div class="CommentSection-replyBox-wrapper" style={{textareaStyle}}>
  {{textarea
    value=newComment
    placeholder="Your comment here..."
    class="CommentSection-replyBox"
    maxlength=maxCommentLength
    data-test-field="new-comment"
    focusIn=(action "onFocusIn")
    focusOut=(action "onFocusOut")
    keyUp=(action "commentChanging")
    keyDown=(action "checkKeys")
  }}

  {{#if isSavingComment}}
    <button
    disabled
    class="CommentSection-replyButton CommentSection-replyButton--disabled Button btn btn-default pull-right"
    >
      {{fa-icon "spinner" spin=true}}
    </button>
  {{else}}
    {{#if submitDisabled}}
      <button
      disabled
      class="CommentSection-replyButton CommentSection-replyButton--disabled Button btn btn-default pull-right"
      {{action "trackSubmitClick" true}}
      >
      <span>
        {{fa-icon "arrow-circle-right" size=1}}
      </span>
      </button>
    {{else}}
      <button
      class="CommentSection-replyButton Button btn btn-default pull-right u-link"
      data-test-component="add-comment-button"
      {{action "postComment" callback}}
      >
        <span>
          {{fa-icon "arrow-circle-right" size=1}}
        </span>
      </button>
    {{/if}}
  {{/if}}

</div>
{{#if commentInFocus}}
  <div class="CommentSection-new-comment-length">
    {{newCommentLength}}/{{maxCommentLength}} Max
  </div>
{{/if}}
