{{#if (and modal isCurrentStep)}}
  {{#modal-wrapper
    isAnimated=false
    class=modalClass
    modalDialogStyle=modalDialogStyle
    style=modalStyle
    maintainBodyClass=true
    preserveModal=preserveModal
  }}
    {{#if yieldBeforeAvatar}}
      <div class="BloggerIntro-Step-main">
        {{yield isCurrentStep}}
      </div>
    {{/if}}

    {{#if avatarUrl}}
      <div class="BloggerIntro-Step-avatar">
        <img src={{avatarUrl}} alt="Avatar">
      </div>
    {{/if}}

    {{#if title}}
      <div class="BloggerIntro-Step-title">
        {{title}}
      </div>
    {{/if}}

    {{#if subtitle}}
      <div class="BloggerIntro-Step-subtitle">
        {{subtitle}}
      </div>
    {{/if}}

    {{#unless hideYieldAfterAvatar}}
      <div class="BloggerIntro-Step-main">
        {{yield isCurrentStep}}
      </div>
    {{/unless}}

    {{#unless hideNavigation}}
      <div class="BloggerIntro-Step-nav">
        {{#if nextButton}}
          {{#x-button onClick=(action "skipToNextStep") color="primary" disabled=nextButtonDisabled size=(if isMobile "x-small")}}
            {{nextButton}}
          {{/x-button}}
        {{/if}}

        {{#if actionButtonAction}}
          {{#x-button onClick=(action "actionButtonClick") color="attention" disabled=actionButtonDisabled size=(if isMobile "x-small")}}
            {{actionButton}}
          {{/x-button}}
        {{/if}}

        {{#if confirmButton}}
          {{#x-button onClick=(action "confirmToNextStep") color="primary" disabled=confirmButtonDisabled size=(if isMobile "x-small")}}
            {{#if confirmButtonIsLoading}}
              Checking {{fa-icon "cog" spin=true}}
            {{else}}
              {{confirmButton}}
            {{/if}}
          {{/x-button}}
        {{/if}}
      </div>

      <div class="BloggerIntro-Step-bullets">
        {{blogger-intro/bullets totalSteps=totalSteps currentStep=currentStep}}
      </div>
    {{/unless}}

    {{#unless hideHelpButton}}
      <div class="BloggerIntro-Step-help-bar">
        {{#help-text
          smallIcon=true
        }}
          Need help?
        {{/help-text}}
      </div>
    {{/unless}}

  {{/modal-wrapper}}
{{/if}}

{{#if (or replaceTooltip (not modal))}}
  {{yield isCurrentStep}}
{{/if}}
