{{#x-card noShadow=flattenCard noMargin=flattenCard}}
  <div class="OrganizationContactCard-content {{if showTopBorder "border-top"}}">
    {{#if organization.phone}}
      <div class="OrganizationContactCard-item">
        {{render-phone phone=organization.phone hideLabel=hideLabels}}
      </div>
    {{/if}}

    {{#if organization.email}}
      <div class="OrganizationContactCard-item">
        <a
        href={{organization.emailLink}}
        target="_blank"
        rel="noopener noreferrer"
        title="Email"
        >
          {{fa-icon "envelope"}}
          {{#unless hideLabels}}
            Email
            {{#if showLongEmailText}}
              {{organization.name}}
            {{/if}}
          {{/unless}}
        </a>
      </div>
    {{/if}}

    {{#if organization.address}}
      <div class="OrganizationContactCard-item">
        <a
        href={{organization.directionsLink}}
        target="_blank"
        rel="noopener noreferrer"
        title="Directions"
        >
          {{fa-icon "map-marker"}} {{#unless hideLabels}}Directions{{/unless}}
        </a>
      </div>
    {{/if}}

    {{#if organization.website}}
      <div class="OrganizationContactCard-item">
        <a
        href={{organization.websiteLink}}
        target="_blank"
        rel="noopener noreferrer"
        title="Website"
        >
          {{fa-icon "link"}} {{#unless hideLabels}}Website{{/unless}}
        </a>
      </div>
    {{/if}}
  </div>
{{/x-card}}
