{{#listserv-talk-form changeset=changeset as |form model|}}
  <fieldset>
    <legend>Post Details.</legend>

    {{#form-group label="Title"
      errors=model.error.title.validation
      required=true
    }}

    {{#inline-edit-with-rollback
          value=model.title
          display=model.title
          data-test-component="talk-title"
          hasError=model.error.title
          rollback=(action (mut model.title))
          as |ie|
      }}
        {{form.title-input}}
        <button class='InlineEdit-button'
          {{action (action ie.exitEditMode)}}
        >
          Ok
        </button>
        <button class='InlineEdit-button'
          {{action (action ie.rollback)}}
        >
          Cancel
        </button>
      {{/inline-edit-with-rollback}}

    {{/form-group}}

    {{#form-group label="Description"
      errors=model.error.content.validation
      required=true
    }}

    {{#inline-edit-with-rollback
        value=model.content
        display=model.content
        data-test-component='talk-content'
        hasError=model.error.content.validation
        rollback=(action (mut model.content))
        as |ie|}}
        {{form.content-input}}
        <button class='InlineEdit-button'
          {{action (action ie.exitEditMode)}}
        >
          Ok
        </button>
        <button class='InlineEdit-button'
          {{action (action ie.rollback)}}
        >
          Cancel
        </button>
      {{/inline-edit-with-rollback}}

    {{/form-group}}

    <fieldset class='ListservForm-enhancementFields'>
      <legend>
        Enhancements
        <small>(These will appear only on DailyUV.)</small>
      </legend>

      {{#form-group
        label="Image"
        errors=model.error.image.validation
      }}
        {{image-upload-tile model=model}}
      {{/form-group}}
    </fieldset>
  </fieldset>
{{/listserv-talk-form}}
