{{#listserv-talk-form changeset=changeset as |form|}}
  <fieldset>
    <legend>Post Details.</legend>

    {{#form-group label="Title"
      errors=changeset.error.title.validation
      required=true
    }}

    {{#inline-edit-with-rollback
          value=changeset.title
          display=changeset.title
          data-test-component="talk-title"
          hasError=changeset.error.title
          rollback=(action (mut changeset.title))
          as |ie|}}
        {{form.title-input}}
        <div class='InlineEdit-editActions'>
          {{ie.okButton}}
          {{ie.cancelButton}}
        </div>
      {{/inline-edit-with-rollback}}

    {{/form-group}}

    {{#form-group label="Body"
      errors=changeset.error.content.validation
      required=true
    }}

    {{#inline-edit-with-rollback
        value=changeset.content
        display=changeset.content
        data-test-component='talk-content'
        hasError=changeset.error.content.validation
        rollback=(action (mut changeset.content))
        as |ie|}}
      {{form.content-input}}
      <div class='InlineEdit-editActions'>
        {{ie.okButton}}
        {{ie.cancelButton}}
      </div>
    {{/inline-edit-with-rollback}}

    {{/form-group}}

    <fieldset class='ListservForm-enhancementFields'>
      <legend>
        Enhancements
        <small>(These will appear only on DailyUV.)</small>
      </legend>

      {{#form-group
        label="Image"
        errors=changeset.error.image.validation
      }}
        {{image-upload-tile changeset=changeset}}
      {{/form-group}}
    </fieldset>
  </fieldset>
{{/listserv-talk-form}}
