<div class="Feed-LocationCard--top">
  {{#if showCasterCard}}
    <div class="Feed-LocationCard--image" style={{casterBackgroundImageStyle}}></div>
  {{else}}
    {{#if showImage}}
      <div class="Feed-LocationCard--image" style={{imageStyle}}></div>
    {{else if hasCoordinates}}
      {{google-map
        centerLocation=userLocation
        class="Feed-LocationCard--map"
      }}
    {{else if showDefaultImage}}
      <div class="Feed-LocationCard--image default"></div>
    {{/if}}
  {{/if}}

  <div class="Feed-LocationCard--overlay"></div>

  {{#if streamlined}}
    <div class="Feed-LocationCard--streamline">
      <p>
        HereCast just arrived in {{yourTown}} and we're finding our way around.
      </p>
      <p>
        Would you like to be a pioneer and help get things started?
      </p>
    </div>
  {{else if showChangeLocation}}
    <div class="Feed-LocationCard--user-location">
      <div
        class="Feed-LocationCard--user-location-button"
        {{action "toggleChangeLocation"}}
        role="button"
        data-test-button="location-card-change-location"
      >
        {{fa-icon "map-marker"}} Change Location
      </div>
    </div>
  {{/if}}

  {{#unless hideChangeLocation}}
    <div class="Feed-LocationCard--loading-wrap {{if showLoadingAnimation "on" "off"}}">
      {{location-load-animation loadingLocationName=loadingLocationName}}
    </div>
  {{/unless}}

</div>

{{#if showFeedChooser}}
  {{feed/source-chooser}}
{{/if}}

{{#if showBotttomBar}}
  <div class="Feed-LocationCard--bottom">
    {{#if isNotFastBoot}}
      {{#if showSearch}}
        {{search-input
          noBorder=true
          size="large"
          color="black"
          value=(readonly searchService.query)
          update=(action "updateSearchQuery")
          clearSearchType=(action "clearSearch")
          clearButtonText="Clear"
          isLoading=searchService.isLoading
          class="Feed-LocationCard--bottom-left"
          data-test-component="search-input-location-card"
        }}
      {{/if}}
      {{#if showChooser}}
        <div class="Feed-LocationCard--bottom-right">
          {{feed/card-size-chooser}}
        </div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}

{{#if wantsToChangeLocation}}
  {{user-location/chooser
    onClose=(action "toggleChangeLocation")
  }}
{{/if}}
