{{#modal-wrapper class='UserMenuModal' showHeader=false close=(action 'close') isSmall=true}}

  {{#modal-header close=(action 'close')}}
    {{avatar-image
      imageUrl=currentUser.userImageUrl
      userName=currentUser.name
      customSize=26
    }}
    <span class="UserMenuModal-name">
      {{currentUser.name}}
    </span>
  {{/modal-header}}

  <nav class="UserMenuModal-topNav">
    <div class="UserMenuModal-topNav-item">
      {{#link-to 'account'}}
        {{fa-icon 'user'}} My Account
      {{/link-to}}
    </div>
    <div class="UserMenuModal-topNav-item">
      <button class='UserMenuModal-signOut' {{action 'signOut'}}>
        {{fa-icon 'sign-out'}} Sign Out
      </button>
    </div>
  </nav>

  <div class='UserMenuModal-main'>
    {{user-menu-identity-switcher
    user=currentUser
    organizations=currentUser.managedOrganizations
    openDashboard=(action 'openDashboard')
    }}
  </div>
{{/modal-wrapper}}
