{{#form-group}}
  <img class='img-responsive js-Cropper-image'>
  <div class="ImageCropper-buttonContainer">
    <div class="pull-left">
      <button class="Button Button--icon" {{action 'rotateImage' 'left'}} title="Rotate image left">{{fa-icon 'rotate-left'}}</button>
      <button class="Button Button--icon" {{action 'rotateImage' 'right'}} title="Rotate image right">{{fa-icon 'rotate-right'}}</button>
      <span>Rotate Image</span>
    </div>
    <div class="pull-right">
      <button class='ImageCropper-cancelButton' {{action 'cancel'}}>Cancel</button>
    </div>
  </div>
{{/form-group}}
