<div class="SiteNav-Menu--close" {{action "closeMenu"}} role="button">
  {{fa-icon "times"}}
</div>

{{site-nav/user-menu
  afterChoose=(action "closeMenu")
}}

<div class="SiteNav-Menu--line-break"></div>

<div class="SiteNav-Menu--user-location">
  {{user-location}}
  {{user-location/cta-button
    isWhiteButton=true
    click=(action "closeMenu")
  }}
</div>

<div class="SiteNav-Menu--line-break"></div>

{{#link-to "feed" class="SiteNav-Menu--link-button" click=(action "closeMenu")}}
  <div>
    {{#if isLoggedIn}}
      {{fa-icon "map-marker"}} <span>{{userLocationName}} Feed</span>
    {{else}}
      {{fa-icon "map-marker"}} <span>Location Feed</span>
    {{/if}}
  </div>
{{/link-to}}

{{#link-to "myfeed" class="SiteNav-Menu--link-button" click=(action "closeMenu")}}
  <div>
    {{fa-icon "users"}} <span>Just For You Feed</span>
  </div>
{{/link-to}}

{{#if isLoggedIn}}
  {{#link-to "caster" currentUser.casterPageLinkId class="SiteNav-Menu--link-button" click=(action "closeMenu")}}
    <div>
      {{fa-icon "user"}} <span>Your Caster Page</span>
    </div>
  {{/link-to}}

  {{#link-to "settings" class="SiteNav-Menu--link-button" click=(action "closeMenu")}}
    <div>
      {{fa-icon "gear"}} <span>Settings</span>
    </div>
  {{/link-to}}
{{/if}}

<div class="SiteNav-Menu--line-break"></div>
<div class="SiteNav--section-title padded">
  Links
</div>

<div class="SiteNav-Menu--routes">
  <div>
    <a href="https://about.herecast.us" {{action "closeMenu" preventDefault=false}}>
      About HereCast
    </a>
  </div>

  <div>
    {{#link-to "terms" click=(action "closeMenu")}}
      Terms of Service
    {{/link-to}}
  </div>

  <div>
    {{#link-to "privacy" click=(action "closeMenu")}}
      Privacy
    {{/link-to}}
  </div>

  <div>
    {{#link-to "copyright-agent" click=(action "closeMenu")}}
      Legal
    {{/link-to}}
  </div>

  <div>
    {{#link-to "copyright" click=(action "closeMenu")}}
      Copyright
    {{/link-to}}
  </div>

  <div>
    <a href="mailto:ads@HereCast.us" {{action "closeMenu" preventDefault=false}}>
      Advertise With Us
    </a>
  </div>

  <div>
    {{help-text isWhite=true}}
  </div>
</div>

<div class="SiteNav-Menu--line-break"></div>

{{#if isLoggedIn}}
  <div class="SiteNav-Menu--logout">
    {{#if wantsToSignOut}}
      <div>
        Are you sure?
      </div>
      {{#x-button
         onClick=(action "signOut")
         color="primary"
         size="x-small"
         data-test-logout-yes=true
       }}
        Yes
       {{/x-button}}
       {{#x-button
          onClick=(action "toggleWantsToSignOut")
          color="light-gray"
          size="x-small"
          data-test-logout-no=true
        }}
          No
        {{/x-button}}
    {{else}}
      <div {{action "toggleWantsToSignOut"}} role="button" data-test-link="logout-link">
        Logout
      </div>
    {{/if}}
  </div>
{{/if}}
