<div class="SiteNav-Menu--close" {{action "closeMenu"}} role="button">
  {{fa-icon "times"}}
</div>

{{site-nav/user-menu
  afterChoose=(action "closeMenu")
}}

{{#unless isLoggedIn}}
  <div class="SiteNav-Menu--line-break"></div>
  <div class="SiteNav--section-title padded">
    What is HereCast?
  </div>
  <div class="SiteNav--section-text">
    <p>
      HereCast is your place to share and discover what's happening in your community.
    </p>
    <p>
      Have something you'd like to share? Use the orange "+" button to get started.
    </p>
  </div>
{{/unless}}

<div class="SiteNav-Menu--line-break"></div>
<div class="SiteNav--section-title padded">
  Links
</div>

<div class="SiteNav-Menu--routes">
  <div {{action "onLinkClick"}} role="button">
    {{#link-to "terms"}}
      Terms of Service
    {{/link-to}}
  </div>

  <div {{action "onLinkClick"}} role="button">
    {{#link-to "privacy"}}
    Privacy
    {{/link-to}}
  </div>

  <div {{action "onLinkClick"}} role="button">
    {{#link-to "copyright-agent"}}
      Don't Sue Us
    {{/link-to}}
  </div>

  <div>
    <a href="mailto:ads@subtext.org" {{action "onLinkClick" preventDefault=false}}>
      Advertise With Us
    </a>
  </div>

  <div>
    {{help-text isWhite=true}}
  </div>
</div>

<div class="SiteNav-Menu--line-break"></div>

<div class="SiteNav-Menu--user-location">
  {{user-location}}
  {{user-location/cta-button
    isWhiteButton=true
    click=(action "closeMenu")
  }}
</div>

{{#if isLoggedIn}}
  <div class="SiteNav-Menu--logout">
    {{#if wantsToSignOut}}
      <div>
        Are you sure?
      </div>
      {{#x-button
         onClick=(action "signOut")
         color="primary"
         size="x-small"
         data-test-logout-yes=true
       }}
        Yes
       {{/x-button}}
       {{#x-button
          onClick=(action "toggleWantsToSignOut")
          color="light-gray"
          size="x-small"
          data-test-logout-no=true
        }}
          No
        {{/x-button}}
    {{else}}
      <div {{action "toggleWantsToSignOut"}} role="button" data-test-link="logout-link">
        Logout
      </div>
    {{/if}}
  </div>
{{/if}}
