<div class="Feed-CardSizeChooser--wrap">
  <div
    class="Feed-CardSizeChooser--button fullsize {{if (eq activeCardSize "fullsize") "active"}}"
    {{action "switchCardSize" "fullsize"}}
    role="button"
    data-test-card-size-chooser="fullsize"
  >
    <div class="Feed-CardSizeChooser--button-block"></div>
    <div class="Feed-CardSizeChooser--button-block"></div>
  </div>
  <div
    class="Feed-CardSizeChooser--button midsize {{if (eq activeCardSize "midsize") "active"}}"
    {{action "switchCardSize" "midsize"}}
    role="button"
    data-test-card-size-chooser="midsize"
  >
    <div class="Feed-CardSizeChooser--button-block"></div>
    <div class="Feed-CardSizeChooser--button-block"></div>
    <div class="Feed-CardSizeChooser--button-block"></div>
  </div>
  <div
    class="Feed-CardSizeChooser--button compact {{if (eq activeCardSize "compact") "active"}}"
    {{action "switchCardSize" "compact"}}
    role="button"
    data-test-card-size-chooser="compact"
  >
    <div class="Feed-CardSizeChooser--button-block"></div>
    <div class="Feed-CardSizeChooser--button-block"></div>
    <div class="Feed-CardSizeChooser--button-block"></div>
    <div class="Feed-CardSizeChooser--button-block"></div>
  </div>
</div>
