<div class="Location-Index">
  <div data-test-page='location.index'>
    {{#channel-filters channel='index'}}
      {{location-radius-control
        location=(readonly userLocation.location)
        radius=(readonly radius)
        onChooseRadius=(action "changeRadius")
        onChooseLocation=(action 'chooseLocation')
      }}
    {{/channel-filters}}

    {{feed/index-feed
      feedContents=model
    }}

    {{#infinity-loader
      infinityModel=model
    }}
      {{#unless model.reachedInfinity}}
        {{fa-icon 'spinner' class="fa-pulse"}}
      {{else}}
        <div class="infinity-loader-end-of-content">
          That's Everything
        </div>
      {{/unless}}
    {{/infinity-loader}}

    {{#floating-action-button}}
      {{jobs-navigation}}
    {{/floating-action-button}}

    {{outlet}}

  </div>
</div>
