{{!-- old market landing page --}}
{{#if flat}}
<div class='Container--noGutter'>
  <div class='row'>
    <div class='col-xs-12 col-md-8 col-md-push-2'>
      <div class='ChannelTopper clearfix'>
        {{#link-to 'market.all.index' tagName='h1' class='CategoryNav-mobileTitle h5 hidden-md hidden-lg'}}Local Market{{/link-to}}

        {{content-create-button
        class='SectionNavigation-contentCreateButtonMobile pull-right'
        path='market.new.details'
        }}
      </div>
    </div>

    {{#if model}}
      {{sorted-market-posts
      marketPosts=model
      trackCardClick=(action 'trackCardClick')
      adPath='market.all.index'
      }}

      <div class='Container--noGutter'>
        <div class='row'>
          <div class='col-xs-12 col-md-8 col-md-push-2'>
            <div class='PaginationNav-wrapper'>
              <div class='PaginationNav PaginationNav--bottom'>
                {{partial 'partials/pagination-nav'}}
              </div>
            </div>
          </div>
        </div>
      </div>
    {{/if}}
  </div>
</div>

{{!-- new market landing page with categories --}}
{{else}}
{{category-nav
  categories=(readonly navCategories)
  allCategories=(readonly categories)
  openCategoriesModal=(action 'openCategoriesModal')
}}

<div class='InfoHeader-wrapper InfoHeader--MarketIndex-wrapper'>
  {{#liquid-spacer growDuration=250}}
  <div class='Container--noGutter'>
    <div class='InfoHeader--MarketIndex-image'>
    </div>

    <div class='InfoHeader InfoHeader--MarketIndex'>
      <div class='row'>
        <div class='col-xs-12'>
          {{#unless query}}
						<h1 class='InfoHeader--MarketIndex-title text-center u-bold u-textKnockout u-textShadow u-layoutPadB0 u-layoutPadT0'>Buy and sell locally in the Market</h1>
						<h2 class='h2 text-center u-layoutPadT0 u-textKnockout u-textShadow u-layoutPadB20'>Complete transactions directly with your neighbors.</h2>
          {{/unless}}

          <div class='InfoHeader-CTAs'>
            <div class='MarketSearch-input {{if query 'has-query'}} InfoHeader-CTAs-item'>
              {{search-input
                value=(readonly query)
                class="MarketSearch"
                update=(action "updateQuery")
                placeholder=(readonly 'Search market...')
                data-test-component='market-search'
              }}
            </div>

            {{#unless query}}
							<div class='InfoHeader-CTAs-item InfoHeader-CTAs-middle h3 text-center u-bold u-textKnockout u-textShadow'>or</div>

							{{#link-to 'market.new' tagName='button' class='btn btn-primary InfoHeader-CTAs-item InfoHeader-CTAs-marketCTA h3 u-layoutPadT0'}}
								<span {{action (action 'trackCreateButtonClick')}}>
									 Sell on Daily UV
								</span>
							{{/link-to}}
            {{/unless}}
          </div>
        </div>
      </div>
    </div>
  </div>
  {{/liquid-spacer}}
</div>

<div class='Container--noGutter'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='row'>
        <div class='col-xs-12'>
          <div class='MarketSearch u-layoutPadB10 clearfix'>
            {{#unless query}}
              <h1 class='h3 text-center u-bold'>Trending categories</h1>
            {{/unless}}
          </div>
        </div>
      </div>

      {{#unless query}}
        {{!--
        {{#if trendingCategories}}
          <div class='row'>
            {{#each trendingCategories as |trendingCategory|}}
              <div class='col-md-4'>
                <span {{action (action 'trackCategoryClick' trendingCategory 'trending-card')}}>
                  {{market-category-card category=(readonly trendingCategory) trending=true}}
                </span>
              </div>
            {{/each}}
          </div>
        {{/if}}
        --}}

        <div class='row'>
          <div class='col-xs-12 col-md-6'>
            <div class='row'>
              {{#each featuredCategoryRows.row1 as |featuredCategory|}}
                <div class='col-xs-6 col-md-6'>
                  <span {{action (action 'trackCategoryClick' featuredCategory 'featured-card')}}>
                    {{market-category-card category=(readonly featuredCategory)}}
                  </span>
                </div>
              {{/each}}
            </div>
          </div>

          <div class='col-xs-12 col-md-6'>
            <div class='row'>
              <div class='col-xs-12'>
                <div class='row'>
                  <div class='col-xs-12 col-md-6'>
                    <div class='row'>
											<div class='col-md-12'>
                        <div class='MarketCategoryCard--adWrapper'>
												  {{ad-banner impressionPath='market.all.index'}}
                        </div>
											</div>

											{{#each featuredCategoryRows.row2 as |featuredCategory|}}
												<div class='col-md-12 hidden-xs'>
													<span {{action (action 'trackCategoryClick' featuredCategory 'featured-card')}}>
														{{market-category-card category=(readonly featuredCategory)}}
													</span>
												</div>
											{{/each}}		
                    </div>
                  </div>

                  <div class='col-xs-12 col-md-6'>
                    <div class='row'>
											<div class='col-xs-12'>
												<div class='MarketCategoryCard MarketCategoryCard--more u-card'>
												  <h1 class='h3 u-bold u-layoutPadT10'>Popular Categories</h1>

													<ul class='MarketCategoryCard--more-list'>
														{{#each regularCategories as |category index|}}
                              {{#if (lte index 18)}}
																<li class='{{if (gte index 16) "hidden-xs"}}'>
																	{{#link-to 'market.category-landing' category.cat_id class='u-link u-bold'}}
																		{{category.name}} <i><span>({{category.count}})</span></i>
																	{{/link-to}}
																</li>
                              {{/if}}
														{{/each}}
													</ul>

													<a href='#' {{action (action 'openCategoriesModal')}} class='u-link u-bold h3 MarketCategoryCard--more-text'>
														<span {{action (action 'trackCategoryMoreClick')}}>
															More categories {{fa-icon 'chevron-right'}}
														</span>
													</a>
												</div>
											</div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      {{else}}

        <div class='row'>
          <div class='col-xs-12'>
            {{#if model.length}}
              <div class='u-layoutPadT20'>
                {{sorted-market-posts
                  marketPosts=model
                  trackCardClick=(action 'trackCardClick')
                  adPath='market.all.index'
                }}
              </div>

              <div class='row'>
                <div class='col-xs-12 col-md-8 col-md-push-2'>
                  <div class='PaginationNav-wrapper'>
                    <div class='PaginationNav PaginationNav--bottom'>
                      {{partial 'partials/pagination-nav'}}
                    </div>
                  </div>
                </div>
              </div>
            {{else}}
              <h2 class='h3'>No results for "{{query}}". Please try your search again.</h2>
            {{/if}}
          </div>
        </div>
      {{/unless}}

      {{#unless query}}
        <div class='row'>
          <div class='col-xs-12'>
            <h1 class='h3 text-center u-bold'>Recent Listings</h1>

            <div class='u-card clearfix'>

              {{#if featureFlags.market-index-subscribe-cta}}
                {{#unless session.isAuthenticated}}
                  {{subscribe-banner
                    imgUrl='https://subtext-misc.s3.amazonaws.com/sierra-nevada/zoey.png'
                    title="Don't miss out! Zoe begs you!"
                    subtitle="Get the latest DailyUV market posts delivered straight to your inbox, and <span class='u-bold'>never miss out on a great local bargain again.</span>"
                    subscribe=(action 'subscribeToMarketDigest')
                    featureFlags=(readonly featureFlags)
                  }}
                {{/unless}}
              {{/if}}


              {{sorted-market-posts
                marketPosts=recentPosts
                suppressAd=true
                trackCardClick=(action 'trackCardClick' 'recent-ugc')
                widthClass='col-xs-12'
                adPath='market.all.index'
              }}

              <p class='h3 text-center u-layoutPadB20'>{{#link-to 'market.all' (query-params flat=true query='') class='u-link u-bold h2'}}Show all listings {{fa-icon 'angle-right'}}{{/link-to}}<br />
                See all listings, sorted by date</p>
            </div>
          </div>
        </div>

        <div class='row'>
          <div class='col-xs-12'>
            <h1 class='h2 text-center u-bold u-layoutPadB40'>Happy Buyers and Sellers</h1>
          </div>
          {{#each testimonials as |testimonial|}}
            <div class='col-xs-6'>
              {{user-testimonial testimonial=(readonly testimonial)}}
            </div>
          {{/each}}
        </div>
      {{/unless}}

    </div>
  </div>
</div>
{{/if}}

{{outlet}}

{{outreach-cta
  isButton=true
  placement='bottom-of-page'
  limitMessagesTo=2
  class="sit-center"
}}
