{{#unless features.disable-content-creation}}
  <div data-test-compenent='content-create-button' class='SectionNavigation-contentCreateButtonMobile pull-right'>
    {{#link-to 'events.new.details' class='Button SectionNavigation-contentCreateButton btn btn-default Button--event' data-test-link='content-create-button'}}
      <span class="visible-xs-inline visible-sm-inline">+</span>
      <span class="hidden-xs hidden-sm">Create</span>
      Event
    {{/link-to}}
  </div>
{{/unless}}

<div class="EventsFilter-main-bar">
  <span>
    Filter Events by
  </span>
  <div class="EventsFilter-filter-wrapper">
    <span class="item" {{action 'toggleCategoryChooser' true}}>
      Category
    </span>
    <span class="item" {{action 'openCalendarWidget'}}>
      Day
    </span>
  </div>
</div>

{{#if showCategoryChooser}}
  {{#modal-wrapper
    close=(action 'toggleCategoryChooser' false)
    showHeader=true
    isAnimated=false
  }}
    <div class="EventsFilter-choose-category-wrapper">
      Choose a Category:
      {{#each categories as |category|}}
      <div>
        <span class="sub {{if (in-array category.slug activeCategories) 'active'}}" {{action 'clickCategory' category.slug}}>
          {{category.name}}
        </span>
      </div>
      {{/each}}
    </div>
  {{/modal-wrapper}}
{{/if}}

{{#if hasActiveCategories}}
  <div class="EventsFilter-active-categories-wrapper {{unless hasActiveCategories 'empty'}}">
    Showing
    {{#each categories as |category|}}
      {{#if (in-array category.slug activeCategories)}}
        <span class="sub active" {{action 'clickCategory' category.slug}}>
          {{category.name}}
        </span>
      {{/if}}
    {{/each}}
    <span class="EventsFilter-clear-categories" {{action 'clearCategories'}}>
      Clear All
    </span>
  </div>
{{/if}}
