{{#if hasImageUrl}}
  <img class="AvatarImage--image" style={{customSizeStyle}} src={{optimizedImageUrlString}} alt="Avatar Image">
{{else}}
  <div class={{defaultClass}} style={{customSizeStyle}} data-content={{userInitials}}></div>
{{/if}}
