<div class="SiteNav-UserMenu--user {{if isLoggedIn "is-logged-in"}}">

    {{#if isLoggedIn}}
      <div {{action "onLinkClick"}} role="button">
        {{#link-to "caster" currentUser.casterPageLinkId}}
          <div class="SiteNav-UserMenu--user-avatar">
            {{avatar-image
              imageUrl=currentUser.avatarImageUrl
              userName=currentUser.name
              customSize=60
            }}
            <div class="SiteNav-UserMenu--user-name">
              {{currentUser.name}}
            </div>
            <div class="SiteNav-UserMenu--user-handle">
              @{{currentUser.handle}}
            </div>
          </div>
        {{/link-to}}
      </div>
    {{else}}
      <div class="SiteNav-UserMenu--user-signin">
        {{fa-icon "lock" class="left-block"}}
        {{#x-button
           onClick=(action "signIn")
           color="secondary"
           style="transparent"
           size="x-small"
           noMargin=true
           noPadding=true
           data-test-signin-from-side-menu=true
         }}
          Log in
        {{/x-button}}
      </div>
      <div class="SiteNav-UserMenu--user-signup">
        {{fa-icon "circle" class="red left-block"}}
        {{#x-button
           onClick=(action "signUp")
           color="secondary"
           style="transparent"
           size="x-small"
           noMargin=true
           noPadding=true
           data-test-signin-from-side-menu=true
         }}
          Join your HereCast Community {{fa-icon "chevron-right"}}
        {{/x-button}}
        <div class="SiteNav-UserMenu--user-signup-text">
          <p>
            HereCast is your plae to share and discover what's happening near you.
          </p>
          <p>
            Sign up for free to follow local Casters, comment, and post.
          </p>
        </div>
      </div>
    {{/if}}

</div>
