{{#x-card color=color noShadow=noShadow}}
  {{#card-body slimPadding=true center=true}}
    {{#x-button
      onClick=(action "showMetrics")
      color="primary"
    }}
      Content Metrics
      {{fa-icon "window-restore"}}
    {{/x-button}}
    {{#if showPayments}}
      {{#x-button
        onClick=(action "showPayments")
        color="primary"
        disabled=showPublisherAgreementButton
      }}
        Content Payments
        {{fa-icon "window-restore"}}
      {{/x-button}}
      {{#if showPublisherAgreementButton}}
        <div class="Cards-MetricsAndPayments--message">
          <p>
            To receive payments on your content, please click the link below and review the payment agreement (it will open in a new window).
          </p>
          <p>
            To accept the agreement, come back to this page and click "I agree."
          </p>
          <p>
            If you do not choose to accept the agreement and complete the payment requirements described within, you will not be paid for your content.
          </p>
        </div>
        <div class="Cards-MetricsAndPayments--link">
          <a
            {{action "onClickPublisherAgreementLink" preventDefault=false}}
            href="https://herecast.us/paid-content" target="_blank" rel="noopener"
          >
            https://herecast.us/paid-content
          </a>
        </div>

        {{#x-button
          onClick=(action "agreeToPublisherAgreement")
          color="primary"
          disabled=(or isAgreeing (not hasClickedPublisherAgreementLink))
        }}
          {{#if isAgreeing}}
            {{fa-icon "cog" spin=true}}
          {{else}}
            {{fa-icon "square-o"}}
          {{/if}}
          I agree
        {{/x-button}}
      {{/if}}
    {{/if}}
  {{/card-body}}
{{/x-card}}
