{{#x-card noShadow=noShadow class="OrganizationSubscribeStats--card"}}
  <div class="OrganizationSubscribeStats--card-wrap">
    <div class="OrganizationSubscribeStats--card-left">
      <div class="OrganizationSubscribeStats--card-stat">
        {{formatted-count postCount}}
      </div>
      <div class="OrganizationSubscribeStats--card-text">
        Posts
      </div>
    </div>
    <div class="OrganizationSubscribeStats--card-center-left">
      <div class="OrganizationSubscribeStats--card-stat">
        {{formatted-count totalViewCount}}
      </div>
      <div class="OrganizationSubscribeStats--card-text">
        Views
      </div>
    </div>
    <div class="OrganizationSubscribeStats--card-center-right">
      <div class="OrganizationSubscribeStats--card-stat">
        {{formatted-count activeSubscriberCount}}
      </div>
      <div class="OrganizationSubscribeStats--card-text">
        Subscribers
      </div>
    </div>
    <div class="OrganizationSubscribeStats--card-right">
      {{#unless isInAdminView}}
        {{subscribe-button
          organization=organization
          class="OrganizationSubscribeStats--subscribe-button"
        }}
      {{/unless}}
    </div>
  </div>

  {{#if isInAdminView}}
    <div class="OrganizationSubscribeStats--hides">
      You have {{userHideCount}} users hiding you from their feed
    </div>
  {{/if}}
{{/x-card}}
