<div class="PromotionMenu-PromotionHistory-title">
  Promotion History {{#if gettingPromotionHistory}}{{fa-icon 'spinner' class="fa-pulse"}}{{/if}}
</div>

{{#if hasPromotionHistory}}
  <div class="PromotionMenu-PromotionHistory-promotion-history-box">
    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Method</th>
          <th>Shared By</th>
        </tr>
      </thead>
      <tbody>
        {{#each promotionRecords as |promotionRecord|}}
          <tr>
            <td>{{promotionRecord.date}}</td>
            <td class="PromotionMenu-PromotionHistory-platform">{{promotionRecord.share_platform}}</td>
            <td>{{promotionRecord.created_by}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

{{else if gettingPromotionHistory}}
  <div class="PromotionMenu-PromotionHistory-message">
    Loading promotion history...
  </div>
{{else}}
  <div class="PromotionMenu-PromotionHistory-message">
    No promotion history yet. Promote this content by clicking on Promote and then selecting a sharing platform.
  </div>
{{/if}}

<div class="PromotionMenu-PromotionHistory-done-button" {{action 'done'}}>
  Done
</div>
