<div class='PromotionSection'>
  <label class='PromotionSection-label'>
    Who should see this post?
  </label>

  {{promote-locations
      model=model
  }}
</div>

<div class='PromotionSection'>
  <label class='PromotionSection-label' for="lists-enabled">Alert the List <span class='PromotionSection-cost'>Free!</span></label>
  <p class='PromotionSection-description PromotionSection-description--emphasized'>
    Send a text-only version of your comment to your home-community listserv with a link to your post.
    You need to be subscribed to the {{userLocation}} list ahead of time in order to do this.
    Click <a href='https://dailyuv.com/news/812457' target="_blank">here</a> for instructions on how to subscribe.
  </p>
  <div class='row'>
    <div class='col-sm-2 col-sm-offset-2'>
      <div {{action 'toggleListserv'}} class='PromotionSection-toggle'>
        {{#if listEnabled}}
          {{fa-icon 'toggle-on PromotionSection-toggleIcon is-on'}} On
        {{else}}
          {{fa-icon 'toggle-off PromotionSection-toggleIcon'}} Off
        {{/if}}
      </div>
    </div>
    <div class='col-sm-8'>
      {{#if listEnabled}}
        <strong>{{listservName}}</strong>
      {{/if}}
    </div>
  </div>
</div>

{{partial 'partials/promotion-disclaimer'}}

<div class='ContentForm-buttonGroup form-group'>
  <button class='Button btn btn-default pull-left ContentForm-button ContentForm-button--edit' {{action 'back'}}>
    {{fa-icon 'arrow-left u-iconLeft'}}
    Edit Talk
  </button>

  <button class='Button Button--primary btn btn-primary pull-right' {{action 'preview'}}>
    Next Step
    {{fa-icon 'arrow-right u-iconRight'}}
  </button>

  {{#if talk.isNew}}
    <button class='ContentForm-buttonLink ContentForm-discardButton h2 btn btn-link pull-right' {{action 'discard'}}>
      {{fa-icon 'trash u-iconLeft'}}
      Discard Talk
    </button>
  {{/if}}
</div>
