<section class="ListservForm u-card">
  <header class='ListservForm-header'>
    <h1 class="h1 u-bold">
      Enhance your {{capitalize channelType}} post
    </h1>
    <div class='ListservForm-stepIndicator'>
      <h2 class='h5'>
        Step 1 of
        {{#if session.isAuthenticated}}
        2
        {{else}}
        3
        {{/if}}
      </h2>
    </div>
  </header>

  {{#with (changeset model validations) as |changeset|}}

    {{component (concat
          "listserv-" channelType "-form"
        )
        changeset=changeset
    }}

    <footer class="text-right">
      {{#if changeset.errors}}
        <p class='alert alert-danger'>
          <strong>There are errors.</strong>
          You will want to look over the form again.
        </p>
      {{/if}}
      <button class="Button Button--primary Button--{{channelType}}" {{action 'save' changeset}} data-test-action='next-step'>
        Next&nbsp;&nbsp;{{fa-icon 'chevron-right'}}
      </button>
    </footer>
  {{/with}}
</section>
