{{#if hasDirections}}
  <div class="DetailMetaBloc--row fullspan">
    <div>
      <a
        class="DetailMetaBloc--field DetailMetaBloc--directions"
        href={{model.directionsUrl}}
        target="_blank"
        rel="noopener noreferrer"
        >
        <div class="DetailMetaBloc--map-image DetailMetaBloc--column left" />
        <div class="DetailMetaBloc--venue DetailMetaBloc--column right">
          <div class="DetailMetaBloc--venue-name" data-test-detail-meta-venue-name>
            {{model.venueName}}
          </div>
          <div class="DetailMetaBloc--venue-address" data-test-detail-meta-venue-address>
            {{model.venueAddress}}
          </div>
          <div class="DetailMetaBloc--venue-address">
            {{model.venueCity}}, {{model.venueState}}  {{model.venueZip}}
          </div>
        </div>
      </a>
    </div>
  </div>
{{/if}}

{{#if (or model.startsAt model.cost)}}
  <div class="DetailMetaBloc--row">
    {{#if model.startsAt}}
      <div class="DetailMetaBloc--column bold left">
        <div class="DetailMetaBloc--field left">
          <div data-test-detail-meta-starts-at>
            {{fa-icon "calendar" class="DetailMetaBloc--icon"}}
            {{moment-format model.startsAt "MMMM DD"}}
          </div>
          {{#if model.timeRangeNoDates}}
            <div data-test-detail-meta-time>
              {{fa-icon "clock-o" class="DetailMetaBloc--icon"}}
              {{model.timeRangeNoDates}}
            </div>
          {{/if}}
        </div>
      </div>
    {{/if}}

    {{#if model.cost}}
      <div class="DetailMetaBloc--column bold right">
        <div class="DetailMetaBloc--field tight">
          Price:&nbsp;
          <span data-test-detail-meta-cost>
            {{model.cost}}
          </span>
        </div>
      </div>
    {{/if}}
  </div>
{{/if}}

{{#if model.url}}
  <div class="DetailMetaBloc--row fullspan">
    <a href={{model.url}}
      target="_blank"
      rel="noopener noreferrer"
      class="DetailMetaBloc--field thin truncate"
      data-test-detail-meta-url
    >
      {{fa-icon "link" class="DetailMetaBloc--icon"}}
      {{model.url}}
    </a>
  </div>
  {{/if}}
