<div class='col-xs-12 col-md-8'>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='DirectoryResults-controls DirectoryResults-header'>
        {{directory-results-sort
        sortBy=sort_by
        onSortChange=(action changeSortBy)
        class='form-inline DirectoryResults-control'
        }}

        <div class='DirectoryResults-control DirectoryResults-resultCount'>
          Showing {{firstResultNumber}} through {{lastResultNumber}} of {{total}}.
        </div>
      </div>

      {{directory-search-results
      results=results
      query=query
      lat=lat
      lng=lng
      tagName='ul'
      adPath='directory.index'
      }}

      <div class='DirectoryResults-controls DirectoryResults-footer'>
        <div class='DirectoryResults-control form-inline'>
          <label class='h4'>Per Page&nbsp;</label>
          {{#x-select class='form-control' value=per_page action=(action changePerPage) as |xs|}}
            {{#xs.option value=25}}25{{/xs.option}}
            {{#xs.option value=50}}50{{/xs.option}}
            {{#xs.option value=100}}100{{/xs.option}}
          {{/x-select}}
        </div>

        {{pagination-buttons
        class='DirectoryResults-paginator DirectoryResults-control'
        page=page
        perPage=per_page
        results=results
        on-update-page=(action changePage)
        }}

      </div>
    </div>
  </div>
</div>

<div class='col-xs-12 col-md-4 FloatingSideMap hidden-xs hidden-sm'>
  {{#floating-side-column}}
    {{google-map locations=locations}}

    <div>
      <h2>Help us build this directory</h2>
      <button class='btn DirectoryButton darker' {{action 'toggleBusinessProfileForm'}}>Submit a missing business</button>
    </div>
  {{/floating-side-column}}
</div>

{{#if businessProfileFormIsVisible}}
  {{business-profile-form
    closeAction=(action 'toggleBusinessProfileForm')
  }}
{{/if}}
