{{!-- TODO refactor default query params into route --}}
<ul class='FooterNav-list'>
  <li class='FooterNav-listItem FooterNav-listItem--news'>
    {{#link-to 'news'
      (query-params
        page=1
        query=newsFilter.defaultQuery
        organization=newsFilter.defaultOrganization
        location=newsFilter.defaultLocation
        locationId=newsFilter.defaultLocationId
      )
      class='FooterNav-link'
      current-when='news'
      data-test-link='mobile-news-channel'
    }}
    <div class='FooterNav-icon'>
      <div class='FooterNav-icon-inner FooterNav-icon-inner--news'></div>
    </div>
      <div class='FooterNav-text'>
        <span {{action (action 'trackChannel' 'News')}}>News</span>
      </div>
    {{/link-to}}
  </li>

  <li class='FooterNav-listItem FooterNav-listItem--events'>
    {{#link-to 'events'
      (query-params
        page=1
        query=eventsFilter.defaultQuery
        category=eventsFilter.defaultCategory
        location=eventsFilter.defaultLocation
        date_start=eventsFilter.defaultStart
        date_end=eventsFilter.defaultEnd
      )
      class='FooterNav-link'
      current-when='events'
      data-test-link='mobile-events-channel'
    }}
      <div class='FooterNav-icon'>
        <div class='FooterNav-icon-inner FooterNav-icon-inner--events'></div>
      </div>
      <div class='FooterNav-text'>
        <span {{action (action 'trackChannel' 'Events')}}>Events</span>
      </div>
    {{/link-to}}
  </li>
  <li class='FooterNav-listItem FooterNav-listItem--talk'>
    {{#link-to 'talk'
      (query-params
        page=1
        query=talkFilter.defaultQuery
      )
      class='FooterNav-link'
      current-when='talk'
      data-test-link='mobile-talk-channel'
    }}
      <div class='FooterNav-icon'>
        <div class='FooterNav-icon-inner FooterNav-icon-inner--talk'></div>
      </div>
      <div class='FooterNav-text'>
        <span {{action (action 'trackChannel' 'Talk')}}>Talk</span>
      </div>
    {{/link-to}}
  </li>
  <li class='FooterNav-listItem FooterNav-listItem--market'>
    {{#link-to 'market'
      (query-params
        page=1
        flat=false
        query=marketFilter.defaultQuery
        location=marketFilter.defaultLocation
        locationId=marketFilter.defaultLocationId
      )
      class='FooterNav-link'
      current-when='market'
      data-test-link='mobile-market-channel'
    }}
      <div class='FooterNav-icon'>
        <div class='FooterNav-icon-inner FooterNav-icon-inner--market'></div>
      </div>
      <div class='FooterNav-text'>
        <span {{action (action 'trackChannel' 'Market')}}>Market</span>
      </div>
    {{/link-to}}
  </li>
  <li class='FooterNav-listItem FooterNav-listItem--directory'>
    {{#link-to 'directory'
      class='FooterNav-link'
      current-when='directory'
      data-test-link='mobile-directory-channel'
      }}
      <div class='FooterNav-icon'>
        <div class='FooterNav-icon-inner FooterNav-icon-inner--directory'></div>
      </div>
      <div class='FooterNav-text'>Directory</div>
    {{/link-to}}
  </li>
  <li role="presentation" class="FooterNav-listItem">
    <a {{action 'openExtendedNavMenu'}}
        href='#'
        class='FooterNav-link FooterNav-link--extendedNavList'>
      {{fa-icon 'ellipsis-v'}}
    </a>
  </li>
</ul>
{{#if showExtendedNavMenu}}
  {{#modal-wrapper close=(action 'closeExtendedNavMenu')}}
    {{extended-nav onLinkClick=(action 'closeExtendedNavMenu') class="FooterNav-extendedNavList"}}
  {{/modal-wrapper}}
{{/if}}
