{{#each results as |result|}}
  <li class="DirectoryListings-result">
    <div class="listing-info left">
      <div class="name-bar">
        {{#link-to 'directory.search.show' result}}
          <h4>{{result.name}}</h4>
        {{/link-to}}
        <div>
          {{#if (not media.isMobile)}}
            {{fa-icon 'fa-map-marker'}}
            {{result.fullAddress}}
          {{/if}}
        </div>
        <div>
          {{#if result.feedback_num}}
            <span class="recommended-badge">{{round (times result.feedback.recommend 100)}}%</span>
            {{result.feedback_num}} recommend
          {{else}}
            <small>Not yet rated</small>
          {{/if}}
          <span class="miles">({{round (geo-distance result.coords searchCoords) 1}} mi)</span>
        </div>
      </div>
      <div class="DirectoryListings-linkBar">
        <div class="DirectoryListings-linkBar-item">
          {{#if result.phone}}
            {{#if media.isMobile}}
              <a href="tel:+1{{result.phone}}">
                {{fa-icon 'fa-phone'}} Call
              </a>
            {{else}}
              {{fa-icon 'fa-phone'}} {{formatted-phone result.phone}}
            {{/if}}
          {{/if}}
        </div>
        <div class="DirectoryListings-linkBar-item text-center">
          {{#if result.address}}
            <a href="{{result.directionsLink}}" target="_blank">{{fa-icon 'fa-automobile'}} Directions</a>
          {{/if}}
        </div>
        <div class="DirectoryListings-linkBar-item text-right">
          {{#if result.website}}
            <a href="{{result.websiteLink}}" target="_blank">{{fa-icon 'fa-laptop'}} Web</a>
          {{/if}}
        </div>
      </div>
    </div>
  </li>
{{/each}}
