{{#if useLink}}
  {{#if linkUrl}}
    <span>
      <a href={{linkUrl}} target="_blank" rel="noopener noreferrer" {{action onContentClick}}>
        {{yield}}
      </a>
    </span>
  {{else}}
    <span {{action onContentClick preventDefault=false}} role="button">
      {{#link-to-content model}}
        {{yield}}
      {{/link-to-content}}
    </span>
  {{/if}}
{{else}}
  {{yield}}
{{/if}}
