<div class='UserMenuIdentityItem-title' {{action 'titleAction'}}>
  {{avatar-image
  imageUrl=avatarUrl
  userName=name
  customSize=35
  class="UserMenuIdentityItem-avatar"
  }}
  <div class="UserMenuIdentityItem-name" data-test-user-menu-name>
    {{name}}
    {{#if isUserAccount}}
    <span class="UserMenuIdentityItem-identifier">
      (Personal Account)
    </span>
    {{/if}}
  </div>
</div>

{{#if expanded}}
<div class='UserMenuIdentityItem-body'>
  <p class='UserMenuIdentityItem-helpText'>
    {{helpText}}
  </p>
  <button
    class='UserMenuIdentityItem-action'
    {{action 'buttonAction'}}
    data-test-link="manage-content-link"
    >
    {{buttonText}}
  </button>
</div>
{{/if}}
