<div class='MarketReplyForm-content'>
  {{#liquid-spacer}}
    {{#if hideForm}}
      <button {{action (action 'showForm')}}
        class='Button btn btn-default MarketReplyForm-replyButton MarketReplyForm-replyButton--primary MarketReplyForm-replyButton--centered'>
        <span {{action (action clickReplyButton)}}>
          Reply to Poster
        </span>
      </button>

    {{else}}
      <button {{action (action 'cancel')}} class='pull-right u-noAppearance'>cancel {{fa-icon 'close'}}</button>

      <div class='u-flexRow'>
        <div>
          {{#if hasContactEmail}}
            <span class='h3 u-bold u-layoutPadB20 u-layoutPadT10'>Poster's email</span><br>
            <a target="_blank"
              {{action "trackReplyEmailClick" 'Client' preventDefault=false}}
              href='mailto:{{mailToParts.to}}?subject={{mailToParts.subject}}&body={{mailToParts.body}}'
              class='u-link u-bold market-reply-default-email-click'
              >
               {{post.contactEmail}}
            </a><br>
          {{/if}}

          {{#if post.contactPhone}}
            <span class='h3 u-bold u-layoutPadB20 u-layoutPadT10'>Poster's phone</span><br>
            {{post.contactPhone}}<br>
          {{/if}}
        </div>

        {{#if hasContactEmail}}
          <div class='MarketReplyForm-webmailLinksWrapper'>
            <span class='h3 u-bold u-layoutPadB20 u-layoutPadT10'>Send your reply with:</span><br>

            <a target="_blank"
              {{action "trackReplyEmailClick" 'Google' preventDefault=false}}
              href="https://mail.google.com/mail/?view=cm&fs=1&to={{mailToParts.to}}&su={{mailToParts.subject}}&body={{mailToParts.body}}"
              class='MarketReplyForm-webmailLinkButton-wrapper'
              >
              <span class='u-link u-bold MarketReplyForm-webmailLinkButton gmail'>
                Google
              </span>
            </a>

            <a target="_blank"
              {{action "trackReplyEmailClick" 'Outlook' preventDefault=false}}
              href="https://outlook.live.com/owa/#subject={{mailToParts.subject}}&body={{mailToParts.body}}&to={{mailToParts.to}}&path=%2fmail%2faction%2fcompose"
              class='MarketReplyForm-webmailLinkButton-wrapper'
              >
              <span class='u-link u-bold MarketReplyForm-webmailLinkButton outlook'>
                Outlook
              </span>
            </a>

            <a target="_blank"
              {{action "trackReplyEmailClick" 'Yahoo' preventDefault=false}}
              href="http://compose.mail.yahoo.com/?to={{mailToParts.to}}&subj={{mailToParts.subject}}&body={{mailToParts.body}}"
              class='MarketReplyForm-webmailLinkButton-wrapper'
              >
              <span class='u-link u-bold MarketReplyForm-webmailLinkButton yahoo'>
                Yahoo
              </span>
            </a>
          </div>
        {{/if}}
      </div>
    {{/if}}
  {{/liquid-spacer}}
</div>
