{{#sticky-container scrollTarget='.Modal-dialog-body' refreshOffsetDuringScroll=true enabled=enableStickyHeader as |sticky|}}
  {{#if model.imageUrl}}
    {{header-image imageUrl=model.imageUrl preserveAspectRatio=true}}
  {{/if}}

  {{#sticky.item class='StickyItem--default-background u-boxShadowBottom' useAbsolutePositioning=true}}
    {{#content-body classNames="u-padding0"}}

      <div class="DetailPage-headerSection u-paddingVertical16 u-paddingLeft8">
        {{#title-text noMargin=true strong=true}}
          <span data-test-talk-title>{{model.title}}</span>
        {{/title-text}}
      </div>

      <div class="DetailPage-headerSubSection u-flexJustify-start u-paddingLeft8">
        {{report-content-details
            contentId=model.id
            class="DetailPage-reportFlag h4 u-paddingRight8 u-paddingBottom8"
        }}
       </div>

      {{horizontal-rule classNames="u-padding0"}}

      <div class="DetailPage-headerSubSection u-flexSpace u-flexAlign-center u-padding8" data-test-talk-author-name>

        {{#if model.organization.isDefaultOrganization}}
          {{author-byline
            authorName=model.authorName
            imageUrl=model.avatarUrl
            postedTime=model.publishedAtRelative
          }}
        {{else}}
          {{feed-card/attribution
            avatarUrl=model.attributionImageUrl
            author=model.attributionName
            linkRouteName=model.attributionLinkRouteName
            linkId=model.attributionLinkId
            postedTime=model.publishedAtRelative
            contentId=model.id
            class="u-paddingLeft0"
          }}
        {{/if}}

        {{#unless isPreview}}
          <div class='u-paddingRight8'>
            {{feed-card/edit-button
              model=model
              editPath='talk.edit'
              editPathId=model.id
              iconSize=""
              style='XButton XButton--primary XButton--noMargin XButton--regular XButton--x-small XButton--rounded'
            }}
          </div>
        {{/unless}}
      </div>
    {{/content-body}}
  {{/sticky.item}}

  <div class='DetailPage-sectionWrapper u-padding0'>
    <div class="DetailPage-metaBloc u-paddingTop16 u-paddingHorizontal8">
      <table>
        <tr>
          <td colspan="2">
            <div class="DetailPage-metaBloc-location">
              {{model.baseLocationNames}}
            </div>
          </td>
        </tr>
      </table>
    </div>
    <div class="DetailPage-section DetailPage-content">
      <div class='ContentBody'>
        <div class='ContentText' data-test-talk-content>{{{model.content}}}</div>
      </div>
    </div>
  </div>

  {{#unless isPreview}}
    {{#horizontal-rule}}
      {{social-share
        title=model.title
        authorName=model.organization.name
        twitterHandle=model.organization.twitterHandle
        sharedBy=session.userName
        model=model
        isTalkChannel=true
      }}
    {{/horizontal-rule}}

    <div class='DetailPage-section DetailPage-comments'>
      {{comments-section
        showSectionTitle=true
        commentCount=model.commentCount
        parentContentId=(readonly model.id)
        comments=comments
        contentTitle=(readonly model.title)
        disabled=(readonly commentingDisabled)
        afterComment=(action 'reloadComments')
      }}
    </div>

    <div class='DetailPage-sectionWrapper'>
      <div class='AdBanner-wrapper AdBanner-wrapper--detail'>
        {{ad-banner
          contentModel=model
        }}
      </div>
    </div>

    <div class='DetailPage-sectionWrapper'>
      <div class='DetailPage-section DetailPage-similarContent'>
        {{#similar-content
          contentId=model.id
          limit=4
        }}
          {{#title-text strong=true small=true}}Suggested{{/title-text}}
        {{/similar-content}}
      </div>
    </div>
  {{/unless}}
{{/sticky-container}}
