<header class="DetailPage-navTop-container">
  {{#if model.imageUrl}}
    {{header-image imageUrl=model.imageUrl}}
  {{/if}}
</header>

<div class="DetailPage-headerContainer">
  <div class="DetailPage-headerSection">
    <h1 class="DetailPage-title h1" data-test-talk-title>{{model.title}}</h1>
  </div>
  <div class="DetailPage-headerSection">
    <div class="DetailPage-headerNav">
      <div class='DetailPage-headerNavItem'>
        {{#if talk.authorImageUrl}}
          <img src="{{model.authorImageUrl}}">
        {{/if}}
        <div class='h3'>
          Discussion started by <span data-test-talk-author-name>{{model.authorName}}</span>
          <br/>{{formattedPublishedAt}}
        </div>
        <p data-test-comment-count>
          {{#if model.commentCount}}
            {{model.commentCount}} {{model.commentCountText}}
          {{/if}}
          {{#if model.viewCount}}
            {{model.viewCount}} {{model.viewCountText}}
          {{/if}}
        </p>
      </div>
    </div>
  </div>
</div>

{{#unless isPreview}}
  {{report-content-details
  contentId=model.contentId
  }}
{{/unless}}

<div class='DetailPage-sectionWrapper'>
  <div class="DetailPage-section DetailPage-content">
    <div class='ContentBody'>
      <div class='ContentText' data-test-talk-content>{{{model.content}}}</div>
    </div>
  </div>
</div>

{{#unless isPreview}}
  {{#if model.canEdit}}
    {{edit-content-link
    contentId=model.id
    route='talk.edit'
    text='Edit Talk'
    }}
  {{/if}}

  {{#horizontal-rule}}
    {{social-share
      title=model.title
      authorName=model.organization.name
      twitterHandle=model.organization.twitterHandle
      sharedBy=session.userName
      model=model
      isTalkChannel=true
    }}
  {{/horizontal-rule}}

  <div class='DetailPage-sectionWrapper'>
    <div class='AdBanner-wrapper AdBanner-wrapper--detail'>
      {{ad-banner
        contentModel=model
      }}
    </div>
  </div>

  {{horizontal-rule}}

  <div class='DetailPage-sectionWrapper'>
    <div class="DetailPage-section DetailPage-comments">
      {{#title-text strong=true}}
        Comments
        {{#if model.commentCount}}
          <span class="DetailPage-comments-count">{{model.commentCount}}</span>
        {{/if}}
      {{/title-text}}

      {{content-comments
      content=model
      scrollTo=scrollTo
      displayPromotion=displayPromotion
      }}
    </div>
  </div>

  {{horizontal-rule}}

  <div class='DetailPage-sectionWrapper'>
    <div class="DetailPage-section DetailPage-similarContent">
      {{#similar-content
        contentId=model.contentId
        limit=4
      }}
        {{#title-text strong=true}}Suggested{{/title-text}}
    {{/similar-content}}

    </div>
  </div>

{{/unless}}
