{{#if isEditing}}
  {{yield (hash
    isEditing=isEditing
    exitEditMode=(action exitEditMode)
    enterEditMode=(action enterEditMode)
  )}}
{{else}}
  {{#if valueWasGiven}}
    <span class='InlineEdit-display' onclick={{action (action enterEditMode)}}>
      {{fa-icon 'pencil'}}
      {{{value}}}
    </span>
  {{else}}
    {{yield (hash
      isEditing=isEditing
      exitEditMode=(action exitEditMode)
      enterEditMode=(action enterEditMode)
    )}}
  {{/if}}
{{/if}}
