{{#if isEditing}}
  {{yield (hash
    isEditing=isEditing
    exitEditMode=(action exitEditMode)
    enterEditMode=(action enterEditMode)
  )}}
{{else}}
  {{#if valueWasGiven}}
    {{{value}}}
    <span class='InlineEdit-editButton' data-test-action='toggle-edit' {{action (action enterEditMode)}}>
      {{fa-icon 'pencil'}}
      edit
    </span>
  {{else}}
    {{yield (hash
      isEditing=isEditing
      exitEditMode=(action exitEditMode)
      enterEditMode=(action enterEditMode)
    )}}
  {{/if}}
{{/if}}
