{{#if isEditing}}
  {{yield (hash
    isEditing=isEditing
    exitEditMode=(action exitEditMode)
    enterEditMode=(action enterEditMode)
  )}}
{{else}}
  {{#if valueWasGiven}}
    {{{value}}}
    <div class='InlineEdit-display' data-test-action='toggle-edit' onclick={{action (action enterEditMode)}}>
      {{fa-icon 'pencil'}} <span class='u-link u-bold'>edit</span>
    </div>
  {{else}}
    {{yield (hash
      isEditing=isEditing
      exitEditMode=(action exitEditMode)
      enterEditMode=(action enterEditMode)
    )}}
  {{/if}}
{{/if}}
