{{#x-card noShadow=noShadow class="OrganizationProfileHeaderCard-card-wrap"}}

  {{#if showGearButton}}
    {{cards/organization-profile-header/button-menu}}
  {{/if}}

  {{#if (or organization.certifiedStoryteller organization.certifiedSocial)}}
    <div class="OrganizationProfileHeaderCard-certification">
      {{#if organization.certifiedStoryteller}}
        <div class="OrganizationProfileHeaderCard-certification-storyteller">
          {{fa-icon 'certificate'}} Certified Storyteller
        </div>
      {{/if}}
      {{#if organization.certifiedSocial}}
        <div class="OrganizationProfileHeaderCard-certification-social">
          {{fa-icon 'certificate'}} Certified in Social
        </div>
      {{/if}}
    </div>
  {{/if}}

  <div class="OrganizationProfileHeaderCard-header-image-wrap">
    {{#if showBackgroundImage}}
      {{header-image
        imageUrl=backgroundImageUrl
        profileHeader=isProfileHeader
        class='OrganizationProfileHeaderCard-header-image'
      }}
    {{/if}}

    {{#if showProfileImage}}
      <div class="OrganizationProfileHeaderCard-profile-image">
        <img src="{{optimized-image-url organization.profileImageUrl 150 150 true}}"
             class="OrganizationProfileHeaderCard-profile-image-avatar">
      </div>
    {{/if}}
  </div>

  {{#content-body verticalPadding=true}}
    {{#unless isProfileHeader}}
      {{#link-to organization.organizationLinkRoute organization.organizationLinkId}}
        {{#title-text noMargin=true center=true strong=true}}
          {{organization.name}}
        {{/title-text}}
      {{/link-to}}
    {{else}}
      {{#title-text noMargin=true center=true strong=true}}
        {{organization.name}}
      {{/title-text}}
    {{/unless}}

    {{#if organization.fullAddress}}
      {{#text-block center=true hasMargin=false}}
        {{addressToShow}}
      {{/text-block}}
    {{/if}}

    {{#if (and organization.customLinks showCustomLinks)}}
      {{#text-block center=true topMargin=true}}
        {{cards/organization-profile-header/hotlinks customLinks=organization.customLinks}}
      {{/text-block}}
    {{/if}}

    {{#if organization.subscribeUrl}}
      {{#text-block center=true}}
        {{#x-link-url href=organization.subscribeUrl
                      style='regular'
                      color='primary'
                      size='x-small'}}
          Subscribe
        {{/x-link-url}}
      {{/text-block}}
    {{else if organization.specialLinkUrl}}
      {{#text-block center=true}}
        {{#x-link-url href=organization.specialLinkUrl
                      style='regular'
                      color='primary'
                      size='x-small'}}
          {{organization.specialLinkText}}
        {{/x-link-url}}
      {{/text-block}}
    {{/if}}

  {{/content-body}}
{{/x-card}}
