{{#x-card noShadow=noShadow class="OrganizationProfileHeaderCard-card-wrap"}}

  <div class="OrganizationProfileHeaderCard-header-image-wrap">
    {{#if showBackgroundImage}}
      {{header-image
        imageUrl=backgroundImageUrl
        profileHeader=isProfileHeader
        class="OrganizationProfileHeaderCard-header-image"
      }}
    {{/if}}

    {{#if showProfileImage}}
      <div class="OrganizationProfileHeaderCard-profile-image">
        <img
        src={{optimized-image-url organization.profileImageUrl 150 150 true}}
        class="OrganizationProfileHeaderCard-profile-image-avatar"
        alt="Profile Image">
      </div>
    {{/if}}
  </div>

  {{#content-body verticalPadding=true class="OrganizationProfileHeaderCard--name"}}
    {{#if isProfileHeader}}
      {{#title-text noMargin=true center=true strong=true}}
        {{organization.name}}
      {{/title-text}}
    {{else}}
      {{#link-to organization.organizationLinkRoute organization.organizationLinkId}}
        {{#title-text noMargin=true center=true strong=true}}
          {{organization.name}}
        {{/title-text}}
      {{/link-to}}
    {{/if}}

    {{#unless isInAdminView}}
      {{hide-organization-button
        contentId=null
        organization=organization
        class="OrganizationProfileHeaderCard--hide-flag"
      }}
    {{/unless}}


    {{#if organization.fullAddress}}
      {{#text-block center=true hasMargin=false}}
        {{addressToShow}}
      {{/text-block}}
    {{/if}}

    {{#if (and organization.customLinks showCustomLinks)}}
      {{#text-block center=true topMargin=true}}
        {{cards/organization-profile-header/hotlinks
            organization=organization
            customLinks=organization.customLinks}}
      {{/text-block}}
    {{/if}}

  {{/content-body}}
{{/x-card}}
