<div class="GlobalFilter--filter {{if allIsActive "active"}}">
  {{#link-to "feed" (query-params type=null) preventDefault=false}}
    <div class="GlobalFilter--filter-text" role="button" {{action "changeFilter" "all"}}>
      All
    </div>
  {{/link-to}}
</div>

<div class="GlobalFilter--filter {{if postsIsActive "active"}}">
  {{#link-to "feed" (query-params type="posts") preventDefault=false}}
    <div class="GlobalFilter--filter-text" role="button" {{action "changeFilter" "posts"}}>
      Posts
    </div>
  {{/link-to}}
</div>

<div class="GlobalFilter--filter {{if calendarIsActive "active"}}">
  {{#link-to "feed" (query-params type="calendar") preventDefault=false}}
    <div class="GlobalFilter--filter-text" role="button" {{action "changeFilter" "calendar"}}>
      Calendar
    </div>
  {{/link-to}}
</div>

<div class="GlobalFilter--filter {{if marketIsActive "active"}}">
  {{#link-to "feed" (query-params type="market") preventDefault=false}}
    <div class="GlobalFilter--filter-text" role="button" {{action "changeFilter" "market"}}>
      Market
    </div>
  {{/link-to}}
</div>
