<div class="JobsNavigation-wrapper">

  <div class="JobsNavigation-nav-button" onclick={{action 'selectedMenuItem' 'market'}}>
    {{#link-to 'market.new' (query-params organization_id=organizationId)}}
      <div class="JobsNavigation-bubble" data-test-ugc-job-link data-test-link="market">
        {{fa-icon 'tags'}}
      </div>
        <span>List in Market</span>
    {{/link-to}}
  </div>
  <div class="JobsNavigation-nav-button" onclick={{action 'selectedMenuItem' 'events'}}>
    {{#link-to 'events.new' (query-params organization_id=organizationId)}}
      <div class="JobsNavigation-bubble" data-test-ugc-job-link data-test-link="events">
        {{fa-icon 'calendar'}}
      </div>
        <span>List in Calendar</span>
    {{/link-to}}
  </div>

  {{#if canPublishNews}}
    <div class="JobsNavigation-nav-button" onclick={{action 'selectedMenuItem' 'news'}}>
      {{#link-to 'news.new' (query-params organization_id=organizationId)}}
        <div class="JobsNavigation-bubble" data-test-ugc-job-link data-test-link="news">
          {{fa-icon 'pencil-square-o' class="offsetRight"}}
        </div>
        <span>Create a Post</span>
      {{/link-to}}
    </div>
  {{else}}
    <div class="JobsNavigation-nav-button" onclick={{action 'selectedMenuItem' 'startablog'}}>
      {{#link-to 'startablog'}}
        <div class="JobsNavigation-bubble" data-test-ugc-job-link data-test-link="startablog">
          {{fa-icon 'pencil-square-o' class="offsetRight"}}
        </div>
        <span>Get Paid to Post</span>
      {{/link-to}}
    </div>
  {{/if}}

</div>

<div class="JobsNavigation-help-wrap">
  {{help-text}}
</div>
