{{#list-menu as |lm|}}
  {{#if organization.canPublishNews}}
    {{#lm.item}}
      {{#link-to 'news.new' (query-params organization_id=organizationId)}}
        <span onclick={{action 'selectedMenuItem' 'Create news post'}}>
          Create news post
        </span>
      {{/link-to}}
    {{/lm.item}}
  {{/if}}
  {{#lm.item}}
    {{#link-to 'market.new' (query-params organization_id=organizationId job='Sell or give something away')}}
      <span onclick={{action 'selectedMenuItem' 'Sell or give something away'}}>
        Sell or give something away
      </span>
    {{/link-to}}
  {{/lm.item}}
  {{#unless hideTalk}}
    {{#lm.item}}
      {{#link-to 'talk.new' (query-params organization_id=organizationId job='Ask your neighbors for a recommendation')}}
        <span onclick={{action 'selectedMenuItem' 'Ask your neighbors for a recommendation'}}>
        Ask your neighbors for a recommendation
      </span>
      {{/link-to}}
    {{/lm.item}}
  {{/unless}}
  {{#lm.item}}
    {{#link-to 'market.new' (query-params organization_id=organizationId job='Buy, borrow or rent from your neighbors')}}
      <span onclick={{action 'selectedMenuItem' 'Buy, borrow or rent from your neighbors'}}>
        Buy, borrow or rent from your neighbors
      </span>
    {{/link-to}}
  {{/lm.item}}
  {{#unless hideTalk}}
    {{#lm.item}}
      {{#link-to 'talk.new' (query-params organization_id=organizationId job='Make an announcement')}}
        <span onclick={{action 'selectedMenuItem' 'Make an announcement'}}>
          Make an announcement
        </span>
      {{/link-to}}
    {{/lm.item}}
  {{/unless}}
  {{#lm.item}}
    {{#link-to 'events.new' (query-params organization_id=organizationId job='Post an event like a concert')}}
      <span onclick={{action 'selectedMenuItem' 'Post an event like a concert'}}>
        Post an event like a concert
      </span>
    {{/link-to}}
  {{/lm.item}}
  {{#lm.item}}
    {{#link-to 'events.new' (query-params organization_id=organizationId job='Post a recurring event like a yoga class')}}
      <span onclick={{action 'selectedMenuItem' 'Post a recurring event like a yoga class'}}>
        Post a recurring event like a yoga class
      </span>
    {{/link-to}}
  {{/lm.item}}
  {{#unless hideTalk}}
    {{#lm.item}}
      {{#link-to 'talk.new' (query-params organization_id=organizationId job='Ask your neighbors a question')}}
        <span onclick={{action 'selectedMenuItem' 'Ask your neighbors a question'}}>
          Ask your neighbors a question
        </span>
      {{/link-to}}
    {{/lm.item}}
  {{/unless}}
{{/list-menu}}

{{help-text}}
