<div class="FeedCard--card-front">
  {{#if (or organization.certifiedStoryteller organization.certifiedSocial)}}
    <div class="FeedCard-certification">
      {{#if organization.certifiedStoryteller}}
        <div class="FeedCard-certification-storyteller">
          {{fa-icon "certificate"}} Certified Storyteller
        </div>
      {{/if}}
      {{#if organization.certifiedSocial}}
        <div class="FeedCard-certification-social">
          {{fa-icon "certificate"}} Certified in Social
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{#if (or backgroundImageUrl backgroundImageBlock)}}
    {{header-image imageUrl=backgroundImageUrl short=true block=backgroundImageBlock}}
  {{/if}}

  {{#if organization.displayImageUrl}}
    <div class="text-center">
      <img src={{optimized-image-url organization.displayImageUrl 90 90 true}}
           class="FeedCard-avatar {{if backgroundImageUrl "FeedCard-avatar--floating"}}" alt="Avatar Image">
    </div>
  {{/if}}

  {{#content-body verticalPadding=hasNoImage noBottomPadding=true}}
    {{#link-to organization.organizationLinkRoute organization.organizationLinkId}}
      {{#title-text noMargin=true center=true strong=true}}
        {{organization.name}}
      {{/title-text}}
    {{/link-to}}

    {{#text-block center=true hasMargin=false}}
      {{#if organization.hasContactInfo}}
        {{#if onlyShowCityAndState}}
          {{organization.city}}, {{organization.state}}
        {{else}}
          {{organization.fullAddress}}
        {{/if}}
      {{else}}
        {{#if isDescriptionExpanded}}
          {{organizationDescription}}
        {{else}}
          {{truncate-text text=organization.description maxLength=140}}
        {{/if}}
      {{/if}}
    {{/text-block}}
  {{/content-body}}

  {{yield}}

  {{#content-footer center=true noPadding=true}}
    {{#if organization.hasContactInfo}}

      {{#if organization.phone}}
        <div class="FeedCard-footer-item">
          {{render-phone phone=organization.phone}}
        </div>
      {{/if}}

      {{#if organization.email}}
        <div class="FeedCard-footer-item">
          <a href={{organization.emailLink}} target="_blank" rel="noopener noreferrer">
            {{fa-icon "fa-envelope"}} Email
          </a>
        </div>
      {{/if}}

      {{#if (and organization.address showDirections)}}
        <div class="FeedCard-footer-item">
          <a href={{organization.directionsLink}} target="_blank" rel="noopener noreferrer">
            {{fa-icon "fa-map-marker"}} Directions
          </a>
        </div>
      {{/if}}

    {{else}}
      {{#if showExpandedFooter}}
        {{#content-body verticalPadding=true}}
          {{#x-button onClick=(action "toggleDescription")
                      style="link"
                      color="primary"
                      size="medium"}}
            {{#if isDescriptionExpanded}}
              See Less {{fa-icon "chevron-up"}}
            {{else}}
              See More {{fa-icon "chevron-down"}}
            {{/if}}
          {{/x-button}}
        {{/content-body}}
      {{/if}}
    {{/if}}
  {{/content-footer}}
</div>
