<div class="FeedCard--card-front">
  {{#if organization.backgroundImageUrl}}
    {{header-image imageUrl=organization.backgroundImageUrl short=true}}
  {{/if}}

  {{#if organization.displayImageUrl}}
    <div class="text-center">
      <img src={{optimized-image-url organization.displayImageUrl 90 90 true}} class="FeedCard-floatingAvatar">
    </div>
  {{/if}}

  {{#content-body increaseBottomPadding=true}}
    {{#link-to organization.organizationLinkRoute organization.organizationLinkId}}
      {{#title-text noMargin=true center=true strong=true}}
        {{organization.name}}
      {{/title-text}}
    {{/link-to}}

    {{#text-block center=true hasMargin=false}}
      {{#if organization.hasContactInfo}}
        {{organization.fullAddress}}
      {{else}}
        {{#if isDescriptionExpanded}}
          {{{organization.description}}}
        {{else}}
          {{truncate-text text=organization.description maxLength=140}}
        {{/if}}
      {{/if}}
    {{/text-block}}
  {{/content-body}}

  {{#content-footer center=true noPadding=true}}
    {{#if organization.hasContactInfo}}

      {{#if organization.phone}}
        <div class="FeedCard-footer-item">
          {{render-phone phone=organization.phone}}
        </div>
      {{/if}}

      {{#if organization.email}}
        <div class="FeedCard-footer-item">
          <a href="{{organization.emailLink}}" target="_blank">
            {{fa-icon 'fa-envelope'}} Email
          </a>
        </div>
      {{/if}}

      {{#if organization.address}}
        <div class="FeedCard-footer-item">
          <a href="{{organization.directionsLink}}" target="_blank">
            {{fa-icon 'fa-map-marker'}} Directions
          </a>
        </div>
      {{/if}}

    {{else}}
      {{#content-body verticalPadding=true}}
        {{#x-button onClick=(action 'toggleDescription')
                    style='link'
                    color='primary'
                    size='medium'}}
          {{#if isDescriptionExpanded}}
            See Less {{fa-icon 'chevron-up'}}
          {{else}}
            See More {{fa-icon 'chevron-down'}}
          {{/if}}
        {{/x-button}}
      {{/content-body}}
    {{/if}}
  {{/content-footer}}
</div>
