{{#unless showHeader}}
  <h1 class='h2'>Top Stories</h1>
{{/unless}}

<div class='row' data-row='row-1'>
  <div class='col-sm-6'>
    {{news-card-wide
      item=item1
      class='Card--solo'
      variant='full'
      routeName=routeName
    }}
  </div>

  <div class='col-sm-3'>
    {{news-card
      item=item2
      variant='vertical'
      routeName=routeName
    }}

    <div class='AdBanner-wrapper AdBanner-wrapper--news'>
      {{ad-banner adContextName=adPath impressionPath=adPath lastRefreshDate=lastRefreshDate}}
    </div>
  </div>
  <div class='col-sm-3'>
    {{news-card
      item=item3
      variant='vertical'
      routeName=routeName
    }}

    <div class='Card-wrapper--columnVertical2Up'>
      {{news-card
        item=item4
        variant='vertical'
        routeName=routeName
      }}
    </div>
  </div>
</div>

{{#if item5}}
  <div class='row' data-row='row-2'>
    <div class='col-sm-3'>
      <div class='Card-wrapper--columnVertical4Up'>
        {{news-card
          item=item5
          variant='vertical'
          routeName=routeName
        }}
        {{news-card
          item=item6
          variant='vertical'
          routeName=routeName
        }}
      </div>
    </div>

    <div class='col-sm-6'>
      {{news-card-wide
        class='Card--solo Card--wide'
        item=item7
        variant='vertical'
        routeName=routeName
      }}
    </div>

    <div class='col-sm-3'>
      {{news-card
        item=item8
        variant='vertical'
        routeName=routeName
      }}
      {{news-card
        item=item9
        variant='vertical'
        routeName=routeName
      }}
    </div>
  </div>
{{/if}}

{{#if item10}}
  <div class='row' data-row='row-3'>
    <div class='col-sm-6'>
      {{news-card-wide
        class='Card--solo Card--wide'
        item=item10
        variant='vertical'
        routeName=routeName
      }}
    </div>

    <div class='col-sm-3'>
      {{news-card
        item=item11
        variant='vertical'
        routeName=routeName
      }}
      {{news-card
        item=item12
        variant='vertical'
        routeName=routeName
      }}
    </div>

    <div class='col-sm-3'>
      <div class='Card-wrapper--columnVertical4Up'>
        {{news-card
          item=item13
          variant='vertical'
          routeName=routeName
        }}
        {{news-card
          item=item14
          variant='vertical'
          routeName=routeName
        }}
      </div>
    </div>
  </div>
{{/if}}
