<h1 class="text-center">{{title}}</h1>
{{content-form-image
  image=_selectedImage
  imageUrl=imageUrl
  originalImageUrl=(readonly _originalImageUrl)
}}

{{#if enableCaption}}
  {{#form-group hideError=true}}
    <label class='control-label ContentForm-label' for="caption">Caption</label>
    {{input
    id='caption'
    placeholder='Optional image caption'
    class='form-control'
    value=caption
    }}
  {{/form-group}}
{{/if}}

<div class="ImageEditor-buttons">
  <button class="Button Button--news" {{action 'save'}} disabled={{saveDisabled}}>Submit</button>
  <button class="Button Button--secondary" {{action 'cancel'}}>Cancel</button>
</div>
