<h1 class="text-center">{{title}}</h1>
{{content-form-image
  image=_selectedImage
  imageUrl=imageUrl
  hasNewImage=hasNewImage
  originalImageUrl=(readonly _originalImageUrl)
}}

{{#if enableCaption}}
  {{#form-group hideError=true}}
    <label class="control-label ContentForm-label optional" for="caption">Caption</label>
    {{input
      id="caption"
      placeholder="Optional image caption"
      class="form-control optional"
      value=caption
      focusIn=(action "onFocusIn")
      focusOut=(action "onFocusOut")
      keyUp=(action "captionChanging")
      keyDown=(action "checkKeys")
      maxlength=maxCaptionLength
    }}
  {{/form-group}}
  {{#if (or captionInFocus hasCaption)}}
    <div class="ImageEditor-caption-length">
      {{captionLength}}/{{maxCaptionLength}} Max
    </div>
  {{/if}}
{{/if}}

<div class="ImageEditor-buttons">
  <button class="Button Button--news" {{action "save"}} disabled={{saveDisabled}} data-test-news-image="submit">Submit</button>
  <button class="Button Button--secondary" {{action "cancel"}}>Cancel</button>
</div>
