<div class='SearchInput-inputGroup'>

  {{#if showIcon}}
    <i class='fa fa-search SearchInput-icon'></i>
  {{/if}}

  <input type={{inputType}}
    oninput={{action "update" value="target.value"}}
    value={{value}}
    placeholder={{placeholder}}
    disabled={{disabled}}
    class='form-control SearchInput-input'>

  {{#if value}}
  <button class='SearchInput-clear' title={{clearTooltip}} {{action "update" ""}}>
    {{#if isLoading}}
      {{fa-icon 'spinner fa-spin'}}
    {{else}}
        <i class='fa fa-times'></i>
    {{/if}}
    {{clearButtonText}}
  </button>
  {{/if}}
</div>
