<div class="SearchInput-inputGroup">

  {{#if showIcon}}
    {{fa-icon iconName class="SearchInput-icon"}}
  {{/if}}

  <input type={{inputType}}
    oninput={{action "update" value="target.value"}}
    onblur={{action "onblur"}}
    value={{value}}
    placeholder={{placeholder}}
    disabled={{disabled}}
    class="form-control SearchInput-input">


  {{#if value}}
    <button class="SearchInput-clear" title={{clearTooltip}} {{action "update" ""}}>
      {{#if isLoading}}
        {{fa-icon "spinner fa-spin"}}
      {{else if showClearButton}}
        {{fa-icon "times-rectangle-o"}}
      {{/if}}
      {{clearButtonText}}
    </button>
  {{/if}}
</div>
