{{inviewport-reporter
  reportEnterViewport=true
  reportOnce=true
  callback=(action trackDetailEngagement "start")
}}

{{#sticky-container scrollTarget=".Modal-dialog-body" refreshOffsetDuringScroll=true enabled=enableStickyHeader as |sticky|}}
  <article>
    <div class="DetailPage-headerSection u-padding8">
      {{feed-card/title
        title=model.title
        model=model
        isOnDetailView=true
      }}
    </div>

    <header class="DetailPage-navTop-container">
      {{#if model.primaryImage.imageUrl}}
        <div class="DetailPage-headerImage-wrapper">
          <div class="DetailPage-headerImage">
            {{#image-load-placeholder
              placeholderBlockWidth=640
              placeholderBlockHeight=480
              imageUrl=(optimized-image-url model.primaryImage.imageUrl 640 480 true)
              placeholderUrl=(optimized-image-url model.primaryImage.imageUrl 64 48 true)
              placeholderImageClass="img-responsive"
              showGradient=hasCaption
            }}
              <img
                data-test-detail-page-image
                class="img-responsive"
                src={{optimized-image-url model.primaryImage.imageUrl 640 480 true}}
                alt="Header Image">
            {{/image-load-placeholder}}
          </div>
        </div>
      {{else}}
        <div class="DetailPage-headerImage-wrapper">
          <div class="DetailPage-headerImage no-image">
            <div>
              {{fa-icon "file-image-o"}}
              {{#if isPreview}}
                <p class="text-center">Please add a featured image.</p>
              {{/if}}
            </div>
          </div>
        </div>
      {{/if}}
    </header>


    {{#content-body classNames="u-padding0"}}
      {{#if hasCaption}}
        <div class="DetailPage-caption {{if captionHidden "hidden"}}">
          <p>{{model.primaryImageCaption}}</p>
        </div>
      {{/if}}
    {{/content-body}}

    {{#sticky.item
      class="StickyItem--default-background u-boxShadowBottom"
      useAbsolutePositioning=true
      toggleCaption=(action "toggleCaption")
      enabled=enableStickyHeader
    }}
      {{#content-body classNames="u-padding0"}}
        <div class="DetailPage-headerSubSection u-flexSpace u-flexAlign-center u-padding8">
          {{#feed-card/attribution
            model=model
            isOnDetailView=true
            hideActivity=true
            hidePostedTime=true
            showCenter=(not isPreview)
          }}
            {{subscribe-button organization=model.organization}}
          {{/feed-card/attribution}}
        </div>

      {{/content-body}}
    {{/sticky.item}}

    <div class="DetailPage-sectionWrapper u-paddingTop8">
      {{#feed-card/footer
        model=model
        showCost=false
        noBorder=true
        noPadding=true
      }}
        {{feed-card/activity
          model=model
          linkToDetailIsActive=false
        }}
      {{/feed-card/footer}}

      {{#unless isPreview}}
        {{feed-card/manage
          model=model
          openPromotionMenu=(action "openPromotionMenu")
        }}
      {{/unless}}

      <div class="DetailPage-content News-content ContentText">
        {{#if model.subtitle}}
          {{#subtitle-text}}
            {{model.subtitle}}
          {{/subtitle-text}}
        {{/if}}

        <div data-test-detail-page-content>

          {{#if (and model.embeddedAd (not isPreview))}}
            {{modelSplitContentHead}}

            <div class="AdBanner-wrapper AdBanner-wrapper--detail AdBanner-wrapper--news AdBanner--inContentBody">
              <div class="AdBanner-wrapper AdBanner-wrapper--detail">
                <div class="AdBanner--inContentBody-messageBar">
                  Advertisement: Content continues below...
                </div>
                {{ad-banner
                  contentModel=model
                  pagePlacement="in-news-detail-body"
                  placeholderBlockFixedSize=true
                }}
              </div>
            </div>

            {{modelSplitContentTail}}
          {{else}}
            {{modelContent}}
          {{/if}}
        </div>
      </div>
    </div>

    {{inviewport-reporter
      reportEnterViewport=true
      reportOnce=true
      callback=(action trackDetailEngagement "read")
    }}

    {{#unless isPreview}}
      <div class="DetailPage-cta">
        <div class="DetailPage-cta-button" {{action "openOrangeButton"}} role="button">
          {{fa-icon "pencil-square-o" class="DetailPage-cta-bubble offset"}}
          <div class="DetailPage-cta-message">
            Have something you'd like to Post?<br>
            Get started today.
          </div>
          {{fa-icon "chevron-right" class="DetailPage-cta-chevron"}}
        </div>
      </div>
      {{#horizontal-rule}}
        {{social-share
          title=model.title
          authorName=model.organization.name
          twitterHandle=model.organization.twitterHandle
          sharedBy=session.userName
          model=model
        }}
      {{/horizontal-rule}}

      {{#unless model.embeddedAd}}
        <div class="AdBanner-wrapper AdBanner-wrapper--detail AdBanner-wrapper--news">
          <div class="AdBanner-wrapper AdBanner-wrapper--detail">
            {{ad-banner
              contentModel=model
              pagePlacement="after-news-detail-body"
              placeholderBlockFixedSize=true
            }}
          </div>
        </div>
      {{/unless}}

      <div class="DetailPage-section DetailPage-comments">
        {{comments-section
          showSectionTitle=true
          commentCount=model.commentCount
          parentContentId=(readonly model.contentId)
          comments=comments
          contentTitle=(readonly model.title)
          disabled=(readonly commentingDisabled)
          afterComment=(action "reloadComments")
        }}
      </div>

      <div class="DetailPage-sectionWrapper">
        <div class="DetailPage-section DetailPage-similarContent">
          {{#similar-content
              contentId=model.contentId
              limit=4
          }}
            {{#title-text strong=true small=true}}Suggested{{/title-text}}
          {{/similar-content}}
        </div>
      </div>

    {{/unless}}

  </article>
{{/sticky-container}}

{{inviewport-reporter
  reportEnterViewport=true
  reportOnce=true
  callback=(action trackDetailEngagement "complete")
}}

{{#if showManageOverlay}}
  {{to-elsewhere
    named=manageOverlayModalName
    send=(component "jobs-forms/promotion-menu"
          model=model
          onClose=(action "closePromotionMenu")
          )
  }}
{{/if}}
