{{#sticky-container scrollTarget='.Modal-dialog-body' refreshOffsetDuringScroll=true enabled=enableStickyHeader as |sticky|}}
  <article>
    <header class="DetailPage-navTop-container">

      {{#if model.featuredImageUrl}}
        <div class='DetailPage-headerImage-wrapper'>
          <div class='DetailPage-headerImage'>
            {{#image-load-placeholder
              placeholderBlockWidth=640
              placeholderBlockHeight=480
              imageUrl=(optimized-image-url model.featuredImageUrl 640 480 true)
              placeholderUrl=(optimized-image-url model.featuredImageUrl 64 48 true)
              placeholderImageClass='img-responsive'
              imageForContent=true
            }}
              <img class='img-responsive' src={{optimized-image-url model.featuredImageUrl 640 480 true}}>
            {{/image-load-placeholder}}
          </div>
        </div>
      {{else}}
        {{#if isPreview}}
          <p class='text-center'>Please consider adding a featured image.</p>
        {{/if}}
      {{/if}}
    </header>

    {{#sticky.item class='StickyItem--default-background FloatingBox' useAbsolutePositioning=true
    toggleCaption=(action 'toggleCaption')}}
      {{#content-body}}
        <div class="DetailPage-caption {{if captionHidden 'hidden'}}">
          <p>{{model.featuredImageCaption}}</p>
        </div>

        <div class="DetailPage-headerSection">
          {{#title-text noMargin=true strong=true}}
            <span data-test-news-title='{{model.title}}'>{{model.title}}</span>
          {{/title-text}}
        </div>

        {{horizontal-rule short=true}}

        {{#media-container reverse=true centerVertically=true noRightMargin=true as |media|}}
          <div class="u-marginLeft15">
            {{#unless isPreview}}
              {{feed-card/edit-button 
              model=model 
              editPath=editPath 
              editPathId=model.id
              color=''
              style=''
              iconSize="medium"}}
            {{/unless}}
          </div>

          {{#media.object}}
            {{#unless isPreview}}
              {{#if model.organization.subscribeUrl}}
                {{subscribe-button subscribeUrl=model.organization.subscribeUrl}}
              {{/if}}
            {{/unless}}
          {{/media.object}}

          {{#media.content}}
            {{#link-to
              model.organization.organizationLinkRoute
              model.organization.organizationLinkId
              class='DetailPage-organization-link'
              data-test-link="organization-link"
            }}
              {{author-byline
                authorName=model.authorName
                organizationName=model.organization.name
                imageUrl=model.organization.displayImageUrl
              }}
            {{/link-to}}
          {{/media.content}}

        {{/media-container}}
      {{/content-body}}
    {{/sticky.item}}


    <div class='DetailPage-sectionWrapper'>

      <div class="DetailPage-content News-content ContentText">
        {{#text-block small=true}}
          {{if model.isDraft 'Date will appear here when published' model.formattedPublishedAt}}
        {{/text-block}}

        {{#if model.subtitle}}
          {{#subtitle-text}}
            {{model.subtitle}}
          {{/subtitle-text}}
        {{/if}}

        {{#unless model.embeddedAd}}
          {{{ model.content }}}
        {{else}}
          {{{ model.splitContent.head }}}

          <div class='AdBanner-wrapper AdBanner-wrapper--detail AdBanner-wrapper--news AdBanner--inContentBody'>
            <div class='AdBanner-wrapper AdBanner-wrapper--detail'>
              <div class='AdBanner--inContentBody-messageBar'>
                Advertisement: Content continues below...
              </div>
              {{ad-banner
                contentModel=model
                pagePlacement='in-news-detail-body'
                placeholderBlockFixedSize=true
              }}
            </div>
          </div>

          {{{ model.splitContent.tail }}}
        {{/unless}}


      </div>
    </div>

    {{report-content-details
      contentId=model.contentId
    }}

    {{#unless isPreview}}
      {{#horizontal-rule}}
        {{social-share
          title=model.title
          authorName=model.organization.name
          twitterHandle=model.organization.twitterHandle
          sharedBy=session.userName
          model=model
        }}
      {{/horizontal-rule}}

      {{#unless model.embeddedAd}}
        <div class='AdBanner-wrapper AdBanner-wrapper--detail AdBanner-wrapper--news'>
          <div class='AdBanner-wrapper AdBanner-wrapper--detail'>
            {{ad-banner
              contentModel=model
              pagePlacement='in-news-detail-body'
              placeholderBlockFixedSize=true
            }}
          </div>
        </div>
      {{/unless}}

      <div class='DetailPage-section DetailPage-comments'>
        {{comments-section
          showSectionTitle=true
          commentCount=model.commentCount
          parentContentId=(readonly model.contentId)
          comments=comments
          contentTitle=(readonly model.title)
          disabled=(readonly commentingDisabled)
          afterComment=(action 'reloadComments')
        }}
      </div>

    <div class='DetailPage-sectionWrapper'>
      <div class='DetailPage-section DetailPage-similarContent'>
        {{#similar-content
          contentId=model.contentId
          limit=4
        }}
          {{#title-text strong=true}}Suggested{{/title-text}}
        {{/similar-content}}
      </div>
    </div>

    {{/unless}}

  </article>
{{/sticky-container}}
