<article>
  <header class="DetailPage-navTop-container">
    {{#unless isPreview}}
      <div class="DetailPage-navTop clearfix">
        {{detail-page-close-link closeRoute=closeRoute closeLabel=closeLabel}}

        <div class="pull-right">
          {{social-share
            title=model.title
            sharedBy=session.userName
            model=model
          }}
        </div>
      </div>
    {{/unless}}

    {{#if model.featuredImageUrl}}
      <div class='DetailPage-headerImage-wrapper'>
        <div class='DetailPage-headerImage'>
          {{#image-load-placeholder
            placeholderBlockWidth=640
            placeholderBlockHeight=480
            imageUrl=(optimized-image-url model.featuredImageUrl 640 480 true)
            placeholderUrl=(optimized-image-url model.featuredImageUrl 64 48 true)
            placeholderImageClass='img-responsive'

          }}
            <img class='img-responsive' src={{optimized-image-url model.featuredImageUrl 640 480 true}}>
          {{/image-load-placeholder}}
        </div>

        {{#if hasCaptionOrCredit}}
          <div class='DetailPage-headerImageCaption'>
            {{model.featuredImageCaption}}

            {{#if model.bannerImage.credit}}
              / Source: {{model.bannerImage.credit}}
            {{/if}}
          </div>
        {{/if}}
      </div>
    {{else}}
      {{#if isPreview}}
        <p class='text-center'>Please consider adding a featured image.</p>
      {{/if}}
    {{/if}}
  </header>

  <div class="DetailPage-headerContainer">
    <div class="DetailPage-headerSection">
      <h1 class='DetailPage-title h2' data-test-news-title='{{model.title}}'>{{model.title}}</h1>

      {{#if model.subtitle}}
        <h2 class='DetailPage-subtitle h2'>{{model.subtitle}}</h2>
      {{/if}}

      <p>
        {{if model.isDraft 'Date will appear here when published' model.formattedPublishedAt}}
      </p>
    </div>
  </div>

  <div class='DetailPage-sectionWrapper'>

    <div class='DetailPage-organization'>
      <div class='DetailPage-organization-info'>
        {{#link-to
          'organization-profile'
          model.organization.slug
          class='DetailPage-organization-link'
          tagName='a'
          data-test-link="organization-link"
        }}
          {{avatar-image
            imageUrl=model.organization.displayImageUrl
            userName=model.organization.name
            customSize=32
            class="DetailPage-organization-avatar"
          }}
          <span data-test-author-name>{{model.authorName}}</span>
          <span><br/>{{model.organizationName}}</span>
        {{/link-to}}
      </div>
      {{#if model.organization.subscribeUrl}}
        {{subscribe-button subscribeUrl=model.organization.subscribeUrl}}
      {{/if}}
    </div>

    <div class="DetailPage-content News-content ContentText">

      {{#if isPreview}}
        {{{ model.content }}}
      {{else}}
        {{{model.splitContent.head}}}
        <div class='AdBanner-wrapper AdBanner-wrapper--detail AdBanner-wrapper--news AdBanner--inContentBody'>
          <div class='messageBar'>
            Advertisement: Content continues below...
          </div>
          {{ad-banner
            contentModel=model
            pagePlacement='in-news-detail-body'
            placeholderBlockFixedSize=true
          }}
        </div>
        {{{model.splitContent.tail}}}
      {{/if}}
    </div>
  </div>

  {{#unless isPreview}}
    <div class='DetailPage-sectionWrapper'>
      {{report-content-details
        contentId=model.contentId
      }}
    </div>
  {{/unless}}

  {{#unless isPreview}}
    <div class='DetailPage-sectionWrapper'>
      <div class='DetailPage-section DetailPage-startDiscussion'>
        <button class='DetailPage-startDiscussionBtn' {{action 'scrollToTalk'}}>
          {{#if model.commentCount}}
            {{model.commentCount}}&nbsp;{{if (eq model.commentCount 1) 'comment' 'comments'}}
          {{else}}
            {{fa-icon 'comment-o'}}&nbsp;Start a Discussion
          {{/if}}
        </button>
      </div>
    </div>


  {{/unless}}

  {{#unless isPreview}}
    {{#if canEdit}}
      {{edit-content-link
        contentId=model.id
        route='news.edit'
        text='Edit Post'
      }}
    {{/if}}

  {{/unless}}

  {{#unless isPreview}}
    <div class='DetailPage-sectionWrapper'>
      <div class='DetailPage-section DetailPage-similarContent'>
        <h2 class='DetailPage-sectionTitle h2'>Suggested</h2>

        {{similar-content
          contentId=model.contentId
          limit=4
        }}
      </div>
    </div>

    <div class='DetailPage-sectionWrapper'>
      <div class='DetailPage-section DetailPage-comments'>
        <h2 class='DetailPage-sectionTitle h2'>Talk</h2>

        {{content-comments
          content=model
          scrollToAnchor=scrollToAnchor
          scrollTo=(action scrollTo)
        }}
      </div>
    </div>
  {{/unless}}
</article>
