<div class="FeedCard--card-front">
  {{feed-card/title
    title=model.title
    eventInstanceId=model.eventInstanceId
    sold=model.sold
    model=model
  }}

  {{#if (or model.startsAtFormatted model.eventInstances)}}
    {{feed-card/event-dates
      eventDate=model.startsAtFormatted
      otherInstances=model.eventInstances
      model=model
    }}
  {{/if}}

  {{#if model.imageUrl}}
    {{feed-card/image
      imageUrl=model.imageUrl
      caption=caption
      model=model
    }}
  {{else}}
    {{feed-card/text-snippet
      showTextSnippet=true
      model=model
    }}
  {{/if}}

  {{#if (or startTime model.price model.venueAddress model.venueCity)}}
    {{feed-card/event-info
      startTime=startTime
      endTime=endTime
      cost=model.cost
      address=model.venueAddress
      city=model.venueCity
      state=model.venueState
    }}
  {{/if}}

  {{feed-card/attribution
    avatarUrl=model.attributionImageUrl
    author=model.attributionName
    linkRouteName=attributionLinkRouteName
    linkId=attributionLinkId
    postedTime=model.publishedAtRelative
    isListserv=model.isListserv
    contentId=model.contentId
  }}

  {{feed-card/footer
    locationTagName=sourceTag
    canEdit=model.canEdit
    editRoute='events.edit'
    editRouteId=model.eventId
  }}

  {{feed-card/comments
    parentContentId=(readonly model.contentId)
    commentCount=model.commentCount
    eventInstanceId=model.eventInstanceId
    comments=model.comments
    contentTitle=(readonly model.title)
    disabled=(readonly commentingDisabled)
    afterComment=(action 'reloadComments')
  }}
</div>
