<div class="FeedCard--card-front">
  {{feed-card/title
    title=model.title
    eventInstanceId=model.eventInstanceId
    sold=model.sold
    model=model
    onContentClick=(action 'onContentClick')
  }}

  {{#if (or model.startsAt model.futureInstances)}}
    {{feed-card/event-dates
      eventDate=(moment-format model.startsAt 'MMMM DD')
      otherInstances=model.futureInstances
      model=model
    }}
  {{/if}}

  {{#if model.imageUrl}}
    {{feed-card/image
      imageUrl=model.imageUrl
      caption=caption
      model=model
      onContentClick=(action 'onContentClick')
    }}
  {{else}}
    {{feed-card/text-snippet
      showTextSnippet=true
      model=model
    }}
  {{/if}}

  {{#if (or startTime model.price model.venueAddress model.venueCity)}}
    {{feed-card/event-info
      startTime=startTime
      endTime=endTime
      cost=model.cost
      address=model.venueAddress
      city=model.venueCity
      state=model.venueState
    }}
  {{/if}}

  {{feed-card/attribution
    avatarUrl=model.attributionImageUrl
    author=model.attributionName
    linkRouteName=attributionLinkRouteName
    linkId=attributionLinkId
    postedTime=(moment-from-now model.publishedAt)
    isListserv=model.isListserv
    contentId=model.contentId
  }}

  {{feed-card/footer
    locationTagName=sourceTag
    canEdit=model.canEdit
    canManage=(readonly context.canManage)
    displayAsPublic=(readonly context.displayAsPublic)
    openPromotionMenu=(action 'openPromotionMenu')
    editRoute='events.edit'
    editRouteId=model.eventId
  }}

  {{feed-card/comments
    contentModel=(readonly model)
    disabled=(readonly commentingDisabled)
    promotionMenuOpen=(readonly context.promotionMenuOpen)
    afterComment=(action 'reloadComments')
    onContentClick=(action 'onContentClick')
  }}
</div>
