<div class='Container--noGutter'>
  <div class='row'>
    <div class='col-xs-12 col-md-8 col-md-push-2'>
      <div class='ChannelTopper clearfix'>
        {{#if media.isMobile}}
          <h1 class='h2 ChannelTopper-title'>Local Talk</h1>
        {{/if}}

        {{#unless media.isMobile}}
          {{partial 'partials/pagination-nav'}}
        {{/unless}}

        {{content-create-button
          class='SectionNavigation-contentCreateButtonMobile pull-right'
          path='talk.new.details'
        }}
      </div>
    </div>
  </div>
</div>


{{#if model}}
  {{sorted-talks
    talks=model
    adPath='talk.all.index'
  }}

  <div class='Container--noGutter'>
    <div class='row'>
      <div class='col-xs-12 col-md-8 col-md-push-2'>
        <div class='PaginationNav-wrapper'>
          <div class='PaginationNav PaginationNav--bottom'>
            {{partial 'partials/pagination-nav'}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}

{{outlet}}
