{{#if model.images}}
  {{market-image-viewer
    images=model.images
  }}
{{/if}}

<div class='MarketPost Container--noGutter ContentBody'>
  <div class='row'>
    <div class='col-sm-2 hidden-sm hidden-xs'>
      {{#unless isPreview}}
        {{back-button defaultRouteName='market'}}
      {{/unless}}
    </div>

    <div class='col-sm-9 col-md-8'>
      <div class='MarketPost-headerContent DashedMobileContent'>
        <h1 data-test-market-title>{{model.title}}</h1>
        <h5><strong>Posted</strong>: {{model.formattedPublishedAt}}</h5>
      </div>

      <h1 class='MarketPost-price visible-xs DashedMobileContent' data-test-market-price>{{model.price}}</h1>

      <div class='MarketPost-content DashedMobileContent ContentText' data-test-market-content>{{{model.content}}}</div>

      <h1 class='MarketPost-price hidden-xs' data-test-market-price>{{model.price}}</h1>

      {{market-contact post=model}}

      {{#unless isPreview}}
        {{ad-banner
          contentModel=model
        }}
      {{/unless}}
    </div>

    <div class='col-sm-3 col-md-2 u-layoutMobilePadding0 hidden-xs hidden-sm'>
      {{social-share
        title=model.title
        sharedBy=session.userName
        model=model
      }}

      {{report-content-details contentId=model.contentId}}

      {{#if model.canEdit}}
        {{edit-content-link
          contentId=model.id
          route='market.edit'
          text='Edit Listing'
        }}
      {{/if}}
    </div>
  </div>

  {{#unless isPreview}}
    {{similar-content
      contentId=model.contentId
      limit=4
    }}
  {{/unless}}
</div>
