{{#if model.imageUrl}}
  <div class='MarketPost-imageContainer'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-8 col-sm-offset-2'>
          <img class='MarketPost-image img-responsive' src={{model.imageUrl}}>
        </div>
      </div>
    </div>
  </div>
{{/if}}

<div class='MarketPost container'>
  <div class='row'>
    <div class='col-sm-2'>
      {{back-button routeName='market'}}
    </div>

    <div class='col-sm-8'>
      <h1 class='MarketPost-title'>{{model.title}}</h1>

      <div>{{model.content}}</div>

      <h1 class='MarketPost-price'>{{model.price}}</h1>

      {{#if model.hasContactInfo}}
        {{market-contact postId=model.id}}
      {{/if}}

      {{partial 'partials/related-promotion'}}
    </div>

    <div class='col-sm-2'>
      {{social-share}}

      {{report-content-details contentId=model.contentId}}

      {{#if model.canEdit}}
        {{link-to 'Edit Listing' 'market.edit' model.id}}
      {{/if}}
    </div>
  </div>
</div>
