{{#if model.coverImageUrl}}
  <div class='MarketPost-imageContainer'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-8 col-sm-offset-2'>
          <img class='MarketPost-image img-responsive' src={{model.coverImageUrl}}>
        </div>
      </div>
    </div>
  </div>
{{/if}}

<div class='MarketPost Container--noGutter ContentBody'>
  <div class='row'>
    <div class='col-sm-2 hidden-sm hidden-xs'>
      {{#unless isPreview}}
        {{back-button defaultRouteName='market'}}
      {{/unless}}
    </div>

    <div class='col-sm-9 col-md-8'>
      <div class='MarketPost-headerContent DashedMobileContent'>
        <h1>{{model.title}}</h1>
        <h5><strong>Posted</strong>: {{model.formattedPublishedAt}}</h5>
      </div>

      <h1 class='MarketPost-price visible-xs DashedMobileContent'>{{model.price}}</h1>

      <div class='MarketPost-content DashedMobileContent'>{{{model.content}}}</div>

      <h1 class='MarketPost-price hidden-xs'>{{model.price}}</h1>

      {{#if model.hasContactInfo}}
        {{market-contact post=model}}
      {{/if}}

      {{#unless isPreview}}
        {{partial 'partials/related-promotion'}}
      {{/unless}}
    </div>

    <div class='col-sm-3 col-md-2 u-layoutMobilePadding0'>
      {{social-share}}

      {{report-content-details contentId=model.contentId}}

      {{#if model.canEdit}}
        {{edit-content-link
          contentId=model.id
          route='market.edit'
          text='Edit Listing'
        }}
      {{/if}}
    </div>
  </div>

  {{#unless isPreview}}
    {{similar-content
      contentId=model.contentId
      limit=4
    }}
  {{/unless}}
</div>
