<div class='MarketPost container'>
  <div class='row'>
    <div class='col-sm-2'>
      {{back-button routeName='market'}}
    </div>

    <div class='col-sm-8'>
      <h1 class='MarketPost-title'>{{model.title}}</h1>

      <div>{{model.content}}</div>

      <h1 class='MarketPost-price'>{{model.price}}</h1>

      {{#if model.hasContactInfo}}
        {{market-contact postId=model.id}}
      {{/if}}

      {{partial 'partials/related-promotion'}}
    </div>

    <div class='col-sm-2'>
      {{social-share}}

      {{#if model.canEdit}}
        {{link-to 'Edit Listing' 'market.edit' model.id}}
      {{/if}}
    </div>
  </div>
</div>
