<li class="channel-filter" {{action 'onLinkClick'}}>
  {{#location-link 'news'
    (query-params
      page=1
      query=newsFilter.defaultQuery
      organization=newsFilter.defaultOrganization
      location=newsFilter.defaultLocation
      locationId=newsFilter.defaultLocationId
    )
    data-test-link='news-channel'
  }}
    News
  {{/location-link}}
</li>
<li class="channel-filter" {{action 'onLinkClick'}}>
  {{#location-link 'events'
    (query-params
      page=1
      query=eventsFilter.defaultQuery
      category=eventsFilter.defaultCategory
      location=eventsFilter.defaultLocation
      date_start=eventsFilter.defaultStart
      days_ahead=eventsFilter.defaultDaysAhead
    )
    data-test-link='events-channel'
  }}
    Events
  {{/location-link}}
</li>
<li class="channel-filter" {{action 'onLinkClick'}}>
  {{#location-link 'market'
    (query-params
      page=1
      flat=false
      query=marketFilter.defaultQuery
      location=marketFilter.defaultLocation
      locationId=marketFilter.defaultLocationId
    )
    data-test-link='market-channel'
  }}
    Market
  {{/location-link}}
</li>
<li class="channel-filter" {{action 'onLinkClick'}}>
  {{#location-link 'talk'
    (query-params
      page=1
      query=talkFilter.defaultQuery
    )
    data-test-link='talk-channel'
  }}
    Talk
  {{/location-link}}
</li>
<li class="channel-filter" {{action 'onLinkClick'}}>
  {{#link-to 'directory'
    data-test-link='directory-channel'
  }}
    Directory
  {{/link-to}}
</li>

<li class="list-break"></li>

<li {{action 'onLinkClick'}}>
  {{#link-to 'terms'}}
    Terms of Service
  {{/link-to}}
</li>

<li {{action 'onLinkClick'}}>
  {{#link-to 'privacy'}}
  Privacy
  {{/link-to}}
</li>

<li {{action 'onLinkClick'}}>
  {{#link-to 'news.show' '790848'}}
    Help
  {{/link-to}}
</li>

<li {{action 'onLinkClick'}}>
  {{#link-to 'copyright-agent'}}
    Don't Sue Us
  {{/link-to}}
</li>

<li>
  <a href="#" {{action 'sendFeedback'}}>
    Contact Us
  </a>
</li>

<li>
  <a href="mailto:ads@subtext.org" {{action 'onLinkClick' preventDefault=false}}>
    Advertise With Us
  </a>
</li>

<li>
  <a href="#" {{action 'sendFeedback'}}>
    Site Feedback
  </a>
</li>

<li>
  <a href="#">
    {{help-text}}
  </a>
</li>