<li class="channel-filter" {{action 'onLinkClick'}}>
  {{#link-to 'feed'
    (query-params type='news')
    data-test-link='news-filter'
  }}
    News
  {{/link-to}}
</li>
<li class="channel-filter" {{action 'onLinkClick'}}>
  {{#link-to 'feed'
    (query-params type='event')
    data-test-link='event-filter'
  }}
    Events
  {{/link-to}}
</li>
<li class="channel-filter" {{action 'onLinkClick'}}>
  {{#link-to 'feed'
    (query-params type='market')
    data-test-link='market-filter'
  }}
    Market
  {{/link-to}}
</li>
<li class="channel-filter" {{action 'onLinkClick'}}>
  {{#link-to 'directory'
    data-test-link='directory-channel'
  }}
    Directory
  {{/link-to}}
</li>

<li class="list-break"></li>

<li {{action 'onLinkClick'}}>
  {{#link-to 'storytellers'}}
    Storytellers
  {{/link-to}}
</li>

<li {{action 'onLinkClick'}}>
  {{#link-to 'terms'}}
    Terms of Service
  {{/link-to}}
</li>

<li {{action 'onLinkClick'}}>
  {{#link-to 'privacy'}}
  Privacy
  {{/link-to}}
</li>

<li {{action 'onLinkClick'}}>
  {{#link-to 'feed.show' 790848}}
    Help
  {{/link-to}}
</li>

<li {{action 'onLinkClick'}}>
  {{#link-to 'copyright-agent'}}
    Don't Sue Us
  {{/link-to}}
</li>

<li>
  <a href="#" {{action 'sendFeedback'}}>
    Contact Us
  </a>
</li>

<li>
  <a href="mailto:ads@subtext.org" {{action 'onLinkClick' preventDefault=false}}>
    Advertise With Us
  </a>
</li>

<li>
  <a href="#" {{action 'sendFeedback'}}>
    Site Feedback
  </a>
</li>

<li>
  <a href="#">
    {{help-text}}
  </a>
</li>
