<div class='Container--noGutter'>
  <div class='pull-right ContextBar'>
    <span class='ContextBar-eventCount' data-test-news-length='{{model.length}}'>
      Showing {{model.length}} listings.
    </span>

    {{#if showReset}}
      <a href='#' {{action 'resetFilters'}} class='ContextBar-filterReset btn-default btn-xs fa fa-times-circle'>
        Reset search filters
      </a>
    {{/if}}
  </div>
</div>

{{#if model}}
  <div class='Container--noGutter'>
    {{#if media.isMobile}}
      {{ordered-news news=model}}
    {{else}}
      {{grouped-news news=model}}
    {{/if}}

    {{partial 'partials/pagination-nav'}}
  </div>
{{else}}
  <div class='NoResults container text-center'>
    <p>I can't believe it. No one has posted any news that matches your search.</p>
    <p>You could try tweaking your search or&hellip;</p>
    <p>Seize the opportunity and post your own.</p>
  </div>
{{/if}}
