{{#feed-card/conditional-link-to
  linkUrl=linkUrl
  useLink=linkToDetailIsActive
  model=model
  onContentClick=onContentClick
}}
  {{#if hasImage}}
    <div class="FeedCard-Image-image" style={{imageStyle}} data-test-card-image></div>
  {{else}}
    <div class="FeedCard-Image-image placeholder" data-test-card-image-placeholder>
      <div>
        {{fa-icon "file-image-o"}}
      </div>
    </div>
  {{/if}}

  {{#if hasStartDate}}
    <div class="FeedCard-Image-multiple-wrap start-date {{if hasFutureDates "has-multiple"}}" data-test-card-start-date>
      {{#if hasFutureDates}}
        <div class="FeedCard-Image-multiple-dates-icon" data-test-card-start-date-multiple></div>
      {{/if}}
      <div class="FeedCard-Image-multiple-stack">
        <div class="FeedCard-Image-multiple-stack-date-wrap">
          <div class="FeedCard-Image-multiple-stack-month">
            {{moment-format model.startsAt "MMM"}}
          </div>
          <div class="FeedCard-Image-multiple-stack-day">
            {{moment-format model.startsAt "DD"}}
          </div>
        </div>
      </div>
    </div>
  {{else if (and hasMultipleImages (not isCompact))}}
    <div class="FeedCard-Image-multiple-wrap" data-test-card-multiple-images>
      <div class="FeedCard-Image-multiple-stack">
        <div class="FeedCard-Image-multiple-icon other"></div>
        <div class="FeedCard-Image-multiple-icon icon">
          {{fa-icon "camera-retro"}}
        </div>
      </div>
    </div>
  {{/if}}
{{/feed-card/conditional-link-to}}
