<div class='CategoryNav u-white'>
  <div class='Container--noGutter'>
    <div class='CategoryNav-rowWrapper'>
      <div class='CategoryNav-firstRow'>
        {{#location-link 'market' tagName='h1' class='CategoryNav-mobileTitle h5 hidden-md hidden-lg u-bold'}}Local Market{{/location-link}}

        <div class='CategoryNav-actions'>
          {{#link-to 'dashboard' (query-params type='market') class='CategoryNav-manageLink'}}
            <span {{action (action 'trackCategoryMoreClick')}}>
              {{fa-icon 'fa-archive'}} My items
            </span>
          {{/link-to}}

          {{#link-to 'market.new' tagName='a' class='CategoryNav-marketCTA'}}
            <span {{action (action 'trackCreateButtonClick')}}>
              {{fa-icon 'camera'}} Sell
            </span>
          {{/link-to}}
        </div>
      </div>

      <div class='CategoryNav-categories'>
        <ul class='CategoryNav-itemList'>
          {{#each displayCategories as |category index|}}
            <li class='CategoryNav-item {{if (gte index 5) "hidden-md"}} {{if (gte index 10) "hidden-sm"}} {{if (gte index 8) "hidden-xs"}}' data-test-navItem>
              {{#link-to 'location.market.category-landing' locationId category.id class='CategoryNav-itemLink h4'}}
                <span {{action (action 'trackCategoryClick' category)}}>
                  {{category.name}} <i class='hidden-xs'>({{category.count}})</i>
                </span>
              {{/link-to}}
            </li>
          {{/each}}
        </ul>

        <a href='#' class='h4 CategoryNav-itemMoreLink u-link' {{action (action 'openCategoriesModal')}}>
          <span {{action (action 'trackCategoryMoreClick')}}>
            More&nbsp;{{fa-icon 'caret-down'}}
          </span>
        </a>
      </div>
    </div>
  </div>
</div>
