{{#form-group error=error hideError=true}}
  <label>
    Registration

    <span class='EventForm-toggle' {{action 'toggleRegistration'}}>
      No
      {{#if registrationEnabled}}
        {{fa-icon 'toggle-on is-on' size='lg'}}
      {{else}}
        {{fa-icon 'toggle-off' size='lg'}}
      {{/if}}
      Yes
    </span>
  </label>
  {{form-error error}}

  <div>
    {{#if registrationEnabled}}
      <div class='form-group'>
        <div class="input-group">
          <span class="ContentForm-iconLabel input-group-addon">
            {{fa-icon 'calendar'}}
          </span>
          <label></label>
          {{date-input
              value=date
              format='MM/DD/YYYY'
              placeholder='12/25/2020'
              update=(action (mut date))
          }}
        </div>
      </div>
    {{else}}
      Does this event require registration?
    {{/if}}
  </div>
{{/form-group}}
