{{#form-group error=error hideError=true}}
  <label>
    Registration

    <span class='EventForm-toggle' {{action 'toggleRegistration'}}>
      No
      {{#if registrationEnabled}}
        {{fa-icon 'toggle-on is-on' size='lg'}}
      {{else}}
        {{fa-icon 'toggle-off' size='lg'}}
      {{/if}}
      Yes
    </span>
  </label>
  {{form-error error}}

  <div>
    {{#if registrationEnabled}}
      <div class='form-group'>
        <div class="input-group">
          <span class="ContentForm-iconLabel input-group-addon">
            {{fa-icon 'calendar'}}
          </span>
          <label></label>
          {{pikaday-input
            firstDay=0
            value=date
            placeholder='Registration Deadline'
            class='form-control'
            format="MM/DD/YYYY"
            yearRange="currentYear,2010"
          }}
        </div>
      </div>
    {{else}}
      Does this event require registration?
    {{/if}}
  </div>
{{/form-group}}
