<nav class='PillNavigation u-layoutPadB20'>
  <a class={{if isSignIn "PillNavigation-item PillNavigation-item--active" "PillNavigation-item"}} onclick={{action 'changeMode' 'sign-in'}}>
    Sign In
  </a>
  <a class={{if isRegister "PillNavigation-item PillNavigation-item--active" "PillNavigation-item"}} onclick={{action 'changeMode' 'register'}}>
    Join
  </a>
</nav>

{{#if isSignIn}}
  {{sign-in-form
    onReconfirm=(action 'reconfirm')
    onForgotPassword=(action 'forgotPassword')
    afterAuthenticate=(action 'didSignIn')
  }}
{{else if isRegister}}
  {{registration-form onSuccess=(action 'didRegister')}}
{{/if}}
