<div style="{{contentStyle}}" class="ExpandableContent-contentWrapper {{if isContentExpanded 'isExpanded' 'isCollapsed'}}">
  {{{yield}}}
</div>
{{#if needsToggleButton}}
  <div class="ExpandableContent-buttonWrap text-center {{if isExpanded 'expanded' 'collapsed'}}">
    <button {{action 'toggle'}} class="ExpandableContent-toggleButton">
      {{#if isExpanded}}
        {{if customLessLabel customLessLabel 'View less'}} {{fa-icon 'caret-up'}}
      {{else}}
        {{if customMoreLabel customMoreLabel 'View more'}} {{fa-icon 'caret-down'}}
      {{/if}}
    </button>
  </div>
{{/if}}
