<div class='Container--noGutter'>
  {{#if showPrevPage}}
    <div class='pull-left u-layoutPadT20'>
      {{partial 'partials/pagination-nav'}}
    </div>
  {{/if}}

  <div class='pull-right ContextBar'>
    <span class='ContextBar-eventCount'>
      Showing <span data-test-talk-length>{{model.length}}</span> talks.
    </span>
  </div>
</div>


{{#if model}}
  {{sorted-talks
    talks=model
  }}

  <div class='Container--noGutter'>
    {{partial 'partials/pagination-nav'}}
  </div>
{{else}}
  <div class='NoResults container text-center'>
    <p>I can't believe it. No one has posted a talk that matches your search.</p>
    <p>You could try tweaking your search or&hellip;</p>
    <p>Seize the opportunity and post your own.</p>
  </div>
{{/if}}
