<div class="EventsResultsItem-image-box">
  {{#if event.imageUrl}}
    {{#link-to (if routeName routeName 'events.all.show') eventId (query-params ctype='event')}}
      <img src='{{optimized-image-url event.imageUrl 80 80 true}}'>
    {{/link-to}}
  {{/if}}
</div>

<div class="EventsResultsItem-info-wrapper">
  <div class="EventsResultsItem-title">
    {{#link-to (if routeName routeName 'events.all.show') eventId (query-params ctype='event')}}
      {{truncate-text text=title maxLength=60 tagName='span'}}
    {{/link-to}}
  </div>

  <div class="EventsResultsItem-venue">
    {{#if hasVenue}}
      {{fa-icon 'map-marker'}} {{truncate-text text=venue maxLength=60 tagName='span'}}
    {{/if}}
  </div>
</div>

<div class="EventsResultsItem-time">
  {{formattedDayToShow}} | {{formattedTime}}
</div>
