{{#with testimonial as |t|}}
  <div class='u-card u-card--padded UserTestimonial'>
    <div class='UserTestimonial-avatarImage'>
      <div class='UserTestimonial-avatarImage--default'>
        <img class='img-responsive' src='{{optimized-image-url t.img 100 100 true}}' />
      </div>
    </div>
    <div class='UserTestimonial-header'>
      <h3 class='h2 UserTestimonial-name text-center u-bold u-layoutPadT10 u-layoutPadB0'>{{t.name}}</h3>
      <p class='h3 UserTestimonial-town text-center u-layoutPadT0'>{{t.town}}</p>
      <p class='h3 UserTestimonial-rating text-center u-layoutPadT0'>
        {{fa-icon 'star'}}{{fa-icon 'star'}}{{fa-icon 'star'}}{{fa-icon 'star'}}
      </p>
    </div>
    <hr>

    <div class='UserTestimonial-content u-layoutPadB20'>
      <p class='h4'>&ldquo;{{t.content}}&rdquo;</p>
    </div>
  </div>
{{/with}}
