{{#unless isDirectLink}}

  {{render-in-modal
      (component componentName
        model=model
        closeRoute='feed'
        closeLabel='Back'
        isPreview=false
        enableStickyHeader=true
      )
      onClose=(action 'closeDetailPage')
      modalWrapper='modals/headless-wrapper'
  }}

{{else}}

  {{inviewport-reporter
    reportEnterViewport=true
    reportOnce=true
    callback=(action 'integratedDetailLoaded' model.id)
  }}

  <div class="Location-Index-Show-wrapper">
    {{component componentName
      model=model
      closeRoute='feed'
      closeLabel='Back'
      isPreview=false
    }}
  </div>

  {{inviewport-reporter
    reportEnterViewport=true
    reportOnce=true
    callback=(action 'scrolledPastDetail' model.id)
  }}

{{/unless}}
