{{#unless fastboot.isFastBoot}}
  <div role="button" {{action "clickedHideButton"}}>
    {{fa-icon "low-vision"}} {{if hasHiddenThisOrg "Unhide" "Hide"}}
  </div>
{{/unless}}

{{#if wantsToHideOrg}}
  {{#modal-wrapper
    showHeader=false
    isAnimated=true
    isSmall=true
    class="HideOrganizationButton--modal"
  }}
    <div class="HideOrganizationButton--modal-organization">
      <div class="HideOrganizationButton--modal-organization-left">
        {{fa-icon "low-vision" class="HideOrganizationButton--modal-organization-icon"}}
        <div>Hide</div>
      </div>
      <div class="HideOrganizationButton--modal-organization-center">
        {{avatar-image
          imageUrl=organizationProfileImageUrl
          userName=organizationName
          customSize=40
          class="HideOrganizationButton--modal-organization-avatar"
        }}
      </div>
      <div class="HideOrganizationButton--modal-organization-right">
        {{organizationName}}
      </div>
    </div>


    {{#liquid-if (or showSuccess hasHiddenThisOrg) use="fade"}}
      <div class="alert alert-success" role="alert">
        You are hiding this author's posts from your feed. To unhide this author visit {{#link-to "mystuff.hides"}}My Stuff{{/link-to}}.
      </div>
    {{else}}

    <div class="HideOrganizationButton--modal-message">
      <p class="text-left u-paddingHorizontal8">
        This action will hide all posts created by this author in your feed.
      </p>
      <p class="text-left u-paddingHorizontal8">
        Why don't you want to see this author's posts?
        Your response is anonymous.
      </p>
    </div>

    {{#liquid-if isInvalid use="fade"}}
      <div class="alert alert-danger u-marginBottom0" role="alert">
        Please make a selection and try again.
      </div>
    {{/liquid-if}}

      <div class="HideOrganizationButton--modal-flags-wrap">
        <ul class="HideOrganizationButton--modal-flags">
          {{#each flagTypes as |flag|}}
            <li class="HideOrganizationButton--modal-flags-flag">
              {{#radio-button
                class="HideOrganizationButton--modal-flag-label"
                name="flag-type"
                value=flag
                groupValue=flagType
              }}
                {{flag}}
              {{/radio-button}}
            </li>
          {{/each}}
        </ul>
      </div>
    {{/liquid-if}}

    <div class="HideOrganizationButton--modal-action-buttons">
      {{#unless hasHiddenThisOrg}}
        {{#x-button
          color=(if hasFlagType "primary" "light-gray")
          rounded="rounded"
          size="x-small"
          onClick=(action "hide")
        }}
          Hide Author
        {{/x-button}}
      {{/unless}}

      {{#x-button
        color=(if showSuccess "primary" "light-gray")
        rounded="rounded"
        size="x-small"
        onClick=(action "close")
      }}
        {{if showSuccess "Close" "Cancel"}}
      {{/x-button}}
    </div>

  {{/modal-wrapper}}
{{/if}}
