{{#unless fastboot.isFastBoot}}
  <div role="button" {{action "clickedHideButton"}}>
    {{fa-icon "low-vision"}} {{if hasHiddenThisOrg "Unhide" "Hide"}} {{additionToMessage}}
  </div>
{{/unless}}

{{#if wantsToHideOrg}}
  {{to-elsewhere
    named="global-modal"
    send=(component "hide-organization-body"
           organization=organization
           contentId=contentId
           afterHide=(action "afterHide")
           afterCancel=(action "afterCancel")
          )
  }}
{{/if}}
