{{#market-form afterDetails='afterDetails' model=(mut model) as |form|}}

  {{form-group
    error=form.errors.title
    required=true
    label="Title"
    field=form.title-input
  }}

  {{#form-group
    error=form.errors.content
    required=true
    label="Description"
  }}
    {{form.content-input}}
  {{/form-group}}

  <h3 class='ListservContentForm-fieldDivider h3'>The information you enter below will appear on dailyUV only.</h3>

  <fieldset class='ListservForm-enhancementFields'>
    <legend>Post Enhancements</legend>
    {{form-group
      error=form.errors.price
      label="Cost"
      field=form.price-input
    }}

    {{#form-group
      error=form.errors.images
      label="Images"
    }}
      {{image-upload-tiles
        images=model.images
      }}
    {{/form-group}}

    {{#form-group
      error=form.errors.contact
      label="Contact Me"
    }}
      <div class='ContentForm-helpText u-layoutPadB20'>
        Choose either, or both. What you enter will be public on the site.
      </div>
      {{#form-group label="email"}}

        {{#field-with-icon icon='envelope'}}
          {{form.email-input}}
        {{/field-with-icon}}

      {{/form-group}}
      {{#form-group label="Phone"}}

        {{#field-with-icon icon='phone'}}
          {{form.phone-input}}
        {{/field-with-icon}}

      {{/form-group}}
    {{/form-group}}
  </fieldset>

  {{partial 'partials/listserv-content-form-submit'}}
{{/market-form}}
