{{#if category}}
  {{#link-to (if routeName routeName 'market.all.show') (if category category.cat_id) post.id
    (query-params ctype='market')
    classNameBindings="isSimilarContent:SimilarContentLink"
  }}
    <div {{action (action onTitleClick)}}>
      <span {{action (action trackSuggestedContentClick)}}>
        {{yield}}
      </span>
    </div>
  {{/link-to}}
{{else}}
  {{#link-to (if routeName routeName 'market.all.show') post.id
    (query-params ctype='market')
    classNameBindings="isSimilarContent:SimilarContentLink"
  }}
    <div {{action (action onTitleClick)}}>
      <span {{action (action trackSuggestedContentClick)}}>
        {{yield}}
      </span>
    </div>
  {{/link-to}}
{{/if}}
