<div class='Container--noGutter'>
  <div class='row'>
    <div class='col-xs-12'>
        <div class='ChannelTopper clearfix'>
          {{#if media.isMobile}}
            <h1 class='GroupHeader GroupHeader--news' style='display: inline-block; margin-bottom: 0'>
              <span class='GroupHeader-channelLink GroupHeader-channelLink--news h3 ChannelTopper-title'>
                Local News
              </span>
            </h1>
          {{/if}}

          {{content-create-button
            class='SectionNavigation-contentCreateButtonMobile pull-right'
            path='news.new'
            canPublishNews=session.currentUser.canPublishNews
          }}
        </div>
    </div>
  </div>
</div>

<div class='Container--noGutter'>
  {{#if model}}
    {{#if media.isMobile}}
      {{ordered-news
        news=model
        adPath='news.all.index'
      }}
    {{else}}
      {{grouped-news
        news=model
        adPath='news.all.index'
        showHeader=false
      }}
    {{/if}}
  {{/if}}
</div>

{{#if model}}
  <div class='Container--noGutter'>
    <div class='row'>
      <div class='col-xs-12'>
        <div class='PaginationNav-wrapper'>
          <div class='PaginationNav PaginationNav--bottom'>
            {{partial 'partials/pagination-nav'}}
          </div>
        </div>
      </div>
    </div>
  </div>
{{/if}}
{{outlet}}
