{{#modal-wrapper close=(action 'close') showHeader=false}}
  {{#with (changeset model validations) as |cs|}}
    {{#if isRepeating}}
      {{component 'event-schedules-editor/schedule-recurring-form'
        changeset=cs
      }}
    {{else}}
      {{component 'event-schedules-editor/schedule-single-form'
        changeset=cs
      }}
    {{/if}}
    <div class='modal-actions text-right'>
      <button class="Button Button--primary" {{action 'save' cs}}>
        Done
      </button>
      <button class="Button" {{action 'cancel'}}>
        Cancel
      </button>
    </div>
  {{/with}}
{{/modal-wrapper}}
