<div class='MainNav-wrapper'>
  <div class='Container--noGutter'>
    {{#if features.listserv-user-testing}}
      <div style="position:absolute;margin-left:-5px" data-test-listservtest>
        Test
      </div>
    {{/if}}

    <div class='MainNav'>
      <div class='MainNav-menu'>
        <div class='dropdown'>
          <a href='#'
            class='MainNav-moreLink h2'
            role='button'
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false">
            {{fa-icon 'navicon'}} Menu
          </a>
          {{extended-nav
            eventsFilter=eventsFilter
            newsFilter=newsFilter
            talkFilter=talkFilter
            marketFilter=marketFilter
            class="dropdown-menu dropdown-menu-left"
          }}
        </div>
      </div>

      <div class='MainNav-brand u-flexRow'>
        <h1 class='MainNav-brand-logo' data-test-brand>
          {{#link-to 'index' (query-params page=1) data-test-link='header-link'}}
            {{brand-logo}}
          {{/link-to}}
        </h1>
      </div>


      <div class='MainNav-search'>
        <!-- will contain user menu/login/register, search -->
        <ul class='list-inline'>
          <li>
            <span {{action 'openSearch'}} class='MainNav-search-searchButton'>
              {{fa-icon 'search'}}
            </span>
          </li>
          {{#unless session.isFastBoot}}
            {{#if session.isAuthenticated}}
              <li role="presentation" class="dropdown MainNav-userMenu {{if showUserMenu 'open'}}" data-test-component-user-menu>
                <a {{action 'toggleUserMenu'}}
                    href='#'
                    class='MainNav-moreLink'
                    data-test-link='user-menu'
                    role='button'
                    aria-haspopup="true"
                    aria-expanded="false">

                    {{avatar-image
                      imageUrl=session.currentUser.userImageUrl
                      userName=session.currentUser.name
                      hasCaret=false
                    }}
                </a>
                {{#if showUserMenu}}
                  {{#click-outside action=(action 'toggleUserMenu') class='dropdown-menu dropdown-menu-right open'}}
                    {{user-menu
                        openMyAccount=(action 'openAccountSettings')
                        model=session.currentUser
                        action=(action 'toggleUserMenu')
                      }}
                  {{/click-outside}}
                {{/if}}
              </li>
            {{else}}
              <li class='MainNav-signInJoin'>
                <button {{action 'showSignInMenu' bubbles=false}} class='btn-link' data-test-link='login-link'>
                  {{fa-icon 'user' size=2}}
                </button>
              </li>
            {{/if}}
          {{/unless}}
        </ul>
      </div>
    </div>
  </div>
</div>
