<div class="GlobalHeader">
  <div class="GlobalHeader--top-bar {{if (or streamlinedHeader isFastBoot) "streamlined"}}">

    {{#if streamlinedHeader}}
      <div class="GlobalHeader-chevron">
        {{#link-to "welcome"}}
          <div class="GlobalHeader-chevron-left">
            {{fa-icon "chevron-left"}}
          </div>
          <div class="GlobalHeader-chevron-right">
            Change<br>
            Location
          </div>
        {{/link-to}}
      </div>
    {{/if}}

    <div class="GlobalHeader-brand">
      <div class="GlobalHeader-brand-logo">
        {{#link-to "feed" (query-params type=null)}}
          {{brand-logo white=true onClick=(action "logoClicked")}}
        {{/link-to}}
      </div>
    </div>

    {{#if showNav}}
      <div class="GlobalHeader-filter">
        <div class="GlobalHeader-filter-postsButton GlobalHeader-button">
          {{#link-to "feed" (query-params type="posts")}}
            {{fa-icon "newspaper-o"}}
          {{/link-to}}
        </div>
        <div class="GlobalHeader-filter-calendarButton GlobalHeader-button">
          {{#link-to "feed" (query-params type="calendar")}}
            {{fa-icon "calendar"}}
          {{/link-to}}
        </div>
        <div class="GlobalHeader-filter-marketButton GlobalHeader-button">
          {{#link-to "feed" (query-params type="market")}}
            {{fa-icon "tags"}}
          {{/link-to}}
        </div>
      </div>

      <div class="GlobalHeader-menu">
        {{site-nav}}
      </div>
    {{/if}}
  </div>
</div>

{{yield}}
