<div class="MainNav">
  <div class="MainNav--top-bar">
    <div class="MainNav--top-bar-wrapper">

      <div class="MainNav-menu">
        {{site-nav}}
      </div>

      <div class="MainNav-brand">
        <div class="MainNav-brand-logo">
          {{brand-logo onClick=(action "logoClicked")}}
        </div>
      </div>

      <div class="MainNav-search">
        {{#unless showSearch}}
          <div class="MainNav-search-calendarButton MainNav-button">
            {{#link-to "feed" (query-params type="calendar")}}
              {{fa-icon "calendar"}}
            {{/link-to}}
          </div>
        {{/unless}}

        <div {{action "toggleSearch"}}
          role="button"
          class="MainNav-search-searchButton MainNav-button {{if showSearch "open"}}"
          data-test-button="global-search-open-close">
          {{#if showSearch}}
            {{fa-icon "times"}}
          {{else}}
            {{fa-icon "search"}}
          {{/if}}
        </div>
      </div>

    </div>
  </div>

  <div class="MainNav--bottom-bar {{if showSearch "searchOpen"}}">
    {{#if showSearch}}
      <div class="GlobalHeader-globalSearch">
        <div>
          {{search-input
            showIcon=true
            value=(readonly searchService.query)
            update=(action "updateSearchQuery")
            clearButtonText="Clear"
            class="GlobalHeader-querySearch"
            isLoading=searchService.isLoading
            data-test-global-search=true
          }}
        </div>
        <div>
        {{user-location/search-input}}
        </div>

      </div>
    {{else}}
      {{#if (not hideUserLocationBar)}}
        <div class="MainNav--bottom-bar-wrapper">
          <div class="MainNav-location">
            {{user-location onClickLocation=(action "toggleSearch" "focusOnLocation")}}
          </div>
          {{#if showFilterButton}}
            <div class="btn-link MainNav-search-filterButton MainNav-button" role="button" {{action "scrollUpOne"}}>
              {{fa-icon "filter"}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  </div>


  {{#if showFilterBar}}
    <div class="MainNav--filter-bar {{if isScrollingUp "show-filter" "hide-filter"}}">
      {{global-filter}}
    </div>
  {{/if}}

  <div class="GlobalHeader-globalSearch-results">
    {{from-elsewhere name="global-search-results"}}
  </div>


</div>

{{yield}}
