<div class='MainNav-wrapper'>
  <div class='Container--noGutter'>
    <div class='MainNav'>

      <div class='MainNav-brand'>
        <h1 class='MainNav-brand-logo' {{action (action 'trackHome')}}>
          {{#link-to 'index' (query-params page=1) data-test-link='header-link'}}
            daily UV
            {{#if (and session.isAuthenticated (or (eq currentChannel 'talk') (eq currentChannel 'index')))}}
              <span class='MainNav-brand-location'>
                {{session.userLocation}}
              </span>
            {{/if}}
          {{/link-to}}
        </h1>
      </div>

      {{#if media.isNotMobile}}
        <nav class='MainNav-channels' role="navigation">
          <ul class='SectionNavigation-list'>
            <li class='SectionNavigation-listItem'>
              {{#link-to 'news'
              (query-params
              page=1
              query=newsFilter.defaultQuery
              organization=newsFilter.defaultOrganization
              location=newsFilter.defaultLocation
              locationId=newsFilter.defaultLocationId
              )
              class='SectionNavigation-link SectionNavigation-link--newsLink'
              current-when='news'
              data-test-link='news-channel'
              }}
                <span {{action (action 'trackChannel' 'News')}}>News</span>
              {{/link-to}}
            </li>
            <li class='SectionNavigation-listItem'>
              {{#link-to 'events'
              (query-params
              page=1
              query=eventsFilter.defaultQuery
              category=eventsFilter.defaultCategory
              location=eventsFilter.defaultLocation
              date_start=eventsFilter.defaultStart
              date_end=eventsFilter.defaultEnd
              )
              class='SectionNavigation-link SectionNavigation-link--eventLink'
              current-when='events'
              data-test-link='events-channel'
              }}
                <span {{action (action 'trackChannel' 'Events')}}>Events</span>
              {{/link-to}}
            </li>
            <li class='SectionNavigation-listItem'>
              {{#link-to 'talk'
              (query-params
              page=1
              query=talkFilter.defaultQuery
              )
              class='SectionNavigation-link SectionNavigation-link--talkLink'
              current-when='talk'
              data-test-link='talk-channel'
              }}
                <span {{action (action 'trackChannel' 'Talk')}}>Talk</span>
              {{/link-to}}
            </li>
            <li class='SectionNavigation-listItem'>
              {{#link-to 'market'
              (query-params
              page=1
              query=marketFilter.defaultQuery
              location=marketFilter.defaultLocation
              locationId=marketFilter.defaultLocationId
              )
              class='SectionNavigation-link SectionNavigation-link--marketLink'
              current-when='market'
              data-test-link='market-channel'
              }}
                <span {{action (action 'trackChannel' 'Market')}}>Market</span>
              {{/link-to}}
            </li>
            <li class='SectionNavigation-listItem'>
              {{#link-to 'directory'
              class='SectionNavigation-link SectionNavigation-link--directoryLink'
              current-when='directory'
              data-test-link='directory-channel'
              }}
                Directory
              {{/link-to}}
            </li>
          </ul>
        </nav>
      {{/if}}

      <div class='MainNav-search'>
        <!-- will contain user menu/login/register, search -->
        {{#unless media.isMobile}}
          <ul class='list-inline'>
            <li>
              <span {{action 'openSearch'}} class='MainNav-search-searchButton'>
                {{fa-icon 'search'}}
              </span>
            </li>
            {{#if session.isAuthenticated}}
              <li role="presentation" class="dropdown">
                <a {{action 'trackMenuOpen'}}
                    href='#'
                    class='MainNav-moreLink UserMenu'
                    role='button'
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false">
                  {{#if session.currentUser.userImageUrl}}
                    <img class='UserMenu-avatar' src="{{session.currentUser.userImageUrl}}">
                  {{else}}
                    <img class='UserMenu-avatar' src="/images/user-default-avatar.svg">
                  {{/if}}
                </a>
                <ul class='dropdown-menu dropdown-menu-right' role="menu" aria-labelby='dLabel'>
                  <li>
                    {{#link-to 'events.new.details' class='h4 ActionDropdown-item'}}
                      <span {{action 'trackUserMenu' 'create event'}}>Create Event</span>
                    {{/link-to}}
                  </li>
                  <li>
                    {{#link-to 'talk.new.details' class='h4 ActionDropdown-item'}}
                      <span {{action 'trackUserMenu' 'create talk'}}>Create Talk</span>
                    {{/link-to}}
                  </li>
                  <li>
                    {{#link-to 'market.new.details' class='h4 ActionDropdown-item'}}
                      <span {{action 'trackUserMenu' 'create market listing'}}>Create Market Listing</span>
                    {{/link-to}}
                  </li>
                  <li>
                    {{#link-to 'dashboard' (query-params sorted=false) class='h4 ActionDropdown-item'}}
                      <span {{action 'trackUserMenu' 'my dashboard'}}>My Dashboard</span>
                    {{/link-to}}
                  </li>
                  <li>
                    {{async-button
                    action=(action 'signOut')
                    default='Log out'
                    pending='Logging out'
                    class='h4 ActionDropdown-item'
                    tagName='a'
                    data-test-component='logout-link'
                    }}
                  </li>
                </ul>
              </li>
            {{else}}
              <li>
                {{#link-to 'login' data-test-link='login-link'}}
                  <span {{action (action 'trackRegistration' 'Sign In')}}>Sign in</span>
                {{/link-to}}
              </li>
              <li>
                {{#link-to 'register' data-test-link='join-link'}}
                  <span {{action (action 'trackRegistration' 'Join')}}>Join</span>
                {{/link-to}}
              </li>
            {{/if}}
            <li role="presentation" class="dropdown">
              <a {{action 'trackMenuOpen'}}
                  href='#'
                  class='MainNav-moreLink h2'
                  role='button'
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                {{fa-icon 'ellipsis-h'}}
              </a>
              {{extended-nav class="dropdown-menu dropdown-menu-right"}}
            </li>
          </ul>
        {{/unless}}
      </div>
    </div>
  </div>
</div>

{{!--
  {{content-create-button
    class='col-lg-3 col-sm-2 hidden-xs u-textPullRight'
    path=currentPath
  }}

  {{x-weather
    class='h2 col-sm-3'
    location=session.userLocation
    data-test-component='weather'
  }}
--}}
