{{#modal-wrapper
  close=(action "close")
  showHeader=true
  title=title
  isAnimated=false
  data-test-modal="content-payments"
  class="Modals-aggregatedContentPayments" }}

  <div class="Modals-aggregatedContentPayments-payment-table">

    {{#if isLoading}}
      <div class="Modals-aggregatedContentPayments-loading">
        <div class="Modals-aggregatedContentPayments-loading-box">
          {{fa-icon "gear" class="fa-spin"}}
        </div>
      </div>
    {{/if}}

    <div class="Modals-aggregatedContentPayments-title">
      {{model.name}} Payment History
    </div>
    <table>
      <thead>
        <tr>
          {{#each headers as |header|}}
            <th>
              {{header}}
            </th>
          {{/each}}
        </tr>
      </thead>
      <tbody>
      {{#if hasPayments}}
        {{#each payments as |payment|}}
          <tr>
            <td>
              {{moment-format payment.periodStart "MM/DD/YYYY"}}
            </td>
            <td>
              {{moment-format payment.periodEnd "MM/DD/YYYY"}}
            </td>
            <td>
              {{payment.views}}
            </td>
            <td>
              {{payment.paidImpressions}}
            </td>
            <td>
              {{formatted-number payment.totalPayment "dollars"}}
            </td>
            <td class="Modals-aggregatedContentPayments-payment-date-column">
              <div {{action "getPaymentReport" payment}} role="button">
                {{moment-format payment.adjustedPaymentDate "MM/DD/YYYY"}}
                {{fa-icon "file-pdf-o"}}
              </div>
            </td>
          </tr>
        {{/each}}
      {{else}}
        <tr>
          <td colspan="6" class="Modals-aggregatedContentPayments-no-payments-yet">
              No payments on record yet.
          </td>
        </tr>
      {{/if}}
      </tbody>
    </table>
    {{#unless hasPayments}}
      <div class="Modals-aggregatedContentPayments-invite-message">
        Got a local story to tell? Get paid to tell it by creating a blog on HereCast.<br>
        {{#x-button
           onClick=(action "goToStartablog")
           color="primary"
           size="x-small"
         }}
           Click here to learn more
         {{/x-button}}
      </div>
    {{/unless}}
  </div>


{{/modal-wrapper}}
