<div data-test-page='location.talk'>
  <div class='Container--noGutter'>
    <div class='row'>
      <div class='col-xs-12 col-md-8 col-md-push-2'>
        <div class='ChannelTopper clearfix'>
          <h1 class='h2 ChannelTopper-title visible-xs'>Local Talk</h1>

          <div data-test-component='content-create-button' class='SectionNavigation-contentCreateButtonMobile pull-right'>
            {{#link-to 'talk.new.details' class='Button SectionNavigation-contentCreateButton btn btn-default Button--talk' data-test-link='content-create-button'}}
              <span class="visible-xs-inline visible-sm-inline">+</span>
              <span class="hidden-xs hidden-sm">Create</span>
              Talk
            {{/link-to}}
          </div>

          <div class="hidden-xs">
            {{partial 'partials/pagination-nav'}}
          </div>
        </div>
      </div>
    </div>
  </div>


  {{#if model}}
    {{sorted-talks
      talks=model
      adPath='location.talk'
    }}
    <div class='Container--noGutter'>
      <div class='row'>
        <div class='col-xs-12 col-md-8 col-md-push-2'>
          <div class='PaginationNav-wrapper'>
            <div class='PaginationNav PaginationNav--bottom'>
              {{partial 'partials/pagination-nav'}}
            </div>
          </div>
        </div>
      </div>
    </div>
  {{/if}}

  {{outlet}}

  {{outreach-cta
    isButton=true
    placement='bottom-of-page'
    limitMessagesTo=2
    class="sit-center"
  }}
</div>
