<div class="ListservForm-container">
  {{#if requiresSignIn}}
      {{#if requiresRegistration}}
        {{#listserv-form}}
          <div class='ListservForm-sectionSubHeader'>
            <h1 class='ListservForm-sectionHeader'>
              Categorize your post ... and more!
            </h1>

            <p>
              Categorizing your post puts it at the top of the next digest.
              It will also be published automatically on dailyUV, so you'll 
              reach an even bigger audience.
            </p>

            <p>
              To continue, create an account on dailyUV. It's simple and free,
              and you'll only have to go through this step once.
            </p>

            <p>
              Curious why things have changed?
              <a target="_blank" href='http://listserv.dailyuv.net' class='u-textUnderline'>Learn More</a>
            </p>


          </div>

          {{listserv-registration-form
              email=(readonly model.senderEmail)
              callToAction="Spruce up my Post!"
              listservName=listservName
              confirmationKey=confirmationKey
          }}
        {{/listserv-form}}
      {{else}}
        {{#listserv-form}}
          <div class='ListservForm-sectionSubHeader text-center'>
            <h1 class='ListservForm-sectionHeader'>Your Post on the {{listservName}}</h1>
            <p>
              To Spruce Up your post, you need to sign in to your dailyUV account.
            </p>
          </div>
          <div class='text-center'>
              {{listserv-sign-in-form
                  email=(readonly model.senderEmail)
                  callToAction="SIGN IN"
                  confirmationKey=confirmationKey
                  forgotPasswordReturnUrl=forgotPasswordReturnUrl
              }}
            <p>
              Curious why things have changed?
              <a target="_blank" href='http://listserv.dailyuv.net' class='u-textUnderline'>Learn More</a>
            </p>
          </div>
        {{/listserv-form}}
      {{/if}}
  {{else}}
    {{outlet}}
  {{/if}}
</div>
