<div class="ListservForm-container">
  {{#if requiresSignIn}}
      {{#if requiresRegistration}}
        {{#listserv-form}}
          <div class='ListservForm-sectionSubHeader'>
            <h1 class='ListservForm-sectionHeader'>
              To edit or add images...
            </h1>

            <p>Create an account on dailyUV. It's simple, free -- and gives you
              complete access to dailyUV and all it's news, market, event and
              discussion posts.</p>

            <p>
              Curious why things have changed? In response to user feedback,
              Vital Communities, the nonprofit that runs the lists, asked dailyUV
              to develop ways to improve the service.
              <a target="_blank" href='http://listserv.dailyuv.net' class='u-textUnderline'>Learn More</a>
            </p>


          </div>

          {{listserv-registration-form
              email=(readonly model.senderEmail)
              callToAction="ENHANCE MY POST"
              listservName=listservName
              confirmationKey=confirmationKey
          }}
        {{/listserv-form}}
      {{else}}
        {{#listserv-form}}
          <div class='ListservForm-sectionSubHeader text-center'>
            <h1 class='ListservForm-sectionHeader'>Your Post on the {{listservName}}</h1>
            <p>
              To edit or add images to your post, you need to sign in to your dailyUV account.
            </p>
          </div>
          <div class='text-center'>
              {{listserv-sign-in-form
                  email=(readonly model.senderEmail)
                  callToAction="SIGN IN"
                  confirmationKey=confirmationKey
                  forgotPasswordReturnUrl=forgotPasswordReturnUrl
              }}
            <p>
              Curious why things have changed? In response to user feedback,
              Vital Communities, the nonprofit that runs the lists, asked dailyUV
              to develop ways to improve the service.
              <a target="_blank" href='http://listserv.dailyuv.net' class='u-textUnderline'>Learn More</a>
            </p>
          </div>
        {{/listserv-form}}
      {{/if}}
  {{else}}
    {{outlet}}
  {{/if}}
</div>
