{{#form-group error=errors.subscribeUrl}}
  <label class='control-label' for='subscribe-url'>Subscribe URL</label>
  <div class='help-block'>
    Link for user email alerts when you post. Copy and share!
  </div>
  {{input
  id='subscribe-url'
  class='form-control'
  value=model.subscribeUrl
  }}
{{/form-group}}

{{#form-group error=errors.profileImage}}
  <label class='control-label'>Profile Image</label>
  <div class='help-block'>
    The avatar associated with your posts
  </div>
  {{#if displayProfileImageForm}}
    {{content-form-image
    image=model.profileImage
    originalImageUrl=(readonly _profileImageUrl)
    shouldCrop=true
    error=errors.profileImage
    class="OrganizationProfile-editForm-imageForm"
    }}
  {{else}}
    <img src="{{model.profileImageUrl}}" alt="Selected Image"
         class="ThumbnailImageModal-preview" {{action 'showProfileImageForm'}} />
    <button class="OrganizationProfile-editForm-editButton" {{action 'showProfileImageForm'}}>Edit</button>
  {{/if}}
{{/form-group}}

{{#form-group error=errors.backgroundImage}}
  <label class='control-label'>Background Image</label>
  <div class='help-block'>
    The background header on your home page
  </div>
  {{#if displayBackgroundImageForm}}
    {{content-form-image
    image=model.backgroundImage
    originalImageUrl=(readonly _originalBackgroundImageUrl)
    error=errors.backgroundImage
    class="OrganizationProfile-editForm-imageForm"
    }}
  {{else}}
    <img src="{{model.backgroundImageUrl}}" alt="Selected Image"
         class="ThumbnailImageModal-preview" {{action 'showBackgroundImageForm'}} />
    <button class="OrganizationProfile-editForm-editButton" {{action 'showBackgroundImageForm'}}>Edit</button>
  {{/if}}
{{/form-group}}

{{#if (not model.isBlog)}}
  {{#form-group error=errors.logo hideError=true}}
    <label class='control-label'>Logo Image</label>
    <div class='help-block'>
      Company logo or masthead for your home page
    </div>
    {{#if displayLogoImageForm}}
      {{content-form-image
      image=model.logo
      originalImageUrl=(readonly _originalImageUrl)
      error=errors.logo
      class="OrganizationProfile-editForm-imageForm"
      }}
    {{else}}
      <img src="{{model.logoUrl}}" alt="Selected Image"
           class="ThumbnailImageModal-preview" {{action 'showLogoImageForm'}} />
      <button class="OrganizationProfile-editForm-editButton" {{action 'showLogoImageForm'}}>Edit</button>
    {{/if}}
  {{/form-group}}
{{/if}}

{{#form-group error=errors.description}}
  <label class='control-label' for='profile-description'>About</label>
  <div class='help-block'>
    1 or 2 paragraphs about your {{if model.isBlog 'blog' 'organization'}}
  </div>
  {{#summer-note content=(readonly model.description) notifyChange=(action 'updateContent')}}
    {{textarea
    id='profile-description'
    placeholder='An informative description about your organization or blog.'
    class='form-control'
    }}
  {{/summer-note}}
{{/form-group}}

<div class='text-center'>
  <button class='OrganizationProfile-editForm-saveButton'>Save Changes</button>
</div>
