<div class='container'>
  <div class='pull-right ContextBar'>
    <span class='ContextBar-eventCount'>
      Showing {{model.length}} of {{totalEvents}} events.
    </span>

    {{#if showReset}}
      {{link-to 'Reset search filters' 'events'
        (query-params category=defaultCategory location=defaultLocation query=defaultQuery date_start=defaultStart date_end=defaultEnd r=refreshParam.time)
        class='ContextBar-filterReset btn-default btn-xs fa fa-times-circle'
      }}
    {{/if}}
  </div>
</div>

{{#if model}}
  {{grouped-events
    events=model
    category=category
    query=query
    startDate=startDate
    stopDate=stopDate
    location=location
  }}
{{else}}
  <div class='NoResults container text-center'>
    <p>I can't believe it. No one is hosting an event that matches your search.</p>
    <p>You could try tweaking your search for another event or&hellip;</p>
    <p>Seize the opportunity and host your own.</p>
  </div>
{{/if}}
