<article class='EventShow'>
  <header>
    {{#photo-banner bannerUrl=model.bannerUrl}}
      <div class='row'>
        <div class='col-sm-4'>
          {{event-header-thumbnail imageUrl=model.imageUrl}}          
        </div>
        <div class='col-sm-8 EventHeader-content'>
          {{#link-to 'events' class='EventHeader-link'}}
            {{fa-icon 'arrow-left EventHeader-linkIcon'}} 
            <span class='EventHeader-linkText'>Back to events</span>
          {{/link-to}}
          <h1 class='EventHeader-title'>{{x-truncate text=model.title maxLength=50}}</h1>
          <h4 class='EventHeader-subtitle'>{{model.subtitle}}</h4>
        </div>
      </div>
    {{/photo-banner}}
  </header>

  <main class='container'>

    <div class='container'>
      <div class='row'>
        <div class='col-sm-6 col-sm-offset-4'>
          <h2 class='EventHeader-subtitle'>{{model.timeRange}}</h2>
          <div class='row'>
            <div class='EventInfo col-sm-4'>
              {{fa-icon 'map-marker'}}
              <h4 class='EventInfo-header'>{{model.venueName}}</h4>
              <div class='EventInfo-text'>{{model.venueAddress}}</div>
              <div class='EventInfo-text'>{{model.venueCity}}, {{model.venueState}} {{model.venueZipcode}}</div>
            </div>
            <div class='EventInfo col-sm-4'>
              {{fa-icon 'user'}}
              <h4 class='EventInfo-header'>Event Contact</h4>
              <div class='EventInfo-text'>
                <a href="mailto:{{model.contactEmail}}">
                  {{model.contactEmail}}
                </a>
              </div>
              <div class='EventInfo-text'>{{model.contactPhone}}</div>
              <a {{bind-attr href=model.eventUrl}} class='EventInfo-text'>
                {{model.eventUrl}}
              </a>
            </div>
            <div class='EventInfo col-sm-4'>
              {{fa-icon 'dollar'}}
              <h4 class='EventInfo-header'>{{model.costType}}</h4>
              <div class='EventInfo-text'>{{model.cost}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <aside class='EventShowAside col-sm-4'>
      <div>
        {{report-abuse eventId=model.id}}

        {{#if model.canEdit}}
          {{#link-to 'events.edit' model.id class='EventShowAside-button btn btn-link'}}
            Edit this event
          {{/link-to}}
        {{/if}}
      </div>
      {{#if model.eventInstances}}
        <div class='EventShowAside-otherDates pull-right'>
          <h5 class='EventShowAside-header'>Other Dates</h5>
          <ul>
            {{#each instance in model.eventInstances}}
              <li class='EventInfo EventShowAside-info'>
                <h4 class='EventInfo-header EventShowAside-eventInstanceHeader'>{{instance.timeRange}}</h4>
                <div class='EventInfo-text EventShowAside-infoText'>{{instance.subtitle}}</div>
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </aside>

    <div class='col-sm-8'>
      <p class='EventShow-content'>
        {{model.content}}
      </p>
      {{event-comments
        eventInstanceId=model.id
        comments=comments
      }}
    </div>
  
  </main>


</article>

