<article class='EventShow'>
  <header>
    {{#if model.imageUrl}}
      <div class='Container--noGutter'>
        <div class='row'>
          <div class='col-md-4 hidden-xs'>
            {{background-image imageUrl=model.imageUrl class='PhotoBanner-thumbnail'}}
          </div>
        </div>
      </div>
    {{/if}}
    <div class='PhotoBanner {{if model.imageUrl 'PhotoBanner--padded'}}'>
      {{background-image imageUrl=model.imageUrl class='PhotoBanner-curtainImage'}}
      <div class='PhotoBanner-curtain'></div>
      <div class='PhotoBanner-content container'>
        <div class='row'>
          <div class='col-xs-12 {{if model.imageUrl 'col-sm-8 col-sm-offset-4'}}'>
            <h1 class='PhotoBanner-title'>{{x-truncate text=model.title maxLength=50}}</h1>
            <h2 class='PhotoBanner-subtitle'>{{model.subtitle}}</h2>
            <h2 class='PhotoBanner-subtitle'>{{model.timeRange}}</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class='Container--noGutter'>
    <div class='row'>

      <div class='col-sm-2 hidden-xs'>
        {{back-button routeName='events'}}
      </div>

      <div class='col-sm-8'>
        <div class='EventShow-info row'>
          {{#if model.hasLocationInfo}}
            <div class='EventInfo col-sm-4'>
              <h1 class='EventInfo-header'>
                {{fa-icon 'map-marker EventInfo-icon hidden-xs'}}

                {{#if model.venueName}}
                  {{#if model.venueUrl}}
                    {{#normalized-link url=model.venueUrl class='EventInfo-headerLink'}}
                      {{model.venueName}}
                    {{/normalized-link}}
                  {{else}}
                    {{model.venueName}}
                  {{/if}}
                {{else}}
                  Location
                {{/if}}
              </h1>

              {{#if model.hasLocationInfo}}
                {{event-map
                  locateName=model.venueLocateName
                  fullAddress=model.fullAddress
                  directionsUrl=model.directionsUrl
                  class='hidden-xs'
                }}
                <a href='{{model.directionsUrl}}' target='_blank' class='EventInfo-address'>
                  {{model.venueAddress}}, {{model.venueCity}}
                </a>
              {{/if}}
            </div>
          {{/if}}

          {{#if model.hasContactInfo}}
            <div class='EventInfo col-sm-4'>
              <h1 class='EventInfo-header'>
                {{fa-icon 'user EventInfo-icon hidden-xs'}}
                Event Info
              </h1>

              <div class='EventInfo-contactInfo clearfix'>
                {{fa-icon 'envelope EventInfo-contactIcon'}}
                <div class='EventInfo-contactItem u-textTruncate'>
                  <a href="mailto:{{model.contactEmail}}">
                    {{model.contactEmail}}
                  </a>
                </div>
              </div>

              <div class='EventInfo-contactInfo clearfix'>
                {{fa-icon 'phone EventInfo-contactIcon EventInfo-phoneIcon'}}
                <div class='EventInfo-contactItem u-textTruncate'>
                  <a href='tel:{{model.contactPhone}}'>{{model.contactPhone}}</a>
                </div>
              </div>

              <div class='EventInfo-contactInfo clearfix'>
                {{fa-icon 'link EventInfo-contactIcon EventInfo-linkIcon'}}
                <div class='EventInfo-contactItem u-textTruncate'>
                  {{#normalized-link url=model.eventUrl}}
                    {{model.eventUrl}}
                  {{/normalized-link}}
                </div>
              </div>

            </div>
          {{/if}}

          {{#if model.costType}}
            <div class='EventInfo col-sm-3'>
              <h1 class='EventInfo-header {{if model.isPaid 'EventInfo-header--padded'}}'>
                {{#if model.isPaid}}
                  {{model.cost}}
                {{else}}
                  {{fa-icon 'dollar EventInfo-icon hidden-xs'}}
                  {{model.formattedCostType}}
                {{/if}}
              </h1>
            </div>
          {{/if}}
        </div>

        <div class='EventShow-content'>
          {{{model.content}}}
        </div>
      </div>

      <div class='col-sm-2 u-layoutMobilePadding0'>
        {{social-share}}
      </div>
    </div>

    {{event-other-dates instance=model}}

    {{partial 'partials/related-promotion'}}

    <h1 class='SectionHeader SectionHeader--paddedTop'>
      <span class='SectionHeader-text'>
        The Conversation
      </span>
    </h1>
    <div class='row'>
      {{content-comments
          contentTitle=model.title
          contentId=model.contentId
          commentingDisabled=model.isNew
        }}
    </div>
  </main>

  <h1 class='SectionHeader'>
    <span class='SectionHeader-text'>
      Suggested Content
    </span>
  </h1>

  {{event-similar-content similarContent=similarContent}}


</article>


