<article class='EventShow'>
  <header>
    {{#background-image imageUrl=model.safeImageUrl class='PhotoBanner'}}
      <div class='PhotoBanner-curtain'></div>
      <div class='PhotoBanner-content container'>
        <div class='row'>
          <div class='col-sm-4'>
            {{background-image imageUrl=model.safeImageUrl class='EventHeader-thumbnail'}}          
          </div>
          <div class='col-sm-8 EventHeader-content'>
            {{#link-to 'events' class='EventHeader-link'}}
              {{fa-icon 'arrow-left EventHeader-linkIcon'}} 
              <span class='EventHeader-linkText'>Back to events</span>
            {{/link-to}}
            <h1 class='EventHeader-title'>{{x-truncate text=model.title maxLength=50}}</h1>
            <h4 class='EventHeader-subtitle'>{{model.subtitle}}</h4>
          </div>
        </div>
      </div>
    {{/background-image}}
  </header>

  <main class='container'>
    <div class='row'>
      <aside class='EventShowAside col-sm-4'>
        <div>
          {{report-abuse eventId=model.eventId}}

          {{#if model.canEdit}}
            {{#link-to 'events.edit' model.eventId class='EventShowAside-button btn btn-link'}}
              Edit this event
            {{/link-to}}
          {{/if}}

          {{#if model.adminContentUrl}}
            <div>
              <a href='{{model.adminContentUrl}}'>Admin</a>
            </div>
          {{/if}}
        </div>
        {{#if model.eventInstances}}
          <div class='EventShowAside-otherDates pull-right'>
            <h5 class='EventShowAside-header'>Other Dates</h5>
            <ul>
              {{#each instance in model.eventInstances}}
                <li class='EventInfo EventShowAside-item'>
                  <h4 class='EventShowAside-itemHeader u-textUnderline'>
                    {{#link-to 'events.show' instance.id class='EventShowAside-itemHeaderLink'}}
                      {{instance.formattedDate}}<br>
                      {{instance.formattedHours}}
                    {{/link-to}}
                  </h4>
                  <div>{{instance.subtitle}}</div>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}

        {{event-similar-content similarContent=similarContent}}
      </aside>

      <div class='col-sm-8'>
        <div class='row'>
          <div class='col-sm-9 EventShow-info'>
            <h3 class='EventShow-infoHeader'>{{model.timeRange}}</h3>
            <div class='row'>
              {{#if model.hasLocationInfo}}
                <div class='EventInfo col-sm-5'>
                  {{fa-icon 'map-marker EventInfo-icon'}}
                  <div class='EventInfo-content'>
                    <h4 class='EventInfo-header'>
                      {{#if model.venueName}}
                        {{model.venueName}}
                      {{else}}
                        Location
                      {{/if}}
                    </h4>
                  <div class='u-textTruncate'>{{model.venueAddress}}</div>
                  <div class='u-textTruncate'>{{model.venueCity}}, {{model.venueState}} {{model.venueZipcode}}</div>
                  </div>

                </div>
              {{/if}}
              {{#if model.hasContactInfo}}
                <div class='EventInfo col-sm-5'>
                  {{fa-icon 'user EventInfo-icon EventInfo-contactIcon'}}
                  <div class='EventInfo-content'>
                    <h4 class='EventInfo-header'>Event Contact</h4>
                    <div class='u-textTruncate'>
                      <a href="mailto:{{model.contactEmail}}">
                        {{model.contactEmail}}
                      </a>
                    </div>
                    <div class='u-textTruncate'>{{model.contactPhone}}</div>
                    <a {{bind-attr href=model.eventUrl}} class='u-textTruncate'>
                      {{model.eventUrl}}
                    </a>
                  </div>
                </div>
              {{/if}}
              {{#if model.costType}}
                <div class='EventInfo EventInfo--wide col-sm-2'>
                  {{fa-icon 'dollar EventInfo-icon EventInfo-costIcon'}}
                  <div class='EventInfo-content'>
                    <h4 class='EventInfo-header'>{{model.formattedCostType}}</h4>
                    <div class='u-textTruncate'>{{model.cost}}</div>
                  </div>
                </div>
              {{/if}}
            </div>
          </div>
          {{event-map
            latitude=model.venueLatitude
            longitude=model.venueLongitude
            title=model.venueLocateName
            class='col-sm-3'
          }}
        </div>

        <div class='EventShow-content'>
          {{{model.content}}}
        </div>

        <div class='EventShow-content'>
          <h5>Also in the Upper Valley</h5>
          {{#if relatedPromotion.redirect_url}}
            <a href='{{relatedPromotion.redirect_url}}'>
              <img class='img-responsive' src='{{relatedPromotion.image_url}}'>
            </a>
          {{else}}
            <img class='img-responsive' src='//placehold.it/750x150&text=Banner+Placeholder'>
          {{/if}}
        </div>

        {{event-comments
          eventInstanceId=model.id
          comments=comments
          class='EventShow-content'
        }}
      </div>
    </div>
  </main>


</article>

