<article class='EventShow'>
  <header>
    <div class='PhotoBanner'>
      {{background-image imageUrl=model.imageUrl class='PhotoBanner-curtainImage'}}
      <div class='PhotoBanner-curtain'></div>
      <div class='PhotoBanner-content container'>
        <div class='row'>
          <div class='col-sm-8 col-sm-offset-4 EventHeader-content'>
            {{#link-to 'events' class='EventHeader-link'}}
              {{fa-icon 'arrow-left EventHeader-linkIcon'}} 
              <span class='EventHeader-linkText'>Back to events</span>
            {{/link-to}}
            <h1 class='EventHeader-title'>{{x-truncate text=model.title maxLength=50}}</h1>
            <h4 class='EventHeader-subtitle'>{{model.subtitle}}</h4>
          </div>
        </div>
      </div>
    </div>

    <div class='container'>
      <div class='row'>
        <div class='col-sm-4'>
          {{#if model.imageUrl}}
            {{background-image imageUrl=model.imageUrl class='EventHeader-thumbnail'}}
          {{/if}}
        </div>
      </div>
    </div>
  </header>

  <main class='container'>
    <div class='row'>
      <aside class='EventShowAside col-sm-4'>
        {{event-map
          latitude=model.venueLatitude
          longitude=model.venueLongitude
          title=model.venueLocateName
          directionsUrl=model.directionsUrl
        }}
        <div>
          {{#unless model.isNew}}
            {{report-abuse eventId=model.eventId}}
          {{/unless}}
          
          {{#if model.canEdit}}
            {{#link-to 'events.edit' model.eventId class='EventShowAside-button btn btn-link'}}
              Edit this event
            {{/link-to}}
          {{/if}}

          {{#if model.adminContentUrl}}
            <div>
              <a href='{{model.adminContentUrl}}'>Admin</a>
            </div>
          {{/if}}
        </div>

        {{event-other-dates instance=model}}

        {{event-similar-content similarContent=similarContent}}
      </aside>

      <div class='col-sm-8'>
        <h3 class='EventShow-infoHeader'>{{model.timeRange}}</h3>
        <div class='EventShow-info row'>
          {{#if model.hasLocationInfo}}
            <div class='EventInfo col-sm-4'>
              {{fa-icon 'map-marker EventInfo-icon'}}
              <div class='EventInfo-content'>
                <h4 class='EventInfo-header'>
                  {{#if model.venueName}}
                    {{model.venueName}}
                  {{else}}
                    Location
                  {{/if}}
                </h4>
                <div class='u-textTruncate'>{{model.venueAddress}}</div>
                <div class='u-textTruncate'>{{model.venueCity}}, {{model.venueState}} {{model.venueZipcode}}</div>
              </div>
            </div>
          {{/if}}

          {{#if model.hasContactInfo}}
            <div class='EventInfo col-sm-4'>
              {{fa-icon 'user EventInfo-icon EventInfo-contactIcon'}}
              <div class='EventInfo-content'>
                <h4 class='EventInfo-header'>Event Contact</h4>
                <div class='u-textTruncate'>
                  <a href="mailto:{{model.contactEmail}}">
                    {{model.contactEmail}}
                  </a>
                </div>
                <div class='u-textTruncate'>{{model.contactPhone}}</div>
                <div class='u-textTruncate'>
                  <a {{bind-attr href=model.eventUrl}} >
                    {{model.eventUrl}}
                  </a>
                </div>
              </div>
            </div>
          {{/if}}

          {{#if model.costType}}
            <div class='EventInfo col-sm-3'>
              {{fa-icon 'dollar EventInfo-icon EventInfo-costIcon'}}
              <div class='EventInfo-content'>
                <h4 class='EventInfo-header'>{{model.formattedCostType}}</h4>
                <div class='u-textTruncate'>{{model.cost}}</div>
              </div>
            </div>
          {{/if}}
        </div>

        <div class='EventShow-content'>
          {{{model.content}}}
        </div>

        <div class='EventShow-content'>
          <h5>Also in the Upper Valley</h5>
          {{#if relatedPromotion.redirect_url}}
            <a href='{{relatedPromotion.redirect_url}}'>
              {{#if relatedPromotion.image_url}}
                <img class='img-responsive' src='{{relatedPromotion.image_url}}'>
              {{else}}
                <img class='img-responsive' src='//placehold.it/750x150&text=Banner+Placeholder'>
              {{/if}}
            </a>
          {{else}}
            {{#if relatedPromotion.image_url}}
              <img class='img-responsive' src='{{relatedPromotion.image_url}}'>
            {{else}}
              <img class='img-responsive' src='//placehold.it/750x150&text=Banner+Placeholder'>
            {{/if}}
          {{/if}}
        </div>

        {{event-comments
          eventInstanceId=model.id
          comments=comments
          class='EventShow-content'
          commentingDisabled=model.isNew
        }}
      </div>
    </div>
  </main>


</article>

