<article class='EventShow'>
  <header>
    {{#if model.imageUrl}}
      <div class='container'>
        <div class='row'>
          <div class='col-md-4 hidden-xs'>
            {{background-image imageUrl=model.imageUrl class='PhotoBanner-thumbnail'}}
          </div>
        </div>
      </div>
    {{/if}}
    <div class='PhotoBanner {{if model.imageUrl 'PhotoBanner--padded'}}'>
      {{background-image imageUrl=model.imageUrl class='PhotoBanner-curtainImage'}}
      <div class='PhotoBanner-curtain'></div>
      <div class='PhotoBanner-content container'>
        <div class='row'>
          <div class='col-xs-12 {{if model.imageUrl 'col-sm-8 col-sm-offset-4'}}'>
            <h1 class='PhotoBanner-title'>{{x-truncate text=model.title maxLength=50}}</h1>
            <h2 class='PhotoBanner-subtitle'>{{model.subtitle}}</h2>
            <h2 class='PhotoBanner-subtitle'>{{model.timeRange}}</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class='container'>
    <div class='row'>

      <div class='col-sm-2'>
        {{back-button routeName='events'}}
      </div>

      <div class='col-sm-8'>
        <div class='EventShow-info row'>
          {{#if model.hasLocationInfo}}
            <div class='EventInfo col-sm-4'>
              {{fa-icon 'map-marker EventInfo-icon hidden-xs'}}
              <div class='EventInfo-content'>
                <h4 class='EventInfo-header'>
                  {{#if model.venueName}}
                    {{#if model.venueUrl}}
                      {{#normalized-link url=model.venueUrl class='EventInfo-headerLink'}}
                        {{model.venueName}}
                      {{/normalized-link}}
                    {{else}}
                      {{model.venueName}}
                    {{/if}}
                  {{else}}
                    Location
                  {{/if}}
                </h4>
                {{#if model.hasLocationInfo}}
                  {{event-map
                    locateName=model.venueLocateName
                    fullAddress=model.fullAddress
                    directionsUrl=model.directionsUrl
                    class='pull-left col-sm-7 col-md-12 hidden-xs'
                  }}
                {{/if}}
                <div>{{model.venueAddress}}</div>
                <div>{{model.venueCity}}, {{model.venueState}} {{model.venueZip}}</div>

                {{#if model.directionsUrl}}
                  <div class='row'>
                    <div class='col-xs-12'>
                      <a href='{{model.directionsUrl}}' class='btn btn-primary visible-xs'>
                        Get Directions
                      </a>
                    </div>
                  </div>
                {{/if}}
              </div>
            </div>
          {{/if}}

          {{#if model.hasContactInfo}}
            <div class='EventInfo col-sm-4'>
              {{fa-icon 'user EventInfo-icon EventInfo-contactIcon hidden-xs'}}
              <div class='EventInfo-content'>
                <h4 class='EventInfo-header'>Event Contact</h4>
                <div class='u-textTruncate'>
                  <a href="mailto:{{model.contactEmail}}">
                    {{model.contactEmail}}
                  </a>
                </div>
                <div>
                  <a href='tel:{{model.contactPhone}}'>{{model.contactPhone}}</a>
                </div>
                <div class='u-textTruncate'>
                  {{#normalized-link url=model.eventUrl}}
                    {{model.eventUrl}}
                  {{/normalized-link}}
                </div>
              </div>
            </div>
          {{/if}}

          {{#if model.costType}}
            <div class='EventInfo col-sm-3'>
              {{fa-icon 'dollar EventInfo-icon EventInfo-costIcon hidden-xs'}}
              <div class='EventInfo-content'>
                <h4 class='EventInfo-header'>{{model.formattedCostType}}</h4>
                <div>{{gradient-truncation text=model.cost}}</div>
              </div>
            </div>
          {{/if}}
        </div>

        <div class='EventShow-content'>
          {{{model.content}}}
        </div>
      </div>

      <div class='col-sm-2'>
        {{social-share}}
      </div>
    </div>

    <h1 class='SectionHeader'>
      <span class='SectionHeader-text'>
        Future Event Dates
      </span>
    </h1>
    <div class='row'>
      {{event-other-dates instance=model}}
    </div>

    <h1 class='SectionHeader'>
      <span class='SectionHeader-text'>
        The Conversation
      </span>
    </h1>
    <div class='row'>
      {{event-comments
          eventInstanceId=model.id
          eventTitle=model.title
          comments=comments
          class='EventShow-content'
          commentingDisabled=model.isNew
        }}
    </div>
  </main>

  <h1 class='SectionHeader'>
    <span class='SectionHeader-text'>
      Suggested Content
    </span>
  </h1>

  {{event-similar-content similarContent=similarContent}}


</article>


