<article class='EventShow'>
  <header>
    {{#if model.imageUrl}}
      <div class='Container--noGutter'>
        <div class='row'>
          <div class='col-md-4 hidden-xs'>
            {{background-image imageUrl=model.imageUrl class='PhotoBanner-thumbnail'}}
          </div>
        </div>
      </div>
    {{/if}}
    <div class='PhotoBanner {{if model.imageUrl 'PhotoBanner--padded'}}'>
      {{background-image imageUrl=model.imageUrl class='PhotoBanner-curtainImage'}}
      <div class='PhotoBanner-curtain'></div>
      <div class='PhotoBanner-content Container--noGutter'>
        <div class='row'>
          <div class='col-xs-12 {{if model.imageUrl 'col-sm-7 col-sm-offset-5 col-md-8 col-md-offset-4'}}'>
            <h1 class='PhotoBanner-title'>{{x-truncate text=model.title maxLength=50}}</h1>
            <h2 class='PhotoBanner-subtitle'>{{model.subtitle}}</h2>
            <h2 class='PhotoBanner-subtitle'>{{model.timeRange}}</h2>
          </div>
        </div>
      </div>
    </div>
  </header>

  <main class='Container--noGutter ContentBody'>
    <div class='row'>
      <div class='col-md-4 hidden-sm hidden-xs'>
        {{#if model.hasRegistrationInfo}}
          <h2 class='SectionHeader'>
            <span class='SectionHeader-text'>Registration + Tickets</span>
          </h2>

          <h2 class='EventInfo-registrationHeader'>
            Registration Deadline - {{model.formattedRegistrationDeadline}}
          </h2>

          <div class='EventInfo-contact'>
            {{#if model.registrationUrl}}
              <div class='EventInfo-contactItem u-textTruncate'>
                {{fa-icon 'link'}}

                {{#normalized-link url=model.registrationUrl}}
                  {{model.registrationUrl}}
                {{/normalized-link}}
              </div>
            {{/if}}

            {{#if model.registrationEmail}}
              <div class='EventInfo-contactItem u-textTruncate'>
                {{fa-icon 'envelope'}}

                <a href="mailto:{{model.registrationEmail}}">
                  {{model.registrationEmail}}
                </a>
              </div>
            {{/if}}

            {{#if model.registrationPhone}}
              <div class='EventInfo-contactItem u-textTruncate'>
                {{fa-icon 'phone'}}

                <a href='tel:{{model.registrationPhone}}'>{{model.registrationPhone}}</a>
              </div>
            {{/if}}
          </div>
        {{/if}}

        <h2 class='SectionHeader'>
          <span class='SectionHeader-text'>Location</span>
        </h2>

        {{#if model.hasLocationInfo}}
          {{event-map
            locateName=model.venueLocateName
            fullAddress=model.fullAddress
            directionsUrl=model.directionsUrl
            class='hidden-xs'
          }}

          <div>
            {{#if model.venueUrl}}
              {{#normalized-link url=model.venueUrl class='EventInfo-headerLink'}}
                {{model.venueName}}
              {{/normalized-link}}
            {{else}}
              {{model.venueName}}
            {{/if}}
          </div>

          <div>
            <a href='{{model.directionsUrl}}' target='_blank'>
              {{model.venueAddress}}, {{model.venueCity}}
            </a>
          </div>
        {{/if}}

        {{#if model.hasContactInfo}}
          <h2 class='SectionHeader'>
            <span class='SectionHeader-text'>Event Information</span>
          </h2>
          <div class='EventInfo-contact'>
            {{#if model.eventUrl}}
              <div class='EventInfo-contactItem u-textTruncate'>
                {{fa-icon 'link'}}

                {{#normalized-link url=model.eventUrl}}
                  {{model.eventUrl}}
                {{/normalized-link}}
              </div>
            {{/if}}

            {{#if model.contactEmail}}
              <div class='EventInfo-contactItem u-textTruncate'>
                {{fa-icon 'envelope'}}

                <a href="mailto:{{model.contactEmail}}">
                  {{model.contactEmail}}
                </a>
              </div>
            {{/if}}

            {{#if model.contactPhone}}
              <div class='EventInfo-contactItem u-textTruncate'>
                {{fa-icon 'phone'}}

                <a href='tel:{{model.contactPhone}}'>{{model.contactPhone}}</a>
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div>

      <div class='col-md-6'>
        {{#if model.costType}}
          <div class='EventInfo-cost'>
            {{model.formattedCostType}}
            {{model.cost}}
          </div>
        {{/if}}

        <div class='EventShow-content ContentText'>
          {{{model.content}}}
        </div>
      </div>

      <div class='col-md-2 u-layoutMobilePadding0'>
        {{#floating-side-column enabled=media.isDesktop}}
          {{social-share
            title=model.title
            sharedBy=session.userName
          }}

          {{report-content-details contentId=model.contentId}}

          {{#if model.canEdit}}
            {{edit-content-link
              contentId=model.eventId
              route='events.edit'
              text='Edit Event'
            }}
          {{/if}}

          {{comment-bubble
            type='event'
            count=model.commentCount
            class='hidden-xs hidden-sm'
          }}
        {{/floating-side-column}}
      </div>
    </div>

    {{event-other-dates event=model}}

    {{#unless isPreview}}
      {{related-promotion
        contentModel=model
      }}
    {{/unless}}

    <h1 class='SectionHeader SectionHeader--paddedTop'>
      <span class='SectionHeader-text'>
        Talk
      </span>
    </h1>
    <div class='row'>
      {{content-comments
        content=model
        scrollTo=scrollTo
      }}
    </div>

    {{#unless isPreview}}
      {{similar-content
        contentId=model.contentId
        limit=4
      }}
    {{/unless}}
  </main>

</article>
