<div class="FeedCard--card-front">
  {{feed-card/title
    title=model.title
    model=model
    sold=model.sold
  }}

  {{#if activeImageUrl}}
    {{feed-card/image
      imageUrl=activeImageUrl
      caption=model.primaryImageCaption
      model=model
    }}
  {{else}}
    {{feed-card/text-snippet
      showTextSnippet=true
      model=model
    }}
  {{/if}}

  {{#if (or model.cost model.images)}}
    {{feed-card/market-info
      cost=model.cost
      images=model.images
      activeImageUrl=(mut activeImageUrl)
    }}
  {{/if}}

  {{feed-card/attribution
    avatarUrl=model.attributionImageUrl
    author=model.attributionName
    linkRouteName=attributionLinkRouteName
    linkId=attributionLinkId
    postedTime=model.publishedAtRelative
    isListserv=model.isListserv
    commentCount=model.commentCount
  }}

  {{feed-card/footer
    locationTagName=sourceTag
    canEdit=model.canEdit
    editRoute='market.edit'
    editRouteId=model.id
  }}

  {{feed-card/comments
    parentContentId=(readonly model.contentId)
    comments=model.comments
    commentCount=model.commentCount
    contentTitle=(readonly model.title)
    disabled=(readonly commentingDisabled)
    afterComment=(action 'reloadComments')
  }}
</div>
