  <div class='Card-imageContainer'>
    {{#link-to (if routeName routeName 'news.all.show') item.id (query-params ctype='news')}}
      <div class='Card-image img-responsive' style="background-image: url({{if item.imageUrl item.imageUrl item.organization.logoUrl}})"></div>
    {{/link-to}}
  </div>

  <div class='Card-content'>
    <div class='Card-titleGroup'>
      {{#link-to (if routeName routeName 'news.all.show') item.id (query-params ctype='news') data-test-link=item.title class="Card-title" classNames=(if media.isMobile "h1" "h2")}}
        {{item.title}}
      {{/link-to}}

      <div class='Card-snippet u-textTwoLineTruncate'>
        {{{content}}}
      </div>

        <div class='Card-meta-avatar'>
          {{#link-to 'organization-profile'
            item.organization.slug
            class='Card-organization'
            tagName='a'
            data-test-component="organization-link"
          }}
            {{avatar-image
              imageUrl=item.organization.displayImageUrl
              userName=item.organization.name
              customSize=32
            }}
          {{/link-to}}

        </div>

        <div class='Card-meta-items'>
          <span class='Card-organization'>
            {{relativeDate}}<br />
            {{#link-to 'organization-profile'
            item.organization.slug
            class='Card-organization'
            tagName='a'
            data-test-component="organization-link"
            }}
              {{item.organizationName}}
            {{/link-to}}
          </span>
        </div>
    </div>

  </div>
