  <div class='Card-imageContainer'>
    {{#link-to (if routeName routeName 'news.show') item.id (query-params close=(if closeRoute closeRoute 'news.index')) data-test-link='show'}}
      <div class='Card-image img-responsive' style="background-image: url('{{if item.imageUrl (optimized-image-url item.imageUrl 706 530 true) item.organization.logoUrl}}')"></div>
    {{/link-to}}
  </div>

  <div class='Card-content'>
    <div class='Card-titleGroup'>
      {{#link-to (if routeName routeName 'news.show') item.id data-test-link=item.title class="Card-title Card-title--wide" data-test-link='show'}}
        {{item.title}}
      {{/link-to}}

      <div class='Card-snippet u-textTwoLineTruncate'>
        {{{content}}}
      </div>

        <div class='Card-meta-avatar'>
          {{#link-to linkRoute
            linkId
            class='Card-organization'
            tagName='a'
            data-test-link="organization-link"
          }}
            {{avatar-image
              imageUrl=item.organization.displayImageUrl
              userName=item.organization.name
              customSize=32
            }}
          {{/link-to}}

        </div>

        <div class='Card-meta-items'>
          <span class='Card-organization'>
            {{relativeDate}}<br />

            {{#link-to linkRoute
            linkId
            class='Card-organization'
            tagName='a'
            data-test-link="organization-link"
            }}
              {{item.organizationName}}
            {{/link-to}}
          </span>
        </div>
    </div>

  </div>
