<div class='{{if hasBlock 'hidden'}}'>
  {{#if displayImagePreview}}
    <div class='form-group'>
      {{#if shouldCrop}}
        {{image-cropper
          image=image
          imageUrl=imageUrl
        }}
      {{else}}
        <img src="{{displayImageUrl}}" alt="Selected Image" class="ImageEditor-preview" {{action 'removeImage'}} crossOrigin="anonymous" />
        <div class="text-center">
          {{#if hasNewImage}}
            <button class="Button Button--icon" {{action 'rotateImage' 'left'}} title="Rotate image left">{{fa-icon 'rotate-left'}}</button>
            <button class="Button Button--icon" {{action 'rotateImage' 'right'}} title="Rotate image right">{{fa-icon 'rotate-right'}}</button>
          {{/if}}
          <button class="Button Button--secondary" {{action 'removeImage'}}>Change Photo</button>
        </div>
      {{/if}}
    </div>
  {{else}}
    {{#form-group error=error}}
      <label class='control-label' for="image">
        Choose Image
      </label>
      {{file-input fileError=(action 'fileError') allowedExtensions='.jpg,.jpeg,.png'
                   inputClass='form-control ContentForm-fileField' action=(action "filesSelected")}}
      <span class="help-block ContentForm-helpText">
      Format: .jpg or .png  // Size: under 5MB
      <br>Min width x height: {{minWidth}} x {{minHeight}}
      </span>
    {{/form-group}}
  {{/if}}

</div>

{{#if hasBlock}}
  {{yield originalImageFile}}
{{/if}}
