<div class='{{if hasBlock 'hidden'}}'>
  {{#unless displayJSCropper}}
    {{#form-group error=error}}
      <label class='control-label' for="image">
        Choose Image
      </label>
      {{file-input fileError=(action 'fileError') allowedExtensions='.jpg,.jpeg,.png' inputClass='form-control ContentForm-fileField' action=(action "filesSelected")}}
      <span class="help-block ContentForm-helpText">
        Format: .jpg or .png  // Size: under 5MB
        <br>Min width x height: {{minWidth}} x {{minHeight}}
      </span>
    {{/form-group}}
  {{/unless}}

</div>

<div class='form-group' class={{unless displayJSCropper 'hidden'}}>
  <div class='close' {{action 'removeImage'}}>
    {{fa-icon 'times'}}
  </div>
  <img class='img-responsive js-Cropper-image'>
  <div>
    <button class="Button Button--icon" {{action 'rotateImage' 'left'}} title="Rotate image left">{{fa-icon 'rotate-left'}}</button>
    <button class="Button Button--icon" {{action 'rotateImage' 'right'}} title="Rotate image right">{{fa-icon 'rotate-right'}}</button>
    <span>Rotate Image</span>
  </div>
</div>

{{#if hasBlock}}
  {{yield originalImageFile}}
{{/if}}
