<div class='Modal-inner'>
  <div class='Modal-dialog {{if isSmall "Modal-dialog--small"}} {{if fullscreen "Modal-dialog--fullscreen"}} {{if isAnimated 'animated'}}'>
    {{#if showHeader}}
      {{modal-header close=close title=title}}
    {{/if}}

    {{yield this}}
  </div>
</div>
