<div style={{modalInnerStyle}} class="Modal-inner {{if willAnimateAway "Modal-inner--willAnimateAway"}}">

  <div style={{modalDialogStyle}}
       class="Modal-dialog
              {{if isSlider sliderClass}}
              {{if isSmall "Modal-dialog--small"}}
              {{if fullscreen "Modal-dialog--fullscreen"}}
              {{if isAnimated "animated"}}">

    {{#if isSlider}}
      <div class="Modal-dialog-slide-close {{slideOutTo}}" {{action "closeModal"}} role="button">
        {{fa-icon (concat "long-arrow-" slideOutTo)}}
      </div>
    {{/if}}

    {{#if showHeader}}
      {{modal-header title=title}}
    {{/if}}

    {{#if (and close (not isSlider))}}
      {{#x-button
        color="light-gray"
        rounded=false
        size="x-small"
        class="Modal-actionClose"
        onClick=(action "clickModalClose")
        data-test-component="modal-close-button"}}
          {{fa-icon "close"}}
      {{/x-button}}
    {{/if}}

    {{from-elsewhere name="modal-wrapper-takeover"}}

    <div class="Modal-dialog-body-wrapper {{if hasInternalModals "has-internal-modals"}}">
      <div class="Modal-dialog-body" style={{modalBodyStyle}}>
        {{yield (action "closeModal")}}
      </div>
    </div>

  </div>
</div>
