<div class="BizFeed-AddToMenu-hotlink-message">
  {{#if contentIsHotlink}}
    Appears in page menu as:
  {{else}}
    Please enter a shortcut word for this content item to be shown on the menu:
  {{/if}}
</div>
<div>
  {{input
    value=inputValue
    placeholder=inputPlaceholder
    class='form-control'
  }}
</div>
<div class="BizFeed-AddToMenu-hotlink-options">
  <div class="BizFeed-AddToMenu-hotlink-action BizFeed-AddToMenu-save" {{action 'saveHotlink'}}>
    {{#if contentIsHotlink}}
      Change
    {{else}}
      Save
    {{/if}}
  </div>
  {{#if contentIsHotlink}}
    <div class="BizFeed-AddToMenu-hotlink-action BizFeed-AddToMenu-remove" {{action 'removeHotlink'}}>
      Remove
    </div>
  {{/if}}
  <div class="BizFeed-AddToMenu-hotlink-action BizFeed-AddToMenu-cancel" {{action 'cancelHotlink'}}>
    Cancel
  </div>
</div>
