<div class='Container--noGutter'>
  <div class='pull-right ContextBar'>
    <span class='ContextBar-eventCount'>
      Showing {{model.length}} listings.
    </span>

    {{#if showReset}}
      <a href='#' {{action 'resetFilters'}} class='ContextBar-filterReset btn-default btn-xs fa fa-times-circle'>
        Reset search filters
      </a>
    {{/if}}
  </div>
</div>

<div class='Container--noGutter'>
  <div class='ContentDescription'>
    {{#if isAllCommunities}}
      A search of all Market listings except for those posters limited to their own town.
    {{else}}
      A search of all Market listings intended only for users registered to {{session.userLocation}}.
    {{/if}}
  </div>
</div>

{{#if model}}
  {{grouped-market-posts
    marketPosts=model
  }}

  <div class='Container--noGutter'>
    {{partial 'partials/pagination-nav'}}
  </div>
{{else}}
  <div class='NoResults container text-center'>
    <p>I can't believe it. No one has posted an item that matches your search.</p>
    <p>You could try tweaking your search for another listing or&hellip;</p>
    <p>Seize the opportunity and post your own.</p>
  </div>
{{/if}}
