<article class="ListservForm-container text-center">
  <header class='ListservForm-header'>
    <h1 class='uppercase-bold-condensed h1'>Send As-Is</h1>
  </header>
  <div class='ListservForm'>
    {{#if error}}
      <h1>Oops</h1>
      <p class='alert alert-warning' data-test-error-message>{{error}}</p>
    {{else}}
      {{#if model.verifiedAt}}
        <h1>You're all set!</h1>
        <p data-test-message='verified-success'>You have verified this post. Thank you!</p>
        <p>
          Your post will appear in tomorrow's {{model.listserv.name}} digest,<br>
          but not on the {{#link-to 'index' class='u-textUnderline'}}DailyUV {{if features.listserv-user-testing 'TEST'}} website{{/link-to}}.
        </p>
      {{else}}
        <p>
          To verify this post,<br>
          and have it appear <strong>ONLY</strong> in the<br>
          <strong>{{model.listserv.name}} digest:</strong>
        </p>
        <div class='text-center'>
          <button data-test-action="send-as-is" class='Button Button--primary' {{action 'confirm'}}>
            Click here to confirm
          </button>
        </div>
      {{/if}}
    {{/if}}
  </div>
</article>
