<div class='ListservForm'>
  <div class='ListservForm-content'>
    <div class='ListservForm-sectionSubHeader'>
      <h1 class='alert alert-success ListservForm-sectionHeader' data-test-subscription-confirmation-message>
        {{fa-icon icon='check'}}
        You have been subscribed to<br>
        {{listservName}}!
      </h1>
      {{#if existingUser}}
        <p class='text-center'>
          You can expect to receive the {{listservName}} digest in your inbox tomorrow!
        </p>
        <p class='text-center'>
          Manage this subscription on your My Account page on dailyUV!
        </p>
      {{else}}
        <h2 class='ListservForm-sectionHeader'>Would you like to register on dailyUV too?</h2>

        <p>
          DailyUV and Vital Communities, the nonprofit that administers the {{listservName}},
          are working together to improve the service. We hope you find it works well
          for you! <a class='u-textUnderline' href="http://listserv.dailyuv.net">Learn more</a>
        </p>

        <p>
          DailyUV is free and filled with great articles, market and event listings
          about the Upper Valley. It’s a great complement to the {{listservName}}.
        </p>

        <p>
          Either way, you’ll get the {{listservName}} digest in your inbox tomorrow!
        </p>
        {{/if}}
      </div>

      {{#unless existingUser}}
        <div class='ListservForm-form'>
          {{listserv-registration-form
            email=(readonly model.email)
            callToAction="Register!"
            listservName=listservName
            confirmationKey=confirmationKey
            onSuccess=(action 'registrationSuccess')
          }}
        </div>
      {{/unless}}
  </div>
</div>
