{{#if hasCards}}
  {{#x-card class="FeedCarousel-wrapper"}}

    {{#if showTitleBar}}
      <div class="FeedCarousel-title-bar">
        <div class="FeedCarousel-title-bar-left">
          <span class="FeedCarousel-title">{{carouselTitle}}</span>
        </div>
        <div class="FeedCarousel-title-bar-right">
          {{#if (and showCtaCard linkToFeed)}}
            {{#link-to params=(dynamic-params ctaRouteName queryParams)}}
              <span data-test-feed-carousel-inline-cta class="FeedCarousel-see-more">See More {{fa-icon "chevron-right"}}</span>
            {{/link-to}}
          {{else if (and showCtaCard linkToProfile)}}
            {{#link-to ctaRouteName profileId (query-params location=linkLocation)}}
              <span data-test-feed-carousel-inline-cta class="FeedCarousel-see-more">See All {{fa-icon "chevron-right"}}</span>
            {{/link-to}}
          {{/if}}
        </div>
      </div>
    {{/if}}

    {{#swiper-container
      grabCursor=false
      pagination=false
      navigation=true
      centered=false
      slidesPerView="auto"
      updateFor=cards.length
      onChange=(action "onChange")
    }}

      {{#each cards as |card|}}
        {{#swiper-slide}}
          {{component componentName
            model=card
            carouselId=carouselId
            isLoggedIn=isLoggedIn
          }}
        {{/swiper-slide}}
      {{/each}}

      {{#if showCtaCard}}
        {{#swiper-slide}}
          {{feed-carousel/cta-card
            linkToFeed=linkToFeed
            linkToProfile=linkToProfile
            linkLocation=linkLocation
            ctaRouteName=ctaRouteName
            profileId=profileId
            queryParams=queryParams
            seeMoreText=seeMoreText
            onClickAction=(action "onClickSeeMore")
          }}
        {{/swiper-slide}}
      {{/if}}

    {{/swiper-container}}

  {{/x-card}}
{{/if}}
