<div class='ContentForm-buttonGroup form-group'>
  <button class='Button Button--primary btn btn-primary pull-right' {{action 'next'}}>
    Next Step
    {{fa-icon 'arrow-right u-iconRight'}}
  </button>

  <button class='ContentForm-buttonLink ContentForm-discardButton h2 btn btn-link pull-right' {{action 'discard'}}>
    {{fa-icon 'trash u-iconLeft'}}

    {{#if model.isNew}}
      Discard {{formattedType}}
    {{else}}
      Discard Changes
    {{/if}}
  </button>
</div>
