{{#if relatedPromotion.redirect_url}}
  <a href='{{relatedPromotion.redirect_url}}'>
    {{#if relatedPromotion.image_url}}
      <img class='img-responsive RelatedPromotion' src='{{relatedPromotion.image_url}}'>
    {{else}}
      <img class='img-responsive RelatedPromotion' src='//placehold.it/750x150&text=Banner+Placeholder'>
    {{/if}}
  </a>
{{else}}
  {{#if relatedPromotion.image_url}}
    <img class='img-responsive' src='{{relatedPromotion.image_url}}' class='RelatedPromotion'>
  {{else}}
    <img class='img-responsive' src='//placehold.it/750x150&text=Banner+Placeholder' class='RelatedPromotion'>
  {{/if}}
{{/if}}