{{#if model.bannerImage}}
  <section class='NewsPhotoBanner'>
    <div class='Container--noGutter NewsPhotoBanner-photoContainer'>
      {{#background-image imageUrl=model.bannerImage.url class='NewsPhotoBanner-photo'}}
        <div class='NewsPhotoBanner-captionArea'>
          {{model.bannerImage.caption}} / Source: {{model.bannerImage.credit}}
        </div>
      {{/background-image}}
    </div>
  </section>
{{/if}}

<div class='Container--noGutter News'>
  <div class='row'>
    <div class='col-md-2 hidden-sm hidden-xs'>
      {{#unless isPreview}}
        {{back-button routeName='news'}}
      {{/unless}}
    </div>

    <div class='col-md-8 col-sm-9'>
      <h1 class='News-title'>{{model.title}}</h1>
      <h3 class='News-subtitle'>{{model.subtitle}}</h3>
      <div class='News-publicationInfo'>
        {{#link-to 'news' (query-params query='Everything' publication=model.publicationName r=refreshParam.time)}}
          {{model.publicationName}}
        {{/link-to}}

        : {{model.authorName}}
      </div>
      <div class='News-publicationDate'>{{model.formattedPublishedAt}}</div>
      <div class='News-content ContentText'>{{model.content}}</div>

      {{partial 'partials/related-promotion'}}
    </div>

    <div class='col-md-2 col-sm-3'>
      {{social-share}}

      {{report-content-details contentId=model.contentId}}
    </div>
  </div>

  <h1 class='SectionHeader SectionHeader--paddedTop'>
    <span class='SectionHeader-text'>
      Talk
    </span>
  </h1>
  <div class='row'>
    {{content-comments
        contentTitle=model.title
        contentId=model.contentId
        commentingDisabled=model.isNew
      }}
  </div>
</div>
