{{#if model.bannerImage}}
  <div class='NewsPhotoBanner'>
    <div class='container'>
      <div class='row'>
        <div class='col-sm-8 col-sm-offset-2'>
          <img class='NewsPhotoBanner-photo img-responsive' src={{model.bannerImage.url}}>
          {{#if hasCaptionOrCredit}}
            <div class='NewsPhotoBanner-captionArea'>
              {{model.bannerImage.caption}}

              {{#if model.bannerImage.credit}}
                / Source: {{model.bannerImage.credit}}
              {{/if}}
            </div>
          {{/if}}
        </div>
      </div>
    </div>
  </div>
{{/if}}

<div class='Container--noGutter News'>
  <div class='row'>
    <div class='col-md-2 hidden-sm hidden-xs'>
      {{#unless isPreview}}
        {{back-button defaultRouteName='news'}}
      {{/unless}}
    </div>

    <div class='col-md-8 col-sm-9'>
      <h1 class='News-title'>{{model.title}}</h1>
      <h3 class='News-subtitle'>{{model.subtitle}}</h3>
      <div class='News-publicationInfo'>
        {{#link-to 'news' (query-params query='Everything' publication=model.publicationName)}}
          {{model.publicationName}}
        {{/link-to}}

        : {{model.authorName}}
      </div>
      <div class='News-publicationDate'>{{model.formattedPublishedAt}}</div>
      <div class='News-content ContentText'>{{{model.content}}}</div>

      {{#unless isPreview}}
        {{related-promotion
          contentModel=model
        }}
      {{/unless}}
    </div>

    <div class='col-md-2 col-sm-3'>
      {{#floating-side-column enabled=media.isDesktop}}

        {{report-content-details contentId=model.contentId}}

        {{comment-bubble
          type='news'
          count=model.commentCount
          class='hidden-xs hidden-sm'
        }}
      {{/floating-side-column}}
    </div>
  </div>

  <h1 class='SectionHeader SectionHeader--paddedTop'>
    <span class='SectionHeader-text'>
      Talk
    </span>
  </h1>
  <div class='row'>
    {{content-comments
      content=model
      scrollTo=scrollTo
    }}
  </div>

  {{#unless isPreview}}
    {{similar-content
      contentId=model.contentId
      limit=4
    }}
  {{/unless}}
</div>
