{{#if inPublicPreviewMode}}
  <div class="BizFeed-public-preview-bar alert alert-info">
    You are viewing the page as a member of the public.
    <span class="BizFeed-back-to-manage" {{action 'setViewAsPublic' false}}>Continue Managing</span>.
  </div>
{{/if}}

{{#if isOrganizationManager}}
  <span class="BizFeed-view-as-public alert-info" {{action 'setViewAsPublic' true}}>{{fa-icon 'binoculars'}} View as Public</span>
  {{biz-feed/create-button
    organization=organization
  }}

  <div class="BizFeed-manage-tabs">
    Showing:
    <div class="BizFeed-tab {{if (eq activeTab 'public') 'active'}}" {{action 'switchTab' 'public'}} data-test-biz-feed-tab="public">
      <span>On-page Content</span>
    </div>
    <div class="BizFeed-tab {{if (eq activeTab 'private') 'active'}}" {{action 'switchTab' 'private'}} data-test-biz-feed-tab="private">
      <span>Hidden Content</span>
    </div>
    <div class="BizFeed-tab {{if (eq activeTab 'draft') 'active'}}" {{action 'switchTab' 'draft'}} data-test-biz-feed-tab="draft">
      <span>Draft Content</span>
    </div>
  </div>
{{/if}}

{{#if showSearchBox}}
  <div class='BizFeed-search'>
    {{search-input value=query update=updateQuery data-test-component='organization-content-query'}}
  </div>
{{/if}}

{{#if isOrganizationManager}}
  <div class="BizFeed-manage-feed {{activeTab}}">
    {{#each contents as |content|}}
      {{#if (eq activeTab content.viewStatus)}}
        {{biz-feed/card
          content=content
          business=business
          organization=organization
          isOrganizationManager=isOrganizationManager
        }}
      {{/if}}
    {{/each}}
  </div>
{{else}}
  {{#each contents as |content|}}
    {{#if (eq content.viewStatus 'public')}}
      {{biz-feed/card
        content=content
        business=business
        organization=organization
        activeTab='public'
        isOrganizationManager=isOrganizationManager
      }}
    {{/if}}
  {{/each}}
{{/if}}
