{{#form-group}}
  <label class='control-label ContentForm-label--required'>Category</label>
  {{#if listservContent.channelType}}
    <p>
      Our system has identified your post as {{indefinite-article listservContent.channelType}}
      {{listservContent.channelType}} item.
      <br>If that is incorrect, please click the correct button below.
    </p>
  {{/if}}
  {{listserv-content-channel-selector
    action=(action 'changeCategory')
    channelType=listservContent.channelType}}
{{/form-group}}

{{#if enhancedPost}}
  {{#if listservContent.isMarket}}
    {{listserv-market-form
      model=(mut enhancedPost)
      afterDetails=(action 'afterDetails')
    }}
  {{/if}}
  {{#if listservContent.isEvent}}
    {{listserv-event-form
      model=(mut enhancedPost)
      afterDetails=(action 'afterDetails')
    }}
  {{/if}}
  {{#if listservContent.isTalk}}
    {{listserv-talk-form
      model=(mut enhancedPost)
      afterDetails=(action 'afterDetails')
    }}
  {{/if}}
{{else}}
  <p class="text-center">Please choose a Category to continue editing this post.</p>
{{/if}}
