{{input
  placeholder='Search term'
  class='Dropdown-input FilterBar-input FilterBar-inputLocation dropdown-toggle u-textTruncate'
  value=inputValue
  data-toggle='dropdown'
  aria-expanded='false'
}}

<ul class='dropdown-menu' role='menu'>
  <li>
    <a href='#' {{action 'customSearch'}} tabindex='-1'>
      {{fa-icon 'search'}} <i>Custom Search</i>
    </a>
  </li>

  <li role="presentation" class="divider"></li>

  <li>
    <a href='#' {{action 'setLocation' 'All Communities' null}} tabindex='-1'>
      All Communities
    </a>
  </li>

  {{#each otherLocations as |location|}}
    <li>
      <a href='#' {{action 'setLocation' location.name location.id}} tabindex='-1'>
        {{location.name}}
      </a>
    </li>
  {{/each}}


  {{#if session.isAuthenticated}}
    <li>
      <a href='#' {{action 'setLocation' session.userLocation session.currentUser.locationId}} tabindex='-1'>
        {{session.userLocation}}
      </a>
    </li>
  {{/if}}

  {{#if hasPerformedSearch}}
    <li role="presentation" class="divider"></li>

    {{#if isSearching}}
      <li class='disabled'>
        <a tabindex='-1'>{{fa-icon 'spinner fa-spin'}} Searching&hellip;</a>
      </li>
    {{else}}
      {{#each places as |place|}}
        <li><a href='#' {{action 'setLocation' place.name place.id}} tabindex='-1'>{{place.name}}</a></li>
      {{else}}
        <li class='disabled'><a tabindex='-1'>No Search Results</a></li>
      {{/each}}

    {{/if}}
  {{/if}}
</ul>
