<div class="DirectoryBusiness-backButton">
  {{#if fromSearch}}
    <h2>{{#link-to 'directory.search.results'}}{{fa-icon 'fa-angle-left'}} BACK TO SEARCH{{/link-to}}</h2>
  {{else}}
    <h2>{{#link-to 'directory'}}{{fa-icon 'fa-angle-left'}} SEARCH{{/link-to}}</h2>
  {{/if}}
</div>

<div class="DirectoryBusiness-detailWrap">
  {{directory-business-info myCoords=myCoords model=model}}

  {{directory-feedback-display model=model}}
</div>
