<div class="DirectoryBusiness-backButton">
  {{#if fromSearch}}
    {{#link-to 'directory.search.results'}}{{fa-icon 'fa-angle-left'}} Back to search results{{/link-to}}
  {{else}}
    {{#link-to 'directory'}}{{fa-icon 'fa-angle-left'}} Search{{/link-to}}
  {{/if}}
</div>

<div class="DirectoryBusiness-detailWrap">
  {{directory-business-info myCoords=myCoords model=model}}

  {{directory-feedback-display model=model claimBusiness=(action 'contactUs')}}
</div>
