{{#if hasBlock}}

{{yield (hash
  errors=errors
  validateForm=(action 'validateForm')
  submit=(action 'next')

  orgainzations-input=(component "organization-dropdown"
    selection=(mut model.organization)
    class="with-border"
  )
  title-input=(component "atoms/form-input"
    placeholder='Keep it short and informative'
    value=(mut model.title)
    class="form-control"
    data-test-field="market-title"
  )
  content-input=(component 'summer-note'
    content=(readonly model.content)
    hideError=true
    notifyChange=(action 'updateContent')
  )
  event-form-venue=(component "event-form-venue"
    event=(mut model)
    class='form-group'
    error=errors.venue
    validateForm=(action 'validateForm')
  )
  event-form-dates=(component "event-form-dates"
    schedules=model.schedules
    error=errors.eventInstances
    class='form-group'
    validateForm=(action 'validateForm')
  )
  event-form-registration=(component 'event-form-registration'
    error=errors.registrationDeadline
    event=model
    class='form-group'
    toggleRegistration=(action 'toggleRegistration')
    registrationEnabled=registrationEnabled
    validateForm=(action 'validateForm')
  )
  event-cost-input=(component 'event-form-cost'
    event=model
    cost=(mut model.cost)
    costType=(mut model.costType)
  )

  event-image=(component "content-form-image"
    aspectRatio=1.3333
    image=(mut model.image)
    imageUrl=(mut model.imageUrl)
    originalImageFile=(mut model.originalImageFile)
    error=errors.image
  )
  phone-input=(component 'atoms/form-input'
    placeholder='Contact Phone, ex: 555-555-5555'
    class='form-control'
    value=(mut model.contactPhone)
  )
  email-input=(component 'atoms/form-input'
    placeholder='Contact Email'
    class='form-control'
    value=(mut model.contactEmail)
  )
  url-input=(component 'atoms/form-input'
    placeholder='Web Link, ex: event URL or registration page'
    class='form-control'
    value=model.eventUrl
    focus-out=(action 'normalizeUrl')
  )
)}}

{{else}}

{{#if organizations}}
  {{#form-group hideError=true}}
    <label class='control-label ContentForm-label--required'>Content Owner</label>
    {{#if event.isNew}}
      {{organization-dropdown selection=event.organization class="with-border"}}
    {{else}}
      <div class='form-control-static'>
        {{#if event.ownerName}}
          {{event.ownerName}}
        {{else}}
          {{session.currentUser.name}}
        {{/if}}
      </div>
    {{/if}}
  {{/form-group}}
{{/if}}

{{#form-group error=errors.title hideError=true}}
  <label class='control-label ContentForm-label--required' for="title">Event Title</label>
  {{form-error errors.title}}

  {{input
    id='title'
    placeholder='A short and informative name'
    class='form-control'
    value=event.title
    input=(action 'validateForm')
    data-test-field="event-title"
  }}
{{/form-group}}

{{#form-group error=errors.venue hideError=true}}
  {{event-form-venue
    event=event
    class='form-group'
    error=errors.venue
    validateForm=(action 'validateForm')
  }}
{{/form-group}}

{{event-form-dates
  schedules=event.schedules
  error=errors.eventInstances
  class='form-group'
  validateForm=(action 'validateForm')
}}

{{#if model.isNew}}
  <div class='form-group'>
    <label class='control-label'>Expand my Reach with a Display Ad</label>
    <div>
      {{input
        type='checkbox'
        checked=event.wantsToAdvertise
        change=(action 'toggleAdvertisingRequest')
      }}
      <span>
        {{if event.wantsToAdvertise 'I will receive ' 'Please send me '}}information about promoting my event with a banner ad on dailyUV or in one of dailyUV's weekly newsletters.
      </span>
    </div>

  </div>
{{/if}}

{{event-form-registration
  error=errors.registrationDeadline
  event=event
  class='form-group'
  toggleRegistration=(action 'toggleRegistration')
  registrationEnabled=registrationEnabled
  validateForm=(action 'validateForm')
}}

<div class='form-group'>
  <label class='control-label'>Event Price</label>
  {{event-form-cost
    event=event
    cost=(mut event.cost)
    costType=(mut event.costType)
  }}
</div>

{{#if hasStaticImageUrl}}
  <label class='control-label'>Current Image</label>
  <div class="ImageUpload-preview media events">
    <div class="Image-Upload-previewImage media-left">
      <img class='media-object' src={{imageUrl}}>
    </div>
    <div class="Image-Upload-previewBody media-body">
      <button class='ImageUpload-reset btn btn-link' {{action 'removeImage' image}}>
        {{fa-icon 'close'}}
      </button>
      <h4 class="Image-Upload-previewFilename media-heading">
        {{imageName}}
      </h4>
    </div>
  </div>
{{else}}
  {{content-form-image
    image=event.image
    imageUrl=event.imageUrl
    originalImageFile=event.originalImageFile
    error=errors.image
  }}
{{/if}}

{{#form-group error=errors.content hideError=true}}
  <label class='control-label ContentForm-label--required' for="description">Event Description</label>
  {{form-error errors.content}}

  {{#summer-note content=(readonly event.content) class='ContentForm-textArea' notifyChange=(action 'updateContent')}}
    {{textarea
      id='description'
      placeholder='An inspiring description that will motivate people to attend'
      class='form-control'
      input=(action 'validateForm')
    }}
  {{/summer-note}}
{{/form-group}}

<div class='form-group'>
  <label>Event Info</label>
  {{#form-group error=errors.contactEmail}}
    <div class="input-group">
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'envelope'}}
      </span>
      {{input
        placeholder='Contact Email'
        class='form-control'
        value=event.contactEmail
        input=(action 'validateForm')
      }}
    </div>
  {{/form-group}}

  {{#form-group error=errors.contactPhone}}
    <div class="input-group">
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'phone'}}
      </span>
      {{input
        placeholder='Contact Phone, ex: 555-555-5555'
        class='form-control'
        value=event.contactPhone
        input=(action 'validateForm')
      }}
    </div>
  {{/form-group}}

  {{#form-group error=errors.eventUrl}}
    <div class="input-group">
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'link'}}
      </span>
      {{input
        placeholder='Web Link, ex: event URL or registration page'
        class='form-control'
        value=event.eventUrl
        focus-out='normalizeUrl'
        input=(action 'validateForm')
      }}
    </div>
  {{/form-group}}
</div>

<div class='form-group ContentForm-helpText'>
  <span class='ContentForm-requiredIndicator'>*</span> = required fields
</div>

{{partial 'partials/content-form-buttons'}}
{{/if}}
