{{#if organizations}}
  {{#form-group hideError=true}}
    <label class='control-label ContentForm-label--required'>Content Owner</label>
    {{#if event.isNew}}
      {{organization-dropdown selection=event.organization class="with-border"}}
    {{else}}
      <div class='form-control-static'>
        {{#if event.ownerName}}
          {{event.ownerName}}
        {{else}}
          {{session.currentUser.name}}
        {{/if}}
      </div>
    {{/if}}
  {{/form-group}}
{{/if}}

{{#form-group error=errors.title hideError=true}}
  <label class='control-label ContentForm-label--required' for="title">Event Title</label>
  {{form-error errors.title}}

  {{input
    id='title'
    placeholder='A short and informative name'
    class='form-control'
    value=event.title
    input=(action 'validateForm')
  }}
{{/form-group}}

{{#form-group error=errors.venue hideError=true}}
  {{event-form-venue
    event=event
    class='form-group'
    error=errors.venue
    validateForm=(action 'validateForm')
  }}
{{/form-group}}

{{event-form-dates
  schedules=event.schedules
  error=errors.eventInstances
  class='form-group'
  validateForm=(action 'validateForm')
}}

{{event-form-registration
  error=errors.registrationDeadline
  event=event
  class='form-group'
  toggleRegistration=(action 'toggleRegistration')
  registrationEnabled=registrationEnabled
  validateForm=(action 'validateForm')
}}

<div class='form-group'>
  <label class='ContentForm-label--required'>Event Price</label>
  <div>
    {{event-form-cost
      cost=event.cost
      costType=event.formattedCostType
    }}
  </div>
</div>

{{content-form-image
  image=event.image
  imageUrl=event.imageUrl
  originalImageFile=event.originalImageFile
  error=errors.image
}}

{{#form-group error=errors.content hideError=true}}
  <label class='control-label ContentForm-label--required' for="description">Event Description</label>
  {{form-error errors.content}}

  {{#summer-note content=(readonly event.content) class='ContentForm-textArea' notifyChange=(action 'updateContent')}}
    {{textarea
      id='description'
      placeholder='An inspiring description that will motivate people to attend'
      class='form-control'
      input=(action 'validateForm')
    }}
  {{/summer-note}}
{{/form-group}}

<div class='form-group'>
  <label>Event Info</label>
  {{#form-group error=errors.contactEmail}}
    <div class="input-group">
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'envelope'}}
      </span>
      {{input
        placeholder='Contact Email'
        class='form-control'
        value=event.contactEmail
        input=(action 'validateForm')
      }}
    </div>
  {{/form-group}}

  {{#form-group error=errors.contactPhone}}
    <div class="input-group">
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'phone'}}
      </span>
      {{input
        placeholder='Contact Phone, ex: 555-555-5555'
        class='form-control'
        value=event.contactPhone
        input=(action 'validateForm')
      }}
    </div>
  {{/form-group}}

  {{#form-group error=errors.eventUrl}}
    <div class="input-group">
      <span class="ContentForm-iconLabel input-group-addon">
        {{fa-icon 'link'}}
      </span>
      {{input
        placeholder='Web Link, ex: event URL or registration page'
        class='form-control'
        value=event.eventUrl
        focus-out='normalizeUrl'
        input=(action 'validateForm')
      }}
    </div>
  {{/form-group}}
</div>

<div class='form-group ContentForm-helpText'>
  <span class='ContentForm-requiredIndicator'>*</span> = required fields
</div>

{{partial 'partials/content-form-buttons'}}
