<div class="ImageLoadPlaceholder-boundary {{placeholderClass}}" style={{boundaryStyle}}>

  <div class="ImageLoadPlaceholder-block {{if revealYield "ImageLoadPlaceholder-fade-out"}}">
    <div class="dot"></div>
    <div class="dot"></div>
    <div class="dot"></div>
  </div>

  <div class="ImageLoadPlaceholder-blurred-image {{if revealYield "ImageLoadPlaceholder-fade-out"}}">
    <img class={{placeholderImageClass}} src={{placeholderUrl}} alt="">
  </div>

  <div class="ImageLoadPlaceholder-yield {{if revealYield "ImageLoadPlaceholder-fade-in"}}">
    {{#if showGradient}}
      <div class="ImageLoadPlaceholder-gradient"></div>
    {{/if}}
    {{yield}}
  </div>

</div>
