<div class="ImageLoadPlaceholder-boundary {{placeholderClass}}" >

  <div class="ImageLoadPlaceholder-inside {{if imageIsLoaded "ImageLoadPlaceholder-fade-out"}} {{if imageIsLoaded "image-loaded"}}" style={{blockStyle}}>
    {{#if blurIsLoaded}}
      <img class="ImageLoadPlaceholder-blurredImage {{placeholderImageClass}}" src={{placeholderUrl}} alt="">
    {{else}}
      <div class="ImageLoadPlaceholder-block">
        <div class="dot"></div>
      	<div class="dot"></div>
      	<div class="dot"></div>
      </div>
    {{/if}}
  </div>
  {{#if imageIsLoaded}}
    <div class="ImageLoadPlaceholder-yield ImageLoadPlaceholder-fade-in">
      {{#if showGradient}}
        <div class="ImageLoadPlaceholder-gradient"></div>
      {{/if}}
      {{yield}}
    </div>
  {{/if}}

</div>
