<div class="ImageLoadPlaceholder-boundary {{placeholderClass}}" >

  <div class="ImageLoadPlaceholder-inside {{if imageIsLoaded 'ImageLoadPlaceholder-fade-out'}} {{if imageIsLoaded 'image-loaded'}}" style="{{blockStyle}}">
    {{#if blurIsLoaded}}
      <img class="ImageLoadPlaceholder-blurredImage {{placeholderImageClass}}" src="{{placeholderUrl}}" />
    {{else}}
      <div class="ImageLoadPlaceholder-block">
        <div class="dot"></div>
      	<div class="dot"></div>
      	<div class="dot"></div>
      </div>
    {{/if}}
  </div>
  {{#if imageIsLoaded}}
    <div class="ImageLoadPlaceholder-yield ImageLoadPlaceholder-fade-in">
      {{yield}}
    </div>
  {{/if}}

</div>
