<div class='PromotionSection'>
  <label class='PromotionSection-label' for="extended-reach">My Town Only <span class='PromotionSection-cost'>(Free)</span></label>
  <p class='PromotionSection-description'>
    Your listing will be shown to users in every Community, so it gets the
    greatest possible exposure. But if you want it shown only to other users
    from {{session.userLocation}}, turn this feature on.
  </p>
  <div class='row'>
    <div class='col-sm-6'>
      <div {{action 'toggleProperty' 'post.extendedReachEnabled'}} class='PromotionSection-toggle'>
        {{#if post.extendedReachEnabled}}
          {{fa-icon 'toggle-off PromotionSection-toggleIcon'}} Off
        {{else}}
          {{fa-icon 'toggle-on PromotionSection-toggleIcon is-on'}} On
        {{/if}}
      </div>
    </div>
    <div class='col-sm-6'>
      <img class='img-responsive' src="/images/extended-reach-map.png">
    </div>
  </div>
</div>

<div class='PromotionSection'>
  <label class='PromotionSection-label' for="lists-enabled">Alert the List <span class='PromotionSection-cost'>Free!</span></label>
  <p class='PromotionSection-description PromotionSection-description--emphasized'>
    Send a text-only version of your market post to one or more Upper Valley listservs with a link to the full listing.
    <b>You need to be subscribed to each list ahead of time in order to do this</b>.
    Click <a href='https://dailyuv.com/news/812457' target="_blank"><b>here</b></a> for instructions on how to subscribe.
  </p>
  <div class='row'>
    <div class='col-sm-2 col-sm-offset-2'>
      <div {{action 'toggleProperty' 'listsEnabled'}} class='PromotionSection-toggle'>
        {{#if listsEnabled}}
          {{fa-icon 'toggle-on PromotionSection-toggleIcon is-on'}} On
        {{else}}
          {{fa-icon 'toggle-off PromotionSection-toggleIcon'}} Off
        {{/if}}
      </div>
    </div>
    <div class='col-sm-8'>
      {{#if listsEnabled}}
        {{content-form-listservs
          model=post
          listservs=listservs
        }}
      {{/if}}
    </div>
  </div>
</div>

{{partial 'partials/promotion-disclaimer'}}

<div class='ContentForm-buttonGroup form-group'>
  <button class='Button btn btn-default pull-left' {{action 'back'}}>
    {{fa-icon 'arrow-left u-iconLeft'}}
    Edit Post
  </button>

  <button class='Button Button--primary btn btn-primary pull-right' {{action 'preview'}}>
    Next Step
    {{fa-icon 'arrow-right u-iconRight'}}
  </button>

  {{#if post.isNew}}
    <button class='ContentForm-buttonLink ContentForm-discardButton h2 btn btn-link pull-right' {{action 'discard'}}>
      {{fa-icon 'trash u-iconLeft'}}
      Discard Post
    </button>
  {{/if}}
</div>
