{{#form-group error=error hideError=true}}
  <label class='control-label ContentForm-label--required'>Dates &amp; Times</label>
  {{form-error error}}

  <div class='EventSchedule-content'>
    {{#if schedules}}
      <p>Your event will occur on the dates and times listed below.</p>
    {{else}}
      <p>You must add at least one date to your event.</p>
    {{/if}}

    {{component 'event-form-dates/schedule-list'
        schedules=schedules
        validate=(action 'validateScheduleData')
        save=(action 'updateSchedule')
        removeSchedule=(action 'removeSchedule')
        excludeEvent=(action 'excludeEvent')
        includeEvent=(action 'includeEvent')
    }}

    {{#if (eq showScheduleForm 'recurring')}}
      {{#modal-wrapper close=(action 'hideScheduleForm') showHeader=false}}
        {{component 'event-form-dates/schedule-recurring-form'
          schedule=newSchedule
          validate=(action 'validateScheduleData')
          save=(action 'addNewSchedule')
          cancel=(action 'hideScheduleForm')
        }}
      {{/modal-wrapper}}
    {{/if}}

    {{#if (eq showScheduleForm 'single')}}
      {{#modal-wrapper close=(action 'hideScheduleForm') showHeader=false}}
        {{component 'event-form-dates/schedule-single-form'
          schedule=newSchedule
          validate=(action 'validateScheduleData')
          save=(action 'addNewSchedule')
          cancel=(action 'hideScheduleForm')
        }}
      {{/modal-wrapper}}
    {{/if}}

    <button class='ContentForm-buttonLink EventForm-dateButton btn btn-link' {{action 'buildNewSchedule' 'single'}} data-test-event-form-add-single-date>
      {{#if hasSingleDate}}
        {{fa-icon 'plus-circle u-iconLeft'}} Add more single date(s)
      {{else}}
        {{fa-icon 'plus-circle u-iconLeft'}} Add single date(s)
      {{/if}}
    </button>
    <br>
    <button class='ContentForm-buttonLink EventForm-dateButton btn btn-link' {{action 'buildNewSchedule' 'recurring'}} data-test-event-form-add-repeating-dates>
      {{#if hasRecurringSchedule}}
        {{fa-icon 'plus-circle u-iconLeft'}} Add more repeating dates
      {{else}}
        {{fa-icon 'plus-circle u-iconLeft'}} Add repeating dates
      {{/if}}
    </button>
  </div>
{{/form-group}}
