{{#content-container tiny=true center=true}}

  {{#unless didComplete}}

    {{#content-body}}
      {{#text-block center=true}}
        Sign in or join to explore local Upper Valley
        news, events and connect with your neighbors.
      {{/text-block}}

      {{facebook-login-button
        afterAuthenticate=afterAuthenticate
        onExceededMaxLoginAttempts=(action changeModule 'register')
      }}

      {{#text-block small=true}}
        {{legal-disclaimer}}
      {{/text-block}}

      {{#text-block center=true}}
        or
      {{/text-block}}

      {{sign-in-with-email-form
        email=email
        onEmailSubmit=(action 'onEmailSubmit')
        onJoinClick=(action 'onJoinClick')
      }}
    {{/content-body}}

    {{#content-footer}}
      <button class='Button--text u-button-no-appearance u-link u-bold u-padding0'
              data-test-action='change-sign-in-module'
        {{action (action changeModule 'sign-in-with-password') bubbles=false}}>
        No thanks, I just want to enter my password.
      </button>
    {{/content-footer}}

  {{else}}
    {{sign-in-with-email-confirmation email=email}}
  {{/unless}}

{{/content-container}}