<section class='ListservForm'>
  <header class='ListservForm-header'>
    <h1 class='h1 u-bold'>Please Review</h1>

    <div class='ListservForm-stepIndicator'>
      <h2 class='h5'>Step 2 of 2</h2>
    </div>
  </header>

  {{component channelInPlaceEdit model=model data-test-component='post-details'}}

  <div class='well'>
    <h1 class='h2 u-layoutPadT0'>
      Where will my post be published?
    </h1>

    <ul class='Checklist'>
      <li class='Checklist-item'>
        <strong>{{listservName}}</strong><br>
        Your post will be sent as text-only to the {{capitalize listservName}} with
        a link to DailyUV.
      </li>
      <li class='Checklist-item'>
        <strong>DailyUV</strong><br>
        Your {{channelType}} post will be published on DailyUV.com.
      </li>
    </ul>
  </div>
  <footer class='ListservForm-actions'>
    {{async-button
      action='saveAndPublish'
      default='Save and Publish'
      pending='Saving...'
      class='ListservForm-callToAction ListservForm-ctaNext'
      data-test-action='publish'
    }}
  </footer>
</section>

