<h1 class='GroupHeader GroupHeader--news'>
  {{#link-to 'news' class='GroupHeader-moreLink GroupHeader-moreLink--news h3'}}
    News
  {{/link-to}}

  {{#link-to 'news' class='GroupHeader-moreLink pull-right h5'}}
    view all
  {{/link-to}}
</h1>

<div class='row' data-row='row-1'>
  {{#if media.isNotMobile}}
    {{grouped-news news=newsItems routeName="index.show" adPath="index.index"}}
  {{else}}

    <div class='col-sm-6'>
      {{ordered-news
        news=newsItems
        routeName="index.show"
        adPath="index.index"
      }}
    </div>
  {{/if}}
</div>

<div class='row' data-row='row-2'>
  <div class="{{if hasTalkItems 'col-sm-5' 'col-sm-6'}}">
    <h1 class='GroupHeader GroupHeader--events'>
      {{#link-to 'events' class='GroupHeader-moreLink GroupHeader-moreLink--events h3'}}
        Events
      {{/link-to}}

      {{#link-to 'events' class='GroupHeader-moreLink pull-right h5'}}
        view all
      {{/link-to}}
    </h1>

    {{#each eventItems as |event|}}
      {{event-card
        event=event
        routeName='index.show'
        imagePosition=(if media.isNotMobile 'left' 'right')
        classNames='Card Card--event'
      }}
    {{/each}}
  </div>

  <div class="{{if hasTalkItems 'col-sm-4' 'col-sm-6'}}">
    <h1 class='GroupHeader GroupHeader--market'>
      {{#link-to 'market' class='GroupHeader-moreLink GroupHeader-moreLink--market h3'}}
        Market
      {{/link-to}}

      {{#link-to 'market' class='GroupHeader-moreLink pull-right h5'}}
        view all
      {{/link-to}}
    </h1>

    {{#each marketItems as |post|}}
      {{market-card
        classNames='Card Card--market'
        routeName='index.show'
        imagePosition=(if media.isNotMobile 'left' 'right')
        post=post
      }}
    {{/each}}
  </div>

  {{#if hasTalkItems}}
  <div class='col-sm-3'>
    <h1 class='GroupHeader GroupHeader--talk'>
      {{#link-to 'talk' class='GroupHeader-moreLink GroupHeader-moreLink--talk h3'}}
        Talk
      {{/link-to}}

      {{#link-to 'talk' class='GroupHeader-moreLink pull-right h5'}}
        view all
      {{/link-to}}
    </h1>

    {{#each sortedTalkItems as |talk|}}
      {{talk-card
        talk=talk
        routeName='index.show'
        class='Card Card--talk'
      }}
    {{/each}}
  </div>
  {{/if}}
</div>
