<div class='row'>
  <div class='col-sm-3'>
    {{content-card item=items.item1}}
    {{content-card item=items.item2}}
  </div>
  <div class='NewsCard-verticalDivide col-sm-1'>
  </div>
  <div class='col-sm-8'>
    {{#link-to 'news'}}
      <h6>news</h6>
    {{/link-to}}

    {{news-card-wide item=items.newsItem1}}
  </div>
</div>

{{#if items.newsItem3}}
  <h1 class='SectionHeader'></h1>

  <div class='row'>
    <div class='col-sm-3'>
      {{content-card item=items.newsItem3}}
    </div>
    <div class='col-sm-3'>
      {{content-card item=items.newsItem4}}
    </div>
    <div class='col-sm-3'>
      {{content-card item=items.newsItem5}}
    </div>
    <div class='col-sm-3'>
      {{content-card item=items.newsItem6}}
    </div>
  </div>
{{/if}}

{{#if items.newsItem2}}
  <h1 class='SectionHeader'></h1>

  <div class='row'>
    <div class='col-sm-8'>
      {{#link-to 'news'}}
        <h6>news</h6>
      {{/link-to}}

      {{news-card-wide item=items.newsItem2}}
    </div>
    <div class='NewsCard-verticalDivide col-sm-1'>
    </div>
    <div class='col-sm-3'>
      {{content-card item=items.item3}}
      {{content-card item=items.item4}}
    </div>
  </div>
{{/if}}

{{#if items.item5}}
  <h1 class='SectionHeader'></h1>

  <div class='row'>
    <div class='col-sm-3'>
      {{content-card item=items.item5}}
    </div>
    <div class='col-sm-3'>
      {{content-card item=items.item6}}
    </div>
    <div class='col-sm-3'>
      {{content-card item=items.item7}}
    </div>
    <div class='col-sm-3'>
      {{content-card item=items.item8}}
    </div>
  </div>
{{/if}}

<h1 class='SectionHeader'></h1>
