<h1 class='GroupHeader GroupHeader--news'>
  {{#link-to 'news' class='GroupHeader-channelLink GroupHeader-channelLink--news h3'}}
    News &raquo;
  {{/link-to}}

  {{#link-to 'news' class='GroupHeader-moreLink pull-right h5'}}
    view all
  {{/link-to}}
</h1>

<div class='row' data-row='row-1'>
  {{grouped-news
    news=newsItems
    routeName="index.show"
    adPath="index.index"
    showHeader=true
  }}
</div>

{{#if media.isMobile}}
  {{ad-banner impressionPath='index.index'}}
{{/if}}

<div class='row' data-row='row-2'>
  <div class="{{if hasTalkItems 'col-sm-5' 'col-sm-6'}}">
    <h1 class='GroupHeader GroupHeader--events'>
      {{#link-to 'events' class='GroupHeader-channelLink GroupHeader-channelLink--events h3'}}
        Events &raquo;
      {{/link-to}}

      {{#link-to 'events' class='GroupHeader-moreLink pull-right h5'}}
        view all
      {{/link-to}}
    </h1>

    <div class='Card-groupedWrapper'>
      {{#each eventItems as |event|}}
        {{event-card
          event=event
          routeName='index.show'
          flipImagePosition=true
          classNames='Card Card--event'
        }}
      {{/each}}

      <div class='CardGroupCTA'>
        <div class='CardGroupCTA-innerWrapper'>
          <div class='CardGroupCTA-pitch'>
            <p class='CardGroupCTA-pitch-title'>Want to see your Event on DailyUV?</p>
          </div>

          <div class='CardGroupCTA-cta'>
            {{#link-to 'events.new' class='Button Button--event CardGroupCTA-button' tagName='button'}}Create it now{{/link-to}}
            {{#link-to 'events.all' class='CardGroupCTA-link'}}or browse local events{{/link-to}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="{{if hasTalkItems 'col-sm-4' 'col-sm-6'}}">
    <h1 class='GroupHeader GroupHeader--market'>
      {{#link-to 'market' class='GroupHeader-channelLink GroupHeader-channelLink--market h3'}}
        Market &raquo;
      {{/link-to}}

      {{#link-to 'market' class='GroupHeader-moreLink pull-right h5'}}
        view all
      {{/link-to}}
    </h1>

    {{#each marketItems as |post|}}
      {{market-card
        classNames='Card Card--market'
        routeName='index.show'
        alignImageRightOnMobile=true
        post=post
      }}
    {{/each}}

    <div class='CardGroupCTA'>
      <div class='CardGroupCTA-innerWrapper'>
        <div class='CardGroupCTA-pitch'>
          <p class='CardGroupCTA-pitch-title'>Want to see your local Market Listing on DailyUV?</p>
        </div>

        <div class='CardGroupCTA-cta'>
          {{#link-to 'market.new' class='Button Button--market CardGroupCTA-button' tagName='button'}}Sell it now{{/link-to}}
          {{#link-to 'market.all' class='CardGroupCTA-link'}}or browse the market{{/link-to}}
        </div>
      </div>
    </div>
  </div>

  {{#if media.isMobile}}
    {{ad-banner impressionPath='index.index'}}
  {{/if}}

  {{#if hasTalkItems}}
  <div class='col-sm-3'>
    <h1 class='GroupHeader GroupHeader--talk'>
      {{#link-to 'talk' class='GroupHeader-channelLink GroupHeader-channelLink--talk h3'}}
        Talk &raquo;
      {{/link-to}}

      {{#link-to 'talk' class='GroupHeader-moreLink pull-right h5'}}
        view all
      {{/link-to}}
    </h1>

    {{#each sortedTalkItems as |talk|}}
      {{talk-card
        talk=talk
        routeName='index.show'
        outdentAvatar=false
        class='Card Card--talk'
      }}
    {{/each}}

    <div class='CardGroupCTA'>
      <div class='CardGroupCTA-innerWrapper'>
        <div class='CardGroupCTA-pitch'>
          <p class='CardGroupCTA-pitch-title'>Have something to add to the conversation?</p>
        </div>

        <div class='CardGroupCTA-cta'>
          {{#link-to 'talk.new' class='Button Button--talk CardGroupCTA-button' tagName='button'}}Start discussion{{/link-to}}
          {{#link-to 'talk.all' class='CardGroupCTA-link'}}or browse local conversations{{/link-to}}
        </div>
      </div>
    </div>
  </div>
  {{/if}}
</div>
