<div class="AppDownloadNag-close" role="button" {{action "closeNag"}} data-test-action="close-nag">
  {{fa-icon "close"}}
</div>
<div class="AppDownloadNag-wrap">
  <div class="AppDownloadNag-title">
    Download the HereCast app today!
  </div>
  <div class="AppDownloadNag-images">
    <div class="AppDownloadNag-images-left">
      <img src={{appIcon.imageURL}} class="AppDownloadNag-images-logo" alt="HereCast app Icon">
    </div>
    <div class="AppDownloadNag-images-center">
      <a
      href={{appleStore.linkURL}}
      class="AppDownloadNag-images-apple"
      target="_blank"
      rel="noopener noreferrer"
      {{action "clickAppleStore" preventDefault=false}}
      >
        <img src={{appleStore.imageURL}} alt="Apple Store Icon">
      </a>
    </div>
    <div class="AppDownloadNag-images-right">
      <a
      href={{androidStore.linkURL}}
      class="AppDownloadNag-images-android"
      target="_blank"
      rel="noopener noreferrer"
      {{action "clickAndroidStore" preventDefault=false}}
      >
        <img src={{androidStore.imageURL}} alt="Android Store Icon">
      </a>
    </div>
  </div>

</div>
