{{#if minimal}}
  <h2 class='Card-title' {{action 'onTitleClick'}}>
    {{#link-to 'news.show' item.id}}
      {{item.title}}
    {{/link-to}}
  </h2>

  <span class='Card-subtitle'>{{subtitle}}</span> <span class='Card-subtitle'>{{item.organizationName}}</span>
{{else}}
  {{#unless variant}}
    <div class="media">
      {{#unless (eq imagePosition 'right')}}
        <div class="media-left">
          {{#if hasImage}}
            <div class='Card-imageContainer'>
              {{#link-to 'news.show' item.id}}
                <div class='media-object Card-image-tile' style="background-image:url({{item.imageUrl}})"></div>
              {{/link-to}}
            </div>
          {{/if}}
        </div>
      {{/unless}}

      <div class="media-body Card-body">
        <div class='Card-titleGroup'>
          <h2 class='Card-title' {{action 'onTitleClick'}}>
            {{#link-to 'news.show' item.id data-test-link=item.title}}
              {{x-truncate text=item.title maxLength=(if media.isDesktop 70 20) tagName='span'}}
            {{/link-to}}<br />
          </h2>

          {{#link-to 'organization-profile'
            item.organization.slug
            class='Card-organization'
            tagName='a'
            data-test-component="organization-link"
          }}
            {{item.organizationName}}
          {{/link-to}}
        </div>
      </div>

      {{#if (eq imagePosition 'right')}}
        <div class="media-right">
          {{#if hasImage}}
            <div class='Card-imageContainer'>
              {{#link-to 'news.show' item.id}}
                <div class='media-object Card-image-tile' style="background-image:url({{item.imageUrl}})"></div>
              {{/link-to}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{else}}
    {{#if hasImage}}
      <div class='Card-imageContainer'>
        {{#link-to 'news.show' item.id classNameBindings="isSimilarContent:SimilarContentLink"}}
          <div class='Card-image img-responsive' style="background-image:url({{item.imageUrl}})"></div>
        {{/link-to}}
      </div>
    {{/if}}

    <div class='Card-content'>
      <div class='Card-titleGroup'>
        <h2 class='Card-title'>
          {{#link-to 'news.show' item.id data-test-link=item.title }}
            {{item.title}}
          {{/link-to}}<br />
        </h2>

        {{#link-to 'organization-profile'
          item.organization.slug
          class='Card-organization'
          tagName='a'
          data-test-component="organization-link"
        }}
          {{item.organizationName}}
        {{/link-to}}
      </div>
    </div>
  {{/unless}}
{{/if}}
