{{#if minimal}}
  <h2 class='Card-title' {{action 'onTitleClick'}}>
    {{#link-to 'news.all.show' item.id}}
      <span {{action 'trackSuggestedContentClick'}}>
        {{item.title}}
      </span>
    {{/link-to}}
  </h2>

  <span class='Card-subtitle'>{{subtitle}}</span> <span class='Card-subtitle'>{{item.organizationName}}</span>
{{else}}
  {{#unless variant}}
    <div class="media">
      {{#unless (eq imagePosition 'right')}}
        <div class="media-left">
          {{#if hasImage}}
            <div class='Card-imageContainer'>
              {{#link-to (if routeName routeName 'news.all.show') item.id (query-params ctype='news')}}
                <span {{action 'trackSuggestedContentClick'}}>
                  <div class='media-object Card-image-tile' style="background-image:url({{item.imageUrl}})"></div>
                </span>
              {{/link-to}}
            </div>
          {{/if}}
        </div>
      {{/unless}}

      <div class="media-body Card-body">
        <div class='Card-titleGroup'>
          <h2 class='Card-title' {{action 'onTitleClick'}}>
            {{#link-to (if routeName routeName 'news.all.show') item.id (query-params ctype='news') data-test-link=item.title}}
              {{#if isNewsIndex}}
                <span {{action 'trackSuggestedContentClick'}}>
                  {{truncate-text text=item.title maxLength=(if media.isDesktop 70 20) tagName='span'}}
                </span>
              {{else}}
                <span {{action 'trackSuggestedContentClick'}}>
                  {{item.title}}
                </span>
              {{/if}}
            {{/link-to}}<br />
          </h2>

          {{#link-to 'organization-profile'
            item.organization.slug
            class='Card-organization'
            tagName='a'
            data-test-component="organization-link"
          }}
            {{item.organizationName}}
          {{/link-to}}
        </div>
      </div>

      {{#if (eq imagePosition 'right')}}
        <div class="media-right">
          {{#if hasImage}}
            <div class='Card-imageContainer'>
              {{#link-to (if routeName routeName 'news.all.show') item.id (query-params ctype='news')}}
                <span {{action 'trackSuggestedContentClick'}}>
                  <div class='media-object Card-image-tile' style="background-image:url({{item.imageUrl}})"></div>
                </span>
              {{/link-to}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{else}}
    {{!-- BEGIN variant --}}

    {{#if hasImage}}
      <div class='Card-imageContainer'>
        {{#link-to (if routeName routeName 'news.all.show') item.id (query-params ctype='news') classNameBindings="isSimilarContent:SimilarContentLink"}}
          <span {{action 'trackSuggestedContentClick'}}>
            <div class='Card-image img-responsive' style="background-image:url({{item.imageUrl}})"></div>
          </span>
        {{/link-to}}
      </div>
    {{/if}}

    <div class='Card-content {{unless hasImage "no-image"}}'>
      <div class='Card-titleGroup'>
        <h2 class='Card-title h2 u-textThreeLineTruncate'>
          {{#link-to (if routeName routeName 'news.all.show') item.id (query-params ctype='news') data-test-link=item.title }}
            <span {{action 'trackSuggestedContentClick'}}>
              {{item.title}}
            </span>
          {{/link-to}}<br />
        </h2>
        {{#unless hasImage}}
          <div class='Card-snippet u-textThreeLineTruncate'>
            {{{content}}}
          </div>
        {{/unless}}

        <div class='Card-meta'>
          <div>
            <div class='Card-meta-avatar'>
              {{#if item.organization.displayImageUrl}}
                {{#link-to 'organization-profile'
                item.organization.slug
                class='Card-organization'
                tagName='a'
                data-test-component="organization-link"
                }}
                <img src="{{item.organization.displayImageUrl}}" alt="{{item.organization.name}}" class="Card-avatar" />
                {{/link-to}}
              {{/if}}
            </div>

            <div class='Card-meta-items'>
              <span class='Card-organization'>
                {{relativeDate}}<br />
                {{#link-to 'organization-profile'
                item.organization.slug
                class='Card-organization'
                tagName='a'
                data-test-component="organization-link"
                }}
                  {{item.organizationName}}
                {{/link-to}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- END variant --}}
  {{/unless}}
{{/if}}
