{{#if hasImage}}
  <div class='NewsCard-imageContainer u-textCentered'>
    <img class='NewsCard-image img-responsive' src={{item.imageUrl}}>
  </div>
{{/if}}

<div class='NewsCard-content u-flexColumn-2'>

  {{#link-to 'news.show' item.id data-test-link=item.title }}
    <div {{action 'trackClick' item}}>
      {{#if isSimilarContent}}
        <h2 {{action 'trackSimilarContentClick'}} class='Card-title u-twoLineH2'>
          {{item.title}}
        </h2>
      {{else}}
        <h2 class='Card-title u-twoLineH2'>
          {{item.title}}
        </h2>
      {{/if}}
    </div>
  {{/link-to}}

  <div class='NewsCard-subtitle'>
    <h5 class='NewsCard-date'>{{date}}</h5>

    {{#link-to 'news' (query-params query='Everything' organization=item.organizationName page=1)}}
      <h3 class='u-textTruncate NewsCard-organization'>{{item.organizationName}}</h3>
    {{/link-to}}
  </div>

  <div class='NewsCard-snippet u-textThreeLineTruncate'>
    {{{content}}}
  </div>
</div>
