{{#if minimal}}
  <h2 class='Card-title' {{action 'onTitleClick'}}>
    {{#link-to 'news.show' item.id data-test-link='show'}}
      <span {{action 'trackSuggestedContentClick'}}>
        {{item.title}}
      </span>
    {{/link-to}}
  </h2>

  <span class='Card-subtitle'>{{subtitle}}</span> <span class='Card-subtitle'>{{item.organizationName}}</span>

  {{base-location-display model=item.baseLocationNames hideMultipleLocations=true}}

{{else}}
  {{#unless variant}}
    <div class="media">
      {{#unless (eq imagePosition 'right')}}
        <div class="media-left">
          {{#if hasImage}}
            <div class='Card-imageContainer'>
              {{#link-to (if routeName routeName 'news.show') item.id data-test-link='show'}}
                <span {{action 'trackSuggestedContentClick'}}>
                  <div class='media-object Card-image-tile' style="background-image: url('{{optimized-image-url item.imageUrl 133 115 true}}')"></div>
                </span>
              {{/link-to}}
            </div>
          {{/if}}
        </div>
      {{/unless}}

      <div class="media-body Card-body">
        <div class='Card-titleGroup'>
          <h2 class='Card-title' {{action 'onTitleClick'}}>
            {{#link-to (if routeName routeName 'news.show') item.id data-test-link=item.title data-test-link='show'}}
              {{#if isNewsIndex}}
                <span {{action 'trackSuggestedContentClick'}}>
                  {{truncate-text text=item.title maxLength=30 tagName='span'}}
                </span>
              {{else}}
                <span {{action 'trackSuggestedContentClick'}}>
                  {{item.title}}
                </span>
              {{/if}}
            {{/link-to}}<br />
          </h2>

          {{base-location-display model=item.baseLocationNames}}

          {{#link-to linkRoute
            linkId
            class='Card-organization'
            tagName='a'
            data-test-link="organization-link"
          }}
            {{item.organizationName}}
          {{/link-to}}
        </div>
      </div>

      {{#if (eq imagePosition 'right')}}
        <div class="media-right">
          {{#if hasImage}}
            <div class='Card-imageContainer'>
              {{#link-to (if routeName routeName 'news.show') item.id}}
                <span {{action 'trackSuggestedContentClick'}}>
                  <div class='media-object Card-image-tile' style="background-image: url('{{optimized-image-url item.imageUrl 133 115 true}}')"></div>
                </span>
              {{/link-to}}
            </div>
          {{/if}}
        </div>
      {{/if}}
    </div>
  {{else}}
    {{!-- BEGIN variant --}}

    {{#if hasImage}}
      <div class='Card-imageContainer'>
        {{#link-to (if routeName routeName 'news.show') item.id classNameBindings="isSimilarContent:SimilarContentLink" data-test-link='show'}}
          <span {{action 'trackSuggestedContentClick'}}>
            <div class='Card-image img-responsive' style="background-image: url('{{optimized-image-url item.imageUrl 236 177 true}}')"></div>
          </span>
        {{/link-to}}
      </div>
    {{/if}}

    <div class='Card-content {{unless hasImage "no-image"}}'>
      <div class='Card-titleGroup'>
        <h2 class='Card-title h2 u-textThreeLineTruncate'>
          {{#link-to (if routeName routeName 'news.show') item.id data-test-link='show' }}
            <span {{action 'trackSuggestedContentClick'}}>
              {{item.title}}
            </span>
          {{/link-to}}<br />
        </h2>
        {{base-location-display model=item.baseLocationNames}}

        {{#unless hasImage}}
          <div class='Card-snippet u-textThreeLineTruncate'>
            {{{content}}}
          </div>
        {{/unless}}

        <div class='Card-meta'>
          <div>
            <div class='Card-meta-avatar'>
              {{#link-to linkRoute
                linkId
                class='Card-organization'
                tagName='a'
                data-test-link="organization-link"
              }}
                {{avatar-image
                  imageUrl=item.organization.displayImageUrl
                  userName=item.organization.name
                  customSize=32
                }}
              {{/link-to}}
            </div>

            <div class='Card-meta-items'>
              <span class='Card-organization'>
                {{relativeDate}}<br />
                {{#link-to linkRoute
                linkId
                class='Card-organization'
                tagName='a'
                data-test-link="organization-link"
                }}
                  {{item.organizationName}}
                {{/link-to}}
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{!-- END variant --}}
  {{/unless}}
{{/if}}
