<table>
  <thead>
    <tr>
      <th>Day</th>
      <th>Open/Closed</th>
      <th>Open Time</th>
      <th>Close Time</th>
    </tr>
  </thead>
  <tbody>
    {{#each daysOfTheWeek as |day|}}
      <tr>
        <th scope='row'>{{day}}</th>
        <td>
          <a href='#' {{action "toggleOpen" day}}>
            {{#if (in-array day daysOpen)}}
              <span class='text-success'><i class='fa fa-check'></i> Open</span>
            {{else}}
              <span class='text-danger'><i class='fa fa-times'></i> Closed</span>
            {{/if}}
            <i class='fa fa-refresh'></i>
        </a>
        </td>
        <td>
          {{#if (in-array day daysOpen)}}
            {{#x-select action=(action 'updateOpen' day) value=(get openTimes day)}}
              {{#each availableTimes as |time|}}
              {{#x-option value=time.value}}{{time.label}}{{/x-option}}
              {{/each}}
            {{/x-select}}
          {{else}}
            none
          {{/if}}
        </td>
        <td>
          {{#if (in-array day daysOpen)}}
            {{#x-select action=(action 'updateClose' day) value=(get closeTimes day)}}
              {{#each availableTimes as |time|}}
              {{#x-option value=time.value}}{{time.label}}{{/x-option}}
              {{/each}}
            {{/x-select}}
          {{else}}
            none
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
