{{#if (or eventTime price)}}
  <div class="FeedCard-EventInfo-left">
    <div class="FeedCard-EventInfo-time">
      {{eventTime}}
    </div>
    <div class="FeedCard-EventInfo-price">
      Admission: {{admission}}
    </div>
  </div>
{{/if}}

{{#if (or address eventLocation)}}
  <div class="FeedCard-EventInfo-right">
    <div class="FeedCard-EventInfo-address">
      {{#if address}}
        {{fa-icon 'map-marker'}}  {{address}}
      {{/if}}
    </div>
    <div class="FeedCard-EventInfo-location">
      {{eventLocation}}
    </div>
  </div>
{{/if}}
