{{#if (or timeRangeNoDates price)}}
  <div class="FeedCard-EventInfo-left">
    <div class="FeedCard-EventInfo-time" data-test-card-event-time>
      {{timeRangeNoDates}}
    </div>
    <div class="FeedCard-EventInfo-price">
      Price: <span data-test-card-event-price>{{admission}}</span>
    </div>
  </div>
{{/if}}

<div class="FeedCard-EventInfo-right">
  <div class="FeedCard-EventInfo-address">
    {{#if url}}
      {{directions-link
            url=url
            venueName=venueName
            addressLine1=address
            city=city
            state=state
      }}
    {{else if eventLocation}}
      <div class="FeedCard-EventInfo-location" data-test-card-event-location>
        {{eventLocation}}
      </div>
    {{/if}}
  </div>
</div>

