{{#listserv-event-form changeset=(mut changeset) as |form|}}
  <fieldset>
    <legend>Post Details.</legend>

    {{#form-group label="Title"
      errors=changeset.error.title.validation
      required=true
    }}

      {{#inline-edit-with-rollback
          value=changeset.title
          display=changeset.title
          data-test-component="event-title"
          hasError=changeset.error.title
          rollback=(action (mut changeset.title))
        as |ie|
      }}
        {{form.title-input}}
        <div class='InlineEdit-editActions'>
          {{ie.okButton}}
          {{ie.cancelButton}}
        </div>
      {{/inline-edit-with-rollback}}

    {{/form-group}}

    {{#form-group label="Description"
      error=form.errors.content
      required=true
    }}

      {{#inline-edit-with-rollback
          value=changeset.content
          display=changeset.content
          data-test-component='event-content'
          hasError=changeset.error.content
          rollback=(action (mut changeset.content))
      as |ie|}}
        {{form.content-input}}
        <div class='InlineEdit-editActions'>
          {{ie.okButton}}
          {{ie.cancelButton}}
        </div>
      {{/inline-edit-with-rollback}}

    {{/form-group}}

    <fieldset class='ListservForm-enhancementFields'>
      <legend>
        Enhancements
        <small>(These will appear only on DailyUV.)</small>
      </legend>

      {{#form-group
          label="Location"
          errors=changeset.error.venueId.validation
      }}

        {{#inline-edit-with-rollback
            data-test-component='event-venue'
            hasError=changeset.error.venueId
            rollback=(action 'rollbackVenue' changeset)
        as |ie|}}

          {{#if ie.isEditing}}
            {{form.venue-input update=(action ie.exitEditMode)}}
            <div class='InlineEdit-editActions'>
              {{ie.cancelButton}}
            </div>
          {{else}}
            <div>
              <div>{{changeset.venueName}}</div>
              <div>{{changeset.venueAddress}}</div>
              <div>{{changeset.venueCity}}, {{changeset.venueState}} {{changeset.venueZip}}</div>
            </div>
            {{ie.editButton}}
          {{/if}}
        {{/inline-edit-with-rollback}}

      {{/form-group}}


      {{form-group
        errors=changeset.error.schedules.validation
        label="Dates & Times"
        field=form.schedules-input
      }}


      {{#form-group
          label="Registration Deadline"
          errors=changeset.error.registrationDeadline.validation
      }}
        {{#inline-edit-with-rollback
            value=changeset.registrationDeadline
            display=(moment-format changeset.registrationDeadline 'MMM Do YYYY')
            data-test-component='event-registration-deadline'
            hasError=changeset.error.registrationDeadline
            rollback=(action (mut changeset.registrationDeadline))
        as |ie|}}
          {{form.registration-input}}
          <div class='InlineEdit-editActions'>
            {{ie.okButton}}
            {{ie.cancelButton}}
          </div>
        {{/inline-edit-with-rollback}}
      {{/form-group}}

      {{#form-group
          label="Event Cost"
          required=true
      }}
      {{#inline-edit-with-rollback
          data-test-component='event-cost'
          rollback=(action 'rollbackEventCost' changeset)
        as |ie|}}
          {{#if ie.isEditing}}
            {{form.cost-input}}
            <div class='InlineEdit-editActions'>
              {{ie.okButton}}
              {{ie.cancelButton}}
            </div>
          {{else}}
            <div>
              {{#if changeset.costType}}
                <span class='DetailPage-costType' data-test-event-detail-costType>
                  {{capitalize changeset.costType}}
                </span>
              {{/if}}
              {{changeset.cost}}

              {{ie.editButton}}
            </div>
          {{/if}}
        {{/inline-edit-with-rollback}}
      {{/form-group}}

      {{form-group
        label="Image"
        field=(component 'image-upload-tile'
          model=changeset
        )
      }}


      {{#form-group
          errors=changeset.error.contactEmail.validation
          label="Email"}}
        {{#inline-edit-with-rollback
            value=changeset.contactEmail
            display=changeset.contactEmail
            hasError=changeset.error.contactEmail
            rollback=(action (mut changeset.contactEmail))
            data-test-component='event-contact-email'
          as |ie|
        }}
          {{#field-with-icon icon='envelope'}}
            {{form.email-input}}
          {{/field-with-icon}}
          <div class='InlineEdit-editActions'>
            {{ie.okButton}}
            {{ie.cancelButton}}
          </div>
        {{/inline-edit-with-rollback}}
      {{/form-group}}

      {{#form-group
          label="Phone"
          errors=changeset.error.contactPhone.validation
        as |ie|
      }}
        {{#inline-edit-with-rollback
            value=changeset.contactPhone
            display=changeset.contactPhone
            hasError=changeset.error.contactPhone
            rollback=(action (mut changeset.contactPhone))
            data-test-component='event-contact-phone'
          as |ie|
        }}
          {{#field-with-icon icon='phone'}}
            {{form.phone-input}}
          {{/field-with-icon}}
          <div class='InlineEdit-editActions'>
            {{ie.okButton}}
            {{ie.cancelButton}}
          </div>
        {{/inline-edit-with-rollback}}
      {{/form-group}}

      {{#form-group
          errors=changeset.error.eventUrl.validation
          label="Event Url"
      }}
        {{#inline-edit-with-rollback
            value=changeset.eventUrl
            display=changeset.eventUrl
            hasError=changeset.error.eventUrl
            rollback=(action (mut changeset.eventUrl))
            data-test-component='event-url'
          as |ie|
        }}
          {{#field-with-icon icon='link'}}
            {{form.url-input}}
          {{/field-with-icon}}
          <div class='InlineEdit-editActions'>
            {{ie.okButton}}
            {{ie.cancelButton}}
          </div>
        {{/inline-edit-with-rollback}}
      {{/form-group}}


    </fieldset>
  </fieldset>
{{/listserv-event-form}}
