<div class="FeedCard--card-front">
  {{feed-card/title
    title=model.title
    model=model
    useLink=canAccessContent
    onContentClick=(action 'onContentClick')
  }}

  {{feed-card/text-snippet
    showTextSnippet=canAccessContent
    model=model
  }}

  {{feed-card/attribution
    avatarUrl=model.attributionImageUrl
    author=model.attributionName
    linkRouteName=model.attributionLinkRouteName
    linkId=model.attributionLinkId
    postedTime=model.publishedAtRelative
    isListserv=true
    commentCount=model.commentCount
    classNames="u-padding8"
    hideBookmark=true
  }}

  {{feed-card/footer
    locationTagName=sourceTag
    canManage=(readonly context.canManage)
    displayAsPublic=(readonly context.displayAsPublic)
    openPromotionMenu=(action 'openPromotionMenu')
    isListserv=true
    model=model
  }}

  {{#unless context.hideComments}}
    {{feed-card/comments
      contentModel=(readonly model)
      disabled=(readonly commentingDisabled)
      promotionMenuOpen=(readonly context.promotionMenuOpen)
      afterComment=(action 'reloadComments')
      onContentClick=(action 'onContentClick')
    }}
  {{/unless}}
</div>
