{{yield}}

{{#each feedContents as |content index|}}
  {{#unless (is-equal content.id showingDetailInFeed)}}
    {{feed-card model=content}}
  {{/unless}}

  {{#if (show-feed-ad index)}}
    <div class='AdBanner-wrapper AdBanner-wrapper--feed'>
      {{ad-banner
        adContextName='feed'
        impressionPath='feed'
        pagePositionForAnalytics=index
        placeholderBlockFixedSize=true
      }}
    </div>
  {{/if}}
{{else}}
  <p class='NoResults' class='text-center'>
    No results were found matching your criteria.<br>
    Try changing your search or expand the search area.<br>
    <br>
    {{link-to 'Reset my Filters' 'feed' (query-params type='' radius='10' query='') class='Button Button--small'}}
  </p>
{{/each}}
