<div class="FeedCard-MidsizeCard--top">
  <div class="FeedCard-MidsizeCard--top-left">
    <div class="FeedCard-MidsizeCard--title">
      {{#feed-card/conditional-link-to
        model=model
        data-test-card-title=true
      }}
        {{model.title}}
      {{/feed-card/conditional-link-to}}

      {{#if showSoldTag}}
        <div class="FeedCard-MidsizeCard--sold-tag" data-test-sold-tag>
          SOLD
        </div>
      {{/if}}
    </div>
    <div class="FeedCard-MidsizeCard--activity">
      {{feed-card/activity
        model=model
        linkToDetailIsActive=true
        hidePostedTime=hasStartDate
      }}

      {{feed-card/like
        model=model
      }}
    </div>

  </div>
  <div class="FeedCard-MidsizeCard--top-right">
    {{feed-card/image
      imageUrl=(optimized-image-url model.primaryImageUrl 120 120 true)
      model=model
      isMidsize=true
      class="FeedCard-MidsizeCard--image"
    }}
  </div>

</div>

<div class="FeedCard-MidsizeCard--bottom">
  <div class="FeedCard-MidsizeCard--bottom-left">
    {{feed-card/attribution
      model=model
      customSize=30
      casterOnly=true
    }}
  </div>

  <div class="FeedCard-MidsizeCard--bottom-right">
    {{feed-card/source
      model=model
    }}
  </div>

  <div class="FeedCard-MidsizeCard--bottom-menu">
    {{feed-card/options-menu
      model=model
      isOnDetailView=false
    }}
  </div>
</div>
