<div class='Container--noGutter'>
  {{#if showPrevPage}}
    <div class='pull-left u-layoutPadT20'>
      {{partial 'partials/pagination-nav'}}
    </div>
  {{/if}}

  <div class='pull-right ContextBar'>
    <span class='ContextBar-eventCount'>
      Showing {{model.length}} events.
    </span>

    {{#if showReset}}
      <a href='#' {{action 'resetFilters'}} class='ContextBar-filterReset btn-default btn-xs fa fa-times-circle'>
        Reset search filters
      </a>
    {{/if}}
  </div>
</div>

{{#if model}}
  {{grouped-events
    events=model
    startDate=startDate
    stopDate=stopDate
  }}

  <div class='Container--noGutter'>
    {{partial 'partials/pagination-nav'}}
  </div>
{{else}}
  <div class='NoResults container text-center'>
    <p>I can't believe it. No one is hosting an event that matches your search.</p>
    <p>You could try tweaking your search for another event or&hellip;</p>
    <p>Seize the opportunity and host your own.</p>
  </div>
{{/if}}