{{#sticky-container scrollTarget='.Modal-dialog-body' refreshOffsetDuringScroll=true enabled=enableStickyHeader as |sticky|}}

  {{#if model.imageUrl}}
    <header class="DetailPage-navTop-container">
      {{header-image
        imageUrl=model.imageUrl
        preserveAspectRatio=true
      }}
    </header>
  {{/if}}

  {{#sticky.item class='StickyItem--default-background u-boxShadowBottom' useAbsolutePositioning=true}}
    {{#content-body classNames="u-padding0"}}
      <div class="DetailPage-headerSection u-paddingTop16 u-paddingHorizontal8">
        {{#title-text strong=true}}
          <span data-test-event-detail-title>{{model.title}}</span>
        {{/title-text}}

        <div class="DetailPage-headerSubSection u-flexSpace">
          {{#if (or model.startsAtFormatted model.futureInstances)}}
            {{feed-card/event-dates
                eventDate=model.startsAtFormatted
                otherInstances=model.futureInstances
                model=model
                class='u-padding0'
            }}
          {{/if}}
          {{report-content-details
              contentId=model.contentId
              class='DetailPage-reportFlag h4'
          }}
        </div>

      </div>

      {{horizontal-rule classNames="u-paddingTop8"}}

      <div class="DetailPage-headerSubSection u-flexSpace u-flexAlign-center u-paddingHorizontal8">
        {{#if model.organization.isDefaultOrganization}}
          {{author-byline
            authorName=model.authorName
            imageUrl=model.avatarUrl
            postedTime=(moment-from-now model.publishedAt)
            classNames="u-paddingBottom8"
          }}
        {{else}}
          {{feed-card/attribution
            avatarUrl=model.attributionImageUrl
            author=model.attributionName
            linkRouteName=model.attributionLinkRouteName
            linkId=model.organizationId
            postedTime=model.publishedAtRelative
            contentId=model.contentId
            classNames="u-paddingBottom8"
          }}
        {{/if}}

        <div class='u-flexRow u-flexAlign-center u-paddingBottom8'>
          {{#unless isPreview}}
            <div class='u-paddingRight8'>
              {{feed-card/edit-button
                model=model
                editPath='events.edit'
                editPathId=model.eventId
                iconSize=""
                tagName='span'
                style='XButton XButton--primary XButton--noMargin XButton--regular XButton--x-small XButton--rounded'
              }}
            </div>
            {{#if model.contactEmail}}
              {{contact-poster-button
                model=(readonly model)
                clickReplyButton=(action 'clickReplyButton')
                classNames="u-paddingRight8"
                tagName='span'
              }}
            {{/if}}
          {{/unless}}
        </div>
      </div>
    {{/content-body}}
  {{/sticky.item}}

  <div class="DetailPage-sectionWrapper u-paddingTop16">
    <div class="DetailPage-metaBloc">
      <table>
        <tr>
          <td>
            <div class="DetailPage-metaBloc-eventTime">
              <div data-test-event-detail-timeRange>
                {{model.timeRangeNoDates}}
              </div>
            </div>
          </td>
          <td rowspan="2">
            <div class="DetailPage-metaBloc-address">
              {{directions-link
                  url=model.directionsUrl
                  venueName=model.venueName
                  addressLine1=model.venueAddress
                  city=model.venueCity
                  state=model.venueState
              }}
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="DetailPage-metaBloc-price">
              Price:
              {{#if model.costType}}
                {{#if model.cost}}
                  <span data-test-event-detail-cost>{{model.cost}}</span>
                {{else}}
                  {{#if model.isFree}}
                    Free Admission
                  {{else}}
                    {{model.costType}}
                  {{/if}}
                {{/if}}
              {{else}}
                -
              {{/if}}
            </div>
          </td>
        </tr>
        {{#if (or model.contactPhone model.eventUrl)}}
          <tr>
            <td>
              <div class="DetailPage-metaBloc-phone">
                {{#if model.contactPhone}}
                  <a href='tel:{{model.contactPhone}}' target='_blank' data-test-event-detail-contactPhone>
                    {{model.contactPhone}}
                  </a>
                {{/if}}
              </div>
            </td>
            <td>
              <div class="DetailPage-metaBloc-url">
                {{#if model.eventUrl}}
                  {{#normalized-link url=model.eventUrl data-test-component=model.eventUrl}}
                    {{truncate model.eventUrl length=30}}
                  {{/normalized-link}}
                {{/if}}
              </div>
            </td>
          </tr>
        {{/if}}
        {{#if model.hasRegistrationInfo}}
          <tr>
            <td colspan="2">
              <div class="DetailPage-metaBloc-registrationInfo">
                Register by
                <span data-test-event-detail-registrationDeadline>
                  {{model.formattedRegistrationDeadline}}
                </span>
              </div>
            </td>
          </tr>
        {{/if}}
        <tr>
          <td colspan="2">
          {{detail-meta-bloc
              avatarUrl=model.avatarUrl
              customSize=24
              avatarName=model.authorName
              isDefaultOrganization=model.organization.isDefaultOrganization
          }}
          </td>
        </tr>
      </table>
    </div>
  </div>

  <div class='DetailPage-sectionWrapper'>
    <div class="DetailPage-section DetailPage-content ContentText">
      <div class="ContentText" data-test-event-detail-content>
        {{{ model.content }}}
      </div>
    </div>
  </div>

  {{#unless isPreview}}
    {{#horizontal-rule}}
      {{social-share
        title=model.title
        authorName=model.organization.name
        twitterHandle=model.organization.twitterHandle
        sharedBy=session.userName
        model=model
      }}
    {{/horizontal-rule}}

    <div class='DetailPage-sectionWrapper'>
      <div class='AdBanner-wrapper AdBanner-wrapper--detail'>
        {{ad-banner
          contentModel=model
        }}
      </div>
    </div>

    <div class='DetailPage-section DetailPage-comments'>
      {{comments-section
        showSectionTitle=true
        commentCount=model.commentCount
        parentContentId=(readonly model.contentId)
        comments=comments
        contentTitle=(readonly model.title)
        disabled=(readonly commentingDisabled)
        afterComment=(action 'reloadComments')
      }}
    </div>

    <div class='DetailPage-sectionWrapper'>
      <div class='DetailPage-section DetailPage-similarContent'>
        {{#similar-content
          contentId=model.contentId
          limit=4
        }}
          {{#title-text strong=true small=true}}Suggested{{/title-text}}
        {{/similar-content}}
      </div>
    </div>
  {{/unless}}
{{/sticky-container}}
