{{#sticky-container scrollTarget='.Modal-dialog-body' refreshOffsetDuringScroll=true enabled=enableStickyHeader as |sticky|}}

  <header class="DetailPage-navTop-container">
    {{#if model.imageUrl}}
      {{header-image
        imageUrl=model.imageUrl
        preserveAspectRatio=true
      }}
    {{/if}}
  </header>

  {{#sticky.item class='StickyItem--default-background FloatingBox' useAbsolutePositioning=true}}
    {{#content-body}}

      <div class="DetailPage-headerSection">
        {{#title-text strong=true noMargin=true}}
          <span data-test-event-detail-title>{{model.title}}</span>
        {{/title-text}}
      </div>

      {{horizontal-rule short=true}}

      {{#media-container reverse=true centerVertically=true noRightMargin=true as |media|}}

        {{#media.object}}
          {{#unless isPreview}}
            {{#if showEditButton}}
              {{#x-link-to 'events.edit' model.eventId size='medium' nowrap=true}}
                {{fa-icon 'pencil'}}
                Edit Post
              {{/x-link-to}}
            {{else}}
              {{#if model.organization.subscribeUrl}}
                {{subscribe-button subscribeUrl=model.organization.subscribeUrl}}
              {{/if}}
            {{/if}}
          {{/unless}}
        {{/media.object}}

        {{#media.content}}
          {{#if model.organization.isDefaultOrganization}}
            {{author-byline authorName=feedContent.authorName imageUrl=feedContent.avatarUrl}}
          {{else}}
            {{#link-to
              model.organization.organizationLinkRoute
              model.organization.organizationLinkId
              class='DetailPage-organization-link'
              data-test-link="organization-link"
            }}
              {{author-byline
                organizationName=model.organization.name
                imageUrl=model.organization.displayImageUrl
              }}
            {{/link-to}}
          {{/if}}
        {{/media.content}}

      {{/media-container}}
    {{/content-body}}
  {{/sticky.item}}

  <div class='DetailPage-sectionWrapper'>
    {{#if model.subtitle}}
      {{#subtitle-text}}
        <span data-test-event-detail-subtitle>{{model.subtitle}}</span>
      {{/subtitle-text}}
    {{/if}}

    {{#media-container as |media|}}
      {{#media.content}}
        <div data-test-event-detail-timeRange>
          {{model.timeRange}}
        </div>
        <div>
          Price:
          {{#if model.costType}}
            {{#if isPaid}}
              <span data-test-event-detail-cost>{{model.cost}}</span>
            {{else}}
              Free Admission
            {{/if}}
          {{else}}
            -
          {{/if}}
        </div>
        {{#if model.hasRegistrationInfo}}
          <div>
            Register by
            <span data-test-event-detail-registrationDeadline>
              {{model.formattedRegistrationDeadline}}
            </span>
          </div>
        {{/if}}
      {{/media.content}}
      {{#media.object}}
        {{directions-link
          url=model.directionsUrl
          addressLine1=model.venueAddress
          city=model.venueCity
          state=model.venueState
        }}
      {{/media.object}}
    {{/media-container}}
  </div>

  <div class='DetailPage-sectionWrapper'>
    <div class="DetailPage-section DetailPage-content ContentText">
      {{#title-text strong=true noMargin=true}}From the Organizer{{/title-text}}

      <div class="ContentText" data-test-event-detail-content>
        {{{ model.content }}}
      </div>
    </div>
  </div>

  {{#unless isPreview}}
    <div class='DetailPage-sectionWrapper'>
      <div class='DetailPage-section DetailPage-startDiscussion'>
        <button class='DetailPage-startDiscussionBtn' {{action 'scrollToTalk'}}>
          {{#if model.commentCount}}
            {{model.commentCount}}&nbsp;{{if (eq model.commentCount 1) 'comment' 'comments'}}
          {{else}}
            {{fa-icon 'comment-o'}}&nbsp;Start a Discussion
          {{/if}}
        </button>
      </div>
    </div>
  {{/unless}}

  <div class='DetailPage-sectionWrapper'>
    <div class="DetailPage-section">
      {{#title-text strong=true}}Additional Dates{{/title-text}}
      {{event-other-dates event=model}}
    </div>
  </div>

  <div class='DetailPage-sectionWrapper'>
    <div class='DetailPage-section DetailPage-moreContent'>
      <div class="row">
        <div class="col-xs-6">
          {{#title-text strong=true}}Price{{/title-text}}
          <p><em>{{dash-if-empty model.formattedCostType}}</em></p>
          {{#if model.costType}}
            <span data-test-event-detail-cost>{{model.cost}}</span>
          {{/if}}
        </div>
        {{#if hasContactInfo}}
          <div class="col-xs-6">
            {{#title-text strong=true}}Contact{{/title-text}}
            {{#if model.eventUrl}}
              <div>
                {{#normalized-link url=model.eventUrl data-test-component=model.eventUrl}}
                  {{truncate model.eventUrl length=22}}
                {{/normalized-link}}
              </div>
            {{/if}}
            {{#if model.contactEmail}}
              <div>
                <a href="mailto:{{model.contactEmail}}" target='_blank' data-test-event-detail-contactEmail>
                  {{truncate model.contactEmail length=22}}
                </a>
              </div>
            {{/if}}
            {{#if model.contactPhone}}
              <div>
                <a href='tel:{{model.contactPhone}}' target='_blank' data-test-event-detail-contactPhone>
                  {{model.contactPhone}}
                </a>
              </div>
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>

  {{#unless isPreview}}
    {{report-content-details
      contentId=model.contentId
    }}

    {{#horizontal-rule}}
      {{social-share
        title=model.title
        authorName=model.organization.name
        twitterHandle=model.organization.twitterHandle
        sharedBy=session.userName
        model=model
      }}
    {{/horizontal-rule}}

    <div class='DetailPage-sectionWrapper'>
      <div class='AdBanner-wrapper AdBanner-wrapper--detail'>
        {{ad-banner
          contentModel=model
        }}
      </div>
    </div>

    {{horizontal-rule}}

    <div class='DetailPage-sectionWrapper'>
      <div class="DetailPage-section DetailPage-comments">
        {{#title-text strong=true}}Comments{{/title-text}}

        {{content-comments
          content=model
          scrollToAnchor=scrollToAnchor
          scrollTo=(action scrollTo)
        }}
      </div>
    </div>

    {{horizontal-rule}}

    <div class='DetailPage-sectionWrapper'>
      <div class='DetailPage-section DetailPage-similarContent'>
        {{#similar-content
          contentId=model.contentId
          limit=4
        }}
          {{#title-text strong=true}}Suggested{{/title-text}}
        {{/similar-content}}
      </div>
    </div>

  {{/unless}}
{{/sticky-container}}
