<div class='EventForm-modalContainer clearfix'>
  <h2>Single date</h2>

  {{#form-group error=errors.dateError class='row'}}
    <div class='col-xs-12 col-sm-6' data-test-event-date-pikaday>
      <label class='ContentForm-label--required'>Date</label>
        {{date-input
            value=startDate
            format='MM/DD/YYYY'
            placeholder='12/25/2020'
            update=(action (mut startDate))
        }}
    </div>
  {{/form-group}}

  {{#form-group error=errors.timeError class='row'}}
    {{#form-group error=errors.startTimeError class='col-xs-12 col-sm-6'}}
      <label class='ContentForm-label--required'>Start Time</label>
      {{time-input
          value=startTime
          format='h:mm a'
          placeholder='9:00 am'
          update=(action (mut startTime))
      }}
    {{/form-group}}

    {{#form-group error=errors.stopTimeError class='col-xs-12 col-sm-6'}}
      <label>End Time</label>
      {{time-input
          value=stopTime
          format='h:mm a'
          placeholder='2:00 pm'
          update=(action (mut stopTime))
      }}
    {{/form-group}}
  {{/form-group}}

  <div class='form-group'>
    <div class='row'>
      <div class='col-xs-6'>
        <label>Subtitle</label>
        {{input
          placeholder="Subtitle ex: 10th Annual"
          class='form-control'
          value=subtitle
        }}
      </div>
      <div class='col-xs-6'>
        <label>Presenter/Instructor</label>
        {{input
          placeholder="Presenter / Instructor"
          class='form-control'
          value=presenterName
        }}
      </div>
    </div>
  </div>

  {{!-- TODO optional information --}}
  <button class="Button Button--primary pull-right" {{action 'save'}} data-test-save-event-date>Done</button>
  <button class="Button ContentForm-discardButton Button--default pull-right" {{action 'cancel'}}>Cancel</button>
</div>
