{{inviewport-reporter
  reportEnterViewport=true
  reportOnce=true
  callback=(action trackDetailEngagement 'start')
}}

{{#sticky-container scrollTarget='.Modal-dialog-body' refreshOffsetDuringScroll=true enabled=enableStickyHeader as |sticky|}}
  {{#sticky.item class='StickyItem--default-background u-boxShadowBottom' useAbsolutePositioning=true}}
    {{#content-body classNames="u-padding0"}}

      <div class="DetailPage-headerSection u-paddingVertical16 u-paddingLeft8">
        {{#title-text strong=true classNames="TitleText--noMargin u-inlineFlex u-flexAlign-center"}}
          {{#if model.sold}}
            <div class="FeedCard-Title-sold-tag">
              Sold
            </div>
          {{/if}}
          <div data-test-market-title>
            {{model.title}}
          </div>
        {{/title-text}}
      </div>
      <div class="DetailPage-headerSubSection">
        {{report-content-details
            contentId=model.contentId
            class="DetailPage-reportFlag h4 u-paddingLeft8 u-paddingBottom8"
        }}
      </div>

      {{horizontal-rule classNames="u-padding0"}}

      <div class="DetailPage-headerSubSection u-flexSpace u-flexAlign-center" data-test-market-attribution>
          {{#if model.organization.isDefaultOrganization}}
            {{author-byline
              authorName=model.authorName
              imageUrl=model.avatarUrl
              postedTime=model.publishedAtRelative
              classNames="u-padding8"
            }}
          {{else}}
            {{feed-card/attribution
              avatarUrl=model.attributionImageUrl
              author=model.attributionName
              linkRouteName=model.attributionLinkRouteName
              linkId=model.attributionLinkId
              postedTime=model.publishedAtRelative
              contentId=model.contentId
              classNames="u-padding8"
            }}
          {{/if}}
          <div class='u-flexRow u-flexAlign-center'>
            {{#unless isPreview}}
              <div class='u-paddingRight8'>
                {{feed-card/edit-button
                  model=model
                  editPath='market.edit'
                  editPathId=model.contentId
                  iconSize=""
                  style='XButton XButton--primary XButton--noMargin XButton--regular XButton--x-small XButton--rounded'
                }}
              </div>
            {{/unless}}

            {{#unless model.sold}}
              {{contact-poster-button
                model=(readonly model)
                clickReplyButton=(action 'clickReplyButton')
                classNames="u-paddingRight8"
                tagName='span'
              }}
            {{/unless}}
          </div>
      </div>

    {{/content-body}}
  {{/sticky.item}}

  {{#if activeImage}}
    {{header-image
      imageUrl=activeImage
      preserveAspectRatio=true
    }}
  {{/if}}

  <div class="FeedCard-MarketInfo-right">
    <div class="FeedCard-MarketInfo-images u-paddingTop8">
      {{#if showThumbnails}}
        {{#each sortedImages as |image|}}
          <div class="FeedCard-MarketInfo-thumbnail u-paddingRight8 u-marginBottom8" {{action 'chooseImage' image.imageUrl}}>
            <img src="{{optimized-image-url image.imageUrl 40 40 true}}" data-test-market-thumbnail />
          </div>
        {{/each}}
      {{/if}}
    </div>
  </div>

  {{#if activeImage}}
    {{horizontal-rule classNames="u-paddingBottom16"}}
  {{/if}}

  <div class='DetailPage-sectionWrapper'>
    <div class="DetailPage-metaBloc">
      <table>
        {{#if model.cost}}
          <tr>
            <td>
              <div class="DetailPage-metaBloc-cost">
                Cost:
                <span data-test-market-cost>{{model.cost}}</span>
              </div>
            </td>
            <td>
              <div class="DetailPage-metaBloc-location" data-test-market-location>
                {{model.location.name}}
              </div>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="2">
              <div class="DetailPage-metaBloc-location" data-test-market-location>
                {{model.location.name}}
              </div>
            </td>
          </tr>
        {{/if}}
        {{#if (or model.contactPhone model.eventUrl)}}
          <tr>
            <td>
              <div class="DetailPage-metaBloc-phone">
                {{#if model.contactPhone}}
                  <a href='tel:{{model.contactPhone}}' target='_blank' data-test-event-detail-contactPhone>
                    {{model.contactPhone}}
                  </a>
                {{/if}}
              </div>
            </td>
            <td>
              <div class="DetailPage-metaBloc-url">
                {{#if model.eventUrl}}
                  {{#normalized-link url=model.eventUrl data-test-component=model.eventUrl}}
                    {{truncate model.eventUrl length=30}}
                  {{/normalized-link}}
                {{/if}}
              </div>
            </td>
          </tr>
          {{/if}}
          <tr>
            <td colspan="2">
              {{detail-meta-bloc
              avatarUrl=model.avatarUrl
              customSize=24
              avatarName=model.authorName
              isDefaultOrganization=model.organization.isDefaultOrganization
              }}
            </td>
          </tr>
      </table>
      <div class="DetailPage-section DetailPage-content">
        <div class="ContentText" data-test-market-content>{{{ model.content }}}</div>
      </div>
    </div>
  </div>

  {{inviewport-reporter
    reportEnterViewport=true
    reportOnce=true
    callback=(action trackDetailEngagement 'read')
  }}

  {{#unless isPreview}}
    {{#horizontal-rule}}
      {{social-share
        title=model.title
        authorName=model.organization.name
        twitterHandle=model.organization.twitterHandle
        sharedBy=session.userName
        model=model
      }}
    {{/horizontal-rule}}

    <div class='DetailPage-section DetailPage-comments'>
      {{comments-section
        showSectionTitle=true
        commentCount=model.commentCount
        parentContentId=(readonly model.contentId)
        comments=comments
        contentTitle=(readonly model.title)
        disabled=(readonly commentingDisabled)
        afterComment=(action 'reloadComments')
      }}
    </div>

    <div class='DetailPage-sectionWrapper'>
      <div class='AdBanner-wrapper AdBanner-wrapper--detail'>
        {{ad-banner
          contentModel=model
        }}
      </div>
    </div>

    {{horizontal-rule}}

    <div class='DetailPage-sectionWrapper'>
      <div class='DetailPage-section DetailPage-similarContent'>
        {{#similar-content
          contentId=model.contentId
          limit=4
        }}
          {{#title-text strong=true small=true}}Suggested{{/title-text}}
        {{/similar-content}}
      </div>
    </div>

  {{/unless}}
{{/sticky-container}}

{{inviewport-reporter
  reportEnterViewport=true
  reportOnce=true
  callback=(action trackDetailEngagement 'complete')
}}
