{{#if goingToEdit}}
<div class="DetailPage--takeover">
  <div>
    {{fa-icon "cog" spin=true}}
  </div>
  <div>
    Preparing to Edit...
  </div>
</div>
{{/if}}

{{inviewport-reporter
  reportEnterViewport=true
  reportOnce=true
  callback=(action trackDetailEngagement "start")
}}

{{#sticky-container scrollTarget=".Modal-dialog-body" refreshOffsetDuringScroll=true enabled=enableStickyHeader as |sticky|}}
    {{#content-body classNames="u-padding0"}}
      <div class="DetailPage-headerSection u-paddingVertical16 u-paddingLeft8">
        {{feed-card/title
          title=model.title
          model=model
          sold=model.sold
          isOnDetailView=true
          showToggleSold=editButtonIsActive
        }}
      </div>
    {{/content-body}}

    {{#if activeImage}}
      {{header-image
        imageUrl=activeImage
        preserveAspectRatio=true
      }}
    {{/if}}

    {{#if showThumbnails}}
      <div class="DetailPage--thumbnails u-paddingTop8">
        {{#each sortedImages as |image|}}
          <div class="DetailPage--thumbnails-thumbnail u-paddingRight8 u-marginBottom8" {{action "chooseImage" image.imageUrl}} role="button">
            <img src={{optimized-image-url image.imageUrl 40 40 true}} alt="Thumbnail" data-test-image-thumbnail>
          </div>
        {{/each}}
      </div>
    {{/if}}

    {{#sticky.item
      class="StickyItem--default-background u-boxShadowBottom"
      useAbsolutePositioning=true
      maintainStickyItemSpace=(not isPreview)
    }}
      {{#content-body classNames="u-padding0"}}

      <div class="DetailPage-headerSubSection u-flexSpace u-flexAlign-center u-padding8" data-test-market-attribution>
        {{#feed-card/attribution
          model=model
          isOnDetailView=true
          hideActivity=true
          hidePostedTime=true
          showCenter=(not isPreview)
        }}
          {{#if showContactButton}}
            {{contact-poster-button
              model=(readonly model)
              clickReplyButton=(action "clickReplyButton")
              tagName="span"
            }}
          {{/if}}
        {{/feed-card/attribution}}
      </div>
    {{/content-body}}
  {{/sticky.item}}

  <div class="DetailPage-sectionWrapper u-paddingTop8">
    {{#feed-card/footer
      model=model
      noBorder=true
      noPadding=true
    }}
      {{feed-card/activity
        model=model
        linkToDetailIsActive=false
      }}
    {{/feed-card/footer}}

    {{#unless isPreview}}
      {{feed-card/manage
        model=model
        openPromotionMenu=(action "openPromotionMenu")
      }}
    {{/unless}}


    <div class="DetailPage-metaBloc">
      {{detail-meta-bloc model=model}}
    </div>

    <div class="DetailPage-content Market-content ContentText">
      <div data-test-market-content>

        {{#if (and model.embeddedAd (not isPreview))}}
          <div class="DetailPage-content pre-line">{{modelSplitContentHead}}</div>

          <div class="AdBanner-wrapper AdBanner-wrapper--detail AdBanner-wrapper--news AdBanner--inContentBody {{if (not hasSplitContentTail) "AdBanner--noBorderBottom"}}">
            <div class="AdBanner-wrapper AdBanner-wrapper--detail">
              <div class="AdBanner--inContentBody-messageBar">
                Advertisement: Content continues below...
              </div>
              {{ad-banner
                contentModel=model
                pagePlacement="in-market-detail-body"
                placeholderBlockFixedSize=true
              }}
            </div>
          </div>

          {{#if hasSplitContentTail}}
            <div class="DetailPage-content pre-line">{{modelSplitContentTail}}</div>
          {{/if}}
        {{else}}
          <div class="DetailPage-content pre-line">{{modelContent}}</div>
        {{/if}}
      </div>
    </div>

  </div>

  {{inviewport-reporter
    reportEnterViewport=true
    reportOnce=true
    callback=(action trackDetailEngagement "read")
  }}

  {{#unless isPreview}}
    <div class="DetailPage-cta">
      <div class="DetailPage-cta-button" {{action "openOrangeButton"}} role="button">
        {{fa-icon "tags" class="DetailPage-cta-bubble"}}
        Create your own Market Post! Get started today.
        {{fa-icon "chevron-right" class="DetailPage-cta-chevron"}}
      </div>
    </div>

    {{#horizontal-rule}}
      {{social-share
        title=model.title
        authorName=model.organization.name
        twitterHandle=model.organization.twitterHandle
        sharedBy=session.userName
        model=model
      }}
    {{/horizontal-rule}}

    {{#unless model.embeddedAd}}
      <div class="DetailPage-sectionWrapper">
        <div class="AdBanner-wrapper AdBanner-wrapper--detail">
          {{ad-banner
            contentModel=model
            pagePlacement="after-market-detail-body"
          }}
        </div>
      </div>
    {{/unless}}

    <div class="DetailPage-section DetailPage-comments">
      {{comments-section
        showSectionTitle=true
        commentCount=model.commentCount
        parentContentId=(readonly model.contentId)
        comments=comments
        contentTitle=(readonly model.title)
        disabled=(readonly commentingDisabled)
        afterComment=(action "reloadComments")
      }}
    </div>

    {{horizontal-rule}}

    <div class="DetailPage-sectionWrapper">
      <div class="DetailPage-section DetailPage-similarContent">
        {{#similar-content
          contentId=model.contentId
          limit=4
        }}
          {{#title-text strong=true small=true}}Suggested{{/title-text}}
        {{/similar-content}}
      </div>
    </div>

  {{/unless}}
{{/sticky-container}}

{{inviewport-reporter
  reportEnterViewport=true
  reportOnce=true
  callback=(action trackDetailEngagement "complete")
}}

{{#if showManageOverlay}}
  {{to-elsewhere
    named=manageOverlayModalName
    send=(component "jobs-forms/promotion-menu"
          model=model
          onClose=(action "closePromotionMenu")
          )
  }}
{{/if}}
