{{#sticky-container scrollTarget='.Modal-dialog-body' refreshOffsetDuringScroll=true enabled=enableStickyHeader as |sticky|}}
  {{#sticky.item class='StickyItem--default-background' useAbsolutePositioning=true}}
    {{#content-body verticalPadding=true}}

      {{#title-text strong=true topPadding=true noMargin=true}}
        {{#if model.sold}}
          <span class='h3 u-bold u-tag'>SOLD!</span>
          &nbsp;&nbsp;
        {{/if}}
        <span data-test-market-title>
          {{model.title}}
        </span>
      {{/title-text}}

      {{horizontal-rule short=true}}

      {{#media-container reverse=true noMargin=true centerVertically=true as |media|}}
        {{#media.object}}
          {{#unless isPreview}}
            {{#if showEditButton}}
              {{#x-link-to 'market.edit' model.id size='medium' nowrap=true}}
                {{fa-icon 'pencil'}} Edit Listing
              {{/x-link-to}}
            {{/if}}
          {{/unless}}
        {{/media.object}}

        {{#media.content}}
          {{#text-block small=true}}
            Posted {{moment-from-now model.publishedAt}}
            by {{model.authorName}}
          {{/text-block}}
        {{/media.content}}
      {{/media-container}}

    {{/content-body}}
  {{/sticky.item}}

  <header class="DetailPage-navTop-container">
    {{#if activeImage}}
      {{header-image
        imageUrl=activeImage
        preserveAspectRatio=true
      }}
    {{/if}}
  </header>

  <div class="DetailPage-headerContainer">
    {{#if showThumbnails}}
      <div class="DetailPage-headerSection">
        {{#each sortedImages as |image|}}
          <img src="{{optimized-image-url image.imageUrl 200 60 false}}" {{action 'chooseImage' image.imageUrl}}
               class="DetailPage-thumbnail"/>
        {{/each}}
      </div>
    {{/if}}

    <div>
      {{#unless model.sold}}
        {{market-reply-form
          post=(readonly model)
          clickReplyButton=(action 'clickReplyButton')
        }}
      {{/unless}}
    </div>
  </div>

  {{horizontal-rule}}

  <div class='DetailPage-sectionWrapper'>
    <div class="DetailPage-section DetailPage-content">
      {{#if model.price}}
        <span class='h3 u-bold'>
        Price: {{model.price}}
      </span>
      {{/if}}
      <div>
        {{fa-icon 'map-marker'}} <span>{{join model.baseLocationNames delimiter=','}}</span>
      </div>

      <div class="ContentText" data-test-market-content>{{{ model.content }}}</div>
    </div>
  </div>

  {{#unless isPreview}}
    {{report-content-details
      contentId=model.contentId
    }}

    {{#horizontal-rule}}
      {{social-share
        title=model.title
        authorName=model.organization.name
        twitterHandle=model.organization.twitterHandle
        sharedBy=session.userName
        model=model
      }}
    {{/horizontal-rule}}

    <div class='DetailPage-section DetailPage-comments'>
      {{comments-section
        showSectionTitle=true
        commentCount=model.commentCount
        parentContentId=(readonly model.contentId)
        comments=comments
        contentTitle=(readonly model.title)
        disabled=(readonly commentingDisabled)
        afterComment=(action 'reloadComments')
      }}
    </div>

    <div class='DetailPage-sectionWrapper'>
      <div class='AdBanner-wrapper AdBanner-wrapper--detail'>
        {{ad-banner
          contentModel=model
        }}
      </div>
    </div>

    {{#unless (eq model.contentOrigin 'listserv')}}
      {{horizontal-rule}}

      <div class='DetailPage-sectionWrapper'>
        <div class='DetailPage-section DetailPage-similarContent'>
          {{#similar-content
            contentId=model.contentId
            limit=4
          }}
            {{#title-text strong=true}}Suggested{{/title-text}}
          {{/similar-content}}
        </div>
      </div>
    {{/unless}}

  {{/unless}}
{{/sticky-container}}
