<header class="DetailPage-navTop-container">

  {{#unless isPreview}}
    <div class="DetailPage-navTop u-flexRow">
      {{detail-page-close-link defaultCloseRoute=closeRoute closeLabel=closeLabel}}

      <img class='DetailPage-navTop-logo visible-xs' src='https://s3.amazonaws.com/subtext-misc/sierra-nevada/dailyuv-logo-sm.svg'>

      <div class="DetailPage-navTop-social-shareWrapper">
        {{social-share
        title=model.title
        sharedBy=session.userName
        model=model
        }}
      </div>
    </div>
  {{/unless}}

  {{#if activeImage}}
    {{header-image
      imageUrl=activeImage
      preserveAspectRatio=true
    }}
  {{/if}}
</header>

<div class="DetailPage-headerContainer">
  {{#if showThumbnails}}
    <div class="DetailPage-headerSection">
      {{#each sortedImages as |image|}}
        <img src="{{optimized-image-url image.imageUrl 200 60 false}}" {{action 'chooseImage' image.imageUrl}} class="DetailPage-thumbnail"/>
      {{/each}}
    </div>
  {{/if}}

  <div class="DetailPage-headerSection">
    <h1 class="DetailPage-title h1" data-test-market-title>{{#if model.sold}}<span class='h3 u-bold u-tag'>SOLD!</span>{{/if}}&nbsp;&nbsp;{{model.title}}</h1>

    {{#if model.publishedAt}}
      <p>{{formatted-date model.publishedAt}}</p>
    {{/if}}
  </div>

  <div>
    {{#unless model.sold}}
      {{market-reply-form
        post=(readonly model)
        clickReplyButton=(action 'clickReplyButton')
      }}
    {{/unless}}

    {{#if model.canEdit}}
      <div class="DetailPage-headerNavItem text-center">
        {{#link-to 'market.edit' model.id class='Button btn btn-default u-layoutPadB10'}}
          {{fa-icon 'pencil'}} Edit Listing
        {{/link-to}}
      </div>
    {{/if}}
  </div>
</div>

{{#unless isPreview}}
  {{report-content-details
  contentId=model.contentId
  }}
{{/unless}}

<div class='DetailPage-sectionWrapper'>
  <div class="DetailPage-section DetailPage-content">
    {{#if model.price}}
      <span class='h3 u-bold'>
        Price: {{model.price}}
      </span>
    {{/if}}

    <div class="ContentText" data-test-market-content>{{{ model.content }}}</div>
  </div>
</div>

{{#unless isPreview}}
  {{#unless session.isAuthenticated}}
    {{#if featureFlags.market-index-subscribe-cta}}
      {{subscribe-banner
        subscribe=(action 'subscribeToMarketDigest')
      }}
    {{/if}}
  {{/unless}}

  <div class='DetailPage-sectionWrapper'>
    <div class='AdBanner-wrapper AdBanner-wrapper--detail'>
      {{ad-banner
        contentModel=model
      }}
    </div>
  </div>
{{/unless}}

{{#unless isPreview}}
  <div class='DetailPage-sectionWrapper'>
    <div class="DetailPage-section DetailPage-similarContent">
      <h2 class='DetailPage-sectionTitle h2'>Suggested</h2>
      {{similar-content
      contentId=model.contentId
      limit=4
      }}
    </div>
  </div>
{{/unless}}
