{{title "dailyUV"}}

{{head-layout}}

{{#unless hideHeader}}
  {{global-header
    showUserLocationBar=showUserLocationBar
    signOut=(action "signOut")
  }}
{{/unless}}


<div id="main" class="{{backgroundClass}} {{if searchOpen "search-open"}} {{if showUserLocationBar "has-location-bar"}}">
  <div class="BackgroundIndex">
    {{outlet "background"}}
  </div>

  {{outlet}}
</div>
{{modal-manager}}

<div class="Copyright">
  {{#link-to "copyright"}}&copy; {{copyrightYear}} Subtext Media Ltd.{{/link-to}}
</div>

{{notification-container}}

{{app-download-nag}}
