{{#unless hideHeader}}
  {{#if media.isNotMobile}}
    {{global-header
      page=page
      channelLinksEnabled=channelLinksEnabled

      eventsFilter=eventsFilter
      newsFilter=newsFilter
      talkFilter=talkFilter
      marketFilter=marketFilter

      trackMenuOpen=(action 'trackMenuOpen')
      openSearch='openSearch'
      signOut=(action 'signOut')
    }}
  {{else}}
    {{mobile-header
      openSearch='openSearch'
      signOut=(action 'signOut')
    }}
  {{/if}}
{{/unless}}

{{#if search.showSearch class='search'}}
  {{search-nav}}
{{else}}
  <div id="main" class="{{backgroundClass}} {{if showHeader 'padBody'}} {{if media.isMobile 'is-mobile'}}">
    {{outlet}}
  </div>
  {{modal-manager}}
{{/if}}

{{#link-to 'copyright' class='Copyright h6'}}&copy; {{copyrightYear}} Subtext Media Ltd.{{/link-to}}

{{#unless hideFooter}}
  {{#if media.isMobile}}
    {{footer-nav
      page=page

      eventsFilter=eventsFilter
      newsFilter=newsFilter
      talkFilter=talkFilter
      marketFilter=marketFilter
    }}
  {{/if}}
{{/unless}}

{{intercom-button}}

{{notification-container}}
