{{title "dailyUV"}}
{{#unless hideHeader}}
  {{app-header
    page=page
    channelLinksEnabled=channelLinksEnabled

    eventsFilter=eventsFilter
    newsFilter=newsFilter
    talkFilter=talkFilter
    marketFilter=marketFilter

    trackMenuOpen=(action 'trackMenuOpen')
    openSearch='openSearch'
    signOut=(action 'signOut')
  }}
{{/unless}}

{{#if search.showSearch class='search'}}
  {{search-nav}}
{{else}}
  <div id="main" class="{{backgroundClass}} {{if showHeader 'padBody'}}">
    {{outlet}}
  </div>
  {{modal-manager}}
{{/if}}

{{#link-to 'copyright' class='Copyright h6'}}&copy; {{copyrightYear}} Subtext Media Ltd.{{/link-to}}

{{#unless hideFooter}}
  {{footer-nav
    page=page

    eventsFilter=eventsFilter
    newsFilter=newsFilter
    talkFilter=talkFilter
    marketFilter=marketFilter
    class="visible-xs"
  }}
{{/unless}}

{{intercom-button}}

{{notification-container}}
