{{title "HereCast"}}

{{head-layout}}

{{outlet "welcome"}}

{{#unless hideHeader}}
  {{global-header
    streamlinedHeader=streamlinedHeader
    signOut=(action "signOut")
  }}
{{/unless}}

<div id="main" class={{backgroundClass}}>
  <div class="BackgroundIndex">
    {{outlet "background"}}
  </div>

  {{outlet}}
</div>

{{modal-manager}}


{{from-elsewhere name="global-modal"}}


<div class="Copyright">
  {{#link-to "copyright"}}&copy; {{copyrightYear}} Subtext Media Ltd.{{/link-to}}
</div>

{{notification-container zindex="2000"}}

{{#if false}}
  {{app-download-nag}}
{{/if}}
