{{title "dailyUV"}}
{{#unless hideHeader}}
  {{global-header
    page=page
    eventsFilter=eventsFilter
    newsFilter=newsFilter
    talkFilter=talkFilter
    marketFilter=marketFilter
    trackMenuOpen=(action 'trackMenuOpen')
    signOut=(action 'signOut')
  }}
{{/unless}}

<div id="main" class="{{backgroundClass}} {{if searchOpen 'searchOpen'}}">
  <div class='BackgroundIndex'>
    {{outlet 'background'}}
  </div>

  {{outlet}}
</div>
{{modal-manager}}

{{#link-to 'copyright' class='Copyright h6'}}&copy; {{copyrightYear}} Subtext Media Ltd.{{/link-to}}

{{notification-container}}
