<nav class='MainNav navbar navbar-default'>
  <div class='MainNav-content Container--noGutter'>
    {{x-weather
      class='h2 col-sm-2'
      autoload=true
    }}

    <div class='col-sm-8 u-textCentered'>
      {{#link-to 'index'}}
        <h1 class='MainNav-brand'>
          daily UV
          {{#if session.isAuthenticated}}
            <span class='MainNav-location'>{{session.userLocation}}</span>
          {{/if}}
        </h1>
      {{/link-to}}
    </div>

    {{#if media.isNotMobile}}
      <ul class='ActionDropdown col-sm-2 nav navbar-nav navbar-right'>
        {{#if session.isAuthenticated}}
          <li class='dropdown pull-right'>
            <a href='' data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='ActionDropdown-dropdownLink navbar-link'>
              {{#if session.currentUser.imageUrl}}
                <img src="{{session.currentUser.imageUrl}}" class='ActionDropdown-userAvatar'>
              {{else}}
                <img src="/images/user-default-avatar.svg" class='ActionDropdown-userAvatar'>
              {{/if}}
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li class='hidden-xs hidden-sm'>
                {{#link-to 'events.new.details' class='h4 ActionDropdown-item'}}
                  Create Event
                {{/link-to}}
              </li>
              <li class='hidden-xs hidden-sm'>
                {{#link-to 'talk.new.details' class='h4 ActionDropdown-item'}}
                  Start a Conversation
                {{/link-to}}
              </li>
              <li class='hidden-xs hidden-sm'>
                {{#link-to 'market.new.details' class='h4 ActionDropdown-item'}}
                  Post in Marketplace
                {{/link-to}}
              </li>
              <li class='hidden-xs hidden-sm'>
                {{#link-to 'dashboard' class='h4 ActionDropdown-item'}}
                  My Dashboard
                {{/link-to}}
              </li>
              <li>
                <a href='#' {{action 'signOut'}} class='h4 ActionDropdown-item'>Log out</a>
              </li>
            </ul>
          </li>
        {{else}}
          <li>{{link-to 'Sign in' 'login'}}</li>
          <li><a href='/users/sign_up'>Sign up</a></li>
        {{/if}}
      </ul>
    {{/if}}
  </div>

  {{#if media.isMobile}}
    <div class='MainNav-mobileNav clearfix'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#js-app-bar'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>

      <button type='button' class='ActionDropdown-dropdownLink pull-right' data-toggle='collapse' data-target='#mobile-dropdown-menu'>
        {{#if session.currentUser.imageUrl}}
          <img src="{{session.currentUser.imageUrl}}" class='ActionDropdown-userAvatar'>
        {{else}}
          <img src="/images/user-default-avatar.svg" class='ActionDropdown-userAvatar'>
        {{/if}}
      </button>
    </div>

    <ul class='ActionDropdown collapse' id='mobile-dropdown-menu'>
      {{#if session.isAuthenticated}}
        <li class='ActionDropdown-item'>
          <a href='#' {{action 'signOut'}} class='h4'>Log out</a>
        </li>
      {{else}}
        <li class='ActionDropdown-item'>{{link-to 'Sign in' 'login' class='h4 ActionDropdown-item'}}</li>
        <li class='ActionDropdown-item'><a href='/users/sign_up' class='h4 ActionDropdown-item'>Sign up</a></li>
      {{/if}}
    </ul>
  {{/if}}

  <div class='Container--noGutter SectionNavigation collapse' id='js-app-bar'>
    <div class='row'>
      <ul class='SectionNavigation-list col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2'>
        <li class='SectionNavigation-listItem'>
          {{#link-to 'news' class='SectionNavigation-link SectionNavigation-newsLink'}}
            News
          {{/link-to}}
        </li>
        <li class='SectionNavigation-listItem'>
          {{#link-to 'events' class='SectionNavigation-link SectionNavigation-eventLink'}}
            Events
          {{/link-to}}
        </li>
        <li class='SectionNavigation-listItem'>
          {{#link-to 'talk' class='SectionNavigation-link SectionNavigation-talkLink'}}
            Talk
          {{/link-to}}
        </li>
        <li class='SectionNavigation-listItem'>
          {{#link-to 'market' class='SectionNavigation-link SectionNavigation-marketLink'}}
            Market
          {{/link-to}}
        </li>
      </ul>

      {{content-create-button
        class='col-md-3 col-sm-2 hidden-xs u-textPullRight'
        path=currentPath
      }}
    </div>
  </div>
</nav>

<main class={{backgroundClass}}>
  {{outlet}}
</main>

<div class='Container--noGutter Footer-container'>
  <footer class='Footer'>
  <a class='Footer-link' href="/copyright">© 2015 Subtext Media Ltd.</a>
  <a class='Footer-link' href="mailto:dailyuv@subtext.org">Contact Us</a>
  <a class='Footer-link' href="mailto:jobs@subtext.org">Join Us</a>
  <a class='Footer-link' href="mailto:ads@subtext.org">Advertise With Us</a>
  <a class='Footer-link' href="/copyright">Don't Sue Us</a>
  <a class='Footer-link' href="/privacy">Privacy</a>
  <a class='Footer-link' href="/terms">Terms of Service</a>
  <a class='Footer-link' href="/help">Help</a>
  <a class='Footer-link' href="mailto:dailyuv@subtext.org">Site Feedback</a>
  <a class="pull-right" href="https://mixpanel.com/f/partner" target="_blank">
    <img alt="Mobile Analytics" src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png">
  </a>
  </footer>
</div>
