<nav class='MainNav navbar navbar-default'>
  <div class='MainNav-content Container--noGutter'>
    {{#unless media.isMobile}}
      {{x-weather
        class='h2 col-sm-3'
        autoload=true
      }}
    {{/unless}}

    <div class='col-sm-6 u-textCentered'>
      {{#link-to 'index' (query-params page=1)}}
        <h1 class='MainNav-brand'>
          daily UV
          <span class='MainNav-location'>
            {{#if session.isAuthenticated}}
              {{session.userLocation}}
            {{else}}
              Guest
            {{/if}}
          </span>
        </h1>
      {{/link-to}}
    </div>

    {{#if media.isNotMobile}}
      <ul class='ActionDropdown col-sm-2 nav navbar-nav navbar-right'>
        {{#if session.isAuthenticated}}
          <li class='dropdown pull-right'>
            <a href='' {{action 'trackMenuOpen'}} data-target="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class='ActionDropdown-dropdownLink navbar-link'>
              {{#if session.currentUser.userImageUrl}}
                <img src="{{session.currentUser.userImageUrl}}" class='ActionDropdown-userAvatar'>
              {{else}}
                <img src="/images/user-default-avatar.svg" class='ActionDropdown-userAvatar'>
              {{/if}}
            </a>

            <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <li class='hidden-xs hidden-sm'>
                {{#link-to 'events.new.details' class='h4 ActionDropdown-item'}}
                  Create Event
                {{/link-to}}
              </li>
              <li class='hidden-xs hidden-sm'>
                {{#link-to 'talk.new.details' class='h4 ActionDropdown-item'}}
                  Create Talk
                {{/link-to}}
              </li>
              <li class='hidden-xs hidden-sm'>
                {{#link-to 'market.new.details' class='h4 ActionDropdown-item'}}
                  Create Market Listing
                {{/link-to}}
              </li>
              <li>
                {{#link-to 'dashboard' (query-params sorted=false) class='h4 ActionDropdown-item'}}
                  My Dashboard
                {{/link-to}}
              </li>
              <li>
                {{async-button
                  action='signOut'
                  default='Log out'
                  pending='Logging out'
                  class='h4 ActionDropdown-item'
                  tagName='a'
                }}
              </li>
            </ul>
          </li>
        {{else}}
          <li>{{link-to 'Sign in' 'login'}}</li>
          <li>{{link-to 'Join' 'register'}}</li>
        {{/if}}
      </ul>
    {{/if}}
  </div>

  {{#if media.isMobile}}
    <div class='MainNav-mobileNav clearfix'>
      <button type='button' class='navbar-toggle collapsed' data-toggle='collapse' data-target='#js-app-bar'>
        <span class='sr-only'>Toggle navigation</span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </button>

      <button type='button' class='ActionDropdown-dropdownLink pull-right' data-toggle='collapse' data-target='#mobile-dropdown-menu'>
        {{#if session.currentUser.userImageUrl}}
          <img src="{{session.currentUser.userImageUrl}}" class='ActionDropdown-userAvatar'>
        {{else}}
          <img src="/images/user-default-avatar.svg" class='ActionDropdown-userAvatar'>
        {{/if}}
      </button>
    </div>

    <ul class='ActionDropdown collapse' id='mobile-dropdown-menu'>
      {{#if session.isAuthenticated}}
        <li class='ActionDropdown-item'>
          {{#link-to 'dashboard' (query-params sorted=false) class='h4'}}
            My Dashboard
          {{/link-to}}
        </li>
        <li class='ActionDropdown-item'>
          <a href='#' {{action 'signOut'}} class='h4'>Log out</a>
        </li>
      {{else}}
        <li class='ActionDropdown-item'>{{link-to 'Sign in' 'login' class='h4 ActionDropdown-item'}}</li>
        <li class='ActionDropdown-item'>{{link-to 'Sign up' 'register' class='h4 ActionDropdown-item'}}</li>
      {{/if}}
    </ul>
  {{/if}}

  <div class='Container--noGutter SectionNavigation collapse' id='js-app-bar'>
    <div class='row'>
      <div class='col-sm-1'>
        {{#link-to 'news.show' '790848' class='Button btn'}}
          {{fa-icon 'question-circle'}} Help
        {{/link-to}}
      </div>

      <ul class='SectionNavigation-list col-md-6 col-md-offset-2 col-sm-8 col-sm-offset-1'>
        <li class='SectionNavigation-listItem' {{action 'trackChannelSelection' 'news' }} data-toggle='collapse' data-target='#js-app-bar'>
          {{link-to 'News' 'news'
            (query-params
              page=1
              query=newsFilter.defaultQuery
              publication=newsFilter.defaultPublication
              location=newsFilter.defaultLocation
              locationId=newsFilter.defaultLocationId
            )
            current-when='news'
            class='SectionNavigation-link SectionNavigation-newsLink'
          }}
        </li>
        <li class='SectionNavigation-listItem' {{action 'trackChannelSelection' 'event' }} data-toggle='collapse' data-target='#js-app-bar'>
          {{link-to 'Events' 'events'
            (query-params
              page=1
              query=eventsFilter.defaultQuery
              category=eventsFilter.defaultCategory
              location=eventsFilter.defaultLocation
              date_start=eventsFilter.defaultStart
              date_end=eventsFilter.defaultEnd
            )
            current-when='events'
            class='SectionNavigation-link SectionNavigation-eventLink'
          }}
        </li>
        <li class='SectionNavigation-listItem' {{action 'trackChannelSelection' 'talk' }} data-toggle='collapse' data-target='#js-app-bar'>
          {{link-to 'Talk' 'talk'
            (query-params
              page=1
              query=talkFilter.defaultQuery
            )
            current-when='talk'
            class='SectionNavigation-link
            SectionNavigation-talkLink'
          }}
        </li>
        <li class='SectionNavigation-listItem' {{action 'trackChannelSelection' 'market' }} data-toggle='collapse' data-target='#js-app-bar'>
          {{link-to 'Market' 'market'
            (query-params
              page=1
              query=marketFilter.defaultQuery
              location=marketFilter.defaultLocation
              locationId=marketFilter.defaultLocationId
            )
            current-when='market'
            class='SectionNavigation-link SectionNavigation-marketLink'
          }}
        </li>
      </ul>

      {{content-create-button
        class='col-md-3 col-sm-2 hidden-xs u-textPullRight'
        path=currentPath
      }}
    </div>
  </div>
</nav>

<main class={{backgroundClass}}>
  {{outlet}}
</main>

<div class='Footer-container {{backgroundClass}}'>
  <div class='Container--noGutter'>
    {{top-scroller}}
  </div>
  <div class='Container--noGutter'>
    <footer class='Footer clearfix'>
      {{#link-to 'copyright' class='Footer-link Footer-link-logo h4'}}© 2015 Subtext Media Ltd.{{/link-to}}

      <ul class='Footer-links-list'>
        <li class='Footer-links-list-item'>{{link-to 'Terms of Service' 'terms' class='Footer-link'}}</li>
        <li class='Footer-links-list-item'>{{link-to 'Privacy' 'privacy'        class='Footer-link'}}</li>
        <li class='Footer-links-list-item'>{{#link-to 'news.show' '790848'      class='Footer-link'}}Help{{/link-to}}</li>
        <li class='Footer-links-list-item'><a href="mailto:dailyuv@subtext.org" class='Footer-link'>Contact Us</a></li>

        <li class='Footer-links-list-item'><a href="mailto:jobs@subtext.org"        class='Footer-link hidden-xs'>Join Us</a></li>
        <li class='Footer-links-list-item'><a href="mailto:ads@subtext.org"         class='Footer-link hidden-xs'>Advertise With Us</a></li>
        <li class='Footer-links-list-item'>{{#link-to 'copyright-agent'             class='Footer-link hidden-xs'}}Don't Sue Us{{/link-to}}</li>
        <li class='Footer-links-list-item'><a href="mailto:dailyuv@subtext.org"     class='Footer-link hidden-xs'>Site Feedback</a></li>
      </ul>

      <a href="https://mixpanel.com/f/partner" class="Footer-link-mixpanel pull-right visible-lg-inline-block u-layoutPadT10" target="_blank">
        <img alt="Mobile Analytics" src="//cdn.mxpnl.com/site_media/images/partner/badge_blue.png">
      </a>
    </footer>
  </div>
</div>
