{{title "dailyUV"}}
{{#unless hideHeader}}
  {{global-header
    page=page
    eventsFilter=eventsFilter
    newsFilter=newsFilter
    talkFilter=talkFilter
    marketFilter=marketFilter
    signOut=(action 'signOut')
  }}
{{/unless}}

<div id="main" class="{{backgroundClass}} {{if searchOpen 'search-open'}} {{if hasHeaderPageToolbar 'has-header-page-toolbar'}}">
  <div class='BackgroundIndex'>
    {{outlet 'background'}}
  </div>

  {{outlet}}
</div>
{{modal-manager}}

<div class="Copyright">
  {{#link-to 'copyright'}}&copy; {{copyrightYear}} Subtext Media Ltd.{{/link-to}}
</div>

{{notification-container}}
