<div class='Dashboard'>
  <img src='{{model.imageUrl}}' class='Dashboard-avatar'>

  {{inline-edit value=model.name class='Dashboard-userName' action='submit'}}

  {{location-dropdown
    selectedLocationId=model.locationId
    class='LocationDropdown'
    onUpdate='submit'
  }}

  {{inline-edit value=model.email class='u-layoutPadB30' action='submit'}}

  {{#if showPasswordForm}}
    {{password-reset onSubmit='togglePasswordForm'}}
  {{else}}
    <a href='#' {{action 'togglePasswordForm'}} class='h2 u-textUnderline'>
      Change Password
    </a>
  {{/if}}
</div>

<div class='u-colorBgSecondary'>
  <div class='Section'>
    <div class='Container--noGutter'>
      <h1 class='SectionHeader'>
        <span class='SectionHeader-text SectionHeader-text--secondaryBg'>
          My Postings
        </span>
      </h1>

      <div class='Section'>
        <table class='ContentTable'>
          <thead>
            <tr class='h4'>
              <th class='ContentTable-name'>Name</th>
              <th class='u-textCentered'>Type</th>
              <th class='u-textCentered'>Date</th>
              <th class='u-textCentered'>Views</th>
              <th class='u-textCentered'>Comments</th>
              <th class='u-textCentered' colspan='2'>&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {{#each dashboardContents as |content|}}
              {{dashboard-content-row
                content=content
                type=content.contentType
              }}
            {{/each}}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
