{{#if new_content}}
  <div class='FlashBanner' data-component="publish-success-message">
    <button class='icon FlashBanner-close'
        {{action 'unreferenceNewContent'}}
        data-test-action="close-publish-success-message"
        >
        &times;
    </button>
    <p>
      Success! You've published your<br>
      {{capitalize type}} post and it's now live!
    </p>
  </div>
{{/if}}
<div class='Container--noGutter Dashboard'>
  <div class='Section'>
    <h1 class='SectionHeader Dashboard-header'>
      <span class='SectionHeader-text SectionHeader-text--secondaryBg'>
        Manage Content
      </span>
    </h1>

    <div class="row">

      <div class="col-sm-10 Dashboard-contentHeader">
        {{#if organizations}}
          <h2 class="Dashboard-contentHeaderText">Showing Content For:</h2>
          <div class='btn-group Dashboard-contentHeaderControl'>
            {{organization-dropdown
              selection=organization
              updated=(action 'updateActiveOrganization')
              helpMessage='Switch dashboard context'
              asFormControl=false
              class='btn-group'
            }}
            {{#if organization.hasProfile}}
              <button class='btn btn-default btn-lg' {{action 'viewProfile' organization}}>View Profile</button>
              <button class='btn btn-default btn-lg' {{action 'editProfile' organization}}>Edit Profile</button>
            {{/if}}
          </div>
        {{/if}}
      </div>

        <div class="col-sm-2 text-right">
          <div class="dropdown Dashboard-NewButton">
            <button class="btn btn-default btn-lg dropdown-toggle Dashboard-NewButton-Button" type="button" data-toggle="dropdown">
              New
              {{fa-icon 'chevron-down'}}
            </button>
            <ul class="dropdown-menu dropdown-menu-right Dashboard-NewButton-Menu">
              <li class="Dashboard-NewButton-Menu-Title">
                 Content will be owned by: <strong>{{ contentOwnerName }}</strong>
              </li>

              <li role="separator" class="divider"></li>

              <li>
                {{#link-to 'events.new.details' (query-params organization_id=organizationId)}}
                    <span>Create Event</span>
                {{/link-to}}
              </li>

              <li role="separator" class="divider"></li>

              <li>
                {{#link-to 'talk.new.details' (query-params organization_id=organizationId)}}
                    <span>Create Talk</span>
                {{/link-to}}
              </li>

              <li role="separator" class="divider"></li>

              <li>
                {{#link-to 'market.new.details' (query-params organization_id=organizationId)}}
                    <span>Create Market Listing</span>
                {{/link-to}}
              </li>

              {{#if organization.canPublishNews}}
                <li role="separator" class="divider"></li>

                <li>
                  {{#link-to 'news.new' (query-params organization_id=organizationId)}}
                      <span>Create News Post</span>
                  {{/link-to}}
                </li>
              {{/if}}
            </ul>
          </div>
      </div>
    </div>

    {{dashboard-postings
      postings=postings
      ads=ads
      businesses=businesses
      organizations=organizations
      selectedOrganization=organization
      sort=sort
      type=type
      page=page
      per_page=per_page
      sortBy=(action 'sortBy')
      highlightContent=new_content
    }}
  </div>

</div>

{{#if editingBusiness}}
  {{business-profile-form
    model=editingBusiness
    save=(action 'closeEditBusinessForm')
    closeAction=(action 'closeEditBusinessForm')
  }}
{{/if}}

{{#if editingBlog}}
  {{#modal-wrapper close=(action 'cancelEditingBlog')}}
    <h4 class='h1 u-textCenter'>Edit Profile</h4>
    {{organization-profile-form model=editingBlog didSave=(action "saveBlog")}}
  {{/modal-wrapper}}
{{/if}}
