<div class='Dashboard'>
  <img src='{{model.imageUrl}}' class='Dashboard-avatar'>

  {{inline-edit value=model.name class='Dashboard-userName' action='submit'}}
  {{inline-edit value=model.email class='u-layoutPadB30' action='submit'}}

  {{#if showPasswordForm}}
    {{password-reset onSubmit='togglePasswordForm'}}
  {{else}}
    <a href='#' {{action 'togglePasswordForm'}} class='h2 u-textUnderline'>
      Change Password
    </a>
  {{/if}}
</div>