<div class='Container'>
  <div class='Dashboard row'>
    <div class='col-sm-6 col-sm-offset-3'>
      {{avatar-image-editor
        currentUser=currentUser
        class='u-layoutPadT50 u-layoutPadB30'
      }}

      {{inline-edit
        value=currentUser.name
        class='Dashboard-userName'
        action='submit'
      }}

      {{location-dropdown
        selectedLocationId=currentUser.locationId
        class='LocationDropdown'
        onUpdate='submit'
      }}

      {{inline-edit
        value=currentUser.email
        class='u-layoutPadB30'
        action='submit'
      }}

      {{#if showPasswordForm}}
        {{password-reset
          userId=currentUser.userId
          onSubmit='togglePasswordForm'
        }}
      {{else}}
        <a href='#' {{action 'togglePasswordForm'}} class='h2 u-textUnderline'>
          Change Password
        </a>
      {{/if}}
    </div>
  </div>
</div>

<div class='u-colorBgSecondary'>
  <div class='Section'>
    {{dashboard-postings
      postings=model
      class='Container--noGutter'
      sort=sort
    }}
  </div>

  <div class='Container--noGutter'>
    {{partial 'partials/pagination-nav'}}
  </div>
</div>
