  <div class="DirectoryFeedback-ratings-title">
    <h2 class='h4 text-center'>Community member feedback</h2>
    <h3 class='h4 text-center titleSecondary'>From {{model.feedback_num}} community members</h3>
  </div>

  <div class='row'>
    <div class='col-md-offset-1 col-md-6'>
      <div class="DirectoryFeedback-top-bar">
        <div class="DirectoryFeedback-top-bar-side">
          <h2 class='h3'>Total Score</h2>
          <div>Based on {{model.feedback_num}} ratings</div>
        </div>
        {{x-gage
          value=score
          class='DirectoryFeedbackGauge'
          width=200
        }}
      </div>
    </div>
    <div class='col-md-5'>
      <div class="DirectoryFeedback-buttonWrap">
        {{directory-feedback-form model=model}}
      </div>
    </div>
  </div>

  <div class="DirectoryFeedback-ratings-title">
    <h2 class='h4 text-center'>Community Feedback breakdown</h2>
  </div>

  <div class='row'>
    <div class='col-md-offset-1 col-md-10'>
    {{#each answers as |answer|}}
        <div class="DirectoryFeedback-answerBox">
          <div class="title">{{answer.title}}</div>
          {{x-gage
            value=answer.value
            class='DirectoryFeedbackGauge'
            width=140
            height=90
           }}
          <div class="text">
            {{answer.text}}
          </div>
        </div>
    {{/each}}
    </div>
  </div>
