
  <div class='row'>
    <div class='col-md-offset-1 col-md-6'>
      <div class="DirectoryFeedback-top-bar">
        <div class="DirectoryFeedback-top-bar-side">
          <h2 class='h3'>Community member feedback</h2>
        </div>
        {{x-gage
          value=model.feedback.recommend
          class='DirectoryFeedbackGauge'
          width=200
        }}
        {{#if model.feedback_num}}
          <div>
            of {{model.feedback_num}} community members
          </div>
          <div>
            said they would recommend {{model.name}} to a friend
          </div>
        {{else}}
          <div>
            No one has rated {{model.name}} yet. Why don't you?
          </div>
        {{/if}}

      </div>

    </div>
    <div class='col-md-5 DirectoryFeedback-actions'>
      <div class="DirectoryFeedback-buttonWrap">
        {{directory-feedback-form model=model}}
      </div>
      <div class="DirectoryFeedback-buttonWrap">
        {{#if model.can_edit}}
          <button class='btn DirectoryButton' {{action (action attrs.editBusiness)}}>Edit Business</button>
        {{else}}
          <a href="{{claimEmail}}" class="btn DirectoryButton" data-test-claim-email>Claim Business</a>
        {{/if}}
      </div>
      <div class="DirectoryFeedback-buttonWrap">
         <a href="{{reportIncorrectInfoEmail}}" class="btn DirectoryButton" data-test-report-email>Report Info</a>
      </div>
    </div>
  </div>
