<div class="FeedCard--card-front">
  {{feed-card/title
    title=model.title
    routeName='location.index.show'
    contentId=model.contentId
    contentType=model.normalizedContentType
  }}

  {{#if model.primaryImageUrl}}
    {{feed-card/image
      imageUrl=model.primaryImageUrl
      content=model.content
      routeName='location.index.show'
      contentId=model.contentId
    }}
  {{else}}
    {{feed-card/text-snippet
      content=model.content
      showTextSnippet=true
      routeName='location.index.show'
      contentId=model.contentId
    }}
  {{/if}}

  {{feed-card/attribution
    avatarUrl=model.attributionImageUrl
    author=model.attributionName
    linkRouteName=attributionLinkRouteName
    linkId=attributionLinkId
    postedTime=model.publishedAtRelative
    isListserv=model.isListserv
    commentCount=model.commentCount
    contentId=model.contentId
  }}

  {{feed-card/footer
    locationTagName=sourceTag
    commentCount=model.commentCount
  }}
</div>
