<div class="FeedCard--card-front">
  {{feed-card/title
    title=model.title
    model=model
  }}

  {{#if model.primaryImageUrl}}
    {{feed-card/image
      imageUrl=model.primaryImageUrl
      model=model
    }}
  {{else}}
    {{feed-card/text-snippet
      model=model
      showTextSnippet=true
    }}
  {{/if}}

  {{feed-card/attribution
    avatarUrl=model.attributionImageUrl
    author=model.attributionName
    linkRouteName=attributionLinkRouteName
    linkId=attributionLinkId
    postedTime=model.publishedAtRelative
    isListserv=model.isListserv
    contentId=model.contentId
  }}

  {{feed-card/footer
    locationTagName=sourceTag
    canEdit=userCanEditNews
    editRoute='news.edit'
    editRouteId=model.id
  }}

  {{feed-card/comments
    parentContentId=(readonly model.contentId)
    comments=model.comments
    commentCount=model.commentCount
    contentTitle=(readonly model.title)
    disabled=(readonly commentingDisabled)
    afterComment=(action 'reloadComments')
  }}
</div>
