<div data-test-page='location.events'>
  <div class="EventsFilter-container {{if activeCategories 'is-filtered'}}">
    {{events-filter
      addCategory=(action 'addCategory')
      removeCategory=(action 'removeCategory')
      jumpToDay=(action 'jumpToDay')
      activeCategories=activeCategories
      clearCategories=(action 'clearCategories')
    }}
  </div>

  {{location-mismatch-prompt}}

    {{to-elsewhere named="page-toolbar"
      send=(component "channel-filters"
        channel="index"
        filterComponent=(component "location-radius-selector"
          location=(readonly userLocation.location)
          radius=(readonly radius)
          onChooseRadius=(action "changeRadius")
          onChooseLocation=(action "chooseLocation")
        )
      )
    }}

  {{locations-nearby
    location=(readonly userLocation.location)
    radius=(readonly radius)
    class='text-center'
  }}
  {{events-results
    events=model
    isGroupedByDay=isGroupedByDay
    adPath='location.events'
    formattedThroughDate=formattedThroughDate
    jumpToDay=(action 'jumpToDay')
    loadNextDayOrWeek=(action 'loadNextDayOrWeek')
  }}

  {{outlet}}
</div>
