Does this event require registration?
<span class='EventForm-toggle' {{action 'toggleRegistration'}}>
  No
  {{#if registrationEnabled}}
    {{fa-icon 'toggle-on is-on' size='lg'}}
  {{else}}
    {{fa-icon 'toggle-off' size='lg'}}
  {{/if}}
  Yes
</span>

{{#if registrationEnabled}}
  <div class="input-group">
    <span class="ContentForm-iconLabel input-group-addon">
      {{fa-icon 'calendar'}}
    </span>
    {{date-input
        value=date
        format='MM/DD/YYYY'
        placeholder='12/25/2020'
        update=(action (mut date))
    }}
  </div>
{{/if}}
