{{#if showAddToMenu}}
  {{promotion-menu/add-to-menu
    content=content
    organization=organization
    inputValue=currentHotlinkTitle
    contentHotlink=contentHotlink
    done=(action "toggleAddToMenu")
  }}

{{else}}
  <div>
    {{#if isNotBannerAd}}
      {{pluralize content.viewCount "view"}}

      {{pluralize content.commentCount "comment"}}
    {{else}}
      Advertising metrics will be provided by frequent reports directly from HereCast.
      If you have further questions, please contact
      <a href="mailto:ads@HereCast.us">ads@HereCast.us</a>
    {{/if}}
    <div class="PromotionMenu-close-overlay" {{action "close"}} role="button">
      Close {{fa-icon "times"}}
    </div>
  </div>

  <div class="PromotionMenu-manage">

    <div class="PromotionMenu-manage-button" {{action "goToManageMenu" preventDefault=false}} role="button">
      {{#link-to-content content}}
        {{fa-icon "paper-plane-o"}}  Promote
      {{/link-to-content}}
    </div>

    {{#if hasOrganization}}
      {{#if isNotBannerAd}}
        <div class="PromotionMenu-manage-button" {{action "toggleAddToMenu"}} role="button">
          {{#if contentHotlink}}
            {{fa-icon "level-up"}}  Change Menu Button
          {{else}}
            {{fa-icon "level-up"}}  Add to Menu
          {{/if}}
        </div>
      {{/if}}

      <div class="PromotionMenu-manage-button" {{action "openCalendarWidget"}} role="button">
        {{fa-icon "calendar"}} {{#unless hasSunsetDate}}Set {{/unless}}Expiration Date
      </div>
      {{#if hasSunsetDate}}
        <div class="PromotionMenu-sunset-options">
          Will expire from public view on {{sunsetDate}}
          <div>
            <span class="PromotionMenu-action-button" {{action "openCalendarWidget"}} role="button">
              {{fa-icon "pencil"}}  Change
            </span>
            <span class="PromotionMenu-action-button" {{action "removeSunsetDate"}} role="button">
              {{fa-icon "times"}}  Remove
            </span>
          </div>
        </div>
      {{/if}}
    {{/if}}

    {{#if isNotBannerAd}}
      <div class="PromotionMenu-manage-button" {{action "openContentMetrics"}} role="button">
        {{fa-icon "line-chart"}}  Metrics
      </div>
    {{/if}}
  </div>

  {{#if hasOrganization}}
    {{promotion-menu/content-visibility
      content=content
      organization=organization
      bizIsOwner=bizIsOwner
    }}
  {{/if}}

{{/if}}
